{%extends "nav_about.html"%}
{%block title%}2017 Exceptional General Assembly - Financial report{%endblock%}
{%block content%}
<h1>2017 Exceptional General Assembly - Financial report</h1>

<h2 >Assets</h2>

<table>
	<tr>
		<td><strong>Accounts</strong></td>
		<td><strong>2016-01-01</strong></td>
		<td><strong>2016-12-31</strong></td>
		<td><strong>Difference</strong></td>
	</tr>
	<tr>
		<td>Crédit Mutuel checking account</td>
		<td align="right"> 38,705.77</td>
		<td align="right"> 77,418.89</td>
		<td align="right"> 38,713.12</td>
	</tr>
	<tr>
		<td>Crédit Mutuel saving account</td>
		<td align="right"> 60,740.61</td>
		<td align="right"> 61,284.35</td>
		<td align="right">    543.74</td>
	</tr>
	<tr>
		<td>Paypal account</td>
		<td align="right">  6,399.41</td>
		<td align="right">  7,785.42</td>
		<td align="right">  1,386.01</td>
	</tr>
	<tr>
		<td>Adyen account</td>
		<td align="right">    500.00</td>
		<td align="right">    500.00</td>
		<td align="right">      0.00</td>
	</tr>
	<tr>
		<td>Pending creditcard payments</td>
		<td align="right">    256.45</td>
		<td align="right">    256.45</td>
		<td align="right">      0.00</td>
	</tr>
	<tr>
		<td>Pending taxes</td>
		<td align="right"></td>
		<td align="right">-30,983.00</td>
		<td align="right">-30,983.00</td>
	</tr>
	<tr>
		<td><em>Total</em></td>
		<td align="right"><em>106,602.24</em></td>
		<td align="right"><em>116,262.11</em></td>
		<td align="right"><em>  9,659.87</em></td>
	</tr>
</table>
<p>The <a href="/media/pdf/pgeu_balance_2017.pdf">full balance report</a> is also available.</p>

<p>
While the overall goal of PostgreSQL Europe is to break even, we did in 2016
see the biggest net gain since the start of operation. This is mostly due to a
lower cost level in Estonia for PGConf.EU and a still big number of sponsors.
This being said, we're beginning to pay taxes, and this lowers our net gain.
The good thing is we still have a net gain.
</p>

<h2>Major items</h2>

<h3>Activities</h3>
<p>
The savings account which acts as a buffer to cover unexpected costs has not
been used during 2016 since all events have generated satisfactory financial
results (exceeding or hitting budget) due to good sponsor incomes. The only
transaction during 2016 was an interest income of 543.74€. As the events grow
larger - PGConf.EU 2016 was our biggest event to date - and the number of
events increase, the importance of this buffer remains.
</p>

<p>
Our administrative backend software which powers both our financial reporting
as well as the events was again further improved ensuring safe operation of
our events.
</p>

<p>
According to the French tax agency, we are required to pay taxes. The French
tax agency has also decided to require that we are VAT registered. Usually, a
french company (or NPO which has taxes to pay) cannot recover any deductible
VAT if there's no mention of its intra-community VAT on the invoices for all
countries except France. For us, this means the whole year of 2016. In the
specific case of Estonia, the amount of deductible VAT is so huge that the
accountants will attempt to convince the french tax agency to deduct it. It's
a long shot but it's worth it. They won't try that on the hotel bills in
Belgium and Finland because the amounts are way too low. The year 2017 will be
different from the year 2016 because our intracommunity VAT will be on all EU
invoices. In such a case, VAT is not charged by our suppliers, and there will
be no more of this problem of VAT deduction.
</p>

<p>
Anyway, we worked hard with the accountant firm to see how much we have to
pay. The results of this work are available at the end of this report.
</p>

<p>
Merchandise sales are increasing year over year with 2016 being no exception.
In total, sales were up 9% from 2015 reaching a total of 5,065.26€.
</p>

<p>
Donations were much higher than last year, thanks to the book royalties.
</p>

<h3>Income/Expenses</h3>

<p>
  Important items are summarized here, but
  the <a href="/media/pdf/pgeu_results_2017.pdf">full results report</a>
  is also available.
</p>

<table>
	<tr>
		<td><strong>Items</strong></td>
		<td align="right"><strong>Income</strong></td>
		<td align="right"><strong>Expenses</strong></td>
		<td align="right"><strong>Final results</strong></td>
	</tr>
	<tr>
		<td>Membership</td>
		<td align="right">600.00</td>
		<td align="right">0</td>
		<td align="right">600.00</td>
	</tr>
	<tr>
		<td>Donations</td>
		<td align="right">5,631.30</td>
		<td align="right">0.00</td>
		<td align="right">5,631.30</td>
	</tr>
	<tr>
		<td>Conferences</td>
		<td align="right">173,969.00</td>
		<td align="right">-128,609.49</td>
		<td align="right">45,359.51</td>
	</tr>
	<tr>
		<td>Merchandise</td>
		<td align="right">5,065.26</td>
		<td align="right">-7,182.31</td>
		<td align="right">-2,117.05</td>
	</tr>
	<tr>
		<td>Financial</td>
		<td align="right">543,74</td>
		<td align="right">-2,811.90</td>
		<td align="right">-2,268.16</td>
	</tr>
	<tr>
		<td>Insurance</td>
		<td align="right">0.00</td>
		<td align="right">-553.68</td>
		<td align="right">-553.68</td>
	</tr>
	<tr>
		<td>Taxes</td>
		<td align="right">0.00</td>
		<td align="right">-30,983.00</td>
		<td align="right">-30,983.00</td>
	</tr>
	<tr>
		<td>Other</td>
		<td align="right">0.00</td>
		<td align="right">-4,987.57</td>
		<td align="right">-4,987.57</td>
	</tr>
	<tr>
		<td><em>Total</em></td>
		<td></td>
		<td></td>
		<td align="right"><em>10,681.35</em></td>
	</tr>
</table>

<p>
Once again, we gain a lot this year because of a cheaper location, and bigger events, though the net gain is reduced by our taxes.
</p>

<p>
The financial results for our events can be seen broken down per conference in the table below.
</p>

<table>
  <tr>
    <td><strong>Event</strong></td>
    <td align="right"><strong>Income</strong></td>
    <td align="right"><strong>Expenses</strong></td>
    <td align="right"><strong>Final results</strong></td>
  </tr>
  <tr>
    <td>FOSDEM/PGDay 2016</td>
    <td align="right">5,370.00</td>
    <td align="right">776.07</td>
    <td align="right">4,593.93</td>
  </tr>
  <tr>
    <td>Nordic PGDay 2016</td>
    <td align="right">7,920.00</td>
    <td align="right">9,671.05</td>
    <td align="right">-1,751.05</td>
  </tr>
  <tr>
    <td>PGDay Paris 2016</td>
    <td align="right">6,070.00</td>
    <td align="right">2,169.56</td>
    <td align="right">3,900.44</td>
  </tr>
  <tr>
    <td>PGConf.EU 2016</td>
    <td align="right">155,629.00</td>
    <td align="right">108,329.46</td>
    <td align="right">47,299.54</td>
  </tr>
</table>

<p>
FOSDEM, Nordic PGDay, and PGConf.EU 2016 are events held early in the year and
thus have transactions on both this and next year's report. Complete sums for
FOSDEM 2016 as well as Nordic PGDay 2016 are listed below broken down per year.
</p>

<table>
  <tr>
    <td colspan="2"><strong>FOSDEM PGDay 2016</strong></td>
  </tr>
  <tr>
    <td>Final Result 2015</td>
    <td align="right">-8,763.69</td>
  </tr>
  <tr>
    <td>Final Result 2016</td>
    <td align="right">4,593.93</td>
  </tr>
  <tr>
    <td><em>Total</em></td>
    <td align="right">-4,169.76</td>
  </tr>

  <tr>
    <td colspan="2"><strong>Nordic PGDay 2016</strong></td>
  </tr>
  <tr>
    <td>Final Result 2015</td>
    <td align="right">2,400.00</td>
  </tr>
  <tr>
    <td>Final Result 2016</td>
    <td align="right">-1,751.05</td>
  </tr>
  <tr>
    <td><em>Total</em></td>
    <td align="right">648.95</td>
  </tr>

  <tr>
    <td colspan="2"><strong>PGConf.EU 2016</strong></td>
  </tr>
  <tr>
    <td>Final Result 2015</td>
    <td align="right">-565.50</td>
  </tr>
  <tr>
    <td>Final Result 2016</td>
    <td align="right">47,299.54</td>
  </tr>
  <tr>
    <td><em>Total</em></td>
    <td align="right">46,734.04</td>
  </tr>
</table>

<p>Our taxes are broken down in the table below.</p>

<table>
  <tr>
    <td><strong>Taxes</strong></td>
    <td align="right"><strong>Due</strong></td>
    <td align="right"><strong>Deductible</strong></td>
  </tr>
  <tr>
    <td>On net gain</td>
    <td align="right">6,014.00</td>
    <td align="right">0.00</td>
  </tr>
  <tr>
    <td>EU VAT</td>
    <td align="right">1,451.00</td>
    <td align="right">1,451.00</td>
  </tr>
  <tr>
    <td>French VAT</td>
    <td align="right">10,680.00</td>
    <td align="right">974.00</td>
  </tr>
  <tr>
    <td>Belgium VAT</td>
    <td align="right">642.00</td>
    <td align="right">0.00</td>
  </tr>
  <tr>
    <td>Finnish VAT</td>
    <td align="right">658.00</td>
    <td align="right">0.00</td>
  </tr>
  <tr>
    <td>Estonian VAT</td>
    <td align="right">13,963.00</td>
    <td align="right">13,415.00</td>
  </tr>
  <tr>
    <td><em>Total</em></td>
    <td align="right">33,408.00</td>
    <td align="right">15,840.00</td>
  </tr>
</table>

<p>
The total amount of taxes we need to pay is 17,568 Euros, except we're not
sure we can get the VAT back from Estonia. So, all we can say for now is that
we owe 30,983 Euros, and we may get back 13,415 Euros from the Estonian VAT.
</p>

<p>
Even if we can't get it back, the net total gain of 2016 is 10,681.35 Euros.
</p>

{%endblock%}
