{%extends "nav_about.html"%}
{%block title%}2017 General Assembly - Minutes{%endblock%}
{%block content%}
<h1>2017 EXCEPTIONAL GENERAL ASSEMBLY MINUTES</h1>

<p>
Association PostgreSQL Europe<br/>
13 rue du Square Carpeaux<br/>
75018 PARIS<br/>
</p>

<h2>People attending the meeting</h2>

<ul>
  <li>Andreas Scherbaum (ads)</li>
  <li>Christoph Moench-Tegeder (cmt_)</li>
  <li>Daniel Gustafsson (dege)</li>
  <li>Eric Veldhuyzen ([Terra])</li>
  <li>Guillaume Lelarge (gleu)</li>
  <li>Julien Rouhaud (rjuju), proxy form</li>
  <li>Magnus Hagander (magnush)</li>
  <li>Markus Wanner (markus_wanner)</li>
  <li>Robert Ivens (Possible)</li>
  <li>Stephanie Janine Schoning (stefanie_janine)</li>
  <li>Tobias Bussmann (TobiasBussmann)</li>
</ul>

<p>The first GA, which happened on April, 3rd, 2017, didn't meet the quorum. These minutes is for the second GA meeting. As such, no quorum is needed. Thus, the meeting is valid.</p>

<p>Magnus Hagander is the president and Guillaume Lelarge is the secretary of the GA meeting.</p>

<p>Meeting starts at 21:03 (2017-04-10), on the IRC network freenode.net, channel #pgeu-ega2017. Language is English, the report is available in English and French.</p>

<p>The agenda is:</p>
<ul>
  <li>financial report for 2016.</li>
</ul>

<h2>Financial report</h2>

<p>Guillaume Lelarge gave a brief summarization of the Financial report.</p>

<p>
Several questions were asked:
</p>
<ul>
  <li>The taxes in Estonia are already paid, question is if we can get anything back, right?
    <ul><li>That's exactly it.</li></ul></li>
  <li>We also have to pay the other side of the VAT equation don't we? as in we have to pay the VAT that we supposedly charged?
    <ul><li>Yes.</li></ul></li>
  <li>I was under the impression that the 13963 was already paid to the hotel?
    <ul><li>No, that's the VAT that people paid to us, that we have to pay to the tax agency.</li></ul></li>
  <li>So, that's the conference fee?
    <ul><li>Yes, it's fictional VAT on the conference fees.</li></ul></li>
  <li>"Donations were much higher than last year, thanks to the book royalties." Which books?
    <ul><li>Mostly Packt Publishing's.</li></ul></li>
  <li>Does that mean the the conference fee for 2017 will go up because there has the tax to be included?
    <ul><li>We don't 100% know yet. In theory, no because we should also be able to deduct our expenses, in which case it should not change. But we're going to have to wait for the outcome of this claiming back of the estonian VAT to figure that out. If we're unable to claim the VAT back on our conference expenses, then yes, we're going to have to raise prices to cover the difference. If we can reasonably expect to be able to claim them back, we won't have to.</li></ul></li>
</ul>

<p>Votes: 10 voted Yes out of 10 present in the channel.</p>

<p>Thus, the financial report is approved.</p>

<p>Meeting ends at 21:26.</p>

<ul>
<li>Magnus Hagander, President</li>
<li>Guillaume Lelarge, Treasurer</li>
</ul>

{%endblock%}
