{%extends "base.html" %}
{%load markup%}
{%block title%}Welcome{%endblock%}
{%block layoutblock%}
<div id="pgFrontRight">
 <div class="pgFrontBox">
  <h1>Help us out!</h1>
  <p>Help PostgreSQL Europe by <a href="/donate">donating</a>,
  <a href="/sponsors">sponsoring</a> or just helping out
  in the <a href="/community">community</a>.
  </p>
 </div>

 <div class="pgFrontBox">
  <h1>Need help?</h1>
  <p>Are you a local usergroup, and need help with something?
  <a href="/about/contact">Contact us!</a></p>
 </div>

 <div class="pgFrontBox">
  <h1>Upcoming events</h1>
  <ul>
  {%for event in events %}
   <li><a href="/events/{{event.id}}">{{event.title}}</a></li>
  {%endfor%}
  </ul>
 </div>

 <div class="pgFrontBox">
  <h1>Associated usergroups</h1>
  <ul>
   <li><a href="http://www.postgresql.fr">PostgreSQL FR</a></li>
   <li><a href="http://www.pgug.de">PGUG.DE</a></li>
   <li><a href="http://www.itpug.org">ITPUG</a></li>
   <li><a href="http://www.postgresql.org.uk">PostgreSQL UK</a></li>
   <li><a href="http://www.postgresql.org.es">PostgreSQL ES</a></li>
  </ul>
 </div>

 <div class="pgFrontBox">
  <h1>Related organisations</h1>
  <ul>
   <li><a href="http://www.postgresql.org">PostgreSQL.Org</a></li>
   <li><a href="http://www.postgresql.us">PostgreSQL US</a></li>
  </ul>
 </div>
</div>

<div id="pgFrontLeft">
 <div id="pgFrontWelcome" class="pgFrontBox">
  <h1>Welcome to PostgreSQL Europe</h1>
  <p>
Welcome to PostgreSQL Europe, an "umbrella group" for PostgreSQL User Groups
in Europe and for users in regions that don't have a local user group.
Our goal is to promote the use of <a href="http://www.postgresql.org/">PostgreSQL</a>
in Europe. We do this primarily by assisting local user groups to promote the
product locally through conferences and other advocacy, as well as running
European-wide conferences and other activities.
  </p>
 </div>
 <div id="pgFrontNews" class="pgFrontBox">
  <h1>Latest news</h1>
  {%for newsitem in news %}
  <div class="pgFrontNewsItem">
   <h2>{{newsitem.title}}</h2>
   <h3>{{newsitem.pretty_date}}</h3>
    {%autoescape off%}
    {{newsitem.summary|markdown:"safe"}}
    {%endautoescape%}
  </div>
  {%endfor%}
 </div> <!-- pgFrontNews -->
</div> <!-- pgFrontLeft -->
{%endblock%}

