{% extends "base.html" %}

{% block layoutblock%}

  {% if form.errors %}
    <p style="color:red;">Sorry, that's not a valid username or password</p>
  {% endif %}

  <p>
Logins are integrated with PostgreSQL community accounts.
If you do not have one, please go to the main
website and <a href="http://www.postgresql.org/community/signup">sign up</a>,
and then return to this site to proceed. If you have forgotten your password,
you can use the
<a href="http://www.postgresql.org/community/lostpwd">password recovery</a>
form to reset it.
  </p>
  <form action='/login' method='post'>
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  <form action='.' method='post'>

{% endblock %}

