{%extends "navbase.html"%}
{%block navsection%}Your account{%endblock%}
{%block navblock%}
<li><a href="/invoices">Invoices</a></li>
{%if modules.membership%}
{%if member%}
</ul>
<h2>Membership</h2>
<ul>
<li><a href="/membership/">Membership</a></li>
{%if modules.elections%}
<li><a href="/elections/">Elections</a></li>
{%endif%}
<li><a href="/membership/meetings/">Meetings</a></li>
{%endif%}
{%endif%}
</ul>
<h2>Events</h2>
<ul>
<li><a href="/events/attendee/">Attended events</a></li>
<li><a href="/events/speakerprofile/">Speaker profile</a></li>
<li><a href="/events/callforpapers/">Call for Papers</a></li>
</ul>
<h2>Log out</h2>
<ul>
<li><a href="/accounts/logout">Log out</a></li>
{# don't close the final ul, it's closed in navblock.html #}
{%endblock%}
