{%extends "navbase.html"%}
{%block navblock%}
<li><a href="/about">About</a></li>
<li><a href="/about/contact">Contact Us</a></li>
<li><a href="/about/membership">Membership</a></li>
<ul>
<li class="last_child"><a href="/about/ga">General Assemblies</a></li>
</ul>
<li><a href="/about/statutes">Statutes</a></li>
<li><a href="/about/elections">Elections</a></li>
<li><a href="/about/board">Board</a></li>
<li><a href="/about/history">History</a></li>
<li><a href="/about/privacypolicy">Privacy Policy</a></li>
<li class="last-child"><a href="/about/website">Website</a></li>
{%endblock%}
