{%extends "navbase.html"%}
{%block navblock%}
<li><a href="/events">Events</a></li>
<li><a href="/events/archive">Events archive</a></li>
<li><a href="http://wiki.postgresql.org/wiki/FOSDEM%2C_Brussels_2009">FOSDEM 2009</a></li>
<li><a href="http://2009.pgday.eu/">PGDay.EU 2009</a></li>
<li><a href="http://wiki.postgresql.org/wiki/FOSDEM%2C_Brussels_2010">FOSDEM 2010</a></li>
<li><a href="http://2010.pgday.eu/">PGDay.EU 2010</a></li>
<li><a href="http://wiki.postgresql.org/wiki/FOSDEM%2C_Brussels_2011">FOSDEM 2011</a></li>
<li><a href="http://2011.pgconf.eu/">PGConf.EU 2011</a></li>
<li><a href="http://2012.pgconf.eu/">PGConf.EU 2012</a></li>
<li><a href="http://fosdem2013.pgconf.eu/">FOSDEM PGDay 2013</a></li>
<li class="last-child"><a href="http://2013.pgconf.eu/">PGConf.EU 2013</a></li>
{%endblock%}
