div.bottom-spaced-row {
    margin-bottom: 1em;
}

div.buttonrow .btn {
    margin-bottom: 10px;
}

div.backendform_checkbox ul {
    list-style-type: none;
}

div.backendform_checkbox ul li label {
    padding-left: 0.5em;
    text-indent: -1.5em;
}

div.backenddocs dd {
    margin-left: 2em;
}

table.borderless tr td,
table.borderless tr th {
    border: none;
}
