div.buttonrow .btn {
    margin-bottom: 10px;
}

div.backendform_checkbox ul {
    list-style-type: none;
}

div.backenddocs dd {
    margin-left: 2em;
}

table.borderless tr td,
table.borderless tr th {
    border: none;
}
