.nobr {
  white-space:nowrap;
}

.bold {
  font-weight: bold;
}

.sthrough {
    text-decoration: line-through;
}
.overflow-clip {
    overflow: hidden;
}

div.bottom-spaced-row {
    margin-bottom: 1em;
}

div.buttonrow .btn {
    margin-bottom: 10px;
}

div.backendform_checkbox ul {
    list-style-type: none;
}

div.backendform_checkbox ul li label {
    padding-left: 0.5em;
    text-indent: -1.5em;
}

form.backend-form img.inline-photo-widget {
    max-width: 100%;
}

form.backend-form input.dtrangefield {
    width: 40%;
    display: inline-block;
    margin-right: 3%;
}

div.backenddocs dd {
    margin-left: 2em;
}

ul.nopad {
    padding-left: 1.1em;
}

table.borderless tr td,
table.borderless tr th {
    border: none;
}

table.nonfluid {
    width: auto !important;
}

select.colfilter {
    font-size: 0.6em;
    width: 100%;
}

th.colfilter {
    padding: 3px !important;
}

table.lastrowbold tr.lastrow td {
   font-weight: bold;
}

/* Special handling for dynamic preview results */
.admin_dynamicpreview_contents {
    white-space: pre;
}

a.preview-pdf-link {
    cursor: pointer;
}

/* Preview html in an iframe */
iframe.htmlpreview {
    width: 100%;
    height: auto;
}

/* Form that displays inline-block */
form.inline-block-form {
    display: inline-block;
}

/*
 * Text-area styling for writing plaintext email
 */
textarea.textarea-mail {
   width: unset;
   font-family: monospace;
}

.text-monospace {
   font-family: monospace;
}


/*
 * Option-blox below textarea
 */
div.textarea-tagoptions-list {
   padding: 2px;
   margin-top: 1em;
   margin-bottom: 1em;
}

div.textarea-tagoptions-list span.tagoption {
   margin-right: 1em;
   cursor: pointer;
}

/*
 * Check-boxes that look like mail envelopes, used to toggle
 * email on and off in lists.
 */
input.skincheckbox[type=checkbox] {
    display:none;
}

input.skincheckbox[type=checkbox] + label
{
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
    cursor: pointer;
}

input.skincheckbox[type=checkbox]:checked + label
{
    color: lightgreen;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#skincheckboxtoggler {
    cursor: pointer;
}

/*
 * Hidden form used to upload single file with a nicer UI
 */
form#singleuploadform {
    display: none;
}

/*
 * Partially collapsing part of a page. Like a bootstrap
 * collapse (and uses the bootstrap collapse underneath)
 * but leaves the first 150 pixels visible even when collapsed.
 */
div.partial-collapse[aria-expanded="false"] {
    display: block;
    height: 150px !important;
    overflow: hidden;
}

div.partial-collapsing[aria-expanded="false"] {
    height: 150px !important;
}

a.partial-collapse:after  {
    content: '+ Show more';
}

a.partial-collapse:not(.collapsed):after {
    content: 'Show less';
}

/*
 * Trivial treeview widget
 */
details.treeview {
    margin-left: 1rem;
}

details.treeview summary:has(+ div) {
    display: list-item; /* Sometimes set by bootstrap, but we override to always have it */
    list-style-position: outside;
    cursor: pointer;
}


details.treeview details.treeview {
    margin-left: 2rem;
}

/*
 * Nested dropdown
 */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/*
 * Waitlist table
 */
div.waitlisttbl div.row {
    border-top: 2px solid #ccc;
}

div.waitlisttbl div.row div {
    border-top: 1px solid #ccc;
}

div.waitlistoffers divx {
    margin-top: 10px;
}

div.waitlisttbl div.row {
    padding-bottom: 7px;
}

div.waitlisttbl div.header-row div {
    font-weight: bold;
}

@media (max-width: 970px) {
    div.waitlisttbl {
        margin-bottom: 20px;
    }
}

@media (min-width: 970px) {
    div.waitlisttbl div.row div {
        border-top: none;
    }
}


/*
 * Cross conferece emails
 */
#crossconfform div.inclexclwrapper div.selectize-control {
   margin-right: 10px;
   margin-bottom: 3px;
}
#crossconfform .selectize-control { display: inline-block; }
#crossconfform .confselect {
   width: 200px;
}
#crossconfform .conffilter {
   width: 300px;
}
#crossconfform span.secspan label {
   margin-left: 5px;
}

/*
 * PDF field editor
 */
div.pdf_fields_page img.pdf_page {
    border: 1px solid black;
}

div#pdf_fields_page_area {
    position: relative;
}
div.pdf_fields_field {
    position: absolute;
    top: 0;
    left: 0;

    border: 0;
    background-color: red;
    color: white;

    border-radius: 2px;

    cursor: move;
}

/* Feedback graphs */
div.feedbackchart svg .svgpielegend {
    font: 13px sans-serif;
}
div.feedbackchart svg .svgpiepercent {
    font: 11px sans-serif;
}
div.chartdiv {
    margin-bottom: 50px;
}
div.chartdiv h5 {
    font-weight: bold;
}
div.chartdiv svg {
    margin-top: 10px;
    height: 200px;
}
div.chartdiv svg path.pieslice:hover {
    stroke-width: 10;
    stroke-opacity: 0.5;
}
div.chartdiv svg text {
    cursor: default;
}

/* Time graphs */
svg circle.point {
    stroke-width: 0;
    fill: transparent;
}
svg circle.point:hover {
    stroke-width: 0.5;
}

/*
 * Sponsor admin
 */
div.sponsorbenefitlist details {
    border: 1px solid darkgray;
    margin-bottom: 0.7rem;
}

div.sponsorbenefitlist details summary {
    display: list-item; /* Sometimes set by bootstrap, but we override to always have it */
    cursor: pointer;
    background-color: lightgray;
    padding: 0.5rem;
}

div.sponsorbenefitlist details div.sponsorbenefitdescription {
    padding: 0.5rem;
    padding-bottom: 0px;
}

div.sponsorclaimbuttons {
    padding-bottom: 0.5rem;
}

div.sponsorclaimbuttons form {
    display: inline;
    margin-right: 3rem;
}

div.sponsorclaimhtml {
    border: 1px solid black;
    padding: 0.2rem;
    margin-bottom: 0.4rem;
}

span.sponsormatrixlabel {
    line-height: 1.9;
}

/* Sponsor benefit admin */
div.sponsor-imagepreview span {
    display: inline-block;
    width: 200px;
}

div.sponsor-imagepreview img {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}
