/*
  PostgreSQL.org - Layout Styles
*/

/* Container Definitions */

/* Page Container */

#pgContainerWrap {
  text-align: center; /* Win IE5 */
}

#pgContainer {
  margin: 0em auto;
  width: 765px;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 10px;
  text-align: left; /* Win IE5 */
}


/* Header Container */
#pgHeaderContainer {
  padding-bottom: 2px;
}

#pgHeader {
  position: relative;
  background: url("/media/img/layout/hdr_fill.png") repeat-x;
  height: 80px;
  margin: 0;
  padding: 0;
  clear: both;
}

#pgHeaderLogoLeft {
  position: relative;
  width: 230px;
  height: 80px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  float: left;
}

#pgHeaderLogoLeft img { 
  border: 0px; 
}

#pgHeaderLogoRight {
  position: relative;
  width: 210px;
  height: 80px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  float: right;
}

#pgHeaderLogoRight img {
  border: 0px;
}

#pgSearch {
  position: relative;
  text-align: right;
  padding: 0;
  margin: 0;
  color: #666;
}

#pgSearch form {
  position: relative;
  top: 5px;
  right: 0;
  margin: 0; /* need for IE Mac */
  text-align: right; /* need for IE Mac */
  white-space: nowrap; /* for Opera */
}

#pgSearch form label { 
  color: #666; 
  font-size: 0.8em; 
}

#pgSearch form input { 
  font-size: 0.8em; 
}

#pgSearch form #submit {
  font-size: 0.8em;
  background: #FFFFFF;
  color: #000000;
  border-right: 1px solid #7A7A7A;
  border-bottom: 1px solid #7A7A7A;
  border-top: 1px solid #7A7A7A;
  border-left: 1px solid #7A7A7A;
  padding: 1px 4px;
}

#pgSearch form #q {
  font-size: 0.8em;
  width: 140px;
  border: 1px solid #7A7A7A;
  background: #FFFFFF;
  color: #000000;
  padding: 2px;
}

/* Content Container */
#pgContent {
  clear: both;
  display: block;
}

/* Front page specific */
#pgFrontRight {
  float: right;
  width: 200px;
  padding-left: 15px;
  border-left: 1px solid #7A7A7A;
  margin-top: 10px;
}

#pgFrontLeft {
  margin-right: 230px;
  margin-top: 10px;
}

#pgFrontLeft h1 {
  font-size: 1.8em;
}

.pgFrontBox {
  margin-bottom: 25px;
}

.pgFrontBox p {
  margin-top: 0.2em;
}

#pgFrontNews h1 {
  margin-bottom: 0px;
}

.pgFrontNewsItem h3 {
  margin: 0px 0px;
}

.pgFrontNewsItem h2 {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  font-size: 1.5em;
}

/* Uncomment when IE/Validator supports last-child

.pgRSSBottomList li:last-child {
  border-right: 0;
  padding-right: 0;
}

*/

/* Secondary Pages */

#pgSideWrap {
  float: left;
  width: 166px;
  margin-top: 10px;
  margin-right: -165px;
}

#pgContentWrap {
  margin-left: 165px;
  padding-top: 10px;
}

#pgAdminWrap {
  padding-top: 10px;
  padding-bottom: 10px;
}

#pgCommunityWrap {
  margin-right: -420px;
  float: left;
  width: 100%;
}

#pgCommunity {
  margin-right: 210px;
}

/* Footer Container */
#pgFooter {
  font-size: 0.9em; 
  color: #666; 
  line-height: 1.3em; 
  padding-top: 5px;
  clear: both;
}

/* Misc Classes */

.pgClearBoth {
  clear: both;
  margin: 0;
  padding: 0;
}

.pgBlockHide {
	display: none;
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;  /* IE5 Mac */
}

img {
  border: 0;
}

/* Registration pages */
#feedback_table tr td ul li {
   display: inline;
}

#feedback_table tr {
   vertical-align: top;
}

ul.errorlist {
        display: inline;
        list-style-type: none;
}

ul.errorlist li {
        display: inline;
        font-weight: bolder !important;
	color: red;
}


/* Elections */
div.electionResultRow {
    padding: 2px 2px 2px 2px;
}
div.electionHeaderRow {
    font-weight: bold;
    text-decoration: underline;
    padding: 2px 2px 2px 2px;
}
div.electionResultCol1 {
    display: inline-block;
    width: 150px;
}
div.electionResultCol2 {
    display: inline-block;
    width: 50px;
    text-align: right;
}
div.electionResultCol3 {
    display: inline-block;
    background-color: #0091c1;
}
div.electionResultCol3Hdr {
    display: inline-block;
    width: 300px;
}
div.electionSeparator {
    display: inline-block;
    background-color: red;
    height: 2px;
    width: 510px;
}
tr.electionError {
    background-color: #ffb6b6;
}