{%extends "nav_about.html"%}
{%block title%}2015 General Assembly - Activities report{%endblock%}
{%block content%}
<h1>2015 General Assembly - Activities report</h1>

<h2>What has been done</h2>

<h3>Financial/Administration</h3>

<p>See the <a href="/about/ga/2015/financialreport/">Financial report</a>, section "Activities".</p>

<h3>FOSDEM+PGDay</h3>

<p>That was the second time we ran a PGDay before FOSDEM in Brussels, Belgium. It remains a popular event: one track, one day, 7 talks, 69 attendees. The event sold out, and we were unfortunately not able to accommodate all people on the reserve list, but the reserve list ended up being very short in the end.</p>

<p>The FOSDEM event itself was successful as well: lots of people visited our booth on Saturday and Sunday, lots of people asked questions, bought merchandise, and attended the 7 sessions we had in the devroom.</p>

<h3>Nordic PGDay</h3>

<p>This was the first year for the Nordic PGDay, this year held in Stockholm, Sweden. It was a really popular event, with quite a lot of attendees (108 accepted attendees, and another 23 people on the waiting list that we were unable to find space for due to the size of the venue) for the 7 talks.</p>

<p>The feedback shows more of the details, and is posted at: <a href="http://blog.hagander.net/archives/218-Nordic-PGDay-2014-wrap-up-of-the-wrap-up.html">http://blog.hagander.net/archives/218-Nordic-PGDay-2014-wrap-up-of-the-wrap-up.html</a>.</p>

<h3>PGConf.eu</h3>

<p>We had a record number of attendees this year: 318! This is, as far as we know, the biggest dedicated PostgreSQL conference to date. On top of this, we had another 24 people on the waiting list. The venue was much appreciated, as were the talks.</p>

<p>The feedback shows more of the details, and is posted at: <a href="http://blog.hagander.net/archives/223-PGConf.EU-2014-feedback-is-in.html">http://blog.hagander.net/archives/223-PGConf.EU-2014-feedback-is-in.html</a>.</p>

<h2>Future events</h2>

<p>FOSDEM PGDay is almost upon us, at the end of January in Brussels, Belgium. Registration is opened and the schedule has been published. Don't forget to register and join us for both the PGDay and the devroom + booth at FOSDEM!</p>

<p>Nordic PGDay comes back, this time in Copenhagen, Denmark, on March, 11th. The call of paper is ongoing, deadline is January, 11th. Registration will open shortly. Please submit a talk, and join us!</p>

<p>We decided during the preparations of PGConf.EU 2014 that we'll also try to find a venue for 2015, in order to facilitate planning and increase our options since fewer venues would be sold out. We were enough successful to sign the contract before the end of PGConf.EU 2014, and could announce it at the end of the event. So, in 2015, PGConf.EU 2015 will happen in Vienna, Austria, on October 27th-30th. More details will follow soon, but mark your calendars already!</p>

<p>Our rejoining event is PGConf.DE, which is back after a years absence. Time and location will be published soon.</p>

<p>There are a few other small events under discussion, and as always we invite our members who are interested in working on a regional PGDay to contact us if we can be of any assistance at all, whether just in answering questions, or through organizational or financial aid.</p>

{%endblock%}
