{%extends "nav_about.html"%}
{%block title%}2015 General Assembly - Financial report{%endblock%}
{%block content%}
<h1>2015 General Assembly - Financial report</h1>

<h2 >Assets</h2>

<table>
	<tr>
		<td><strong>Accounts</strong></td>
		<td><strong>2014-01-01</strong></td>
		<td><strong>2014-12-31</strong></td>
		<td><strong>Difference</strong></td>
	</tr>
	<tr>
		<td>BNP checking account</td>
		<td align="right">57.14</td>
		<td align="right"></td>
		<td align="right">−57.14</td>
	</tr>
	<tr>
		<td>Crédit Mutuel checking account</td>
		<td align="right">17,279.18</td>
		<td align="right">41,866.45</td>
		<td align="right">+24,587.27</td>
	</tr>
	<tr>
		<td>Crédit Mutuel saving account</td>
		<td align="right">60,020.00</td>
		<td align="right">60,052.89</td>
		<td align="right">+32.89</td>
	</tr>
	<tr>
		<td>Paypal account</td>
		<td align="right">4,700.25</td>
		<td align="right">5,869.03</td>
		<td align="right">+1,168.78</td>
	</tr>
	<tr>
		<td>Adyen account</td>
		<td align="right">500.00</td>
		<td align="right">558.85</td>
		<td align="right">+58.85</td>
	</tr>
	<tr>
		<td>Pending creditcard payments</td>
		<td align="right">150.00</td>
		<td align="right">60.00</td>
		<td align="right">-90.00</td>
	</tr>
	<tr>
		<td>Total</td>
		<td align="right">82,556.57</td>
		<td align="right">108,407.22</td>
		<td align="right">+25,600.65</td>
	</tr>
</table>

<p>The <a href="/media/pdf/pgeu_balance_2015.pdf">full balance report</a> is also available.</p>

<h2>Major items</h2>

<h3>Activities</h3>

<p>The transition to the Credit Mutuel bank account went smoothly at the beginning of 2014. The BNP account is now closed.</p>

<p>The savings account only serves as a "in-case-of-trouble" account. As everything went right this year (for example, we had plenty of sponsors for each event, making them all hit or exceed budget), we had no need to use it. The only operation that happened was the interest income (32.89 euro). We expect the same to happen this year. We believe it's still important for the organization to have this buffer account, as our financial exposure for the large conference (PGConf.EU) each year is substantial, and as the event is growing, so is the exposure.</p>

<p>The contract with Adyen, our creditcard payment processor, has worked perfectly. It helped us a lot on the events, for the attendee fee payments, and for the goodies payments. The fees charged are substantially lower than Paypal, and the number of attendees to our events who had issues with payments are much lower. For these reasons, we will continue to work with them as our primary payment provider.</p>

<p>Adyen also provides us with two handheld "shuttle" devices that allows us to take Point-of-Sales payments through Visa and Mastercard. This is primarily done for merchandise at PGConf.EU and FOSDEM, and has been a big success primarily at PGConf.EU (at FOSDEM, many visitors still expect nobody to accept payment cards, and therefor usually bring cash. Our fees are low, and as this rids our booth staff of the problem of carrying hundreds or thousands of euros on bus/train/flight home to deposit in the bank, it is something we will continue to encourage our visitors to use.</p>

<p>Paypal is still used as a secondary online payment system, for those who prefer to use it, or those who have trouble paying through the Adyen system.</p>

<p>The accounting and event webapps got some improvements during the year, automating more of our work, and providing better insight into the financials, something that has become increasingly important as we process larger events.</p>

<h3>Income/Expenses</h3>

<p>Important items are summarized here, but the <a href="/media/pdf/pgeu_results_2015.pdf">full results report</a> is also available.</p>

<table>
	<tr>
		<td><strong>Items</strong></td>
		<td><strong>Income</strong></td>
		<td><strong>Expenses</strong></td>
		<td><strong>Final results</strong></td>
	</tr>
	<tr>
		<td>Membership</td>
		<td align="right">490</td>
		<td align="right">0</td>
		<td align="right">490</td>
	</tr>
	<tr>
		<td>Donations</td>
		<td align="right">6255</td>
		<td align="right">0</td>
		<td align="right">6255</td>
	</tr>
	<tr>
		<td>FOSDEM 2014 (incomplete)</td>
		<td align="right">2400</td>
		<td align="right">1943</td>
		<td align="right">457</td>
	</tr>
	<tr>
		<td>FOSDEM 2015 (incomplete)</td>
		<td align="right">2500</td>
		<td align="right">4848</td>
		<td align="right">-2348</td>
	</tr>
	<tr>
		<td>Nordic PGDay 2014</td>
		<td align="right">13080</td>
		<td align="right">12567</td>
		<td align="right">513</td>
	</tr>
	<tr>
		<td>Nordic PGDay 2015 (incomplete)</td>
		<td align="right">2800</td>
		<td align="right">0</td>
		<td align="right">2800</td>
	</tr>
	<tr>
		<td>pgconf.eu 2014</td>
		<td align="right">120577</td>
		<td align="right">99390</td>
		<td align="right">21187</td>
	</tr>
</table>

<p>Note that the FOSDEM events are split across years, so some of the transactions for FOSDEM 2014 happened in 2013, and some for FOSDEM 2015 and Nordic PGDay 2015 have already happened in 2014, therefor the listed numbers are not complete for the events.</p>

<p>The complete sums for FOSDEM 2014, including both years, are:</p>

<table>
	<tr>
		<td><strong>Income</strong></td>
		<td align="right">3950.00</td>
	</tr>
	<tr>
		<td><strong>Expenses</strong></td>
		<td align="right">-5968.84</td>
	</tr>
	<tr>
		<td><strong>Final result</strong></td>
		<td align="right"><strong>-2019.74</strong></td>
	</tr>
</table>

<p>This year again, memberships are a really small part of our incomes. Donations are still doing better, even much better than last year (approximately a 50% increase). On events, sponsorships and attendance fees are mostly equal (70k and 71k), and we are clearly dependent on both to cover our expenses. Likewise, our largest expenses are the conference venues, by far.</p>

<p>Nordic PGDay was an interesting event because incomes and expenses are quite the same. This is something we should attempt for all our events.</p>

<p>We again made quite a large profit on PGConf.EU 2014 this year. This was partially because of an unexpectedly large raise in the number of high level sponsors, but also because of an administrative mistake whereby we forgot to order an "upgrade" to the service at the venue once we had figure out that we had enough money to pay for it (we normally sign a contract with a lower level of service, and then increase it once sponsorship has been secured).</p>

<h2>Conclusion</h2>

<p>2014 continued the trend of 2013: lots of work on the financial part of the organization. We now need to move forward, and help promoting PostgreSQL in many other ways. Ideas welcomed!</p>

{%endblock%}
