{%extends "nav_about.html"%}
{%block title%}2014 General Assembly - Activities report{%endblock%}
{%block content%}
<h1>2015 GENERAL ASSEMBLY MINUTES</h1>

<p>
Association PostgreSQL Europe<br/>
13 rue du Square Carpeaux<br/>
75018 PARIS<br/>
</p>

<h2>People attending the meeting</h2>

<ul>
  <li>Andreas Karlsson</li>
  <li>Andreas Kretschmer</li>
  <li>Bruno Friedmann</li>
  <li>Damien Clochard</li>
  <li>Daniel Gustaffson</li>
  <li>Guillaume Lelarge</li>
  <li>Harald Armin Massa</li>
  <li>Johannes Graen</li>
  <li>Magnus Hagander</li>
  <li>Markus Wanner</li>
  <li>Patryk Kordylewski</li>
  <li>Robert Ivens</li>
  <li>Sven Schoradt</li>
  <li>Tobias Bussmann</li>
  <li>Tomas Vondra</li>
  <li>Stefanie Janine Stölting</li>
</ul>

<p>The first GA, which happened on January, 19th, 2015, didn't meet the quorum. These minutes is for the second GA meeting. As such, no quorum is needed. Thus, the meeting is valid.</p>

<p>Magnus Hagander is the president of the GA meeting, Guillaume Lelarge is the secretary.</p>

<p>Meeting starts at 21:05 (2015-01-26), on the IRC network freenode.net, channel #pgeu-ga. Language is english, the report is available in english and french.</p>

<p>
The agenda is:
<ul>
  <li>activities report for 2014,</li>
  <li>financial report for 2014,</li>
  <li>2015 potential activities.</li>
</ul>

<h2>Activities report</h2>

<p>Magnus Hagander gave a brief summarization of the Activities report.</p>

<p>No question asked.</p>

<p>Votes: 16 voted Yes out of 17 present in the channel. The last one didn't vote.</p>

<p>Thus, the activities report is approved.</p>

<h2>Financial report</h2>

<p>Guillaume Lelarge gave a brief summarization of the Financial report.</p>

<p>Several questions were asked:</p>

* Fosdem costs us because of lower attendees? or the new venue?
** Because of the venue and because we don't take on a lot of sponsorship. The venue is always the costier part of any event.
* Is FOSDEM PGDay considered as a "prestige" event? Meaning you're OK loosing money on it?
** It has been our consideration before that we are OK to loose money on that one assuming (1) it's not too much, and (2) pgconfeu made enough profit that we don't end up draining our reserves.
* Did you say how much money the association has right now?
** It's in the report at https://www.postgresql.eu/about/ga/2015/financialreport/. It was about 108k euro, so that means we can "screw up completely" with one pgconfeu and still not end up in the red, but we can only do that once.
* There are no problem for a non profit with that amount of money?
** As long as we use it every year, nope

<ul>
  <li>Fosdem costs us because of lower attendees? or the new venue?
    <ul><li>Because of the venue and because we don't take on a lot of sponsorship. The venue is always the costier part of any event.</li></ul>
  </li>
  <li>Is FOSDEM PGDay considered as a "prestige" event? Meaning you're OK loosing money on it?
    <ul><li>It has been our consideration before that we are OK to loose money on that one assuming (1) it's not too much, and (2) pgconfeu made enough profit that we don't end up draining our reserves.</li></ul>
  </li>
  <li>Did you say how much money the association has right now?
    <ul><li>It's in the report at <a href="https://www.postgresql.eu/about/ga/2015/financialreport/">https://www.postgresql.eu/about/ga/2015/financialreport/</a>. It was about 108k euro, so that means we can "screw up completely" with one pgconfeu and still not end up in the red, but we can only do that once.</li></ul>
  <li>There are no problem for a non profit with that amount of money?
    <ul><li>As long as we use it every year, nope.</li></ul>
  </li>
</ul>

<p>A new vote has been added to the agenda: Should the board be asked to investigate options for an external accountant to review finances yearly?</p>

<p>Votes: 11 voted Yes, 3 voted No, out of 17 present in the channel. The three last ones didn't vote.</p>

<p>Thus, the board is instructed to investigate options for an external accountant.</p>

<p>Votes on the financial report: 15 voted Yes out of 17 present in the channel. The two last ones didn't vote.</p>

<p>Thus, the financial report is approved.</p>

<h2>Next year's activities</h2>

<p>Magnus Hagander gave a brief summarization of next year's activities (see the Activities report).</p>

<p>We already have several events scheduled.</p>

<p>One question was asked:</p>

<ul>
  <li>Wasn't an event in Moskau announced at pgconf.eu? is that organized locally?
    <ul><li>There is a moscow event. It's not held in cooperation with PostgreSQL Europe. And it's run by a commercial company.</li></ul>
  </li>
</ul>

<p>No votes.</p>

<p>Meeting ends at 21:51.</p>

<ul>
<li>Magnus Hagander, President</li>
<li>Guillaume Lelarge, Treasurer</li>
</ul>

{%endblock%}
