Django>=4.2,<4.3
Jinja2>=2.10,<2.11
Markdown==3.0.1
MarkupSafe==1.1.0
Pillow==5.4.1
PyJWT
argparse
cryptography
flup
httplib2
psycopg2-binary
pycryptodomex==3.6.1
reportlab>=3.5.59,<3.7
python-dateutil
requests
requests-oauthlib==1.0.0
file-magic
pynliner
