Django==1.11.21
Jinja2==2.8
Markdown==2.6.5
MarkupSafe==0.23
Pillow==6.2.0
argparse
cryptography
django-markdown==0.8.4
django-markwhat==1.4
flup
httplib2
psycopg2
pycrypto
reportlab==3.3.0
wsgiref
pytz
python-dateutil
requests
requests-oauthlib==0.7.0
file-magic
qrencode
cairosvg
