{%extends "confreg/confadmin_base.html"%}
{%block extrahead%}
<script type="text/javascript" src="/media/js/selectize.min.js"></script>
<link rel="stylesheet" href="/media/css/selectize.css" />
<link rel="stylesheet" href="/media/css/selectize.default.css" />
<style>
tr.error {
   background-color: #ffb6b6;
}
table.pageform tr {
   vertical-align: top;
}
table.pageform input[type=text],textarea,select {
   width: 500px;
}
</style>

<script language="javascript">
$(function() {
   $('#id_author').selectize();
   $('#id_viewer_regtype, #id_editor_regtype, #id_viewer_attendee, #id_editor_attendee').selectize({plugins: ['remove_button']});
});

</script>
{%endblock%}

{%block layoutblock%}
<h1>Wiki page</h1>
<p>
<b>Note!</b> Changes made on this page will not be reflected in the wiki page
history. Instead, they will be emailed to the conference list.
</p>
<p>To make <b>content changes</b>, use the
<a href="/events/register/{{conference.urlname}}/wiki/{{page.url}}/">regular editor</a>.
</p>

<form method="post" action=".">{%csrf_token%}
<table class="pageform">
{{form}}
</table>
<input type="submit" value="Save">
</form>

{%endblock%}
