{%extends "confreg/confadmin_base.html"%}
{%load assets%}
{%block title%}wiki: {{page.title}}{%endblock%}
{%block extrahead%}
{%asset "js" "selectize" %}
{%asset "css" "selectize" %}
<script type="text/javascript">
$(function() {
   $('#id_author').selectize();
   $('#id_viewer_regtype, #id_editor_regtype, #id_viewer_attendee, #id_editor_attendee').selectize({plugins: ['remove_button']});
});

</script>
{%endblock%}

{%block layoutblock%}
<h1>Wiki page: {{page.title}}</h1>
<p>
<b>Note!</b> Changes made on this page will not be reflected in the wiki page
history. Instead, they will be emailed to the conference list.
</p>
<p>To make <b>content changes</b>, use the
<a href="/events/{{conference.urlname}}/register/wiki/{{page.url}}/">regular editor</a>.
</p>

<form method="post" action="." class="form-horizontal">{%csrf_token%}
{%include "confreg/admin_backend_form_content.html" %}
</form>

<a class="btn btn-default btn-block" href="../">Back</a>

{%endblock%}
