{%extends "confreg/confadmin_base.html"%}
{%load assets%}
{%block title%}Signup: {{signup.title}}{%endblock%}
{%block extrahead%}
{%asset "js" "selectize" %}
{%asset "css" "selectize" %}

<script type="text/javascript">
$(function() {
   $('#id_author').selectize();
   $('#id_regtypes, #id_attendees').selectize({
      plugins: ['remove_button'],
      valueField: 'id',
      labelField: 'value',
      searchField: 'value'
   });
});

</script>
{%endblock%}

{%block layoutblock%}
<h1>Signup: {{signup.title}}</h1>

<a class="btn btn-default btn-block" href="#results">View current results</a>
<br/><br/>

<form method="post" action="." class="form-horizontal">{%csrf_token%}
{%include "confreg/admin_backend_form_content.html"%}
</form>

<p>
 <a class="btn btn-default" href="sendmail/">Send email</a>
</p>

<a name="results"></a>
<h2>Current results</h2>
<h3>Summary</h3>
<table class="table table-striped table-condensed">
 <tr>
  <th>Choice</th>
  <th>Count</th>
  <th>Percent</th>
 </tr>
{%for r in results.summary %}
 <tr>
  <td>{{r.choice}}</td>
  <td>{{r.num}}</td>
  <td><div style="background-color: blue; width: {{r.percentwidth}}px; display:inline-block; height: 1em;" title="{{r.percent}}%"></div></td>
 </tr>
{%endfor%}
</table>
{%if results.totalvalues%}
<p>Total value: <b>{{results.totalvalues}}</b></p>
{%endif%}

<h3>Details</h3>
<table class="table table-striped table-condensed">
 <tr>
  <th>Name</th>
  <th>Choice</th>
  <th>Time</th>
  <th></th>
 </tr>
{%for r in results.details %}
 <tr>
  <td>{{r.name}}</td>
  <td>{{r.choice}}</td>
  <td>{{r.when}}</td>
  <td><a class="btn btn-xs btn-default" href="edit/{{r.id}}/">edit</a></td>
 </tr>
{%endfor%}
</table>
{%if not signup.public%}
<a class="btn btn-xs btn-default" href="edit/new/">Add new</a>
{%endif%}

{%if results.awaiting%}
<h3>Awaiting response</h3>
<table border="0" class="signupresponse">
 <tr>
  <th>Name</th>
 </tr>
{%for r in results.awaiting %}
 <tr>
  <td>{{r.name}}</td>
 </tr>
{%endfor%}
</table>

{%endif%}

<br/><br/>
<a class="btn btn-default btn-block" href="../">Back</a>
{%endblock%}
