{%extends "navbase.html"%}
{%block title%}Create conference invoice{%endblock%}
{%block content%}
<script language="javascript">
function changeConf() {
   c = document.getElementById('confid').value;
   document.location.href = '/invoicemgr/new/conf/' + c + '/';
}
</script>

<h1>Create conference invoice</h1>
{%if conference %}
<p>
<form method="post" action=".">
Select users to generate invoice for:<br/>
{%for attendee in attendees %}
<input type="checkbox" name="att{{attendee.id}}" value="1">{{attendee}}<br/>
{%endfor%}

<p>
<b>Invoice recipient:</b><br/>
<input type="checkbox" name="copyaddr" value="1">Copy address from registration (instead of entering below)<br/>
<textarea cols="50" rows="5" name="recipient"></textarea>
</p>

<p>
Due date: <input type="text" name="duedate" value="{% now "Y-m-d" %}">
</p>

<input type="submit" value="Create invoice">
</p>
{% else %}
<p>
Select conference: <select id="confid" onChange="javascript:changeConf()">
  <option value="-1">** Select conference</option>
  {%for c in conferences %}
  <option value="{{c.id}}">{{c}}</option>
  {%endfor%}
</select>
</form>
</p>
<p><a href="/invoicemgr/">Back</a>.</p>
{%endif%}
{%endblock%}
