{%extends "navbase.html"%}
{%block title%}Create invoice{%endblock%}
{%block content%}
<h1>Create invoice</h1>

<form method="post" action=".">
<p>
Enter one or more invoice rows. You must fill in the rows from the top,
any "gaps" will cause processing to stop at that point.
</p>

<table border="0" cellspacing="1" cellpadding="0">
  <tr>
   <th>Item</th>
   <th>Count</th>
   <th>Item price</th>
 </tr>
{%for i in n%}
 <tr>
   <td><input type="text" name="text_{{i}}" /></td>
   <td><input type="text" name="count_{{i}}" /></td>
   <td><input type="text" name="price_{{i}}" /></td>
 </tr>
{%endfor%}
</table>

<p>
<b>Invoice recipient:</b><br/>
<textarea cols="50" rows="5" name="recipient"></textarea>
</p>

<p>
Due date: <input type="text" name="duedate" value="{% now "Y-m-d" %}">
</p>

<p>
Currency: <input type="text" name="currency" value="€" />
</p>

<input type="submit" value="Create invoice">
</p>
{%endblock%}
