{%extends "navbase.html"%}
{%block title%}Invoice {{invoice.id}}{%endblock%}
{%block content%}
<h1>Invoice {{invoice.id}}</h1>
<table border="1" cellspacing="0" cellpadding="1">
  <tr valign="top">
    <td><b>Invoice date:</b></td>
    <td>{{invoice.invoicedate}}</td>
  </tr>
  <tr valign="top">
    <td><b>Due date:</b></td>
    <td>{{invoice.duedate}}</td>
  </tr>
  <tr valign="top">
    <td><b>Total amount:</b></td>
    <td>{{invoice.totalamount}}</td>
  </tr>
  <tr valign="top">
    <td><b>Recipient:</b></td>
    <td>{{invoice.recipient|linebreaksbr}}</td>
  </tr>
  <tr valign="top">
    <td><b>PDF:</b></td>
    <td><a href="pdf/">View PDF</a></td>
  </tr>
</table>
<p><a href="/invoicemgr/">Back</a>.</p>
{%endblock%}
