{%extends "navbase.html" %}
{%load currency%}
{%block title%}Invoice payment{%endblock%}
{%block extrahead%}
<script type="text/javascript" src="https://js.braintreegateway.com/web/dropin/1.40.2/js/dropin.min.js"></script>
{%endblock%}
{%block content%}
<h1>Invoice payment</h1>
<p>You are about to make a payment of <strong>{{invoice.total_amount|format_currency}}</strong> for invoice #{{invoice.id}}.</p>

<form id="payment-form" method="post" action="/p/braintree/">{%csrf_token%}
  <input type="hidden" name="invoice" value="{{invoice.id}}">
  <input type="hidden" name="method" value="{{paymentmethodid}}">
  <div id="dropin-container"></div>
  <br/>
  <input type="submit" value="Submit payment">
  <input type="hidden" id="nonce" name="payment_method_nonce" />
</form>

{%endblock%}

{%block pagescript%}
<script type="text/javascript">
braintree.dropin.create({
    container: document.getElementById('dropin-container'),
    authorization: '{{token}}',
}, (error, dropinInstance) => {
    const form = document.getElementById('payment-form');

    if (error) console.error(error);

    form.addEventListener('submit', event => {
        event.preventDefault();

        dropinInstance.requestPaymentMethod((error, payload) => {
            if (error) console.error(error);


            document.getElementById('nonce').value = payload.nonce;
            form.submit();
        });
    });
});
</script>
{%endblock%}
