{%extends "nav_membership.html"%}
{%block title%}Elections{%endblock%}
{%block content%}
<h1>Elections</h1>

<p>
To vote in {{election.name}}, rate all the candidates below. All
candidates must be rated for a vote to be valid. Give the highest score to the
candidate you prefer <i>the most</i>, and the lowest score to the candidate you
prefer <i>the least</i>.
</p>
<p>
You can click a candidates name for more information about this candidate.
</p>

{%if form.errors%}
<p>
<b>NOTE!</b> Your submitted form contained errors and has <b>not</b> been saved!
</p>
{%endif%}

{%if form.saved_and_modified%}
<p>
<b>Your votes have been registered.</b> Thank you for participating.
{%endif%}

<h2>Your votes</h2>
<p>
{%if form.votes %}
Your votes have been cast, and the values below indicate what you voted. You can
change your votes up until the final day of the elections.
{%else%}
Please cast your votes below.
{%endif%}
</p>
<form method="post" action=".">{% csrf_token %}
<table>
{%for field in form%}
 <tr {%if field.errors%}class="electionError"{%endif%}>
  <td><a href="candidate/{{field.help_text}}/">{{field.label}}</a></td>
  <td>{{field}}</td>
  <td>{%if field.errors%}{{field.errors}}{%endif%}</td>
 </tr>
{%endfor%}
</table>

<input type="submit">
</form>

<p><a href="../">Back</a></p>
{%endblock%}
