{%extends "nav_community.html"%}
{%block title%}Community{%endblock%}
{%block content%}
<h1>Community</h1>

<p>
PostgreSQL Europe is made up of it's member and the greater European
community. We encourage everybody, both our members and other
PostgreSQL interested parties around Europe, to participate in all our
activities!
</p>

<p>
If you want to arrange a local activity, or otherwise promote
PostgreSQL locally there are many things we can do to help. For
example, we can help
provide <a href="/community/goodies/">goodies</a>, help
with <a href="/events/services/">event management software</a>, and many more
things. Don't hesitate to <a href="/about/contact/">reach out</a> to
us if you have any questions or ideas!
</p>

<p>
  All our coordination is normally done through
  the <a href="/community/lists/">mailinglists</a>, where we
  encourage open discussions!
</p>
{%endblock%}
