{%extends "nav_events.html"%}
{%block title%}Events{%endblock%}
{%block content%}
<h1>Events</h1>

<p>
PostgreSQL Europe is currently involved in organising presence
for the following events. We also recommend you check out the
<a href="http://www.postgresql.org/about/eventarchive">global community</a>
list of events!
</p>

<h2>FOSDEM 2009</h2>
<p>
<b>Location: Brussels, Belguim</b><br/>
<b>Date: February 2009, exact date to be determined</b>
</p>
<p>
PostgreSQL Europe plans a large presence at FOSDEM 2009, with
both a booth and a devroom. Further details will be announced
later.
</p>

<h2>PGDay.EU 2009</h2>
<p>
<b>Location: Paris, France</b><br/>
<b>Date: To be determined</b>
</p>
<p>
This is the largest European PostgreSQL conference of 2009. This year,
it will be held in cooperation with <a href="http://www.postgresqlfr.org">PostgreSQLFr</a>.
Further details will be announced later.
</p>

{%endblock%}
