{%extends "nav_community.html"%}
{%block title%}Merchandise{%endblock%}
{%block content%}
<h1>Merchandise</h1>

<p>
We sell merchandise, such as shirts and plush elephants, exclusively at our
PostgreSQL Europe arranged events.
</p>

<p>
We also have an <a href="http://postgresqleu.spreadshirt.net/" target="_blank">
online store</a> with a small selection of merchandise for purchase.
</p>

<h2>Merchandise for Events</h2>

<p>
If you're organizing a booth or a complete event, we can send you merchandise
material, especially:
</p>

<ul>
  <li>Stickers (white, black, glowing)</li>
  <li>Lanyards</li>
</ul>

<p>
They all are free of charge.
</p>

<p>
If you're organizing a larger event, we can provide more, such as elephants,
mugs, umbrellas, though that won't be for free.
</p>

<p>
Keep in mind that they all are subject to availability, and that we might need some time to deliver them.
</p>

<p>
<a href="/about/contact">Contact us</a> for more details.
</p>

{%endblock%}
