{%extends "nav_merchandise.html"%}
{%block title%}Merchandise{%endblock%}
{%block content%}
<h1>Merchandise</h1>

<p>
We sell merchandise, such as shirts and plush elephants, exclusively at our
PostgreSQL Europe arranged events. If you would like to sell merchandise at
a local PostgreSQL event, please see our <a href="/community/goodies">goodies</a>
page for more details.
</p>

<p>
We also have an <a href="http://postgresqleu.spreadshirt.net/" target="_blank">
online store</a> with a small selection of merchandise.
</p>

{%endblock%}
