{%extends "nav_sponsors.html"%}
{%block title%}Sponsors{%endblock%}
{%block content%}
<h1>Sponsors</h1>

<p>
We are currently <a href="/sponsors/become">looking</a> for sponsors
in all areas. This page will list sponsors that have signed up.
</p>

<h2>Partners</h2>
<p>The following companies have made substantial contributions to PostgreSQL
Europe, and are considered partners of PostgreSQL Europe.</p>
<p align="center">
<a href="http://www.enterprisedb.com/"><img align="top" src="/media/img/sponsors/edb_logo_120x28.png" /></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://www.dalibo.com/"><img align="top" src="/media/img/sponsors/dalibo.120x60.png" /></a><br/>
</p>

<h2>Sponsors of PGConf.EU 2012</h2>
<p>
Please see the <a href="http://2012.pgconf.eu/sponsors">list of sponsors</a>
on the PGConf.EU website for a list of sponsors of PGConf.EU 2012.
</p>

<h2>Sponsors of PGConf.EU 2011</h2>
<p>
Please see the <a href="http://2011.pgconf.eu/sponsors">list of sponsors</a>
on the PGConf.EU website for a list of sponsors of PGConf.EU 2011.
</p>

<h2>Sponsors of PGDay.EU 2010</h2>
<p>
Please see the <a href="http://2010.pgday.eu/sponsors">list of sponsors</a>
on the PGDay.EU website for a list of sponsors of PGDay.EU 2010.
</p>

<h2>Sponsors of PGDay.EU 2009</h2>
<p>
Please see the <a href="http://2009.pgday.eu/sponsors">list of sponsors</a>
on the PGDay.EU website for a list of sponsors of PGDay.EU 2009.
</p>

{%endblock%}
