{%extends "nav_events.html"%}
{%block title%}VAT FAQ{%endblock%}
{%block content%}
<h1>VAT FAQ</h1>

<p>
Since the VAT registration of PostgreSQL Europe we have received
a lot of questions about how this works for us (as a French non-profit
the rules appear to be slightly different than for many regular
companies, and companies in other countries). This page attempts
to summarize some of the more frequent questions, along with the
responses we have received from our accounting firm and from
the French tax authorities.
</p>

<p>
Please note that we issue our invoices and process VAT directly
per the instructions we have receivied from the authorities, and
as such we cannot actually <i>change</i> how it's processed, but
we will do our best to explain the situation.
</p>

<ul>
  <li><a href="#why">Why have you registered for VAT?</a></li>
  <li><a href="#private">How does this affect me as a private attendee?</a></li>
  <li><a href="#company_attendee">We are a VAT registered European company, how do we get our VAT number on the attendee invoice?</a></li>
  <li><a href="#company_sponsor">We are a VAT registered European company, how do we get our VAT number on the sponsorship invoice?</a></li>
  <li><a href="#still_vat">We added our VAT numbers, but you are still charging VAT?</a></li>
  <li><a href="#attendee_vat">Why are you charging X% VAT on an attendee invoice?</a></li>
  <li><a href="#sponsor_vat">Why are you charging 20% VAT on sponsor invoice?</a></li>
  <li><a href="#change_invoice">We have already paid our invoice, can you please change some details?</a></li>
</ul>

<a name="why"></a><h3>Why have you registered for VAT?</h3>
<p>
  This is not something that is within our control. Basically
  the authorities requires VAT registration once you have a
  certain amount of money in your bank account, and due to the
  expanded size of our events, we have reached this point.
</p>

<a name="private"></a><h3>How does this affect me as a private attendee?</h3>
<p>
  As long as you are paying as a private person, and not a VAT
  registered business, there is no difference. We have adapted
  our prices so that the new prices <i>including VAT</i> are
  the same as our previous non-VAT prices.
</p>

<a name="company_attendee"></a><h3>We are a VAT registered European company, how do we get our
    VAT number on the attendee invoice?</h3>
<p>
  Please make sure you include the VAT number as part of the
  <i>invoice address</i>. Anything you write in the invoice
  address field will be copied directly to the invoice. If you
  did not do this, you can cancel your own invoice and re-issue
  it as long as it has not been paid.
</p>

<a name="company_sponsor"></a><h3>We are a VAT registered European company, how do we get our
    VAT number on the sponsorship invoice?</h3>
<p>
  Please use the separate field for VAT number registration when
  signing up for the sponsorship.
</p>

<a name="still_vat"></a><h3>We added our VAT numbers, but you are still charging VAT?</h3>
<p>
  This is correct. We have been instructed by the authorities that we
  should charge VAT on all the attendee and sponsor invoices,
  regardless of whether they include a VAT number or not. As a VAT
  registered business, you should be able to claim this VAT back
  separately with the tax authorities. We realize this does not match
  the advice given to many of our attendees by others, but we have
  double checked this multiple times with the authorities and they
  have been very clear that this is how we have to do it.
</p>

<a name="attendee_vat"></a><h3>Why are you charging X% VAT on an attendee invoice?</h3>
<p>
  Attendee invoices are charged the VAT rate of the country that
  the event is held in.
</p>

<a name="sponsor_vat"></a><h3>Why are you charging 20% VAT on sponsor invoice?</h3>
<p>
  Sponsor invoices are charged 20% French VAT, regardless of where
  the event is held.
</p>
<p>
  The only exception to this is sponsor invoices issued to companies
  <i>outside the EU VAT region</i>. These invoices are not charged
  VAT.
</p>
<p>
  This is also per the explicit instructions
  from our accountants and the tax authorities, even if it can in
  some ways seem strange.
</p>

<a name="change_invoice"></a><h3>We have already paid our invoice, can you please change some details?</h3>
<p>
  Once an invoice has been paid, there is nothing we can change
  on it. This includes adding or removing a VAT number as well as
  modifying an address or adding/removing a company name. Invoice
  contents can only be changed before the invoice has been paid, by
  canceling it and issuing a new one with the correct details.
</p>

{%endblock%}
