{%extends "nav_about.html"%}
{%block title%}2014 General Assembly - Activities report{%endblock%}
{%block content%}
<h1>2014 General Assembly - Activities report</h1>

<h2>What has been done</h2>

<h3>Financial/Administration</h3>

<p>See the <a href="/about/ga/2014/financialreport.html">Financial report</a>, section "Activities".</p>

<h3>FOSDEM+PGDay</h3>

<p>That was the first time we had a PGDay before FOSDEM. It was quite successful: one track, one day, 7 talks, 50 registrations.</p>

<p>The FOSDEM event itself was successful as well: lots of people visited our booth, lots of people asked questions, bought merchandise, and attended the 8 sessions we had in the devroom.</p>

<h3>PGConf.eu</h3>

<p>The venue was much appreciated by our approximately 250 attendees, as were the talks.</p>

<p>The feedback shows more of the details, and is posted at: <a href="http://blog.hagander.net/archives/216-PGConf.EU-2013-feedback-results.html">http://blog.hagander.net/archives/216-PGConf.EU-2013-feedback-results.html</a>.</p>

<h3>PGConf.de 2013</h3>

<p>The venue was the same as in 2011 (there was no pgconf.de 2012), although it's getting too small now. We had way more than 100 visitors and once again we had to close the registration. Talks were great and we received very good feedback. Visitors ask for additional days and also a separate training day.</p>

<h2>Futures events</h2>

<p>We have pretty much the same set as last year... but we have a new event coming up, so far.</p>

<p>pgday/FOSDEM is almost upon us, at the end of January in Brussels, Belgium. Registration is opened and the schedule has been published. Don't forget to join!</p>

<p>The new event is the Nordic PGDay in Stockholm, Sweden. The call of paper is ongoing, and early bird registration is open. Please submit a talk, and join us!</p>

<p>We also started the work for next years PGConf.EU event. There is not much news on it yet, except that we are targeting the same timeframe as previous years, in October/November. We will publish more information as soon as we have it.</p>

{%endblock%}
