{%extends "nav_about.html"%}
{%block title%}2014 General Assembly - Activities report{%endblock%}
{%block content%}
<h1>2014 GENERAL ASSEMBLY MINUTES</h1>

<p>
Association PostgreSQL Europe<br/>
13 rue du Square Carpeaux<br/>
75018 PARIS<br/>
</p>

<h2>People attending the meeting</h2>

<ul>
  <li>Andreas Scherbaum</li>
  <li>David Page</li>
  <li>Jonathan S. Katz</li>
  <li>Markus Winand</li>
  <li>Stefan Kaltenbrunner</li>
  <li>Patryk Kordylewski</li>
  <li>Roland Sonnenschein</li>
  <li>Sven Schoradt</li>
  <li>Magnus Hagander</li>
  <li>Harald Armin Massa</li>
  <li>Tomas Vondra</li>
  <li>Eric Veldhuyzen</li>
  <li>Stefanie Janine Stölting</li>
  <li>Pavel Golub</li>
  <li>Tobias Bussmann</li>
  <li>Guillaume Lelarge</li>
  <li>Damien Clochard, represented by Guillaume Lelarge</li>
  <li>Heikki Linnakangas</li>
  <li>Gunnar "Nick" Bluth</li>
  <li>Bruno Friedmann</li>
</ul>

<p>
The first GA, which happened on January, 22nd, 2013, didn't meet the quorum. These minutes is for the second GA meeting. As such, no quorum is needed. Thus, the meeting is valid.</p>

<p>Magnus Hagander is the president of the GA meeting, Guillaume Lelarge is the secretary.</p>

<p>Meeting starts at 09:04 (2014-01-29), on the IRC network freenode.net, channel #pgeu-ga. Language is english, the report is available in english and french.</p>

<p>
The agenda is:
<ul>
  <li>activities report for 2013,</li>
  <li>financial report for 2013,</li>
  <li>2014 potential activities.</li>
</ul>

<h2>Activities report</h2>

<p>Magnus Hagander gave a brief summarization of the Activities report.</p>

<p>No question asked.</p>

<p>Votes: 19 voted Yes out of 20 present in the channel. The last one didn't vote.</p>

<p>Thus, the activities report is approved.</p>

<h2>Financial report</h2>

<p>Guillaume Lelarge gave a brief summarization of the Financial report.</p>

<p>Many questions were asked:</p>

<ul>
  <li>What is the interest rate they are giving on the savings account?
    <ul><li>2%</li></ul>
  </li>
  <li>Was there a particular need to roll a new one? (in reference to the new accounting system)
    <ul><li>Yes, it's tied into the conference management system, and payment processors.</li></ul>
  </li>
  <li>Is the sourcecode public?
    <ul><li>Yes, http://git.postgresql.org/gitweb/?p=pgeu-website.git;a=summary</li></ul>
  <li>We made profit in 2013; are there tax consequences of that?
    <ul><li>As a non profit, there isn't. We haven't made enough money to make that happen.</li></ul>
  </li>
  <li>What are the books royalties?
    <ul><li>We get royalty from Packt Publishing whenever those books are bought using referral links on www.postgresql.org. We also get donations from Network Theory who publish a printed version of our documentation, and we book those as book royalties</li></ul>
  </li>
  <li>How is the relation between .org and .eu in that case? as in who approved the money flow in that direction?
    <ul><li>The core team approved it. postgresql.org doesn't have a dedicated NPO - it uses SPI for some things, but that's US based, whilst Packt are EU.</li></ul>
  </li>
  <li>Did all the "donations" come through the website?  were there any reasons given for why people donated independently of the conference?
    <ul><li>From paypal, no reason given</li></ul>
  </li>
  <li>Are there only 39 members?
    <ul><li>No, 66</li></ul>
  </li>
  <li>We are allowed to have a buffer to cover future expenses?
    <ul><li>Yes, we can have a buffer, but we can't make a profit</li></ul>
  </li>
</ul>

<p>You'll notice both pgconf.eu and pgconf.de made fairly significant profits.  Magnus Hagander also explained that this wasn't actually intentional. Our goal at this point is to not loose money on the conference, and to make a small profit on pgconf.eu to cover other events. And this is a requirement for our association - we're a non-profit association after all. We ended up at these numbers because we simply got significantly more sponsors signing up to both conferences than either one had in the budget.</p>

<p>Votes: 21 voted Yes out of 22 present in the channel. The last one didn't vote.</p>

<p>Thus, the financial report is approved.</p>

<h2>Next year's activities</h2>

<p>We already have several events scheduled.</p>

<p>FOSDEM PGday is in 2 days. It is sold out.</p>

<p>Nordicpgday happens in stockholm in march. This is organized the same way as pgconf.de, meaning that it's formally organized by PostgreSQL Europe, but it's run by a separate team (which includes Magnus Hagander and Heikki linnakangas) to help with paperwork etc. The call for papers is open and you should all submit! The aim is 50-100 people. We have already sold over 30 tickets, even though we don't have a schedule yet.</p>

<p>We are already working on PGConf.EU 2014 in that venues are being investigated. As soon as we have paperwork, we will announce the location and the date, but the date will be *approximately* the same time of the year as last year.</p>

<p>We also know of the swiss pgday which is arranged in europe, but not directly by PostgreSQL Europe. But we definitely support their efforts, and will be available to help them out if they should need. It's too early to set a target attendees goal in detail, but we're definitely aiming to get back up to 300.</p>

<p>Votes: 18 voted Yes out of 22 present in the channel. The last two didn't vote.</p>

<h2>Conclusion</h2>

<p>Meeting ends at 22:08.

<ul>
<li>Magnus Hagander, President</li>
<li>Guillaume Lelarge, Treasurer</li>
<li>Dave Page, Secretary</li>
</ul>

{%endblock%}
