{%extends "nav_community.html"%}
{%block title%}Goodies for Events{%endblock%}
{%block content%}
<h1>Goodies for Events</h1>

<p>
If you're organizing a booth or a complete event, we can send you merchandise
material, especially:
</p>

<ul>
  <li>Stickers (white, black, glowing)</li>
  <li>Lanyards</li>
  <li>PG Magazines</li>
</ul>

<p>
They all are free of charge.
</p>

<p>
If you're organizing a larger event, we can provide more, such as elephants,
mugs, umbrellas, though that won't be for free.
</p>

<p>
<a href="/about/contact">Contact us</a> for more details.
</p>

{%endblock%}

