{%extends "nav_community.html"%}
{%block title%}Mailinglists{%endblock%}
{%block content%}
<h1>Mailinglists</h1>

<p>
The work and events of PostgreSQL Europe are, just like the global
PostgreSQL project, coordinated using mailinglists. Mailinglist
services are provided by the postgresql.org project.
</p>

<p>
The following public list is available for subscription:
</p>

<dl>
 <dt><a href="https://www.postgresql.org/list/pgeu-general/">pgeu-general</a></dt>
 <dd>All discussions about PostgreSQL Europe</dd>
</dl>

<p>
More lists may be added in the future if need arises.
</p>

{%endblock%}
