{% extends "confreg/mailbase.html" %}
{% block content %}
<p>
This email is sent to you because the status of your session
<strong>{{session.title|safe}}</strong>
submitted to {{conference}} has been updated.
</p>
<p>
The session is currently on the reserve list. If you have any questions
about what this means, please contact the conference organizers.
</p>

{% if has_multiple_sessions %}
<p>
Since you have made more than one submission to the conference,
please note that this status only affects this specific session.
</p>

{{ button("View status of all submissions", confbase + "/callforpapers/") }}
{% endif %}
{%endblock%}
