<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Conference feedback</title>
 </head>
 <body>
  <h1>Conference feedback</h1>
  <p>
   This page contains global feedback for the conference. See each individual
   HTML page for feedback on the sessions.
  </p>

{%if conference_responses %}
  <h2>Conference feedback</h2>
{%for section, responses in conference_responses.items %}
   <h3>{{section}}</h3>
   {%for response in responses %}
    <h4>{{response.question}}</h4>
    {%if response.graph %}
     <img src="data:image/png;base64,{{response.graph}}" alt="{{response.question}}" />
    {%else%}
     {%for textanswer in response.textanswers%}
      <p>&bull; {{textanswer}}</p>
     {%endfor%}
    {%endif%}
   {%endfor%}
{%endfor%}
{%endif%}

  <h2>Speaker ratings</h2>
{%for rating in global_ratings%}
   <h3>{{rating.title}}</h3>
   <img src="data:image/png;base64,{{rating.image}}" alt="{{rating.title}}"/>
{%endfor%}

  <h2>Speaker comments</h2>
{%for comment in session_comments%}
 {%ifchanged comment.session%}
 <h3>{{comment.session}} ({{comment.speaker}})</h3>
 {%endifchanged%}
 <p>&bull; {{comment.comment}}</p>
{%endfor%}

{%for rating in speaker_rating%}
  <h2>{{rating.what}}</h2>
  <table border="1" cellspacing="0" cellpadding="2">
   <tr><th>Name</th><th>{{rating.what}}</th><th>Votes</th><th>Deviation</th></tr>
{%for speaker in rating.rating%}
   <tr>
    <td>{{speaker.speaker}}</td>
    <td>{{speaker.quality|floatformat}}</td>
    <td>{{speaker.num}}</td>
    <td>{{speaker.stddev|floatformat}}</td>
   </tr>
{%endfor%}
  </table>
{%endfor%}
 </body>
</html>

