<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Session feedback: {{session.name}}</title>
 </head>
 <body>
  <h1>Session feedback: {{session.name}}</h1>
  <h3>Speaker: {{session.speaker}}</h3>
  <p>A total of {{count}} feedback entries have been submitted for this session.</p>
  <h2>Rankings</h2>
{%for rating in ratings%}
  <img src="data:image/png;base64,{{rating.image}}" alt="{{rating.title}}"/>
  <table border="1" cellspacing="0" cellpadding="3" style="font-size: small;">
   <tr><th colspan="2">{{rating.title}}</th></tr>
  {% for k,v in rating.values %}
   <tr><td>{{k}}</td><td>{{v}}</td></tr>
  {%endfor%}
  </table>
  <br/>
{%endfor%}
  <br/>

  <h2>Comments</h2>
  <ul>
{% for comment in comments%}
   <li>{{comment}}</li>
{%endfor%}
  </ul>
 </body>
</html>

