{%extends "confreg/confadmin_base.html" %}
{%block title%}Conference Sponsorship{%endblock%}
{%block layoutblock%}
<h1>Conference Sponsorship - {{conference}}</h1>

{%if unconfirmed_benefits%}
<h2>Unconfirmed benefits</h2>
<p>
The following benefits have been claimed by sponsors, that have not yet been
confirmed. You should try to do this ASAP - this may include things like copying
an image to the website, or making sure there is space for a desk..
</p>
<ul>
{%for b in unconfirmed_benefits%}
 <li>{{b.sponsor}}: <a href="benefit/{{b.id}}/">{{b.benefit}}</a></li>
{%endfor%}
</ul>
{%endif%}

{%if confirmed_sponsors%}
<h2>Confirmed sponsors</h2>
<p>
The following sponsors are confirmed:
</p>

{%regroup confirmed_sponsors by level as regrouped_sponsors%}
{%for level in regrouped_sponsors%}
<h3>{{level.grouper}}</h3>
<ul>
{%for s in level.list%}
 <li><a href="{{s.id}}/">{{s}}</a>{%if s.invoice%}{%if not s.invoice.paidat%} (not paid){%endif%}{%else%} (not invoiced){%endif%}</li>
{%endfor%}
</ul>
{%endfor%}
{%endif%}

{%if unconfirmed_sponsors%}
<h2>Unconfirmed sponsors</h2>
<p>
The following sponsors have signed up, but are not yet confirmed. If you have handled the
sponsor manually, you may want to confirm them manually as well...
</p>
<ul>
{%for s in unconfirmed_sponsors%}
 <li><a href="{{s.id}}/">{{s}}</a> ({{s.level}}, signed up {{s.signupat}})</li>
{%endfor%}
</ul>
{%endif%}

<h2>Sponsor communications</h2>
{%if mails%}
<p>
The following emails have been sent to sponsors so far:
</p>
<ul>
{%for m in mails%}
 <li>{{m.sentat|date:"Y-m-d H:i"}} <a href="viewmail/{{m.id}}/">{{m.subject}}</a> ({{m.levels.all|join:", "}})</li>
{%endfor%}
</ul>
{%else%}
<p>
No sponsor emails have been sent yet.
</p>
{%endif%}

<p>
Send a new <a href="sendmail/">sponsor email</a>.
</p>

<h2>Benefit matrix</h2>
<p>
This matrix gives a quick overview of the status of the different benefits for each sponsor, which can be:
</p>
<ul>
 <li>Blank - not claimed by sponsor</li>
 <li>Claimed - claimed by sponsor, but needs to be confirmed! See top of this page</li>
 <li>Confirmed - fully confirmed benefit</li>
 <li>Declined - sponsor chose to decline this benefit.</li>
</ul>
<br>
{%for levelname, level in benefitmatrix.items %}
<table class="table table-bordered table-striped table-hover">
 <tr><td colspan="{{level.matrix|first|length}}" align="center" bgcolor="gray"><strong>{{levelname}}</strong></td></tr>
 <tr>
  <td></td>
{%for c in level.cols%}
  <th>{{c}}</th>
{%endfor%}
 </tr>
{%for r in level.matrix%}
 <tr>
 {%for b in r%}<td>
{%if b == 0%}
{%elif b == 1%}<span class="label label-danger">Declined</span>
{%elif b == 2%}<span class="label label-info">Claimed</span>
{%elif b == 3%}<span class="label label-success">Confirmed</span>
{%else%}{{b}}{%endif%}
</td>{%endfor%}
 </tr>
{%endfor%}
</table>
<br>
{%endfor%}

{%if eu_vat and  user.is_superuser %}
<h2>VAT testing</h2>
<p>
  Paste a VAT number to run a test on it, the same way that the sponsor
  signup form would do.
</p>
<form method="post" action="testvat/"> {% csrf_token %}
  <input type="text" name="vatnumber" placeholder="VAT number">
  <input class="btn btn-default" type="submit" value="Validate">
</form>
{%endif%}

<h2>Metadata</h2>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="levels/">Sponsorship levels</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="contracts/">Sponsorship contracts</a></div>
</div>

{%endblock%}
