{%extends "confreg/confadmin_base.html" %}
{%load pgmarkdown%}
{%load miscutil%}
{%block title%}Conference Sponsorship - {{sponsor}}{%endblock%}
{%block layoutblock%}
<h1>Conference Sponsorship - {{sponsor}}</h1>

{%include "confsponsor/admin_sponsor_details.html" with details=1 %}

{%if sponsor.confirmed%}

<h2>Claimed benefits</h2>
{%if claimedbenefits%}
<div class="sponsorbenefitlist">
{%for b in claimedbenefits%}
 <details>
   <summary>{{b.benefit}}{%if not b.confirmed%} <i>NOT CONFIRMED</i>{%endif%}{%if b.declined%} <b>DECLINED!</b>{%endif%}</summary>
   <div class="sponsorbenefitdescription">
      {{b.declined|yesno:"Declined,Claimed"}} by <i>{{b.claimedby}}</i> on <i>{{b.claimedat}}</i><br/>
      {{b.benefit.benefitdescription|markdown}}
{%if b.claimhtml%}
      <div class="sponsorclaimhtml">{{b.claimhtml|safe}}</div>
{%endif%}
      <div class="sponsorclaimbuttons">
{%if not b.confirmed%}
	  <form method="post" action="." class="form-inline">{% csrf_token %}
	    <input type="hidden" name="confirm" value="1">
	    <input type="hidden" name="claimid" value="{{b.id}}">
{%if b.benefit.tweet_template %}<input type="checkbox" name="autopost" value="1" CHECKED> Auto-post to social media{% endif %}
	    <input type="submit" class="btn btn-primary btn-sm" value="Confirm this benefit">
	  </form>
{%else%}
	  <form>
	    <span class="btn btn-success btn-sm disabled">Confirmed</span>
	  </form>
{%endif%}
{%if b.can_unclaim %}
	  <form method="post" action="." class="form-inline">{% csrf_token %}
	    <input type="hidden" name="unclaim" value="1">
	    <input type="hidden" name="claimid" value="{{b.id}}">
	    <input type="text" name="unclaimreason" class="form-control" placeholder="Optional reason for unclaiming">
	    <input type="submit" class="btn btn-warning btn-sm confirm-btn" value="Unclaim this benefit" data-confirm="You are about to unclaim this benefit, including sending an email to the sponsor about this?">
	  </form>
{%endif%}
       </div>{# row of buttons #}
   </div>
 </details>
{%endfor%}
</div>{# sponsorbenefitlist #}
{%else%}
<p>There are no claimed benefits for this sponsor.</p>
{%endif%}

<h2>Pending benefits</h2>
{%if unclaimedbenefits%}
<div class="sponsorbenefitlist">
{%for b in unclaimedbenefits%}
  <details>
    <summary>{{b}}{%if b.maxclaims > 1 and b.count_claims > 0 %} ({{b.maxclaims|subtract:b.count_claims}}/{{b.maxclaims}} remaining){%endif%}</summary>
    <div class="sponsorbenefitdescription">
	{{b.benefitdescription|markdown|default:"No description"}}
    </div>
  </details>
{%endfor%}
</div>
{%else%}
<p>There are no unclaimed benefits for this sponsor.</p>
{%endif%}

{%if noclaimbenefits%}
<h2>Automatic benefits</h2>
<p>The following benefits have been auto-claimed for this sponsor:</p>

<div class="sponsorbenefitlist">
{%for b in noclaimbenefits%}
  <details>
    <summary>{{b}}</summary>
    <div class="sponsorbenefitdescription">
	{{b.benefitdescription|markdown|default:"No description"}}
    </div>
  </details>
{%endfor%}
</div>
{%endif%}

{%if conference_has_contracts %}
<h2>Additional contracts</h2>
<p>
  You can send additional contracts to this sponsor if one is needed, such as training contracts.
{%if sponsor.signmethod ==  0%}
  This sponsor uses digital contracts, so the additional contracts will also be sent digitally. No
  automatic processing happens for these contracts, just the tracking of the status.
{%else%}
  This sponsor uses manual contracts, so the additional contracts will be emailed to all sponsor
  representatives as a PDF, asking them to return it signed.
{%endif%}
</p>
{%if additionalcontracts%}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Contract name</th>
      <th>Type</th>
      <th>Sponsor signed</th>
      <th>{{conference.contractsendername}} signed</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for ac in additionalcontracts%}
   <tr>
     <td>{{ac.subject}}</td>
     <td><a href="../contracts/{{ac.contract.id}}/">{{ac.contract.contractname}}</a></td>
     <td>{%if ac.digitalcontract%}Digital{%else%}Manual{%endif%}</td>
     <td>{%if ac.sponsorsigned%}{{ac.sponsorsigned}}{%else%}
      {%if not ac.digitalcontract%}<form method="post" action="markaddcontract/">{%csrf_token%}<input type="hidden" name="id" value="{{ac.id}}"><input type="hidden" name="which" value="sponsor"><input type="submit" class="btn btn-sm confirm-btn" value="Mark as signed" data-confirm="Are you sure you want to mark this (manual) contract as signed by the sponsor?"></form>{%endif%}
{%endif%}
     </td>
     <td>{%if ac.completed%}{{ac.completed}}{%else%}
      {%if not ac.digitalcontract%}<form method="post" action="markaddcontract/">{%csrf_token%}<input type="hidden" name="id" value="{{ac.id}}"><input type="hidden" name="which" value="org"><input type="submit" class="btn btn-sm confirm-btn" value="Mark as signed" data-confirm="Are you sure you want to mark this (manual) contract as signed by {{conference.contractsendername}}?"></form>{%endif%}
      {%endif%}
     </td>
     <td>{%if ac.completed and ac.digitalcontract and ac.digitalcontract.has_completed_pdf %}<a class="btn btn-sm btn-default" href="viewaddcontract/{{ac.id}}/">View signed</a>{%endif%}
     </td>
   </tr>
{%endfor%}
  </tbody>
</table>
{%endif%}

<h4>Send new contract</h4>
<form method="post" action="addcontract/" class="form-horizontal">{%csrf_token%}
{%include "confreg/admin_backend_form_content.html" with form=addcontractform savebutton="Send contract"%}
</form>
{%endif%}

{%else%}{%comment%}Sponsor confirmed{%endcomment%}
{%if sponsor.invoice%}
<p>
This sponsorship is awaiting an <a href="/invoiceadmin/{{sponsor.invoice.pk}}/">invoice</a> to be paid.
</p>
{%if not sponsor.level.instantbuy%}
{%comment%}Instant buy sponsorships should never be manually confirmed{%endcomment%}
<p>
<b>Iff</b> there is a signed <i>and</i> countersigned contract available
for this sponsor, it can be confirmed before the invoice is paid.
</p>
{%if sponsor.signmethod == 0%}
<p>
  <b>Note!</b> This sponsor is using digital contracts, which means you should normally not
  be confirming sponsorships manually, this should be handled automatically by the system.
</p>
{%endif%}
<p>
<form method="post" action=".">{%csrf_token%}
  <input type="submit" name="submit" value="Confirm sponsorship" class="btn btn-default confirm-btn" data-confirm="Once confirmed, there is no going back!">
</form>
</p>
{%endif%}
{%else%}
{%comment%}Sponsor has no invoice{%endcomment%}
{%if sponsor.level.levelcost %}
{%if sponsor.level.instantbuy%}
<p>
  This sponsorship has not yet been issued an invoice. This is an
  "instant buy" level sponsorship, so as soon as the sponsorship
  details above have been verified, an invoice should be generated.
</p>
<p>
  Once generated, the invoice will automatically
  be emailed to the sponsor, as well as show up on their dashboard. Once
  the invoice is paid, the sponsorship will automatically become confirmed.
</p>
{%else%}{%comment%}no invoice, not instant, so awaiting contract{%endcomment%}
{%if sponsor.signmethod == 0%}
<p>
  This sponsor is using digital contracts.
{%if sponsor.contract and sponsor.contract.completed%}
  The contract signing process has completed. The invoice has to be manually generated
  as automatic processing is not enabled.
{%elif sponsor.contract%}
  The contract has been sent to the sponsor, but the signing process has not completed yet.
{%else%}
  The contract has not (yet) been issued to the sponsor.
{%endif%}
</p>
{%else%}{%comment%}Manual (below)/digital (above) contracts{%endcomment%}
<p>
This sponsorship has not yet been issued an invoice. Once the contract
has been received, go ahead and generate the invoice.
</p>
{%endif%}{%comment%}Digital contracts{%endcomment%}
{%endif%}{%comment%}Instant buy{%endcomment%}
{%else%}{%comment%}levelcost != 0 {%endcomment%}
<p>
  This sponsorship has zero cost, which means payment is handled manually.
  Once this is done, go ahead and click through the confirmation.
</p>
{%endif%}{%comment%}levelcost{%endcomment%}

{%if sponsor.level.maxnumber > 0%}
<p{%if sponsor.level.num_total > sponsor.level.maxnumber%} style="color:red;"{%endif%}>
  This level allows a maximum of {{sponsor.level.maxnumber}} sponsors. There are currently
  {{sponsor.level.num_confirmed}} confirmed and {{sponsor.level.num_unconfirmed}} unconfirmed
  sponsors signed up at this level, make sure you don't approve too many!
</p>
{%endif%}
<form method="post" action=".">{%csrf_token%}
{%if sponsor.level.levelcost %}
<input type="submit" name="submit" value="Generate sponsorship invoice" class="btn btn-default{%if sponsor.signmethod == 0%} confirm-btn{%endif%}"{%if sponsor.signmethod == 0%} data-confirm="This sponsor is using a digital contract! Normally invoicing/confirmation is automatic through that system and you should *not* do it manually. are you sure you want to proceed?"{%endif%}>
{%else%}
<input type="submit" name="submit" value="Confirm sponsorship without invoice" class="btn btn-default confirm-btn" data-confirm="Once confirmed, there is no going back!">
{%endif%}
</form>
<br/>
<form method="post" action="." class="form-inline">{%csrf_token%}
<div class="form-group">
  <label for="rejectReason">Reason:</label>
  <input type="text" name="reason" class="form-control" placeholder="Public reason for rejection">
  <input type="submit" name="submit" value="Reject sponsorship" class="btn btn-default">
</div>
</form>
{%endif%}{%comment%}Has invoice{%endcomment%}
{%endif%}{%comment%}Is confirmed{%endcomment%}

<br/><br/>
<a class="btn btn-default btn-block" href="../">Return to sponsor list</a>
{%endblock%}
