{%extends "confreg/confadmin_base.html" %}
{%load markup%}
{%block title%}Conference Sponsorship - {{sponsor}}{%endblock%}
{%block extrahead%}
<style>
div.panelwrap {
   padding: 10px;
}
</style>
{%endblock%}
{%block layoutblock%}
<h1>Conference Sponsorship - {{sponsor}}</h1>

{%include "confsponsor/admin_sponsor_details.html" with details=1 %}

{%if sponsor.confirmed%}

<h2>Claimed benefits</h2>
{%if claimedbenefits%}
<div class="panel-group" id="claimedbenefits" role="tablist" role="tablist" aria-multiselectable="true">
{%for b in claimedbenefits%}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="claimed_h_{{b.id}}">
      <h4 class="panel-title">
	<a class="collapsed" role="button" data-toggle="collapse" data-parent="#claimedbenefits" href="#claimed_{{b.id}}" aria-expanded="false" aria-controls="claimed_{{b.id}}">{{b.benefit}}{%if not b.confirmed%} <i>NOT CONFIRMED</i>{%endif%}{%if b.declined%} <b>DECLINED!</b>{%endif%}</a>
      </h4>
    </div>
    <div id="claimed_{{b.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="claimed_h_{{b.id}}">
      <div class="panelwrap">
      {{b.declined|yesno:"Declined,Claimed"}} by <i>{{b.claimedby}}</i> on <i>{{b.claimedat}}</i><br/>
      {{b.benefit.benefitdescription|markdown}}
{%if b.claimhtml%}
      <div style="border: 1px solid black">{{b.claimhtml|safe}}</div>
{%endif%}
      <br/>
       <div class="row">
{%if not b.confirmed%}
        <div class="col-md-2">
	  <form method="post" action=".">{% csrf_token %}
	    <input type="hidden" name="confirm" value="1">
	    <input type="hidden" name="claimid" value="{{b.id}}">
	    <input type="submit" class="btn btn-primary btn-sm" value="Confirm this benefit">
	  </form>
	</div>
{%else%}
	<div class="col-md-1">
	  <span class="btn btn-success btn-sm disabled">Confirmed</span>
	</div>
{%endif%}
{%if b.can_unclaim %}
	<div class="col-md-1">
	  <form method="post" action=".">{% csrf_token %}
	    <input type="hidden" name="unclaim" value="1">
	    <input type="hidden" name="claimid" value="{{b.id}}">
	    <input type="submit" class="btn btn-warning btn-sm confirm-btn" value="Unclaim this benefit" data-confirm="You are about to unclaim this benefit, including sending an email to the sponsor about this?">
	  </form>
	</div>
{%endif%}
       </div>{# row of buttons #}
      </div>{# panelwrap #}
    </div>{# panel-collapse #}
  </div>{# panel #}
{%endfor%}
</div>{# panel-group #}
{%else%}
<p>There are no claimed benefits for this sponsor.</p>
{%endif%}

<h2>Pending benefits</h2>
{%if unclaimedbenefits%}
<div class="panel-group" id="unclaimedbenefits" role="tablist" role="tablist" aria-multiselectable="true">
{%for b in unclaimedbenefits%}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="unclaimed_h_{{b.id}}">
      <h4 class="panel-title">
	<a class="collapsed" role="button" data-toggle="collapse" data-parent="#unclaimedbenefits" href="#unclaimed_{{b.id}}" aria-expanded="false" aria-controls="unclaimed_{{b.id}}">{{b}}</a>
      </h4>
    </div>
    <div id="unclaimed_{{b.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="unclaimed_h_{{b.id}}">
      <div class="panelwrap">
	{{b.benefitdescription|markdown|default:"No description"}}
      </div>
    </div>
  </div>
{%endfor%}
</div>
{%else%}
<p>There are no unclaimed benefits for this sponsor.</p>
{%endif%}

{%if noclaimbenefits%}
<h2>Automatic benefits</h2>
<p>The following benefits have been auto-claimed for this sponsor:</p>
<div class="panel-group" id="noclaimbenefits" role="tablist" role="tablist" aria-multiselectable="true">
{%for b in noclaimbenefits%}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="noclaim_h_{{b.id}}">
      <h4 class="panel-title">
	<a class="collapsed" role="button" data-toggle="collapse" data-parent="#noclaimbenefits" href="#noclaim_{{b.id}}" aria-expanded="false" aria-controls="noclaim_{{b.id}}">{{b}}</a>
      </h4>
    </div>
    <div id="noclaim_{{b.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="noclaim_h_{{b.id}}">
      <div class="panelwrap">
	{{b.benefitdescription|markdown|default:"No description"}}
      </div>
    </div>
  </div>
{%endfor%}
</div>
{%endif%}

{%else%}{%comment%}Sponsor confirmed{%endcomment%}
{%if sponsor.invoice%}
<p>
This sponsorship is awaiting an <a href="/invoiceadmin/{{sponsor.invoice.pk}}/">invoice</a> to be paid.
</p>
{%if not sponsor.level.instantbuy%}
{%comment%}Instant buy sponsorships should never be manually confirmed{%endcomment%}
<p>
<b>Iff</b> there is a signed <i>and</i> countersigned contract available
for this sponsor, it can be confirmed before the invoice is paid.
</p>
<p>
<form method="post" action=".">{%csrf_token%}
  <input type="submit" name="submit" value="Confirm sponsorship" class="btn btn-default confirm-btn" data-confirm="Once confirmed, there is no going back!">
</form>
</p>
{%endif%}
{%else%}
{%comment%}Sponsor has no invoice{%endcomment%}
{%if sponsor.level.levelcost %}
{%if sponsor.level.instantbuy%}
<p>
<p>
  This sponsorship has not yet been issued an invoice. This is an
  "instant buy" level sponsorship, so as soon as the sponsorship
  details above have been verified, an invoice should be generated.
</p>
{%else%}
<p>
This sponsorship has not yet been issued an invoice. Once the contract
has been received, go ahead and generate the invoice.
</p>
{%endif%}{%comment%}Instant buy{%endcomment%}
<p>
  Once generated, the invoice will automatically
be emailed to the sponsor, as well as show up on their dashboard. Once
the invoice is paid, the sponsorship will automatically become confirmed.
</p>
{%else%}{%comment%}levelcost != 0 {%endcomment%}
<p>
  This sponsorship has zero cost, which means payment is handled manually.
  Once this is done, go ahead and click through the confirmation.
</p>
{%endif%}{%comment%}levelcost{%endcomment%}

{%if sponsor.level.maxnumber > 0%}
<p{%if sponsor.level.num_total > sponsor.level.maxnumber%} style="color:red;"{%endif%}>
  This level allows a maximum of {{sponsor.level.maxnumber}} sponsors. There are currently
  {{sponsor.level.num_confirmed}} confirmed and {{sponsor.level.num_unconfirmed}} unconfirmed
  sponsors signed up at this level, make sure you don't approve too many!
</p>
{%endif%}
<form method="post" action=".">{%csrf_token%}
{%if sponsor.level.levelcost %}
<input type="submit" name="submit" value="Generate invoice" class="btn btn-default">
{%else%}
<input type="submit" name="submit" value="Confirm sponsorship without invoice" class="btn btn-default confirm-btn" data-confirm="Once confirmed, there is no going back!">
{%endif%}
</form>
<br/>
<form method="post" action="." class="form-inline">{%csrf_token%}
<div class="form-group">
  <label for="rejectReason">Reason:</label>
  <input type="text" name="reason" class="form-control" placeholder="Public reason for rejection">
  <input type="submit" name="submit" value="Reject sponsorship" class="btn btn-default">
</div>
</form>
{%endif%}{%comment%}Has invoice{%endcomment%}
{%endif%}{%comment%}Is confirmed{%endcomment%}

<br/><br/>
<a class="btn btn-default btn-block" href="../">Return to sponsor list</a>
{%endblock%}
