{%extends "confreg/confadmin_base.html" %}
{%block title%}Conference Sponsorship{%endblock%}
{%block layoutblock%}
<h1>Conference Sponsorship - {{conference}}</h1>

{%if unconfirmed_benefits%}
<h2>Unconfirmed benefits</h2>
<p>
The following benefits have been claimed by sponsors, that have not yet been
confirmed. You should try to do this ASAP - this may include things like copying
an image to the website, or making sure there is space for a desk..
</p>
<table class="table table-condensed">
{%for b in unconfirmed_benefits%}
  <tr>
    <th class="col-md-3">{%ifchanged b.sponsor%}{{b.sponsor}}{%endifchanged%}</th>
    <td><a href="benefit/{{b.id}}/">{{b.benefit}}</a></td>
  </tr>
{%endfor%}
</table>
{%endif%}

{%if confirmed_sponsors%}
<h2>Confirmed sponsors</h2>
<p>
The following sponsors are confirmed:
</p>

{%regroup confirmed_sponsors by level as regrouped_sponsors%}
<table class="table table-condensed">
{%for level in regrouped_sponsors%}
  <tr>
    <th colspan="3" class="text-center active">{{level.grouper}}</th>
  </tr>
  <tr>
    <th class="col-md-5">Sponsor</th>
    <th>Confirmed</th>
    <th>Status</th>
  </tr>
{%for s in level.list%}
  <tr>
    <td class="col-md-5"><a href="{{s.id}}/">{{s}}</a></td>
    <td>{{s.confirmedat}}</td>
    <td>
      {%if s.invoice%}
       {%if s.invoice.paidat%}<span class="label label-success">Paid</span>
       {%elif s.invoice.isexpired%}<span class="label label-danger">Overdue invoice</span>
       {%else%}<span class="label label-info">Invoiced</span>
       {%endif%}
       {%else%}
      <span class="label label-warning">Not invoiced</span>
     {%endif%}
    </td>
  </tr>
{%endfor%}
{%endfor%}
</table>
{%endif%}

{%if unconfirmed_sponsors%}
<h2>Unconfirmed sponsors</h2>
<p>
The following sponsors have signed up, but are not yet confirmed. If you have handled the
sponsor manually, you may want to confirm them manually as well...
</p>
{%regroup unconfirmed_sponsors by level as regrouped_unconfirmed %}
<table class="table table-condensed">
{%for level in regrouped_unconfirmed%}
  <tr>
    <th colspan="3" class="text-center active">{{level.grouper}}</th>
  </tr>
  <tr>
    <th class="col-md-5">Sponsor</th>
    <th>Signed up</th>
    <th>Status</th>
  </tr>
{%for s in level.list%}
  <tr>
    <td><a href="{{s.id}}/">{{s}}</a></td>
    <td>{{s.signupat}}</td>
    <td>
      {%if s.invoice%}
        {%if s.invoice.isexpired%}
      <span class="label label-danger">Overdue invoice</span>
        {%else%}
      <span class="label label-success">Invoiced</span>
        {%endif%}
      {%else%}
        {%if s.signmethod == 0 and s.contract %}
          {%if s.contract.completed %}{# this state can only be reached when automatic contract processing is disabled, but in this case it indicates it's time to confirm #}
      <span class="label label-danger" title="Digital contract signed by sponsor at {{s.contract.firstsigned}} and {{conference.contractsendername}} ({{s.contract.completed}}), but sponsorship is not confirmed.">Contract signed and countersigned</span>
          {%elif s.contract.firstsigned %}
      <span class="label label-warning" title="Digital contract signed by sponsor at {{s.contract.firstsigned}}, but not by {{conference.contractsendername}}.">Pending with signed digital contract</span>
          {%else%}
      <span class="label label-info" title="Digital contract sent but not signed.">Pending with digital contract</span>
        {%endif%}
        {%else%}
      <span class="label label-info" title="Waiting for contract to be sent in.">Pending with manual contract</span>
        {%endif%}
      {%endif%}
    </td>
  </tr>
{%endfor%}
{%endfor%}
</table>
{%endif%}

<h2>Sponsor email</h2>
{%if mails%}
<p>
The following emails have been sent to sponsors so far:
</p>
{%if mails|length > 4 %}
<div class="partial-collapse" aria-expanded="false" id="collapsedMail">
{%endif%}
<table class="table table-condensed">
  <tr>
    <th>Sent at</th>
    <th>Subject</th>
    <th>Sent to level(s)</th>
    <th>Sent to sponsor(s)</th>
  </tr>
{%for m in mails%}
  <tr>
    <td>{{m.sentat|date:"Y-m-d H:i"}}</td>
    <td><a href="viewmail/{{m.id}}/">{{m.subject}}</a></td>
    <td>{{m.levels.all|join:", "}}</td>
    <td>{{m.sponsors.all|join:", "}}</td>
  </tr>
{%endfor%}
</table>
{%if mails|length > 4 %}
</div>
<a role="button" class="partial-collapse collapsed" data-toggle="collapse" href="#collapsedMail" aria-expanded="false" aria-controls="collapsedMail"></a>
{%endif%}

{%else%}
<p>
No sponsor emails have been sent yet.
</p>
{%endif%}

<p>
  <a href="sendmail/" class="btn btn-default">Send sponsor email</a>
</p>

<h2>Benefit matrix</h2>
<p>
This matrix gives a quick overview of the status of the different benefits for each sponsor, which can be:
</p>
<ul>
 <li>Blank - not claimed by sponsor</li>
 <li>Claimed - claimed by sponsor, but needs to be confirmed! See top of this page</li>
 <li>Confirmed - fully confirmed benefit</li>
 <li>Declined - sponsor chose to decline this benefit.</li>
</ul>
<br>
{%for levelname, level in benefitmatrix.items %}
<table class="table table-bordered table-striped table-hover">
 <tr><td colspan="{{level.matrix|first|length}}" align="center" bgcolor="gray"><strong>{{levelname}}</strong></td></tr>
 <tr>
  <td></td>
{%for c in level.cols%}
  <th>{{c}}</th>
{%endfor%}
 </tr>
{%for r in level.matrix%}
 <tr>
 {%for b in r%}<td>
{%if b == 0%}
{%elif b == 1%}<span class="label label-danger">Declined</span>
{%elif b == 2%}<span class="label label-info">Claimed</span>
{%elif b == 3%}<span class="label label-success">Confirmed</span>
{%else%}{{b}}{%endif%}
</td>{%endfor%}
 </tr>
{%endfor%}
</table>
<br>
{%endfor%}

{%if conference.askbadgescan %}
<h2>Badge scanning</h2>
<p>
  Badge scanning is (potentially) active for this conference.
</p>
<a href="badgescanstatus/" class="btn btn-default">View badge scan status</a>
<br>
{%endif%}


{%if has_shipment_tracking %}
<h2>Shipments</h2>
<a name="shipment"></a>
<table class="table table-condensed">
<tr class="active">
  <th>Sponsor</th>
  <th>ID</th>
  <th>Shipment</th>
  <th>Destination</th>
  <th>Sent</th>
  <th>Parcels</th>
  <th>Arrived</th>
  <th>Parcels arrived</th>
  <th>Action</th>
</tr>
{%for s in shipments%}
 <tr class="{{s.status_label_class}}">
   <td>{{s.sponsor|default:"Conference organizers"}}</td>
   <td>{{s.addresstoken}}</td>
   <td>{{s.description}}</td>
   <td>{{s.address.title}}</td>
   <td>{{s.sent_at|default:"Not sent"}}</td>
   <td>{%if s.sent_parcels%}{{s.sent_parcels}}{%else%}?{%endif%}</td>
   <td>{{s.arrived_at|default:""}}</td>
   <td>{%if s.arrived_at%}{{s.arrived_parcels}}{%endif%}</td>
   <td>
     <div class="btn-group">
       <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Edit shipment <span class="caret"></span></a>
       <ul class="dropdown-menu" role="menu">
	 <li role="presentation"><a href="/events/sponsor/shipments/{{s.address.token}}/{{s.addresstoken}}/">Edit as receiver</a></li>
	 <li role="presentation"><a href="{%if s.sponsor%}/events/sponsor/{{s.sponsor.id}}/{%endif%}shipments/{{s.addresstoken}}/">Edit as sender</a></li>
       </ul>
     </div>
   </td>
 </tr>
{%endfor%}
</table>

<a class="btn btn-primary" href="shipments/new/">Register new shipment</a>
{%endif%}

{%if eu_vat and  user.is_superuser %}
<h2>VAT testing</h2>
<p>
  Paste a VAT number to run a test on it, the same way that the sponsor
  signup form would do.
</p>
<form method="post" action="testvat/"> {% csrf_token %}
  <input type="text" name="vatnumber" placeholder="VAT number">
  <input class="btn btn-default" type="submit" value="Validate">
</form>
{%endif%}

<h2>Reports</h2>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="benefitreports/">Benefit reports</a></div>
</div>

<h2>Metadata</h2>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="levels/">Sponsorship levels</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="contracts/">Sponsorship contracts</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="addresses/">Shipment addresses</a></div>
</div>

{%endblock%}
