{%extends "base.html" %}
{%load markup%}
{%block title%}Conference Sponsorship - {{sponsor}}{%endblock%}
{%block extrahead%}
<link rel="stylesheet" href="/media/jq/jquery-ui.min.css" />
<script src="/media/jq/jquery-1.8.2.min.js"></script>
<script src="/media/jq/jquery-ui.min.js"></script>
<script language="javascript">
  $(function() {
    $(".benefit_list").accordion({
      collapsible: true,
      active: false,
      animate: false,
    });
    $(".btn").button();
  });
</script>
<style>
div.benefit_list div {
   height: auto !important;
}
</style>
{%endblock%}
{%block layoutblock%}
<h1>Conference Sponsorship - {{sponsor}}</h1>

{% if messages %}
<ul style="background-color: yellow;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>{{benefit.benefit}}</h2>
{%if benefit.confirmed%}
<p>This benefit has been fully confirmed.</p>
{%else%}
<p>
This benefit has not been confirmed. When you've validated the incoming data,
please do so!
</p>
<form method="post" action=".">{% csrf_token %}
<input type="hidden" name="confirm" value="1">
<input type="submit" class="btn" value="Confirm this benefit">
</form>
<p>
In case a sponsor has incorrectly claimed a benefit, you can unclaim it here.
That means it goes back to being claimable. You should normally never do this...
</p>
<form method="post" action=".">{% csrf_token %}
<input type="hidden" name="unclaim" value="1">
<input type="submit" class="btn" value="Un-claim this benefit">
</form>
<form method="post" action=".">
{%endif%}
<h3>Benefit details</h3>
{%if claimdata%}
<p>
The following data was submitted for this benefit:
</p>
<div style="border: 1px solid black;">
{{claimdata|safe}}
</div>
{%else%}
<p>No data was submitted with this benefit.</p>
{%endif%}

<h3>Benefit description</h3>
<div>
{{benefit.benefit.benefitdescription|markdown}}
</div>

<p>
<a href="../../{{sponsor.id}}/"">Return</a> to this sponsor.
</p>
<p>
<a href="../../">Return</a> to sponsor list.<br/>
</p>

{%endblock%}
