<table class="table table-condensed">
  <tr>
    <th class="col-md-2">Sponsor:</th>
    <td>{{sponsor.name}}</td>
  </tr>
  <tr>
    <th>Display name:</th>
    <td>{{sponsor.displayname}}</td>
  </tr>
  <tr>
    <th>Display name slug:</th>
    <td>{{sponsor.displayname | slugify}}</td>
  </tr>
  <tr>
    <th style="vertical-align:top;">Invoice address:</th>
    <td>{{sponsor.invoiceaddr|linebreaks}}</td>
  </tr>
{%if euvat%}
  <tr>
    <th>VAT number:</th>
    <td>{{sponsor.vatnumber}}</td>
  </tr>
{%endif%}
  <tr>
    <th>URL:</th>
    <td>{{sponsor.url}}</td>
  </tr>
  <tr>
    <th>Level:</th>
    <td>{{sponsor.level}}</td>
  </tr>
{%for name, handle in sponsor.social.items %}
  <tr>
    <th>{{name|title}}:</th>
    <td>{{handle}}</td>
  </tr>
{%endfor%}
  <tr>
    <th>Status:</th>
    <td>{%if sponsor.confirmed%}Confirmed ({{sponsor.confirmedat}}){%else%}<i>Awaiting confirmation (signed up {{sponsor.signupat}})</i>{%endif%}</td>
  </tr>
{%if details%}
  <tr>
    <th>Contract:</th>
    <td>
      {%if sponsor.level.contractlevel == 0 %}
      No contract needed for this level.
      {%elif sponsor.level.contractlevel == 1 and not sponsor.explicitcontract %}
      Click-through contract completed. {%if not sponsor.confirmed%}<form class="inline-block-form" method="post" action="resendcontract/">{% csrf_token %}<input type="submit" class="btn btn-sm btn-default confirm-btn" value="Re-send contract anyway" data-confirm="Are you sure you want to re-send a new contract to this sponsor?{%if sponsor.signmethod == 0%} {{conference.contractprovider.implementation.resendprompt}}{%endif%}"></form>{%endif%}
      {%elif sponsor.level.contractlevel == 2 or sponsor.explicitcontract %}{%comment%}Full contract, or explicit contract{%endcomment%}
       {%if sponsor.signmethod == 0%}
       Digital contract.<br/>
        {%if sponsor.contract.completed%}Signed ({{sponsor.contract.firstsigned}}) and countersigned ({{sponsor.contract.completed}}).
        {%elif sponsor.contract.firstsigned%}Signed by sponsor ({{sponsor.contract.firstsigned}}) but not by {{conference.contractsendername}}.
        {%else%}Contract not signed yet.
        {%endif%}<br/>
       {%if sponsor.contract.completed and sponsor.contract.has_completed_pdf %}<a href="contractview/" class="btn btn-sm btn-default">View signed contract</a>{%endif%}
       <a href="/events/sponsor/admin/{{conference.urlname}}/{{sponsor.id}}/contractlog/" class="btn btn-sm btn-default">View contract log</a>
       {%else%}
       Manual contract
       {%endif%}{# digital vs manual contract #}

       {%if sponsor.signmethod != 0 or conference.contractprovider.implementation.can_resend%}
        {%if not sponsor.confirmed %}
       <form class="inline-block-form" method="post" action="resendcontract/">{% csrf_token %}<input type="submit" class="btn btn-sm btn-default confirm-btn" value="Re-send contract" data-confirm="Are you sure you want to re-send a new contract to this sponsor?{%if sponsor.signmethod == 0%} {{conference.contractprovider.implementation.resendprompt}}{%endif%}"></form>
        {%endif%}
       {%endif%}{# can resend #}
      {%endif%}{# contractlevel #}
    </td>
  </tr>
{%if sponsor.invoice%}
  <tr>
    <th>Payment status:</th>
    <td>{%if sponsor.invoice.paidat%}Paid {{sponsor.invoice.paidat}} ({{sponsor.invoice.payment_method_description}}){%elif sponsor.invoice.isexpired%}Overdue{%else%}Invoiced{%endif%}
      <a href="/invoiceadmin/{{sponsor.invoice.id}}/" class="btn btn-sm btn-default">View invoice</a>
      {%if not sponsor.invoice.paidat%}<a href="reissue/" class="btn btn-sm btn-default" title="Reissue invoice with new details">Reissue invoice</a>{%endif%}
</td>
  </tr>
{%endif%}
{%if sponsor.confirmed%}
  <tr>
    <th>Refund/Cancel</th>
    <td>
      <a href="refund/" class="btn btn-sm btn-default">Cancel/refund sponsor</a>
    </td>
  </tr>
{%endif%}
  <tr>
    <th>Edit:</th>
    <td><a class="btn btn-default btn-sm" href="edit/">Edit sponsor</a></td>
  </tr>
  <tr>
    <th>View:</th>
    <td><a class="btn btn-default btn-sm" href="/events/sponsor/{{sponsor.id}}/">View as end user</a></td>
  </tr>
{%if sponsor.extra_cc%}
  <tr>
    <th>Extra CC</th>
    <td>{{sponsor.extra_cc}}</td>
  </tr>
{%endif%}
  <tr>
    <th>Managers:</th>
    <td><ul>
	{%for m in sponsor.managers.all%}
	<li>{{m.first_name}} {{m.last_name}} &lt;{{m.email}}&gt;</li>
	{%endfor%}
    </ul></td>
  </tr>
{%if sponsor.level.sponsor_scanning %}
  <tr>
    <th>Scanners:</th>
    <td><ul>
	{%for s in sponsor.sponsorscanner.all%}
	<li>s.scanner.fullname</li>
	{%endfor%}
    </ul></td>
  </tr>
{%endif%}
  <tr>
    <th>Send email:</th>
    <td><a class="btn btn-default btn-sm" href="../sendmail/?sendto=sponsor&preselectsponsors={{sponsor.id}}">Send email to sponsor</a></td>
  </tr>
{%endif%}{# if details #}
</table>
