{%extends "nav_events.html" %}
{%load pgmarkdown%}
{%block title%}Conference Benefit Claim - {{conference}}{%endblock%}
{%block extrahead%}
<style>
tr.error {
   background-color: #ffb6b6;
}
div.benefitClaimPrompt {
   color: red;
   font-weight: bold;
}
</style>
{%endblock%}
{%block content%}
<h1>Conference Benefit Claim - {{conference}}</h1>

<h2>{{benefit}}</h2>
<div>
{{benefit.benefitdescription|markdown}}
</div>

<h2>Claim benefit</h2>
<p>
Please fill out this form to claim the benefit.
</p>

{%if benefit.claimprompt%}
<div class="benefitClaimPrompt">
{{benefit.claimprompt|markdown}}
</div>
{%endif%}

{%if is_past %}
<div class="alert alert-danger">This conference is in the past! As an admin you can override, but should you really be claiming a benefit?</div>
{%elif benefit.expired%}
<div class="alert alert-danger">This benefit has expired! As an admin you can override, but should you really be claiming a benefit?</div>
{%endif%}

<form method="post" action="." enctype="multipart/form-data" class="pgeuform">{% csrf_token %}
{%include "forms/form_content.html" %}
</form>

<br/>
<a href="../../" class="btn btn-outline-dark">Back to your list of sponsorship benefits</a>

{%endblock%}
