{%extends "nav_events.html" %}
{%load markup%}
{%block title%}Purchase discount code - {{conference}}{%endblock%}
{%block extrahead%}
<style>
tr.error {
   background-color: #ffb6b6;
}
ul.errorlist li {
   display: block;
}
input#id_code {
   text-transform:uppercase;
}
</style>
{%endblock%}
{%block content%}
<h1>Purchase discount code - {{conference}}</h1>
<p>
On this page you can purchase a discount code for {{conference}}.
An invoice for this discount code will be generate once it has been
used fully, or once it has expired (based on the availability date).
By signing up for a discount code, you undertake to pay the discounted part
on this invoice, which will be made due for immediate payment once
generated.
</p>
<p>
Discount codes generated here will not be published by the organizers, and
the organizers take no responsibility for limiting the number of uses, other
than that specified in the order. It is the responsibility of the organization
ordering the discount codes to make sure they only reach the indented
recipients.
</p>
<p>
A discount code can be generated for a fixed amount or a percentage, but not
both (without generating separate discount codes). Each code will have a
maximum number of uses, to limit the maximum total amount, as well as a
final date for usage. Finally, a discount code can be set up to require
a specific option to be ordered before it's valid, for example to limit
the code only to attendees of a specific training session.
</p>

{%if form.errors%}
<p>
<b>NOTE!</b> Your submitted form contained errors and has <b>not</b> been saved!
</p>
{%endif%}

<form method="post" action=".">{% csrf_token %}
<table>
 <tr><th>Contact name</th><td>{{user_name}}</td></tr>
 <tr><th>Company name</th><td>{{sponsor.name}}</td></tr>
 <tr><th>Invoice address</th><td style="white-space: pre-line;">{{sponsor.invoiceaddr}}</td></tr>
{%for field in form%}
 <tr {%if field.errors%}class="error"{%endif%}>
  <th>{{field.label}}</th>
{%ifequal field.label "Confirm"%}
  <td colspan="2">{{field}} {{field.help_text}}</td>
{%else%}
  <td>{{field}}{%if field.help_text%}<br/>{{field.help_text}}{%endif%}</td>
  <td>{%if field.errors%}{{field.errors}}{%endif%}</td>
{%endifequal%}
 </tr>
{%endfor%}
</table>
<input type="submit" value="Purchase!" class="btn btn-primary">
</form>


{%endblock%}
