{%extends "nav_events.html" %}
{%load markup%}
{%block title%}Purchase attendee vouchers - {{conference}}{%endblock%}
{%block extrahead%}
<style>
tr.error {
   background-color: #ffb6b6;
}
</style>
{%endblock%}
{%block content%}
<h1>Purchase attendee vouchers - {{conference}}</h1>
<p>
On this page you can purchase a number of attendee vouchers.
Note that this will generate an invoice that is due for immediate
payment, and the vouchers will not be usable until this invoice
has been paid.
</p>

{%if form.errors%}
<p>
<b>NOTE!</b> Your submitted form contained errors and has <b>not</b> been saved!
</p>
{%endif%}

<table class="table table-sm">
 <tr><th>Contact name</th><td>{{user_name}}</td></tr>
 <tr><th>Company name</th><td>{{sponsor.name}}</td></tr>
 <tr><th>Invoice address</th><td style="white-space: pre-line;">{{sponsor.invoiceaddr}}</td></tr>
</table>

<form method="post" action="." class="pgeuform">{% csrf_token %}
{%include "forms/form_content.html" %}
</form>

<p>
Note that unused vouchers are <i>not</i> refunded!
</p>
</form>


{%endblock%}
