{%load assets%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" dir="ltr">
 <head>
  <title>{{conference.conferencename}} - badge scanning</title>
  <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{%if basehref%}<base href="{{basehref}}" />{%endif%}
  <link rel="shortcut icon" href="/favicon.ico" />
  {%asset "css" "bootstrap3" %}
  <link rel="stylesheet" media="screen" href="/media/css/badgescan.css" />
  {%asset "js" "jquery1" %}
  {%asset "js" "bootstrap3" %}
{%if not singletoken%}
  <script type="text/javascript" src="/media/js/instascan/instascan.min.js"></script>
{%endif%}
  <script type="text/javascript" src="/media/js/badgescan.js"></script>
 </head>
 <body data-tokenbase="{{sitebase}}/t/" data-single="{%if singletoken%}1{%else%}0{%endif%}"{%if singletoken %} data-single-token="{{singletoken}}"{%endif%}>
   <nav class="navbar navbar-default navbar-fixed-top" id="topnavbar">
     <div id="loading">
       <div class="spinner-ring"><div></div><div></div><div></div><div></div></div>
     </div>
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="#">{{conference.conferencename}} - badge scanning</a>
       </div>
     </div>
   </nav>
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div id="statusdiv" class="alert alert-warning fade">Loading...</div>
       </div>
     </div>
     <div class="row">
       <div class="col-md-12">
	 <div id="completed_div">
	 </div>
       </div>
     </div>
{% if not singletoken %}
     <div id="buttonrow" class="row approw">
       <div class="col-md-12 buttonrow">
         <button id="scanButton" class="btn btn-default btn-block btn-lg">Scan badge</button>
       </div>
       <div class="col-md-12 buttonrow">
         <button id="configureCameraButton" class="btn btn-default btn-block btn-lg">Configure camera</button>
       </div>
     </div>

     <div id="scanrow" class="row approw">
       <div class="row">
         <div class="col-md-12 center-block">
           <video id="qrpreview" playsinline>
           </video>
         </div>
       </div>
       <div class="col-md-12 buttonrow">
         <button class="btn btn-default btn-block btn-lg cancelButton">Cancel</button>
       </div>
     </div>

   </div>
{%endif %}{# singletoken #}

   <nav class="navbar navbar-default navbar-fixed-bottom">
     <div class="container-fluid">
       <div class="navbar-header">
         <div class="navbar-brand">
	   Scanning for {{sponsor.displayname}}.
         </div>
         <div class="navbar-brand pull-right">
         </div>
       </div>
     </div>
   </nav>


   <div class="modal fade" tabindex="-1" role="dialog" id="badgescanModal">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title">Scan badge</h4>
         </div>
         <div class="modal-body">
	   <dl class="badge_list">
	     <dt>Name</dt>
	     <dd id="badge_name"></dd>
	     <dt>Company</dt>
	     <dd id="badge_company"></dd>
	     <dt>Country</dt>
	     <dd id="badge_country"></dd>
	     <dt>Email</dt>
	     <dd id="badge_email"></dd>
	     <dt>Notes</dt>
	     <dd><textarea id="badge_note"></textarea></dd>
	   </dl>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default btn-primary" id="badgescanbutton">Store scan</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
         </div>
       </div>
     </div>
   </div><!-- selectUserModal -->

{%if not singletoken%}
   <div class="modal fade" tabindex="-1" role="dialog" id="selectCameraModal">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title">Select camera</h4>
         </div>
         <div class="modal-body" id="selectCameraBody">
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
         </div>
       </div>
     </div>
   </div><!-- selectCameraModal -->

{%endif %}{# singletoken #}

 </body>
</html>
