{%extends "confreg/confadmin_base.html" %}
{%block title%}Conference Sponsor Email - {{conference}}{%endblock%}
{%block extrahead%}
<style>
tr.error {
   background-color: #ffb6b6;
}
table.emailform tr {
   vertical-align: top;
}
table.emailform input[type=text],textarea {
   width: 500px;
}
</style>
{%endblock%}
{%block layoutblock%}
<h1>Conference Sponsor Email - {{conference}}</h1>
<p>
Using this form you can send an email to sponsors. It will immediately be
delivered to all current sponsors at the specified levels, but will also
be made available historically to both those and to anybody else who signs
up as a sponsor at that level later.
</p>

{%if mails%}
<h2>Previous emails</h2>
<ul>
{%for m in mails%}
 <li>{{m.sentat|date:"Y-m-d H:i"}} <a href="../viewmail/{{m.id}}/">{{m.subject}}</a> ({{m.levels.all|join:", "}})</li>
{%endfor%}
</ul>
{%endif%}

<h2>New email</h2>
<form method="post" action=".">{% csrf_token %}
<table class="emailform">
 <tr><th>From</th><td>{{conference.sponsoraddr}}</td></tr>
{%for field in form%}
 <tr {%if field.errors%}class="error"{%endif%}>
  <th>{{field.label}}</th>
  <td>{{field}}</td>
  <td>{%if field.errors%}{{field.errors}}{%endif%}</td>
 </tr>
{%endfor%}
</table>

<input type="submit" value="Send email!">
</form>

<p>
  <a href="/events/sponsor/admin/{{conference.urlname}}/">Back</a> to sponsors.
</p>
{%endblock%}
