{%extends "confreg/confadmin_base.html" %}
{%block title%}Conference Sponsor Email - {{conference}}{%endblock%}
{%block layoutblock%}
<h1>Conference Sponsor Email - {{conference}}</h1>
<p>
Using this form you can send an email to sponsors.
</p>
<p>
If you send an email to a sponsorship level, it will immediately be
delivered to the managers of all current sponsors at the specified
levels, but will also be made available historically to both those and
to anybody else who signs up as a sponsor at that level later.
</p>
<p>
If you send an email to individual sponsors, it will be immediately be
delivered to the managers of those sponsors, and also made available
historically for any current or future managers of the sponsor.
</p>

{%if mails%}
<h2>Previous emails</h2>
<table class="table table-condensed">
  <tr>
    <th>Sent at</th>
    <th>Subject</th>
    <th>Sent to level(s)</th>
    <th>Sent to sponsor(s)</th>
  </tr>
{%for m in mails%}
  <tr>
    <td>{{m.sentat|date:"Y-m-d H:i"}}</td>
    <td><a href="../viewmail/{{m.id}}/">{{m.subject}}</a></td>
    <td>{{m.levels.all|join:", "}}</td>
    <td>{{m.sponsors.all|join:", "}}</td>
  </tr>
{%endfor%}
</table>
{%endif%}

<h2>New email</h2>
{%if sendto %}
<form method="post" action="." class="form-horizontal">{% csrf_token %}
<input type="hidden" name="sendto" value="{{sendto}}">
{%include "confreg/admin_backend_form_content.html" with savebutton="Send mail" cancelurl="../" %}
{%else%}
<p>
  <a href="?sendto=level" class="btn btn-default">Send to sponsorship level</a>
  <a href="?sendto=sponsor" class="btn btn-default">Send to individual sponsors</a>
</p>
{%endif%}

<a href="/events/sponsor/admin/{{conference.urlname}}/" class="btn btn-default btn-block">Back to sponsors</a>
{%endblock%}
