{%extends "confreg/confadmin_base.html" %}
{%block title%}Conference Sponsor Email - {{conference}}{%endblock%}
{%block extrahead%}
<style>
tr.error {
   background-color: #ffb6b6;
}
table.emailform tr {
   vertical-align: top;
}
table.emailform input[type=text],textarea {
   width: 500px;
}
</style>
{%endblock%}
{%block layoutblock%}
<h1>Conference Sponsor Email - {{conference}}</h1>
<p>
Using this form you can send an email to sponsors. It will immediately be
delivered to all current sponsors at the specified levels, but will also
be made available historically to both those and to anybody else who signs
up as a sponsor at that level later.
</p>

{%if mails%}
<h2>Previous emails</h2>
<table class="table table-condensed">
  <tr>
    <th>Sent at</th>
    <th>Subject</th>
    <th>Sent to level(s)</th>
  </tr>
{%for m in mails%}
  <tr>
    <td>{{m.sentat|date:"Y-m-d H:i"}}</td>
    <td><a href="../viewmail/{{m.id}}/">{{m.subject}}</a></td>
    <td>{{m.levels.all|join:", "}}</td>
  </tr>
{%endfor%}
</table>
{%endif%}

<h2>New email</h2>
<form method="post" action=".">{% csrf_token %}
<table class="emailform">
 <tr><th>From</th><td>{{conference.sponsoraddr}}</td></tr>
{%for field in form%}
 <tr {%if field.errors%}class="error"{%endif%}>
  <th>{{field.label}}</th>
  <td>{{field}}</td>
  <td>{%if field.errors%}{{field.errors}}{%endif%}</td>
 </tr>
{%endfor%}
</table>

<br/>
<input type="submit" value="Send email!" class="btn btn-default">
</form>
<br/>

<a href="/events/sponsor/admin/{{conference.urlname}}/" class="btn btn-default btn-block">Back to sponsors</a>
{%endblock%}
