{%extends "nav_events.html" %}
{%load pgmarkdown%}
{%block title%}Conference Sponsor Email - {{conference}}{%endblock%}
{%block extrahead%}
<style>
tr.error {
   background-color: #ffb6b6;
}
</style>
{%endblock%}
{%block content%}
<h1>Conference Sponsor Email - {{conference}}</h1>
<table class="table">
 <tr>
  <th class="col-md-1">From:</th>
  <td>{{conference.sponsoraddr}}</td>
 </tr>
 <tr>
   <th>Date:</th>
   <td>{{mail.sentat|date:"Y-m-d H:i:s"}}</td>
 </tr>
 <tr>
   <th>Subject:</th>
   <td>{{mail.subject}}</td>
 </tr>
</table>

<pre>
{{body|markdown}}
</pre>

<a href="../../" class="btn btn-outline-dark">Back to sponsorship</a>

{%endblock%}
