{%extends "confreg/confadmin_base.html" %}
{%block title%}Conference Sponsor Email - {{conference}}{%endblock%}
{%block extrahead%}
<style>
tr.error {
   background-color: #ffb6b6;
}
</style>
{%endblock%}
{%block layoutblock%}
<h1>Conference Sponsor Email - {{conference}}</h1>
<table class="table">
 <tr>
  <th class="col-md-1">From:</th>
  <td>{{conference.sponsoraddr}}</td>
 </tr>
 <tr>
   <th>Date:</th>
   <td>{{mail.sentat|date:"Y-m-d H:i:s"}}</td>
 </tr>
 <tr>
   <th>Subject:</th>
   <td>{{mail.subject}}</td>
 </tr>
{%if admin%}
 <tr>
   <th>To:</th>
   <td>
     <ul>
{%if mail.levels.all%}<li>{{mail.levels.all|join:", "}}</li>{%endif%}
{%if mail.sponsors.all%}<li>{{mail.sponsors.all|join:", "}}</li>{%endif%}
     </ul>
   </td>
 </tr>
{%endif%}
</table>

<pre>
{{mail.message}}
</pre>

{%if admin%}
<a href="/events/sponsor/admin/{{conference.urlname}}/" class="btn btn-default btn-block">Back to sponsors</a>
{%else%}
<a href="../../" class="btn btn-default btn-block">Back to sponsorship</a>
{%endif%}

{%endblock%}
