{%extends "nav_events.html" %}
{%load markup%}
{%load formutil%}
{%block title%}Conference Sponsorship - {{sponsor.conference}}{%endblock%}
{%block content%}
<h1>Conference Sponsorship - {{sponsor.conference}}</h1>
<p></p>
{% if messages %}
<ul style="background-color: yellow;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<table class="table table-sm">
  <tr>
    <th>Sponsor:</th>
    <td>{{sponsor.name}}</td>
  </tr>
  <tr>
    <th>Display name:</th>
    <td>{{sponsor.displayname}}</td>
  </tr>
  <tr>
    <th>URL:</th>
    <td>{{sponsor.url}}</td>
  </tr>
  <tr>
    <th>Level:</th>
    <td>{{sponsor.level}}</td>
  </tr>
  <tr>
    <th>Status:</th>
    <td>{%if sponsor.confirmed%}Confirmed ({{sponsor.confirmedat}}){%else%}<i>Awaiting confirmation</i>{%endif%}</td>
  </tr>
{%if sponsor.twittername%}
  <tr>
    <th>Twittername:</th>
    <td>{{sponsor.twittername}}</td>
  </tr>
{%endif%}
{%if is_admin%}
  <tr bgcolor="red"><td colspan="2">You are viewing this as an administrator, <b>not</b> as the manager of the sponsorship!</td></tr>
{%endif%}
</table>
{%if not sponsor.confirmed%}
{%if sponsor.invoice %}
<p>
  Your sponsorship has been generated an invoice. Once this invoice is paid, your sponsorship
  will be confirmed, and you will be able to proceed to claim benefits.
</p>
{%with invoice=sponsor.invoice%}
{%include "invoices/userinvoice_spec.html"%}
{%endwith%}
{%else%}
{%comment%}No invoice generated{%endcomment%}
{%if sponsor.level.instantbuy%}
{%comment%}No invoice generated but instantbuy active, so awaiting admin approval{%endcomment%}
<p>
  Your sponsorship request has been submitted, and is currently awaiting confirmation
  from the conference organizers. As soon as it has been, an invoice will be automatically
  generated and sent to {{sponsor.managers.all.0.email}}.
</p>
{%else%}
<p>
  Your sponsorship request has been submitted, and is currently waiting for you to send in
  a signed contract. If you have not yet signed and sent in the contract, please
  <a href="/events/sponsor/viewcontract/{{sponsor.level.contract.id}}/">download</a>
  it, sign it, scan it and return to
  <a href="mailto:{{conference.sponsoraddr}}">{{conference.sponsoraddr}}</a>. If you have
  sent it, please wait a while for the conference organizers to process it. If you have not
  received a response after a couple of days, please send an email to the above address for
  a status update.
</p>
{%endif%}
{%endif%}
{%else%}
<p>
  Your sponsorship has been confirmed. Thank you!
</p>

{%if unclaimedbenefits%}
<h2>Claim / Turn down your benefits</h2>
<p>
Some of your sponsorship benefits require a specific claiming to be used - either because
we need to know if you want to use it, or because it requires further information from you.
Click on the benefit in the list below to claim them or turn them down:
</p>
<div id="unclaimedlist">
{%for b in unclaimedbenefits%}
 <div class="card">
   <div class="card-header p-0" id="unclaimed_h_{{b.id}}">
     <h5 class="m-0">
       <button class="btn btn-link" data-toggle="collapse" data-target="#unclaimed_b_{{b.id}}" aria-expanded="false" aria-controls="unclaimed_b_{{b.id}}">{{b}}</a>
     </h5>
   </div>
   <div id="unclaimed_b_{{b.id}}" class="collapse" aria-labelledby="unclaimed_h_{{b.id}}" data-parent="unclaimedlist">
     <div class="card-body">
       {{b.benefitdescription|markdown}}
       <a class="btn btn-primary" href="claim/{{b.id}}/">Claim / Turn down benefit</a>
     </div>
   </div>
 </div>
{%endfor%}
</div>
{%endif%}

{%if claimedbenefits%}
<h2>Already claimed benefits</h2>
<p>
The following benefits have already been claimed:
</p>
<div id="claimedbenefits">
{%for b in claimedbenefits%}
 <div class="card">
   <div class="card-header p-0" id="claimed_h_{{b.id}}">
     <h5 class="m-0">
       <button class="btn btn-link" data-toggle="collapse" data-target="#claimed_b_{{b.id}}" aria-expanded="false" aria-controls="claimed_b_{{b.id}}">{{b.benefit}}{%if not b.confirmed%} <i>(Not yet confirmed by the organizers)</i>{%endif%}{%if b.declined%} <b>(This benefit has been declined)</b>{%endif%}</a>
     </h5>
   </div>
   <div id="claimed_b_{{b.id}}" class="collapse" aria-labelledby="claimed_h_{{b.id}}" data-parent="claimedlist">
     <div class="card-body">
  {{b.declined|yesno:"Declined,Claimed"}} by <i>{{b.claimedby}}</i> on <i>{{b.claimedat}}</i><br/>
  <p>{{b.benefit.benefitdescription|markdown}}</p>
{%if b.claimhtml%}
  <div style="border: 1px solid black">{{b.claimhtml|safe}}</div>
{%endif%}
     </div>
   </div>
 </div>
{%endfor%}

{%for b in noclaimbenefits%}
 <div class="card">
   <div class="card-header p-0" id="unclaimed_h_{{b.id}}">
     <h5 class="m-0">
       <button class="btn btn-link" data-toggle="collapse" data-target="#unclaimed_b_{{b.id}}" aria-expanded="false" aria-controls="unclaimed_b_{{b.id}}">{{b}}</button>
     </h5>
   </div>
   <div id="unclaimed_b_{{b.id}}" class="collapse" aria-labelledby="unclaimed_h_{{b.id}}" data-parent="unclaimedlist">
     <div class="card-body">
       {{b.benefitdescription|markdown}}
     </div>
   </div>
 </div>
{%endfor%}
</div>
{%endif%}

{%if mails%}
<h2>Emails</h2>
<p>
The following emails have been sent to the sponsors for this conference.
</p>
<ul>
{%for m in mails%}
 <li>{{m.sentat|date:"Y-m-d H:i"}} <a href="viewmail/{{m.id}}/">{{m.subject}}</a></li>
{%endfor%}
</ul>
{%endif%}

{%if addresses%}
<a name="shipment"></a>
<h2>Shipments</h2>
<p>
  If you need to ship something to the event for your sponsorship benefits, you
  <strong>must</strong> follow the below instructions. Any shipments sent without
  following these instructions may be lost and we may be unable to help you.
</p>
{%if shipments%}
<h3>Shipment list</h3>
<table class="table table-sm">
  <tr>
    <th>Shipment ID</th>
    <th>Description</th>
    <th>Sent at</th>
    <th>Parcels sent</th>
    <th>Received at</th>
    <th>Parcels received</th>
    <th>Destination</th>
  </tr>
{%for s in shipments%}
  <tr class="table-{{s.status_label_class}}">
    <td><a href="shipments/{{s.addresstoken}}/">{{s.addresstoken}}</a></td>
    <td>{{s.description}}</td>
    <td>{{s.sent_at|default:"Not sent"}}</td>
    <td>{%if s.sent_parcels%}{{s.sent_parcels}}{%else%}?{%endif%}</td>
    <td>{{s.arrived_at|default:""}}</td>
    <td>{%if s.arrived_at%}{{s.arrived_parcels}}{%endif%}</td>
    <td>{{s.address.title}}</td>
  </tr>
{%endfor%}
</table>
{%endif%}
<p>
  To make a shipment, you must start by requesting a new shipment id and address.
</p>
<a href="shipments/new/" class="btn btn-primary">Request new shipment</a>
{%endif%}

{%if sponsor.level.canbuyvoucher or sponsor.level.canbuydiscountcode or vouchers or discountcodes%}
<h2>Vouchers and discount codes</h2>
{%if sponsor.level.canbuyvoucher or vouchers%}
<h3>Vouchers</h3>
<p>
Voucher codes are used to pay for an entire registration, and can
be tied to a specific registration type. Once this code is input,
it will cover the registration, but any additional items purchased
will be paid for by the attendee. A single voucher can only be used
by one attendee.
</p>
{%if vouchers%}
<table class="table">
 <tr>
  <th>Code</th>
  <th>Used by</th>
  <th>Used at</th>
 </tr>
{%for v in vouchers%}
 <tr>
  <td>{{v.vouchervalue}}</td>
  <td>{{v.user.fullname|default:''}}</td>
  <td>{{v.usedate|default:''}}</td>
 </tr>
{%endfor%}
</table>
{%endif%}
{%if pendingvouchers%}
<h3>Pending vouchers</h3>
<p>
The following invoices are currently pending payment for generation
of vouchers. As soon as they are paid, the vouchers will appear on
this page.
</p>
<ul>
{%for v in pendingvouchers%}
 <li>Invoice #<a href="/invoices/{{v.invoice.id}}/">{{v.invoice.id}}</a></li>
{%endfor%}
</ul>
{%endif%}
{%if sponsor.level.canbuyvoucher%}
<h3>Purchase vouchers</h3>
  <a href="purchase/voucher/" class="btn btn-primary">Purchase one or more vouchers</a>
<p>
Note that if your sponsorship includes free entries, you only need to
purchase vouchers if you want more than those included. To enable the
included vouchers, claim the benefit in the list above and they will
be generated at no cost.
</p>
{%endif%}
{%endif%}{%comment%}canbuyvoucher or vouchers{%endcomment%}

{%if sponsor.level.canbuydiscountcode or discountcodes%}
<h3>Discount codes</h3>
<p>
Discount codes are codes that will give either a fixed amount of
discount, or a percentage off of the fees. A discount code can be
used by multiple attendees, but have a limit on the number of
uses.
</p>
<p>
You can purchase discount codes to for example give to employees
or customers. The cost of the discounts used will automatically
be invoiced to you once the code is used.
</p>

{%if discountcodes%}
<table class="table">
 <tr>
   <th>Code</th>
   <th>Status</th>
   <th>Max uses</th>
   <th>Expires</th>
   <th>Uses</th>
   <th>Confirmed regs</th>
 </tr>
{%for c in discountcodes%}
 <tr>
   <td>{{c.code}}</td>
   <td>{{c.is_invoiced|yesno:"closed,active"}}</td>
   <td>{{c.maxuses}}</td>
   <td>{{c.validuntil|date:"Y-m-d"}}</td>
   <td>{{c.count}}</td>
   <td><ul>
{%for r in c.registrations.all%}{%if r.payconfirmedat%}
<li>{{r.fullname}}</li>
{%endif%}{%endfor%}
   </ul></td>
 </tr>
{%endfor%}
</table>
{%endif%}

{%if sponsor.level.canbuydiscountcode%}
  <a href="purchase/discountcode/" class="btn btn-primary">Purchase a discount code</a>
{%endif%}
{%endif%}{%comment%}canbuydiscountcode or discountcodes{%endcomment%}

{%endif%}{%comment%}anything about discount codes{%endcomment%}

<h2>Edit managers</h2>
<p>
If you want your sponsorship to be managed by more than one person, you can manage it here.
Everybody listed as a manager will receive all emails for sponsors, and will also be able
to add/remove other managers.
</p>
<p>
Note that in order to be able to add somebody as a manager of an organization, that person
must already have an account and have logged in at least once.
</p>
<p>Current managers:</p>
<ul>
{%for m in sponsor.managers.all%}
<li><form method="post" action="managers/del/" class="form-inline">{{m.first_name}} {{m.last_name}} ({{m.email}}){%csrf_token%}<input type="hidden" name="id" value="{{m.id}}"> <input type="submit" value="Delete" class="btn btn-outline-dark btn-sm ml-4"></form></li>
{%endfor%}
</ul>

<p>Add manager:</p>
<form method="post" action="managers/add/">{% csrf_token %}
Email: <input type="text" name="email">
<input type="submit" value="Add manager" class="btn btn-primary">
</form>

<h2>Edit information address</h2>
<p>
  All information emails about your sponsorship will be sent with one copy to each of
  the managers listed above, and will also be available by going back to this page at
  any time. If you wish to have a copy of the information delivered to another address
  <em>as well</em> (such as a team address), you can enter it here.
</p>
<form method="post" action=".">{% csrf_token %}
  <table class="table">
{%for field in detailsform %}
 <tr {%if field.errors%}class="table-danger"{%endif%}>
  <th class="col-md-2">{{field.label}}</th>
  <td class="col-md-4">{{field|field_class:"form-control"}}{%if field.help_text%}<br/>{{field.help_text}}{%endif%}</td>
  <td>{%if field.errors%}{{field.errors}}{%endif%}</td>
 </tr>
{%endfor%}
  </table>
  <input type="submit" class="btn btn-primary" value="Save information address">
</form>
{%endif%}{%comment%}confirmed sponsorship{%endcomment%}

<p>
<br/>
{%if is_admin%}
<a href="/events/sponsor/admin/{{sponsor.conference.urlname}}/{{sponsor.id}}/" class="btn btn-outline-dark">Return to the sponsorship administration</a>
{%else%}
<a href="../" class="btn btn-outline-dark">Return to your sponsorship overview</a>
{%endif%}
</p>
{%endblock%}
