{%extends "base.html" %}
{%load markup%}
{%block title%}Conference Sponsorship - {{sponsor.conference}}{%endblock%}
{%block extrahead%}
<link rel="stylesheet" href="/media/jq/jquery-ui.min.css" />
<script type="text/javascript" src="/media/jq/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/media/jq/jquery-ui.min.js"></script>
<script type="text/javascript">
  $(function() {
    $(".benefit_list").accordion({
      collapsible: true,
      active: false,
      animate: false,
    });
    $(".btn").button();
  });
</script>
<style>
div.benefit_list div {
   height: auto !important;
}
</style>
{%endblock%}
{%block layoutblock%}
<h1>Conference Sponsorship - {{sponsor.conference}}</h1>
<p></p>
{% if messages %}
<ul style="background-color: yellow;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<table border="0" cellspacing="4" cellpadding="0">
  <tr>
    <th>Sponsor:</th>
    <td>{{sponsor.name}}</td>
  </tr>
  <tr>
    <th>Display name:</th>
    <td>{{sponsor.displayname}}</td>
  </tr>
  <tr>
    <th>URL:</th>
    <td>{{sponsor.url}}</td>
  </tr>
  <tr>
    <th>Level:</th>
    <td>{{sponsor.level}}</td>
  </tr>
  <tr>
    <th>Status:</th>
    <td>{%if sponsor.confirmed%}Confirmed ({{sponsor.confirmedat}}){%else%}<i>Awaiting confirmation</i>{%endif%}</td>
  </tr>
{%if sponsor.twittername%}
  <tr>
    <th>Twittername:</th>
    <td>{{sponsor.twittername}}</td>
  </tr>
{%endif%}
{%if is_admin%}
  <tr bgcolor="red"><td colspan="2">You are viewing this as an administrator, <b>not</b> as the manager of the sponsorship!</td></tr>
{%endif%}
</table>
{%if not sponsor.confirmed%}
{%if sponsor.invoice %}
<p>
  Your sponsorship has been generated an invoice. Once this invoice is paid, your sponsorship
  will be confirmed, and you will be able to proceed to claim benefits.
</p>
{%with invoice=sponsor.invoice%}
{%include "invoices/userinvoice_spec.html"%}
{%endwith%}
{%else%}
{%comment%}No invoice generated{%endcomment%}
<p>
  No invoice has been generated for your sponsorship. That means we are awaiting a signed
  contract. If you have not yet signed and sent in the contract, please
  <a href="/events/sponsor/viewcontract/{{sponsor.level.contract.id}}/">download</a>
  it, sign it, scan it and return to
  <a href="mailto:{{conference.sponsoraddr}}">{{conference.sponsoraddr}}</a>.
</p>
{%endif%}
{%else%}
<p>
  Your sponsorship has been confirmed. Thank you!
</p>

{%if unclaimedbenefits%}
<h2>Claim your benefits</h2>
<p>
Some of your sponsorship benefits requires a specific claiming to be used - either because
we need to know if you want to use it, or because it requires further information from you.
Click on the benefit in the list below to claim it:
</p>
<div class="benefit_list">
{%for b in unclaimedbenefits%}
<h2>{{b}}</h2>
<div>
  <p>{{b.benefitdescription|markdown}}</p>
  <a class="btn" href="claim/{{b.id}}/">Claim benefit</a>
</div>
{%endfor%}
</div>
{%endif%}

{%if claimedbenefits%}
<h2>Already claimed benefits</h2>
<p>
The following benefits have already been claimed:
</p>
<div class="benefit_list">
{%for b in claimedbenefits%}
<h2>{{b.benefit}}{%if not b.confirmed%} <i>(Not yet confirmed by the organizers)</i>{%endif%}{%if b.declined%} <b>(This benefit has been declined)</b>{%endif%}</h2>
<div>
  {{b.declined|yesno:"Declined,Claimed"}} by <i>{{b.claimedby}}</i> on <i>{{b.claimedat}}</i><br/>
  <p>{{b.benefit.benefitdescription|markdown}}</p>
{%if b.claimhtml%}
  <div style="border: 1px solid black">{{b.claimhtml|safe}}</div>
{%endif%}
</div>
{%endfor%}
{%for b in noclaimbenefits%}
<h2>{{b}}</h2>
<div>
{{b.benefitdescription|markdown}}
</div>
{%endfor%}
</div>
{%endif%}

{%if mails%}
<h2>Emails</h2>
<p>
The following emails have been sent to the sponsors for this conference.
</p>
<ul>
{%for m in mails%}
 <li>{{m.sentat|date:"Y-m-d H:i"}} <a href="viewmail/{{m.id}}/">{{m.subject}}</a></li>
{%endfor%}
</ul>
{%endif%}

{%if sponsor.level.canbuyvoucher or sponsor.level.canbuydiscountcode or vouchers or discountcodes%}
<h2>Vouchers and discount codes</h2>
{%if sponsor.level.canbuyvoucher or vouchers%}
<h3>Vouchers</h3>
<p>
Voucher codes are used to pay for an entire registration, and can
be tied to a specific registration type. Once this code is input,
it will cover the registration, but any additional items purchased
will be paid for by the attendee. A single voucher can only be used
by one attendee.
</p>
{%if vouchers%}
<table>
 <tr>
  <th>Code</th>
  <th>Used by</th>
  <th>Used at</th>
 </tr>
{%for v in vouchers%}
 <tr>
  <td>{{v.vouchervalue}}</td>
  <td>{{v.user.fullname|default:''}}</td>
  <td>{{v.usedate|default:''}}</td>
 </tr>
{%endfor%}
</table>
{%endif%}
{%if pendingvouchers%}
<h3>Pending vouchers</h3>
<p>
The following invoices are currently pending payment for generation
of vouchers. As soon as they are paid, the vouchers will appear on
this page.
</p>
<ul>
{%for v in pendingvouchers%}
 <li>Invoice #<a href="/invoices/{{v.invoice.id}}/">{{v.invoice.id}}</a></li>
{%endfor%}
</ul>
{%endif%}
{%if sponsor.level.canbuyvoucher%}
<h3>Purchase vouchers</h3>
<p>
<a href="purchase/voucher/">Purchase</a> one or more vouchers.
</p>
<p>
Note that if your sponsorship includes free entries, you only need to
purchase vouchers if you want more than those included. To enable the
included vouchers, claim the benefit in the list above and they will
be generated at no cost.
</p>
{%endif%}
{%endif%}{%comment%}canbuyvoucher or vouchers{%endcomment%}

{%if sponsor.level.canbuydiscountcode or discountcodes%}
<h3>Discount codes</h3>
<p>
Discount codes are codes that will give either a fixed amount of
discount, or a percentage off of the fees. A discount code can be
used by multiple attendees, but have a limit on the number of
uses.
</p>
<p>
You can purchase discount codes to for example give to employees
or customers. The cost of the discounts used will automatically
be invoiced to you once the code is used.
</p>

{%if discountcodes%}
<table>
 <tr>
   <th>Code</th>
   <th>Status</th>
   <th>Max uses</th>
   <th>Expires</th>
   <th>Uses</th>
   <th>Confirmed regs</th>
 </tr>
{%for c in discountcodes%}
 <tr>
   <td>{{c.code}}</td>
   <td>{{c.is_invoiced|yesno:"closed,active"}}</td>
   <td>{{c.maxuses}}</td>
   <td>{{c.validuntil|date:"Y-m-d"}}</td>
   <td>{{c.count}}</td>
   <td><ul>
{%for r in c.registrations.all%}{%if r.payconfirmedat%}
<li>{{r.fullname}}</li>
{%endif%}{%endfor%}
   </ul></td>
 </tr>
{%endfor%}
</table>
{%endif%}

{%if sponsor.level.canbuydiscountcode%}
<p>
<a href="purchase/discountcode/">Purchase</a> a discount code.
</p>
{%endif%}
{%endif%}{%comment%}canbuydiscountcode or discountcodes{%endcomment%}

{%endif%}{%comment%}anything about discount codes{%endcomment%}

<h2>Edit managers</h2>
<p>
If you want your sponsorship to be managed by more than one person, you can manage it here.
Everybody listed as a manager will receive all emails for sponsors, and will also be able
to add/remove other managers.
</p>
<p>
Note that in order to be able to add somebody as a manager of an organization, that person
must already have a PostgreSQL community account and have logged in once.
</p>
<p>Current managers:</p>
<ul>
{%for m in sponsor.managers.all%}
<li>{{m.first_name}} {{m.last_name}} ({{m.email}}) (<a href="managers/del/?id={{m.id}}">delete</a>)</li>
{%endfor%}
</ul>

<p>Add manager:</p>
<form method="post" action="managers/add/">{% csrf_token %}
Email: <input type="text" name="email">
<input type="submit" value="Add manager">
</form>
{%endif%}{%comment%}confirmed sponsorship{%endcomment%}

<p>
{%if is_admin%}
<a href="/events/sponsor/admin/{{sponsor.conference.urlname}}/{{sponsor.id}}/">Return</a> to the sponsorship administration.
{%else%}
<a href="../">Return</a> to your sponsorship overview.
{%endif%}
</p>
{%endblock%}
