{%extends "adm/admin_base.html" %}
{%block title%}Digital signatures log{%endblock%}

{%block layoutblock%}
<h1>Digital signatures log</h1>
<p>
  This shows the last 100 entries only.
</p>

<table class="table table-bordered table-striped table-condensed table-hover">
<tr>
  <th>Time</th>
  <th>Event</th>
  <th>Description</th>
  <th>Document</th>
{%if hasdetails %}
  <th></th>
{%endif%}
</tr>
{%for l in log%}
<tr>
  <td>{{l.time}}</td>
  <td>{{l.event}}</td>
  <td>{{l.text}}</td>
  <td>{{l.document.id}}</td>
{%if hasdetails %}
  <td><a href="{{l.id}}/" class="btn btn-sm btn-default">Details</a></td>
{%endif%}
</tr>
{%endfor%}
</table>
{%endblock%}

