{%extends "admin/base.html"%}
{%block branding%}
{%if is_debugging%}
PGEU CODEBASE IN DEBUG MODE!
{%endif%}
{%endblock%}
{%block extrahead%}
<link rel="stylesheet" href="/media/jq/jquery-ui.min.css" type="text/css">
<link href="/media/selectable/css/dj.selectable.css" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="/media/jq/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/media/jq/jquery-ui.min.js"></script>
<script type="text/javascript" src="/media/selectable/js/jquery.dj.selectable.js"></script>
<style>
ul.selectable-deck li.selectable-deck-item a.selectable-deck-remove {
   float: none;
   margin-left: 10px;
}
div.related-widget-wrapper input.ui-autocomplete-input {
   width: 20em;
}
div.field-timerange div p.datetime {
   display: inline-block;
   margin-left: 0;
   padding-left: 0;
   margin-right: 30px;
}
{%if is_debugging%}
#header {
   background: red;
}
{%endif%}
</style>
{%endblock%}
