{%extends "admin/base.html"%}
{%block branding%}
{%if is_debugging%}
PGEU CODEBASE IN DEBUG MODE!
{%else%}
Welcome to the PostgreSQL EU administration site. {%endif%}
Shortcuts:
<a href="/invoiceadmin/">Invoices</a> |
<a href="/events/admin/">Conferences</a> |
{%endblock%}
{%block extrahead%}
<link rel="stylesheet" href="/media/jq/jquery-ui.min.css" type="text/css">
<link href="/media/selectable/css/dj.selectable.css" type="text/css" media="all" rel="stylesheet">
<script src="/media/jq/jquery-1.8.2.min.js"></script>
<script src="/media/jq/jquery-ui.min.js"></script>
<script type="text/javascript" src="/media/selectable/js/jquery.dj.selectable.js"></script>
<style>
ul.selectable-deck li.selectable-deck-item a.selectable-deck-remove {
   float: none;
   margin-left: 10px;
}
div.related-widget-wrapper input.ui-autocomplete-input {
   width: 20em;
}
{%if is_debugging%}
#header {
   background: red;
}
{%endif%}
</style>
{%endblock%}
