{%extends "admin/base.html"%}
{%block branding%}
{%if is_debugging%}
PGEU CODEBASE IN DEBUG MODE!
{%endif%}
{%endblock%}
{%block extrahead%}
<link rel="stylesheet" href="/media/jq/jquery-ui.min.css" type="text/css">
<script type="text/javascript" src="/media/jq/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/media/jq/jquery-ui.min.js"></script>
<style>
div.field-timerange div p.datetime {
   display: inline-block;
   margin-left: 0;
   padding-left: 0;
   margin-right: 30px;
}
{%if is_debugging%}
#header {
   background: red;
}
{%endif%}
</style>
{%endblock%}
