{%extends "navbase.html"%}
{%block title%}Pay with bank transfer{%endblock%}
{%block content%}
<h1>Pay with bank transfer</h1>
<p>
To pay your invoice using bank transfer, please make a payment
according to the following:
</p>

<p>
  NOT SET UP PROPERLY YET.
</p>

<p>
<b>Note</b> that it is <b><i>very</i></b> important that you provide the
correct text on the transfer, or we may not be able to match your payment
to the correct invoice. In particular, the beginning of the title including
the invoice number <i>must</i> be present.
</p>

<p>
<b>Note</b> that bank transfers take a few days to process, so if your
payment is nedeed repidly in order to confirm something, this is not a good
choice of payment method.
</p>

{%if returnurl%}<a href="{{returnurl}}" class="btn btn-outline-dark">Return to payment options</a>{%endif%}

{%endblock%}
