{%extends "adm/admin_base.html" %}
{%block title%}Match pending bank transaction{%endblock%}
{%block layoutblock %}
<h1>Match pending bank transaction</h1>

<div class="row">
  <div class="col-md-2"><strong>Transaction text</strong></div>
  <div class="col-md-8">{{transaction.transtext}}</div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Amount</strong></div>
  <div class="col-md-8">{{currency_symbol}} {{transaction.amount}}</div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Payment method</strong></div>
  <div class="col-md-8">{{transaction.method.internaldescription}}</div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Comments</strong></div>
  <div class="col-md-8">{{transaction.comments|linebreaksbr}}</div>
</div>

<h2>Pending invoices</h2>
<p>
  Select an invoice to match payment to.
</p>

<form method="get" action="multimatch/">
<div class="row">
  <table class="table table-sm table-striped table-hover">
    <tr>
      <th>Invoice</th>
      <th>Title</th>
      <th>Amount</th>
      <th>Recipient</th>
      <th>Match</th>
      <th>Action</th>
    </tr>
{%for im in invoice_matchinfo %}
    <tr{%if im.matchlabel%} class="{{im.matchlabel}}"{%endif%}>
      <td>{{im.i.id}}</td>
      <td>{{im.i.title}}</td>
      <td class="nobr">{{currency_symbol}} {{im.i.total_amount}}</td>
      <td>{{im.i.recipient_name}}</td>
      <td>{{im.matchinfo|linebreaksbr}}</td>
      <td>
	<a href="{{im.i.id}}/" class="btn btn-{%if im.matchlabel%}primary{%else%}default{%endif%} btn-xs">Match this invoice</a><br/>
	<div class="checkbox">
	  <label>
	    <input type="checkbox" name="invoiceid" value="{{im.i.id}}">Match multiple
	  </label>
	</div>
      </td>
    </tr>
{%endfor%}
  </table>
</div>
<input type="submit" class="btn btn-default" value="Match to multiple invoices">
</form>

{%if matchers%}
<h2>Pending matchers</h2>
<p>
  Select a matcher to match tihs payment to. Normally this should always be
  matched with the regexp, but in case it doesn't a manual match can be done
  here.
</p>
<p>
  Only matchers where the amount matches exactly are included.
</p>

<div class="row">
  <table class="table table-sm table-striped table-hover">
    <tr>
      <th>Pattern</th>
      <th>Amount</th>
      <th>Journal Entry</th>
      <th>Action</th>
    </tr>
{%for m in matchers%}
    <tr>
      <td>{{m.pattern}}</td>
      <td class="nobr">{{currency_symbol}} {{m.amount}}</td>
      <td><a href="/accounting/e/{{m.journalentry.id}}/">{{m.journalentry}}</a></td>
      <td><a href="m{{m.id}}/" class="btn btn-default btn-xs">Match this matcher</a></td>
    </tr>
{%endfor%}
  </table>
{%endif%}

{%endblock%}
