{%extends "adm/admin_base.html" %}
{%load humanize%}
{%block title%}Invoices{%endblock%}
{%block extrahead%}
<style>
tr.invoice-deleted {
   text-decoration: line-through;
}
</style>
{%endblock%}
{%block layoutblock %}
<h1>Invoices</h1>

<div class="row bottom-spaced-row">
  <div class="btn-group" role="group">
    <a type="button" class="btn btn-{%if unpaid%}primary{%elif has_unpaid%}warning{%else%}default{%endif%}" href="/invoiceadmin/">Unpaid</a>
    <a type="button" class="btn btn-{%if pending%}primary{%elif has_pending%}warning{%else%}default{%endif%}" href="/invoiceadmin/pending/">Pending</a>
    <a type="button" class="btn btn-{{paid|yesno:"primary,default"}}" href="/invoiceadmin/paid">Paid</a>
    <a type="button" class="btn btn-{{deleted|yesno:"primary,default"}}" href="/invoiceadmin/deleted/">Canceled</a>
  </div>
  <div class="btn-group" role="group">
    <form method="post" action="/invoiceadmin/search/">{% csrf_token %}
      <div class="input-group">
	<input class="form-control" type="text" name="term" value="{{searchterm|default:""}}" placeholder="Search">
	<span class="input-group-btn">
	  <input type="submit" value="Search" class="btn btn-default" />
	</span>
      </div>
    </form>
  </div>
</div>

<div class="row">
<table class="table table-sm table-striped table-hover">
<tr>
 <th>Num</th>
 <th>Title</th>
 <th>Recipient</th>
 <th>Amount</th>
 <th>Sent</th>
 <th>Due</th>
 <th>Paid</th>
 <th>Status</th>
</tr>
{%for invoice in invoices.object_list %}
<tr class="{%if invoice.deleted%}invoice-deleted {%endif%}{%if invoice.isexpired and not invoice.deleted %}danger {%endif%}">
 <td><a href="/invoiceadmin/{{invoice.id}}/">{{invoice.id}}</a></td>
 <td><a href="/invoiceadmin/{{invoice.id}}/">{{invoice.title}}</a></td>
 <td style="white-space: nowrap">{{invoice.recipient_name}}</td>
 <td style="white-space: nowrap; text-align: right;">{%if invoice.total_amount > 0%}{{invoice.total_amount|intcomma}}{%endif%}</td>
 <td style="white-space: nowrap">{{invoice.invoicedate}}</td>
 <td style="white-space: nowrap" class="duedate" >{{invoice.duedate}}</td>
 <td style="white-space: nowrap">{%if invoice.ispaid%}{{invoice.paidat}}{%else%}No{%endif%}</td>
 <td>
{%if not invoice.finalized %}
Not finalized
{%elif invoice.ispaid%}
Paid
{%if invoice.has_refund%}
(refunds issued)
{%endif%}
{%elif invoice.deleted %}
Canceled
{%elif invoice.isexpired %}
Overdue
{%else%}
Awaiting payment
{%endif%}
 </td>
</tr>
{%endfor%}
</table>

{%include "adm/include/paginator.html" with pageobjects=invoices %}

</div>{#row#}

<div class="row">
  <div class="col-md-2">
    <a class="btn btn-default btn-primary" href="/invoiceadmin/new/">Create new invoice</a>
  </div>
</div>
{%endblock%}
