{%extends "nav_membership.html"%}
{%load humanize%}
{%block title%}Invoices{%endblock%}
{%block extrahead%}
<style>
tr.invoice-deleted {
   text-decoration: line-through;
}
tr.invoice-expired td.duedate {
   color: red;
   font-weight: bold;
}
ul.messages {
  background-color: yellow;
  list-style-type: none;
  padding: 2px;
  padding-left: 20px;
}
</style>
{%endblock%}
{%block layoutblock%}
<h1>Invoices</h1>

{% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

<p>
{%if not unpaid and not pending and not deleted and not refunded and not searchterm%}All{%else%}<a href="/invoiceadmin/all/">All</a>{%endif%}
|
{%if unpaid %}Unpaid{%else%}<a href="/invoiceadmin/">Unpaid</a>{%endif%}
|
{%if pending %}Pending{%else%}<a href="/invoiceadmin/pending/">Pending</a>{%endif%}
|
{%if deleted %}Deleted{%else%}<a href="/invoiceadmin/deleted/">Deleted</a>{%endif%}
|
{%if refunded %}Refunded{%else%}<a href="/invoiceadmin/refunded/">Refunded</a>{%endif%}
</p>

<form method="post" action="/invoiceadmin/search/" style="margin-bottom: 8px">{% csrf_token %}
<input type="text" name="term" value="{{searchterm|default:""}}"><input type="submit" value="Search"/>
</form>

<table border="1" cellspacing="0" cellpadding="3">
<tr>
 <th>Num</th>
 <th>Title</th>
 <th>Recipient</th>
 <th>Amount</th>
 <th>Sent</th>
 <th>Due</th>
 <th>Paid</th>
 <th>Finalized</th>
</tr>
{%for invoice in invoices.object_list %}
<tr class="{%if invoice.deleted%}invoice-deleted {%endif%}{%if invoice.isexpired and not invoice.deleted%}invoice-expired {%endif%}">
 <td><a href="/invoiceadmin/{{invoice.id}}/">{{invoice.id}}</a></td>
 <td><a href="/invoiceadmin/{{invoice.id}}/">{{invoice.title}}</a></td>
 <td style="white-space: nowrap">{{invoice.recipient_name}}</td>
 <td style="white-space: nowrap; text-align: right;">{%if invoice.total_amount > 0%}{{invoice.total_amount|intcomma}}{%endif%}</td>
 <td style="white-space: nowrap">{{invoice.invoicedate|date:"Y-m-d"}}</td>
 <td style="white-space: nowrap" class="duedate" >{{invoice.duedate|date:"Y-m-d"}}</td>
 <td style="white-space: nowrap">{%if invoice.refund%}Refunded{%elif invoice.ispaid%}{{invoice.paidat|date:"Y-m-d"}}{%else%}No{%endif%}</td>
 <td>{{invoice.finalized|yesno}}</td>
</tr>
{%endfor%}
</table>

<div class="pagination">
  <span class="step-links">
    {% if invoices.has_previous %}
    <a href="?page={{ invoices.previous_page_number }}{%if searchterm%}&term={{searchterm}}{%endif%}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ invoices.number }} of {{ invoices.paginator.num_pages }}.
    </span>

    {% if invoices.has_next %}
    <a href="?page={{ invoices.next_page_number }}{%if searchterm%}&term={{searchterm}}{%endif%}">next</a>
    {% endif %}
  </span>
</div>

<hr />
<p>
<a href="/invoiceadmin/new/">Create</a> new invoice.
</p>

{%endblock%}
