{%extends "adm/admin_base.html" %}
{%load assets%}
{%load currency%}
{%load formutil%}
{%load util %}
{%block title%}{%if invoice.id%}Invoice #{{invoice.id}}{%else%}New invoice{%endif%}{%endblock%}
{%block extrahead%}
{%asset "js" "selectize" %}
{%asset "css" "selectize" %}

<script type="text/javascript">
function sendEmail(reason) {
   var q = '';
   if (reason == 'initial') {
      q = 'This will send an email to {{invoice.recipient_email}}, with the invoice attached. Are you sure you want to do this?';
   }
   else if (reason == 'reminder') {
      q = 'This will send reminder email to {{invoice.recipient_email}}, with the invoice attached, specifying that it was supposed to have been paid {{invoice.duedate}}. Are you sure you want to do this?';
   }
   else {
      alert('You must select which type of email to send!');
      return;
   }

   if (confirm(q)) {
      $.post(
         'send_email/',
         {
            'reason': reason,
            'csrfmiddlewaretoken': '{{csrf_token}}',
         }).success(function() {
            alert('Email sent!');
         }).fail(function(xhr, status, error) {
            alert('Failed to send email: ' + error + '!\n' + xhr.responseText);
         });
   }
}

function extendCancel(days) {
   if (confirm('Are you sure you want to extend the cancelation date by ' + days + ' days?\n(Note that no notification is sent to the user)')) {
      document.location.href = 'extend_cancel/?days=' + days;
   }
}

function recompute_vat_sum_for_row(fieldid) {
   var rownum = fieldid.substring(18, 18+fieldid.substring(18).indexOf('-'));
   var prefix = '#id_invoicerow_set-' + rownum + '-';

   var totval = Number($(prefix + 'rowcount').val()) * Number($(prefix + 'rowamount').val());

   var vatval;
   var vatrateid = $(prefix+'vatrate').val();
   if (vatrateid) {
      vatval = totval * Number(vatmap[vatrateid])/100;
   }
   else {
      vatval = 0;
   }

   $(prefix + 'totalfield').val((totval+vatval).toFixed(2));

}

$(function() {
   /* Update initial VAT sums */
   $('input[id$="-rowcount"]').each(function() {
      recompute_vat_sum_for_row(this.id);
   });
   /* Set listeners that update the sums */
   $('.sumfield').change(function() {
      if (this.id.startsWith('id_invoicerow_set-')) {
         recompute_vat_sum_for_row(this.id);
      }
   });

   /* Selectize for username */
   $('#id_recipient_user').selectize({
      plugins: ['remove_button'],
      valueField: 'id',
      labelField: 'value',
      searchField: 'value',
      load: function(query, callback) {
         if (!query.length) return callback();
         $.ajax({
            'url': '/events/admin/lookups/accounts/',
            'type': 'GET',
            'dataType': 'json',
            'data': {
               'query': query,
            },
            'error': function() { callback();},
            'success': function(res) { callback(res.values);},
         });
      },
      onChange: function() {
         var v = $('#id_recipient_user').val();
         var o = $('#id_recipient_user').selectize()[0].selectize.options[v];
         if (o) {
            var r = new RegExp("^(.*)\\s+\\(");
            var a = r.exec(o.value);
            $('#id_recipient_name').val(a[1]);
            $('#id_recipient_email').val(o.email);
         }
      },
   });

});

var vatmap = {
{%for v in vatrates%}{{v.id}}:{{v.vatpercent}}{%if not forloop.last%},{%endif%}{%endfor%}
};
</script>
{%endblock%}
{%block layoutblock %}
<div class="row">
{%if invoice.id%}
<h1>Invoice #{{invoice.id}} - {{invoice.statusstring}}</h1>
{%else%}
<h1>New invoice</h1>
{%endif%}
</div>

{%if invoice.finalized%}
<div class="row buttonrow">
  <a href="/invoices/{{invoice.id}}/pdf/" class="btn btn-default btn-block">View PDF</a>
</div>
<div class="row buttonrow">
  <a href="/invoices/{{invoice.id}}/" class="btn btn-default btn-block">View as recipient</a>
</div>
{%if adminurl%}
<div class="row buttonrow">
  <a href="{{adminurl}}" class="btn btn-default btn-block">View related object in source system</a>
</div>
{%endif%}
{%endif%}

<div class="row">
{%if invoice.deleted%}
<h2>Canceled</h2>
<div class="alert alert-info">
  This invoice has been <b>canceled.</b> The reason given was: <i>{{invoice.deletion_reason}}</i>.
</div>
{%else%} {%comment%}deleted{%endcomment%}

{%if invoice.ispaid%}
<h2>Paid</h2>
<p>
This invoice has been <b>paid</b>.
</p>
{%if invoice.paidusing%}
<p>
 This invoice was paid using {{invoice.paidusing.internaldescription}}. The payment fees were {{invoice.payment_fees}}.
</p>
{%else%}
<p>This invoice was manually flagged as paid.</p>
{%endif%}
<h2>Refunds</h2>
{%if invoice.invoicerefund_set.all %}
<table class="table table-bordered table-striped table-hover table-condensed">
  <tr>
    <th>Refund id</th>
    <th>Amount</th>
    <th>VAT</th>
    <th>Description</th>
    <th>Registered</th>
    <th>Issued</th>
    <th>Completed</th>
  </tr>
{%for refund in invoice.invoicerefund_set.all %}
  <tr>
    <td>{%if refund.completed%}<a href="/invoices/{{invoice.id}}/refundnote/{{refund.id}}/">{{refund.id}}</a>{%else%}{{refund.id}}{%endif%}</td>
    <td class="text-right">{{refund.amount}}</td>
    <td class="text-right">{%if refund.vatamount%}{{refund.vatamount}} ({{refund.vatrate.shortname}}){%endif%}</td>
    <td>{{refund.reason}}</td>
    <td>{{refund.registered}}</td>
    <td>{{refund.issued|default:""}}</td>
    <td>{{refund.completed|default:""}}</td>
  </tr>
{%endfor%}
{%if invoice.total_refunds.remaining.amount%}
  <tr>
    <th>Remaining</th>
    <th class="text-right">{{invoice.total_refunds.remaining.amount}}</th>
    <th class="text-right">{{invoice.total_refunds.remaining.vatamount}}</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
{%endif%}
</table>
{%endif%}
{%if invoice.processor%}
<div class="row">
  <div class="col-md-12">
    <strong>Warning!</strong> This invoice was created using an
    automated system, and should normally be refunded from that
    system. Manual refunds are allowed, but be careful as this can
    create inconsistencies between the systems!
  </div>
</div>
{%endif%}

{%if invoice.total_refunds.remaining.amount%}
<div class="row">
  <div class="col-md-2">
    <a href="refund/" class="btn btn-default btn-block">Refund invoice</a>
  </div>
</div>
{%else%}
<div class="row">
  <div class="col-md-12">
    This invoice has been fully refunded.
  </div>
</div>
{%endif%}{# remaining to refund#}
{%else%}{# paid#}
{%if invoice.finalized%}
<h2>Payment</h2>
<p>
This invoice has not been paid. You can flag it as paid manually if a
payment has been received that could not be automatically processed. To
do this, you must give a "description" of it, that will be entered into the
system for permanent record. This reason should include details like a
transaction id from the payment system or bank. It will, of course,
also be tagged with your userid <i>{{user.username}}</i>.
</p>

<form method="post" action="flag/">{% csrf_token %}
<div class="input-group col-md-6">
  <input type="text" class="form-control" name="reason" placeholder="Description of payment" />
  <span class="input-group-btn">
    <input type="submit" name="submit" value="Flag invoice as paid" class="btn btn-default"/>
  </span>
</div>
</form>

<h2>Cancel</h2>
<p>
  As this invoice has not yet been paid, it can be canceled. This will generate a note to the
  receiver that the invoice has been canceled, including the specified reason.
</p>
<form method="post" action="cancel/" class="inline-form">{% csrf_token %}
  <div class="input-group col-md-6">
    <input type="text" class="form-control" name="reason" placeholder="Reason for cancellation" />
    <span class="input-group-btn">
      <input type="submit" name="submit" value="Cancel invoice" class="btn btn-default confirm-btn" data-confirm="The invoice will be canceled and a note sent to the receiver." />
    </span>
  </div>
</form>

{%endif%}{# finalized #}
{%endif%}{# not paid #}

{%endif%}{%comment%}deleted/refunded{%endcomment%}
</div>

<div class="row">
<h2>Invoice</h2>
<form method="post" action="." class="form-horizontal">{% csrf_token %}
{%include "confreg/admin_backend_form_content.html" with nobuttons=True %}

<h2>Invoice rows</h2>

{{ formset.management_form }}
{%for form in formset.forms%}
{%if forloop.first%}
<div class="row">
  {%for field in form.visible_fields%}
  {%if forloop.last%}{# ugly hack to get in before the delete key #}<div class="col-md-2">Total</div>{%endif%}
  <div class="col-md-{%if forloop.first%}3{%elif forloop.last%}1{%else%}2{%endif%}">{{field.label|capfirst}}</div>
  {%endfor%}
</div>
{%endif%}
<div class="row form-group">
  {%for field in form.visible_fields%}
  {%if forloop.first%}{{form.id}}{%endif%}
  {%if forloop.last%}{# ugly hack to get in before the delete key #}
  <div class="col-md-2"><input type="text" id="{{field.id_for_label|stringreplace:"DELETE,totalfield"}}" readonly></div>
  {%endif%}
  <div class="col-md-{%if forloop.first%}3{%elif forloop.last%}1{%else%}2{%endif%} controls{%if field.errors%} bg-danger{%endif%}">
    {{field.errors}}
    {%if field|ischeckbox%}{{field}}{%else%}{{field|field_class:"form-control"}}{%endif%}
  </div>
  {%endfor%}
</div>
{%endfor%}

{%if not invoice.deleted and not invoice.ispaid%}
<div class="row buttonrow">
  <div class="col-md-2"><input type="submit" name="submit" value="Save" class="btn btn-primary btn-block" /></div>
{%if invoice.pk%}
{%if not invoice.finalized%}
  <div class="col-md-2"><input type="submit" name="submit" value="Finalize" class="btn btn-default btn-block" data-toggle="tooltip" data-placement="bottom" title="Note! Finalizing will lock this invoice from further editing!"  /></div>
  <div class="col-md-2"><input type="submit" name="submit" value="Preview" class="btn btn-default btn-block" data-toggle="tooltip" data-placement="bottom" title="Note! Saves before preview!" /></div>
  <div class="col-md-2"><input type="submit" name="submit" value="Delete" class="btn btn-default btn-block confirm-btn" data-toggle="tooltip" data-placement="bottom" title="Note! Actually deletes. To flag-as-deleted, first finalize the invoice" data-confirm="This will actually delete the invoice. To flag as deleted (normal case), first finalize the invoice and then cancel it."/></div>
</div>
{%endif%}
{%endif%}
{%endif%}
</form>
</div><!-- .row -->

{%if invoice.finalized %}
<h2>Operations</h2>
<div class="row buttonrow">
{%if not invoice.deleted and not invoice.ispaid %}
 <div class="col-md-2">
   <div class="dropdown">
     <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Send mail <span class="caret"></span></button>
     <ul class="dropdown-menu">
       <li><a href="javascript:sendEmail('initial');">Initial email</a></li>
{%if invoice.isexpired%}
       <li><a href="javascript:sendEmail('reminder');">Reminder</a></li>
{%endif%}
     </ul>
   </div>
 </div>
{%endif%}

{%if not invoice.ispaid %}

{%if invoice.canceltime%}
 <div class="col-md-4">
   <div class="dropdown">
     <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Autocancels in ({{invoice.canceltime|timeuntil}}) <span class="caret"></span></button>
     <ul class="dropdown-menu">
       <li><a href="javascript:extendCancel(1)">Extend by 1 day</a></li>
       <li><a href="javascript:extendCancel(5)">Extend by 5 days</a></li>
     </ul>
   </div>
 </div>
{%endif%} {# autocancel #}

{%endif%} {# is not paid #}
</div>{# buttonrow #}
{%endif%}{# finalized #}

{%if invoice.invoicehistory_set.all%}
<h2>Invoice history</h2>
<p>
The following events have occured throughout the life of this invoice:
</p>
<table class="table table-bordered table-striped table-hover table-condensed">
 <tr>
   <th>Time</th>
   <th>Event</th>
   </tr>
 {%for h in invoice.invoicehistory_set.all %}
 <tr>
   <td style="padding-right: 10px;">{{h.time}}</td>
   <td>{{h.txt}}</td>
 </tr>
 {%endfor%}
</table>
{%endif%}

<div class="row">
  <a href="/invoiceadmin/" class="btn btn-default btn-block">Back</a>
</div>

{%endblock%}
