{%extends "nav_financial.html"%}
{%load util %}
{%block title%}Invoice administration{%endblock%}
{%block extrahead%}
<style>
input[readonly="readonly"], textarea[readonly="readonly"] {
   background-color: lightgray;
}
ul.messages {
  background-color: yellow;
  list-style-type: none;
  padding: 2px;
  padding-left: 20px;
}
</style>
<link rel="stylesheet" href="/media/jq/jquery-ui.min.css" />
<script type="text/javascript" src="/media/jq/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/media/jq/jquery-ui.min.js"></script>
<script type="text/javascript" src="/media/js/selectize.min.js"></script>
<script type="text/javascript" src="/media/selectable/js/jquery.dj.selectable.js"></script>
<link rel="stylesheet" href="/media/css/selectize.css" />
<link rel="stylesheet" href="/media/css/selectize.default.css" />

<script type="text/javascript">
function sendEmail() {
   var reason = $('#emailreason').val();
   var q = '';
   if (reason == 'initial') {
      q = 'This will send an email to {{invoice.recipient_email}}, with the invoice attached. Are you sure you want to do this?';
   }
   else if (reason == 'reminder') {
      q = 'This will send reminder email to {{invoice.recipient_email}}, with the invoice attached, specifying that it was supposed to have been paid {{invoice.duedate|date:"Y-m-d"}}. Are you sure you want to do this?';
   }
   else {
      alert('You must select which type of email to send!');
      return;
   }

   if (confirm(q)) {
      $.ajax({
         'url': 'send_email/?really=yes&reason=' + reason,
         'success': function() {
            alert('Email sent!');
         },
         'error': function(xhr, status, error) {
            alert('Failed to send email: ' + error + '!\n' + xhr.responseText);
         },
      });
   }
}

function extendCancel() {
   if (confirm('Are you sure you want to extend the cancelation date by 5 days?\n(Note that no notification is sent to the user)')) {
      document.location.href = 'extend_cancel/';
   }
}

function confirm_delete() {
    return confirm('Are you sure you want to mark this invoice as deleted?');
}

function confirm_reallydelete() {
   return confirm('Are you sure you want to delete this invoice?');
}

function recompute_vat_sum_for_row(fieldid) {
   var rownum = fieldid.substring(18, 18+fieldid.substring(18).indexOf('-'));
   var prefix = '#id_invoicerow_set-' + rownum + '-';

   var totval = Number($(prefix + 'rowcount').val()) * Number($(prefix + 'rowamount').val());

   var vatval;
   var vatrateid = $(prefix+'vatrate').val();
   if (vatrateid) {
      vatval = totval * Number(vatmap[vatrateid])/100;
   }
   else {
      vatval = 0;
   }

   $(prefix + 'totalfield').val((totval+vatval).toFixed(2));

}

$(function() {
   /* Update initial VAT sums */
   $('input[id$="-rowcount"]').each(function() {
      recompute_vat_sum_for_row(this.id);
   });
   /* Set listeners that update the sums */
   $('.sumfield').change(function() {
      if (this.id.startsWith('id_invoicerow_set-')) {
         recompute_vat_sum_for_row(this.id);
      }
   });

   $('#id_recipient_user_0').change(function() {
      var v = $('#id_recipient_user_0').val();
      var r = new RegExp("^.*\\((.*) \\[(.*)\\]\\)$");
      var a = r.exec(v);
      if (a) {
         $('#id_recipient_name').val(a[1]);
         $('#id_recipient_email').val(a[2]);
      }
   });
});

var vatmap = {
{%for v in vatrates%}{{v.id}}:{{v.vatpercent}}{%if not forloop.last%},{%endif%}{%endfor%}
};
</script>
{%endblock%}
{%block content %}
{%if invoice.id%}
<h1>Invoice #{{invoice.id}}</h1>
{%else%}
<h1>New invoice</h1>
{%endif%}

<a href="/invoiceadmin/" class="btn btn-outline-dark">Back</a>

{% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

{%if invoice.finalized%}
<p>
This invoice has been finalized and can no longer be edited.
</p>
<a href="/invoices/{{invoice.id}}/" class="btn btn-outline-dark">View as recipient</a>
{%endif%}

{%if invoice.deleted%}
<p>
<br/>
<h2>This invoice has been <i>deleted</i>!</h2>
<br/><br/><br/><br/>
</p>
<p>
The reason given was: <i>{{invoice.deletion_reason}}</i>.
</p>
{%elif invoice.refund%}
<p>
<br/>
<h2>This invoice has been <i>refunded</i>!</h2>
<p>
The reason given was: <i>{{invoice.refund.reason}}</i>.
</p>
<p>
  {%if invoice.refund.completed%}The refund process completed at {{invoice.refund.completed}}.
  {%elif invoice.refund.issued%}The refund was sent to the provider at {{invoice.refund.issued}}, and we are currently awaiting the results from there.
  {%else%}The refund was scheduled at {{invoice.refund.registered}} but has not yet been processed.
  {%endif%}
</p>
{%else%} {%comment%}deleted/refunded{%endcomment%}

{%if invoice.ispaid%}
<p>
This invoice has been <b>paid</b>.
</p>
{%if invoice.paidusing%}
<p>
  This invoice was paid using {{invoice.paidusing}}. The payment fees were {{currency_symbol}}{{invoice.payment_fees}}.
</p>
{%else%}
<p>This invoice was manually flagged as paid.</p>
{%endif%}
<a href="refund/" class="btn btn-outline-dark">Refund invoice</a>
{%else%}{# paid#}
{%if invoice.finalized%}
<p>
This invoice has not been paid. You can flag it as paid manually if a
payment has been received that could not be automatically processed. To
do this, you must give a "reason" for it, that will be entered into the
system for permanent record. This reason should include details like a
transaction id from the payment system or bank. It will, of course,
also be tagged with your userid <i>{{user.username}}</i>.
</p>
<form method="post" action="flag/">{% csrf_token %}
 Reason: <input type="text" name="reason" />
 <input type="submit" name="submit" value="Flag invoice as paid" class="btn btn-outline-dark"/>
</form>
{%endif%}
{%endif%}

{%endif%}{%comment%}deleted/refunded{%endcomment%}

<hr/>

<form method="post" action=".">{% csrf_token %}
<table>
{%if form.errors%}
 <tr class="errorheader">
  <td colspan="2">Please correct the errors below, and re-submit the form.</td>
 </tr>
{%endif%}
{%for field in form%}
 {%if field.errors %}
 <tr class="error">
  <td colspan="2">{{field.errors.as_ul}}</td>
 </tr>
 {%endif%}
 <tr {%if field.errors%}class="errorinfo"{%endif%}>
  <th>{{field.label_tag}}</th>
  <td>{{field}}</td>
 </tr>
{%endfor%}
</table>
<h2>Invoice rows</h2>
<table>

{{ formset.management_form }}
{%for form in formset.forms%}
{%if forloop.first%}
<tr>
  {%for field in form.visible_fields%}
  {%if forloop.last%}{# ugly hack to get in before the delete key #}<th>Total</th>{%endif%}
  <th>{{field.label|capfirst}}</th>
  {%endfor%}
</tr>
{%endif%}
<tr>
  {%for field in form.visible_fields%}
  {%if forloop.last%}{# ugly hack to get in before the delete key #}
  <td><input type="text" id="{{field.id_for_label|stringreplace:"DELETE,totalfield"}}" readonly></td>
  {%endif%}
  <td>
    {%if forloop.first%}{{form.id}}{%endif%}
    {{field.errors}}
    {{field}}
  </td>
  {%endfor%}
</tr>
{%endfor%}
</table>
{%if not invoice.deleted and not invoice.ispaid%}
<input type="submit" name="submit" value="Save" class="btn btn-primary" />
<br/>
{%if invoice.pk%}
{%if not invoice.finalized%}
<input type="submit" name="submit" value="Finalize" class="btn btn-outline-dark" /> (Note! Finalizing will lock this invoice from further editing!)
<br/>
<input type="submit" name="submit" value="Preview" class="btn btn-outline-dark" /> (Note! Saves before preview!)
<br/>
<input type="submit" name="submit" value="Delete" onclick="return confirm_reallydelete()" class="btn btn-outline-dark"/> (Note! Actually deletets. To flag-as-deleted, first finalize the invoice)
{%endif%}
{%endif%}
{%endif%}
</form>
{%if invoice.finalized and not invoice.deleted and not invoice.ispaid%}
<select name="emailreason" id="emailreason">
 <option value="*">** Select email type</option>
 <option value="initial">Initial email</option>
{%if invoice.isexpired%}
 <option value="reminder">Reminder</optino>
{%endif%}
</select> <button onclick="sendEmail()" class="btn btn-outline-dark">Send email</button><br/>
{%endif%}

{%if invoice.finalized and not invoice.ispaid %}
<br/>
<h2>Invoice cancellation</h2>
<form method="post" action="cancel/">{% csrf_token %}
 Reason: <input type="text" name="reason" />
 <input type="submit" name="submit" value="Cancel invoice" onclick="return confirm_delete()" class="btn btn-outline-dark"/>
 <br/>
 <p><b>Note!</b> The reason given is included in the cancellation notice to the end user!</p>
</form>
{%if invoice.canceltime%}
<h3>Auto cancellation</h3>
<p>
This invoice will be automatically canceled at {{invoice.canceltime}}.
</p>
<button onclick="extendCancel()" class="btn btn-outline-dark">Extend by 5 days</button><br/>
{%endif%}
{%endif%}

<h2>Invoice history</h2>
<p>
The following events have occured throughout the life of this invoice:
</p>
<table>
 <tr>
   <th>Time</th>
   <th>Event</th>
   </tr>
 {%for h in invoice.invoicehistory_set.all %}
 <tr>
   <td style="padding-right: 10px;">{{h.time}}</td>
   <td>{{h.txt}}</td>
 </tr>
 {%endfor%}
</table>

<br/>
<a href="/invoiceadmin/" class="btn btn-outline-dark">Back</a>

{%endblock%}
