{%extends "base.html"%}
{%block title%}Invoice Refund{%endblock%}
{%block extrahead%}
<style>
input[readonly="readonly"], textarea[readonly="readonly"] {
   background-color: lightgray;
}
ul.messages {
  background-color: yellow;
  list-style-type: none;
  padding: 2px;
  padding-left: 20px;

}
table.refundtable tr td:nth-child(1) {
  width: 130px;
}
table.refundtable tr td:nth-child(2) {
  text-align: right;
}
table.refundtable tr td input {
  width: 250px;
}
table.refundtable tr td input[type="number"] {
  width: 100px;
}
table.refundtable table.invoicerows {
  width: 600px;
}
table.refundtable table.invoicerows th:nth-child(1) {
   text-align: center;
}
table.refundtable table.invoicerows td:nth-child(1) {
   width: 350px;
   text-align: left;
}
table.refundtable input[type="number"] {
   text-align: right;
}
</style>
{%endblock%}
{%block layoutblock%}
<h1>Refund of invoice #{{invoice.id}}</h1>

<p><a href="../">Back</a> to invoice.</p>

{% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form method="post" action=".">{% csrf_token %}
<table class="refundtable">
  <tr>
    <td colspan="2"><b>#{{invoice.id}} - {{invoice.title}}</b></td>
  </tr>
  <tr>
    <td>Invoice number:</td>
    <td>{{invoice.id}}</td>
  </tr>
  <tr>
    <td>Total amount:</td>
    <td>{{currency_symbol}}{{invoice.total_amount}}</td>
  </tr>
  <tr>
    <td>Total VAT:</td>
    <td>{{currency_symbol}}{{invoice.total_vat}}</td>
  </tr>
  <tr>
    <td>Payment fees:</td>
    <td>{{currency_symbol}}{{invoice.payment_fees}}</td>
  </tr>
  <tr>
    <td>Amount remaining:</td>
    <td>{{currency_symbol}}{{invoice.amount_without_fees}}</td>
  </tr>
  <tr>
    <td>Invoice rows:</td>
    <td>
      <table class="invoicerows">
	<tr>
	  <th>Text</th>
	  <th>Amount ex VAT</th>
	  <th>VAT</th>
	  <th>Amount inc VAT</th>
	</tr>
{%for r in invoice.invoicerow_set.all%}
	<tr>
	  <td>{{r.rowtext}}</td>
	  <td>{{r.totalrow}}</td>
	  <td>{{r.totalvat}}</td>
	  <td>{{r.totalwithvat}}</td>
	</tr>
{%endfor%}
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2"><hr/></td>
  </tr>
{%if form.errors%}
 <tr class="errorheader">
  <td colspan="2">Please correct the errors below, and re-submit the form.</td>
 </tr>
{%endif%}
{%for field in form%}
 {%if field.errors %}
 <tr class="error">
  <td colspan="2">{{field.errors.as_ul}}</td>
 </tr>
 {%endif%}
 <tr {%if field.errors%}class="errorinfo"{%endif%}>
  <th>{{field.label_tag}}</th>
  <td>{{field}} {{field.help_text|safe}}</td>
 </tr>
{%endfor%}
</table>
{%if not invoice.can_autorefund%}
  <p>
    <b>NOTE!</b> This invoice was paid using {{invoice.paidusing|default:"an unknown method"}}, which does not support automatic refunds!
  </p>
  <p>
    You must issue the refund <b>manually</b>,and then flag it here.
  </p>
{%endif%}

<input type="submit" name="submit" value="{{invoice.can_autorefund|yesno:"Issue refund,Flag as refunded"}}" />
<br/>
<p><a href="../">Back</a> to invoice</p>

{%endblock%}
