{%extends "adm/admin_base.html" %}
{%load currency%}
{%block title%}Invoice Refund{%endblock%}
{%block layoutblock %}
<h1>Refund of invoice #{{invoice.id}}</h1>

<table class="table table-bordered table-striped table-hover table-condensed">
  <tr>
    <th>Invoice number:</th>
    <td class="text-right">{{invoice.id}}</td>
  </tr>
  <tr>
    <th>Payment fees:</th>
    <td class="text-right">{{invoice.payment_fees}}</td>
  </tr>
</table>

<h3>Invoice rows</h3>
<table class="table table-bordered table-striped table-hover table-condensed">
<tr>
  <th>Text</th>
  <th>Amount / item ex VAT</th>
  <th>Count</th>
  <th>Total ex VAT</th>
  <th>Total VAT</th>
  <th>Total with VAT</th>
  <th>VAT rate</th>
</tr>
{%for r in invoice.invoicerow_set.all%}
  <tr>
    <td>{{r.rowtext}}</td>
    <td class="text-right">{{r.rowamount}}</td>
    <td class="text-right">{{r.rowcount}}</td>
    <td class="text-right">{{r.totalrow}}</td>
    <td class="text-right">{{r.totalvat}}</td>
    <td class="text-right">{{r.totalwithvat}}</td>
    <td>{{r.vatrate}}</td>
  </tr>
{%endfor%}
<tr>
  <th>Total</th>
  <th></th>
  <th></th>
  <th class="text-right">{{invoice.amount_without_vat}}</th>
  <th class="text-right">{{invoice.total_vat}}</th>
  <th class="text-right">{{invoice.total_amount}}</th>
  <th></th>
</tr>
</table>

{%if invoice.invoicerefund_set.all %}
<h3>Previous refunds</h3>
<table class="table table-bordered table-striped table-hover table-condensed">
  <tr>
    <th>Refund id</th>
    <th>Amount</th>
    <th>VAT</th>
    <th>Description</th>
    <th>Registered</th>
    <th>Issued</th>
    <th>Completed</th>
  </tr>
{%for refund in invoice.invoicerefund_set.all %}
  <tr>
    <td>{%if refund.completed%}<a href="/invoices/{{invoice.id}}/refundnote/{{refund.id}}/">{{refund.id}}</a>{%else%}{{refund.id}}{%endif%}</td>
    <td class="text-right">{{refund.amount}}</td>
    <td class="text-right">{%if refund.vatamount%}{{refund.vatamount}} ({{refund.vatrate.shortname}}){%endif%}</td>
    <td>{{refund.reason}}</td>
    <td>{{refund.registered}}</td>
    <td>{{refund.issued}}</td>
    <td>{{refund.completed}}</td>
  </tr>
{%endfor%}
  <tr>
    <th>Total refunded</th>
    <th class="text-right">{{invoice.total_refunds.amount}}</th>
    <th class="text-right">{{invoice.total_refunds.vatamount}}</th>
    <th colspan="4"></th>
  </tr>
  <tr>
    <td><i>Remaining to refund</i></td>
    <td class="text-right">{{invoice.total_refunds.remaining.amount}}</td>
    <td class="text-right">{{invoice.total_refunds.remaining.vatamount}}</td>
    <td colspan="4">Not reduced with payment fees of {{invoice.payment_fees}}</td>
  </tr>
</table>
{%endif%}

<h2>Refund invoice</h2>
{%if invoice.processor %}
<p>
  <strong>Warning!</strong> This invoice was created using an
  automated system, and should normally be refunded from that
  system. Manual refunds are allowed, but be careful as this can
  create inconsistencies between the systems!
</p>
{%endif%}
<form method="post" action="." class="form-horizontal">{% csrf_token %}
{%include "confreg/admin_backend_form_content.html" with savebutton=invoice.can_autorefund|yesno:"Issue refund,Flag as refunded" cancelurl="../" %}
</form>

{%endblock%}
