{%extends "nav_financial.html"%}
{%block title%}Your invoices{%endblock%}
{%block content%}
<h1>Your invoices</h1>

<p>
We have the following invoices registered to your account:
</p>

<table class="table table-sm table-striped">
<tr>
 <th>Number</th>
 <th>Title</th>
 <th>Status</th>
 <th>Due</th>
 <th>Receipt</th>
</tr>
{%for invoice in invoices %}
<tr>
 <td>#{{invoice.id}}</td>
 <td><a href="{{invoice.id}}/">{{invoice.title}}</td>
 <td>{%if invoice.invoicerefund_set.exists%}
  <span class="badge badge-info">Refunded</span>
{%elif invoice.ispaid%}<span class="badge badge-success">Paid</span>
{%else%}<span class="badge badge-primary">Awaiting payment</span>{%endif%}
</td>
 <td>{{invoice.duedate|date:"Y-m-d"}}</td>
 <td>
   <a class="btn btn-sm btn-outline-dark" href="{{invoice.id}}/pdf/">Download invoice</a>
{%if invoice.ispaid and not invoice.refunded%}<a class="btn btn-sm btn-outline-dark" href="{{invoice.id}}/receipt/">Download receipt</a>{%endif%}
</td>
</tr>
{%endfor%}
</table>

{%endblock%}
