{%extends "nav_about.html"%}
{%block title%}2016 General Assembly - Activities report{%endblock%}
{%block content%}
<h1>2016 General Assembly - Activities report</h1>

<h2>What has been done</h2>

<h3>Financial/Administration</h3>

<p>See the <a href="/about/ga/2016/financialreport/">Financial report</a>, section "Activities".</p>

<h3>Events</h3>
<p>
2015 saw an increase in events which were either organized by, or with
the support from, PostgreSQL Europe. In total, we had 781 registered
attendees at this year's events which we are very happy about.
</p>

<h3>FOSDEM/PGDay</h3>
<p>
The third annual one-track PGDay just before FOSDEM again became a
successful event with 91 attendees. During FOSDEM, we had lots of
interest at our booth and all talks in our devroom ended up completely
full with far from everyone who wanted to attend being able to get in.
</p>

<h3>Nordic PGDay</h3>
<p>
The second iteration of Nordic PGDay followed the same concept as the
first year, a single-day single-track conference. This year, it was
held in Copenhagen, Denmark, with 95 attendees and 7 talks with
speakers from 6 countries.
</p>

<h3>pgDay Paris</h3>
<p>
The Paris usergroup organizers decided to run a PGDay in Paris
supported by PostgreSQL Europe. The conference followed the well
proven one-day one-track model and attracted 84 attendees.
</p>

<h3>PGConf.EU</h3>
<p>
For the second year in a row, PGConf.EU broke its attendance record,
this year with a wide margin. The conference, which was held in
Vienna, Austria, had 401 attendees. The event was a success with
overwhelmingly positive feedback. Merchandise sales during the
conference also beat previous years records cementing this as an
important avenue of PostgreSQL advocacy.
</p>

<h3>PGConf.DE</h3>
<p>
After a year of absence, PGConf.DE reappeared in Hamburg with a full
day of training followed by a single-day three-track conference with
38 talks. The conference had 110 attendees and got very positive
feedback.
</p>


<h3>PGDay Belfort</h3>
<p>
PostgreSQL Europe supported the local organizers of this new regional
event in Belfort, France, which unfortunately was canceled due to a
lack of registered attendees.
</p>

<h3>Upcoming events</h3>
<p>
FOSDEM/PGDay will as last year be held in Brussels at the end of
January. Registration is open and the schedule for both our devroom
and PGDay has been published.
</p>

<p>
Nordic PGDay continues to visit the major cities in the Nordic
region and will this year be held in Helsinki, Finland, on March
17. Registration is currently open, and the schedule will be published
shortly.
</p>

<p>
PGConf.EU will of course come back again. So far, the location hasn't
been disclosed but will be announced soon.
</p>

<p>
As always, we invite our members who are interested in working on a
regional PGDay to contact us if we can be of any assistance at all,
whether just in answering questions, or through organisational or
financial aid. More information can be found at
<a href="/events/">http://www.postgresql.eu/events</a>.
</p>

{%endblock%}
