{%extends "nav_about.html"%}
{%block title%}2016 General Assembly - Financial report{%endblock%}
{%block content%}
<h1>2016 General Assembly - Financial report</h1>

<h2 >Assets</h2>

<table>
	<tr>
		<td><strong>Accounts</strong></td>
		<td><strong>2015-01-01</strong></td>
		<td><strong>2015-12-31</strong></td>
		<td><strong>Difference</strong></td>
	</tr>
	<tr>
		<td>Crédit Mutuel checking account</td>
		<td align="right">41,866.45</td>
		<td align="right"> 38,705.77 </td>
		<td align="right"> -3,160.68 </td>
	</tr>
	<tr>
		<td>Crédit Mutuel saving account</td>
		<td align="right"> 60,052.89 </td>
		<td align="right"> 60,740.61 </td>
		<td align="right"> 687.72 </td>
	</tr>
	<tr>
		<td>Paypal account</td>
		<td align="right"> 5,869.03 </td>
		<td align="right"> 6,399.41 </td>
		<td align="right"> 530.38 </td>
	</tr>
	<tr>
		<td>Adyen account</td>
		<td align="right"> 558.85 </td>
		<td align="right"> 500.00 </td>
		<td align="right"> -58.85 </td>
	</tr>
	<tr>
		<td>Pending creditcard payments</td>
		<td align="right"> 60.00 </td>
		<td align="right"> 256.45 </td>
		<td align="right"> 196.45 </td>
	</tr>
	<tr>
		<td><em>Total</em></td>
		<td align="right"><em> 108,407.22</em></td>
		<td align="right"><em>106,602.24</em></td>
		<td align="right"><em>-1,804.98</em></td>
	</tr>
</table>
<p>The <a href="/media/pdf/pgeu_balance_2016.pdf">full balance report</a> is also available.</p>

<p>
While the overall goal of PostgreSQL Europe is to break even we did in
2015 see the first net loss since the start of operation. It is
however a small loss compared to the total income compared to our
expenditure, PostgreSQL Europe is still very much in good financial
health. The costs of arranging PGConf.EU were substantially higher due
to the increased cost level of Vienna compared to Madrid as well as
the larger scale of the event. The registration price was however not
raised substantially (it was raised from 200€ to 240€) in order to
make the event affordable for everyone. This contributed to the minor
loss on the yearly result.
</p>


<h2>Major items</h2>

<h3>Activities</h3>
<p>
  The savings account which acts as a buffer to cover unexpected costs
  has not been used during 2015 since all events have generated
  satisfactory financial results (exceeding or hitting budget) due to
  good sponsor incomes. The only transaction during 2015 was an
  interest income of 687.72€. As the events grow larger - PGConf.EU
  2015 was our biggest event to date - and the number of events
  increase, the importance of this buffer remains.
</p>

<p>
  At Nordic PGDay 2015, we launched an online self serve portal for
  event sponsorship with credit card payment possibility for the entry
  level sponsorship. This was then used for all events during the year
  streamlining the sponsor signup process.
</p>

<p>
  Our administrative backend software which powers both our financial
  reporting as well as the events was again further improved ensuring
  safe operation of our events.
</p>

<p>
  We have found an accountant firm to work with, but we haven't yet
  finished the initial process so we don't have any more details at
  this point.
</p>

<p>
  IBAN transfers are now accepted for conference payments.
</p>

<p>
  Merchandise sales are increasing year over year with 2015 being no
  exception. In total, sales were up 13% from 2014 reaching a total of
  4,608.00€.
</p>


<h3>Income/Expenses</h3>

<p>
  Important items are summarized here, but
  the <a href="/media/pdf/pgeu_results_2016.pdf">full results report</a>
  is also available.
</p>

<table>
	<tr>
		<td><strong>Items</strong></td>
		<td align="right"><strong>Income</strong></td>
		<td align="right"><strong>Expenses</strong></td>
		<td align="right"><strong>Final results</strong></td>
	</tr>
	<tr>
		<td>Membership</td>
		<td align="right"> 610.00 </td>
		<td align="right">0</td>
		<td align="right"> 610.00 </td>
	</tr>
	<tr>
		<td>Donations</td>
		<td align="right"> 1,808.98 </td>
		<td align="right">0</td>
		<td align="right"> 1,808.98 </td>
	</tr>
	<tr>
		<td>Conferences</td>
		<td align="right"> 206,397.00 </td>
		<td align="right"> -207,276.95 </td>
		<td align="right"> -881.95 </td>
	</tr>
	<tr>
		<td>Merchandise</td>
		<td align="right"> 4,608.00 </td>
		<td align="right"> -4,010.63 </td>
		<td align="right"> 597.37 </td>
	</tr>
	<tr>
		<td>Financial</td>
		<td align="right"> 687.72 </td>
		<td align="right"> -3,580.31 </td>
		<td align="right"> -2,892.59 </td>
	</tr>
	<tr>
		<td>Insurance</td>
		<td align="right">0</td>
		<td align="right"> -266.28 </td>
		<td align="right"> -266.28 </td>
	</tr>
	<tr>
		<td>Other</td>
		<td align="right">0</td>
		<td align="right"> -782.61 </td>
		<td align="right"> -782.61 </td>
	</tr>
	<tr>
		<td><em>Total</em></td>
		<td></td>
		<td></td>
		<td align="right"><em>-1,804.98</em></td>
	</tr>
</table>

<p>
  The financial results for our events can be seen broken down per conference in the table below.
</p>

<table>
  <tr>
    <td><strong>Event</strong></td>
    <td align="right"><strong>Income</strong></td>
    <td align="right"><strong>Expenses</strong></td>
    <td align="right"><strong>Final results</strong></td>
  </tr>
  <tr>
    <td>PGDay Paris 2015</td>
    <td align="right"> 10,974.00 </td>
    <td align="right">-7,689,11 </td>
    <td align="right"> 3,284.89 </td>
  </tr>
  <tr>
    <td>PGConf.EU 2015</td>
    <td align="right">150,823.00</td>
    <td align="right">-149,874.34</td>
    <td align="right">948.66</td>
  </tr>
  <tr>
    <td>PGConf.DE 2015</td>
    <td align="right">30,100.00</td>
    <td align="right">25,351.81</td>
    <td align="right">4,748.19</td>
  </tr>
</table>

<p>
  Both FOSDEM and Nordic PGDay are events held early in the year and
  thus have transactions on both this and next year's report. Complete
  sums for FOSDEM 2015 as well as Nordic PGDay 2015 are listed below
  broken down per year.
</p>

<table>
  <tr>
    <td colspan="2"><strong>FOSDEM PGDay 2015</strong></td>
  </tr>
  <tr>
    <td>Final Result 2014</td>
    <td align="right">  -2,348.29 </td>
  </tr>
  <tr>
    <td>Final Result 2015</td>
    <td align="right"> -572.11</td>
  </tr>
  <tr>
    <td><em>Total</em></td>
    <td align="right"> -2,920.40 </td>
  </tr>

  <tr>
    <td colspan="2"><strong>Nordic PGDay 2015</strong></td>
  </tr>
  <tr>
    <td>Final Result 2014</td>
    <td align="right"> 2,800.00 </td>
  </tr>
  <tr>
    <td>Final Result 2015</td>
    <td align="right"> -1,975.68 </td>
  </tr>
  <tr>
    <td><em>Total</em></td>
    <td align="right"> 824.32 </td>
  </tr>
</table>

{%endblock%}
