{%extends "nav_about.html"%}
{%block title%}2018 General Assembly - Activities report{%endblock%}
{%block content%}
<h1>2018 General Assembly - Activities report</h1>

<h2>What has been done</h2>

<h3>Financial/Administration</h3>

<p>See the <a href="/about/ga/2018/financialreport/">Financial report</a>, section "Activities".</p>

<h3>2017 Events</h3>
<p>
2017 saw a good number of events which were either organized by, or with the
support from PostgreSQL Europe. In total, we had 875 registered attendees at
this year's events which we are very happy about.
</p>

<h3>FOSDEM/PGDay</h3>
<p>
The fifth annual one-track PGDay just before FOSDEM is now a successful and
well established event with 111 attendees. During FOSDEM, we had lots of
interest at our booth and all talks in our devroom ended up completely full
with far from everyone who wanted to attend being able to get in.
</p>

<h3>Nordic PGDay</h3>
<p>
The fourth iteration of Nordic PGDay followed the same concept as the two
previous years, a single-day single-track conference. In 2017, it was held in
Stockholm, Sweden, with 120 attendees and 7 talks.
</p>

<h3>pgDay Paris</h3>
<p>
The second iteration of PGDay Paris supported by PostgreSQL Europe followed
the well proven one-day one-track model and attracted 112 attendees.
</p>

<h3>PGConf.EU</h3>
<p>
For the fourth year in a row, PGConf.EU broke its attendance record, this year
with a wide margin. The conference, which was held in Warsaw, Poland, had 437
attendees. The event was a success with overwhelmingly positive feedback.
</p>

<h3>2018 Events</h3>
<p>
We are in the middle of 2018, and some events already took place. These events
were organized by, or with the support from PostgreSQL Europe. In total, we
already had 585 registered attendees at this year's events. This of course is
great.
</p>

<h3>FOSDEM/PGDay</h3>
<p>
The sixth annual one-track PGDay just before FOSDEM and the FOSDEM
booth/devroom have been quite successful. All talks in our devroom ended up
completely full with far from everyone who wanted to attend being able to get
in.
</p>

<h3>Nordic PGDay</h3>
<p>
In 2018, Nordic PGDay was held in Helsinki, Finland, with 109 attendees and 7
talks.
</p>

<h3>pgDay Paris</h3>
<p>
In 2018, PGDay Paris attracted 151 attendees.
</p>

<h3>PGConf.DE</h3>
<p>
We didn't have it last year, but it came back with 181 attendees. Another huge
success.
</p>

<h3>Upcoming events</h3>
<p>
PGConf.EU will of course come back again, this year in Lisbon (Portugal).
We're still working on the details. More information will come later.
</p>

<p>
As always, we invite our members who are interested in working on a regional
PGDay to contact us if we can be of any assistance at all, whether just in
answering questions, or through organisational or financial aid. More
information can be found at <a
href="/events/">https://www.postgresql.eu/events/</a>.
</p>

<h3>Legal</h3>

<h4>Sponsorship contracts</h4>

<p>
We have template-ised the sponsorship contracts that we use for events so they
can be easily generated using LaTeX. Periodically we have these contracts
reviewed by legal counsel to ensure that changes made over time are
appropriate. A review was carried out in October 2017, from which the only
suggestion was that we have the liability limitation clause reviewed by a
French lawyer as it is currently written in an English style. This has not yet
been done.
</p>

<h4>Trademarks</h4>

<p>
On 7th February 2018 the board posted an article detailing a number of
initiatives in progress to protect the reputation of the PostgreSQL Europe
events. What was not shared at that time (because applications were in-
progress) was that we were trademarking a number of terms, specifically,
"PostgreSQL Conference", "Postgres Conference", "PGDay" and "PGConf". These
trademarks have now been registered by EUIPO following their Fast Track
process. A policy has been drawn up and published that allows events to use
these trademarks provided they follow the <a
href="https://www.postgresql.org/community/recognition/#conferences">PostgreSQL
Community Event Guidelines</a>.
</p>

{%endblock%}
