{%extends "nav_about.html"%}
{%block title%}2018 General Assembly - Financial report{%endblock%}
{%block content%}
<h1>2018 General Assembly - Financial report</h1>

<h2 >Assets</h2>

<table>
	<tr>
		<td><strong>Accounts</strong></td>
		<td><strong>2017-01-01</strong></td>
		<td><strong>2017-12-31</strong></td>
		<td><strong>Difference</strong></td>
	</tr>
	<tr>
		<td>Crédit Mutuel checking account</td>
		<td align="right"> 77,418.89</td>
		<td align="right"> 92,009.73</td>
		<td align="right"> 14,590.84</td>
	</tr>
	<tr>
		<td>Crédit Mutuel saving account - 1</td>
		<td align="right"> 61,284.35</td>
		<td align="right"> 61,743.98</td>
		<td align="right">    459.63</td>
	</tr>
	<tr>
		<td>Crédit Mutuel saving account - 2</td>
		<td align="right">      0.00</td>
		<td align="right"> 10,000.00</td>
		<td align="right"> 10,000.00</td>
	</tr>
	<tr>
		<td>Paypal account</td>
		<td align="right"> 7,785.42</td>
		<td align="right"> 5,918.82</td>
		<td align="right">-1,866.60</td>
	</tr>
	<tr>
		<td>Adyen account</td>
		<td align="right">   500.00</td>
		<td align="right"> 1,000.00</td>
		<td align="right">   500.00</td>
	</tr>
	<tr>
		<td>Adyen account</td>
		<td align="right">     2.00</td>
		<td align="right"> 1,532.00</td>
		<td align="right"> 1,530.00</td>
	</tr>
	<tr>
		<td>Pending creditcard payments</td>
		<td align="right">    78.64</td>
		<td align="right">   249.38</td>
		<td align="right">   170.74</td>
	</tr>
	<tr>
		<td><em>Total</em></td>
		<td align="right"><em>147,069.30</em></td>
		<td align="right"><em>172,453.91</em></td>
		<td align="right"><em> 25,384.61</em></td>
	</tr>
</table>
<p>The <a href="/media/pdf/pgeu_balance_2018.pdf">full balance report</a> is also available.</p>

<p>
While the overall goal of PostgreSQL Europe is to break even, we did again see
a net gain in 2017. It's lower than last year, because of the taxes we now
pay.
</p>

<h2>Major items</h2>

<h3>Activities</h3>
<p>
We now have two savings accounts. They both act as a buffer to cover
unexpected costs. The first one has not been used during 2017 since all events
have generated satisfactory financial results (exceeding or hitting budget)
due to good sponsor incomes. The only transaction in the account during 2017
was an interest income of 459.63€. As the events grow larger - PGConf.EU 2017
was our biggest event to date - and the number of events increase, the
importance of this buffer remains.
</p>

<p>
Our administrative backend software, which powers both our financial reporting
as well as the events, was again further improved ensuring safe operation of
our events.
</p>

<p>
For the first time in PostgreSQL Europe history, we had to deal with taxes and
VAT. It didn't come without issues.
</p>

<p>
In 2017, we charged VAT for some companies when we shouldn't have. For other
companies, we haven't charged VAT when we should have. For the latter, we
didn't ask them to pay. For the former, we reimbursed each company that gave
us their bank information for us to transfer them the money. On the 14
companies, only 5 gave us their bank informations and got reimbursed.
</p>

<p>
In 2018, we charged VAT for american companies when we shouldn't have. All
companies (5) have been reimbursed.
</p>

<p>
We should now have no more issues on VAT.
</p>

<h3>Income/Expenses</h3>

<p>
  Important items are summarized here, but
  the <a href="/media/pdf/pgeu_results_2018.pdf">full results report</a>
  is also available.
</p>

<table>
	<tr>
		<td><strong>Items</strong></td>
		<td align="right"><strong>Income</strong></td>
		<td align="right"><strong>Expenses</strong></td>
		<td align="right"><strong>Final results</strong></td>
	</tr>
	<tr>
		<td>Membership</td>
		<td align="right">640.00</td>
		<td align="right">0</td>
		<td align="right">640.00</td>
	</tr>
	<tr>
		<td>Donations</td>
		<td align="right">3,708.29</td>
		<td align="right">0.00</td>
		<td align="right">3,708.29</td>
	</tr>
	<tr>
		<td>Conferences</td>
		<td align="right">204,406.86</td>
		<td align="right">-157,424.96</td>
		<td align="right">46,981.90</td>
	</tr>
	<tr>
		<td>Merchandise</td>
		<td align="right">5,137.57</td>
		<td align="right">-7,659.17</td>
		<td align="right">-2,521.60</td>
	</tr>
	<tr>
		<td>Financial</td>
		<td align="right">459.63</td>
		<td align="right">-11,649.68</td>
		<td align="right">-11,190.05</td>
	</tr>
	<tr>
		<td>Insurance</td>
		<td align="right">0.00</td>
		<td align="right">-520.65</td>
		<td align="right">-520.65</td>
	</tr>
	<tr>
		<td>Taxes</td>
		<td align="right">0.00</td>
		<td align="right">-31,440.00</td>
		<td align="right">-31,440.00</td>
	</tr>
	<tr>
		<td>Other</td>
		<td align="right">0.00</td>
		<td align="right">-4,987.57</td>
		<td align="right">-4,987.57</td>
	</tr>
	<tr>
		<td><em>Total</em></td>
		<td></td>
		<td></td>
		<td align="right"><em>670.32</em></td>
	</tr>
</table>

<p>
[0] _Other_ includes consumables etc.
</p>

<p>
For once, we don't gain a lot. This mostly due to the payment of taxes and the
payments to the accounting company.
</p>

<p>
The financial results for our events can be seen broken down per conference in
the table below.
</p>

<table>
  <tr>
    <td><strong>Event</strong></td>
    <td align="right"><strong>Income</strong></td>
    <td align="right"><strong>Expenses</strong></td>
    <td align="right"><strong>Final results</strong></td>
  </tr>
  <tr>
    <td>FOSDEM/PGDay 2017</td>
    <td align="right">3,239.28</td>
    <td align="right">2,853.33</td>
    <td align="right">385.95</td>
  </tr>
  <tr>
    <td>Nordic PGDay 2017</td>
    <td align="right">14,160.00</td>
    <td align="right">13,443.84</td>
    <td align="right">716.16</td>
  </tr>
  <tr>
    <td>PGDay Paris 2017</td>
    <td align="right">11,929.30</td>
    <td align="right">9,618.92</td>
    <td align="right">2,310.38</td>
  </tr>
  <tr>
    <td>PGConf.EU 2017</td>
    <td align="right">154,456.44</td>
    <td align="right">117,322.14</td>
    <td align="right">37,134.30</td>
  </tr>
</table>

<p>
FOSDEM, PGDay Paris, and PGConf.EU 2017 are events held early in the year and
thus have transactions on both this and next year's report. Complete sums for
FOSDEM 2017, PGDay Paris 2017, and PGConf.EU 2017 are listed below broken down
per year.
</p>

<table>
  <tr>
    <td colspan="2"><strong>FOSDEM PGDay 2017</strong></td>
  </tr>
  <tr>
    <td>Final Result 2016</td>
    <td align="right">-8,121.20</td>
  </tr>
  <tr>
    <td>Final Result 2017</td>
    <td align="right">385.95</td>
  </tr>
  <tr>
    <td><em>Total</em></td>
    <td align="right">-7,735.25</td>
  </tr>

  <tr>
    <td colspan="2"><strong>Nordic PGDay 2017</strong></td>
  </tr>
  <tr>
    <td>Final Result 2016</td>
    <td align="right">-1,200.00</td>
  </tr>
  <tr>
    <td>Final Result 2017</td>
    <td align="right">2,310.38</td>
  </tr>
  <tr>
    <td><em>Total</em></td>
    <td align="right">1,110.38</td>
  </tr>

  <tr>
    <td colspan="2"><strong>PGConf.EU 2017</strong></td>
  </tr>
  <tr>
    <td>Final Result 2016</td>
    <td align="right">-116.40</td>
  </tr>
  <tr>
    <td>Final Result 2017</td>
    <td align="right">37,134.30</td>
  </tr>
  <tr>
    <td><em>Total</em></td>
    <td align="right">37,017.90</td>
  </tr>
</table>

{%endblock%}
