{%extends "base.html" %}
{%block title%}Confirm session - {{conference}}{%endblock%}
{%block content%}
<h1>Confirm session<span class="confheader"> - {{conference}}</span></h1>

<p>
Your session <strong>{{session.title}}</strong> has now been
<em>confirmed{%if session.status == 4%} on the reserve list{%endif%}</em>!
</p>

<p>
We look forward to seeing you at {{conference}}!
</p>

{%if speaker_can_register %}
<p>
If you have not already done so, you can now proceed to
<a href="/events/{{conference.urlname}}/register/">register</a>
for the conference.
</p>
{%endif%}

<p>
<a href="../../">Return</a> to your list of sessions.
</p>
{%endblock%}

