{%extends "base.html" %}
{%block title%}Call for Papers - {{conference}}{%endblock%}
{%block content%}
<h1>Call for Papers<span class="confheader"> - {{conference}}</span></h1>
{%if messages%}
<ul style="background-color: yellow;" class="confreg_cfp_messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{%endif%}

{%if conference.IsCallForPapersOpen%}
{%block callforpapersintro%}<p>{{"system.cfp.intro"|lookup("")|safe}}</p>{%endblock%}
{%endif%}

<h2>Your submissions</h2>
{%if not sessions%}
<p>
You have not made any submissions yet.
</p>
{%else%}
<p>
You have made the following submission{%if sessions|length > 1%}s{%endif%} to this conference:
</p>
{%for g,sessions in sessions|groupby('lastnotified_status_string_long') %}
<h4>{{g}}</h4>
<ul>
{%for s in sessions%}
  <li>
  <a href="{{s.id}}/">{{s.title}}</a>{%if s.lastnotifiedstatus in (3,5) %} - <a href="{{s.id}}/speakerconfirm/">confirm</a>{%endif%}{%if s.lastnotifiedstatus == 1 and s.has_feedback and not conference.feedbackopen%} - <a href="{{s.id}}/">View feedback</a>{%endif%}
  {%if s.lastnotifiedstatus == 1 %}{# Approved - so link to the public description #}
  (<a href="/events/{{conference.urlname}}/schedule/session/{{s.id}}/">public view</a>)
  {%endif%}
  </li>
{%endfor%}
</ul>
{%endfor%}
{%endif%}

{%if conference.IsCallForPapersOpen or is_tester%}
<h2>New submission</h2>
{%if speaker%}
<p>
  Click <a href="new/">here</a> to make a new submission to {{conference}}.
</p>
{%else%}
<p>
 Before you can make a submission, please create a
 <a href="/events/{{conference.urlname}}/speakerprofile/">shared {{org_name}} speaker profile</a>,
 which will be used for both this event and other events by {{org_name}}.
</p>
<p>
 Once you have created your speaker profile, you can return to this page and make one or more submissions.
</p>
{%endif%}
{%if other_submissions%}
<p>
  If you have submitted to other conferences managed by {{org_name}} in the past, you can also
  <a href="copy/">copy</a> and update a previous submission.
</p>
{%endif%}

{%if sessions%}
<h2>Remove submission</h2>
<p>
To remove a submission, please contact <a href="mailto:{{conference.contactaddr}}">{{conference.contactaddr}}</a>.
</p>
{%endif%}

{%endif%}

{%if speaker%}
<h2>Speaker profile</h2>
<p>
Your <a href="/events/{{conference.urlname}}/speakerprofile/">shared {{org_name}} speaker profile</a>
will be used for all submissions.
</p>
{%endif%}

{%endblock%}

