{%extends "base.html" %}
{%block title%}Call for Papers - {{conference}}{%endblock%}
{%block pagescript%}
<script type="text/javascript" src="/media/js/selectize.min.js"></script>
<link rel="stylesheet" href="/media/css/selectize.css" />
<link rel="stylesheet" href="/media/css/selectize.default.css" />

<script language="javascript">
$(function() {
  /* Re-enable the speaker field, and turn it into selectize */
  $('tr#tr_speaker').css({'display': 'table-row'});
  $('#id_speaker').selectize({
    plugins: ['remove_button'],
    valueField: 'id',
    labelField: 'value',
    searchField: 'value',
    load: function(query, callback) {
       if (!query.length) return callback();
       $.ajax({
         'url': '/events/{{conference.urlname}}/callforpapers/lookups/speakers/',
         'type': 'GET',
         'dataType': 'json',
         'data': {
           'query': query,
         },
         'error': function() { callback(); },
         'success': function(res) { callback(res.values);},
       });
    },
  });
});
</script>
{%endblock%}

{%block extrahead%}
<style>
tr.err {
   background-color: #ffb6b6;
}

/* Hide the speaker field for non-javascript sessions */
tr#tr_speaker {
   display:none;
}
</style>
{%endblock%}

{%block content%}
<h1>Call for Papers - {{conference}}</h1>

<p>
{{conference.callforpapersintro|safe}}
</p>

<p><a href="..">Return</a> to your submissions.</p>

<h2>Session: {{session.title}}</h2>

<p>
Please complete the following fields. You may use markdown in the abstract.
</p>

{% if form.errors %}
<p><b style="color:red;">Note! This form contains errors and has not been saved!</b></p>
{% endif %}
<form class="pgeucfpform" method="post" action=".">{{ csrf_input }}
<table id="cfp_table">
{%for f in form%}
 <tr{%if f.errors%} class="err"{%endif%} id="tr_{{f.name}}">
  <th>{{f.label_tag()}}</th>
  <td>{{f}}{%if f.errors%}{{f.errors}}{%endif%}</td>
 </tr>
{%endfor%}
</table>
<input type="submit" value="Save">
<input class="button" type="button" onclick="window.location.href = '../'" value="Cancel" />
</form>
<br/>

{%if savedok%}
<p class="formsaved">
Your submission has been saved. You may edit it further below, or
<a href="..">return</a> to your list of submissions.
</p>
{%endif%}


{%endblock%}
