{%extends "base.html" %}
{%block title%}Open Call for papers - {{conference}}{%endblock%}
{%block content%}
<h1>Open Call for papers<span class="confheader"> - {{conference}}</span></h1>

{%if not speaker %}
<h2>New speaker</h2>
<p>
  Please fill out the <a href="/events/speakerprofile/">Speaker
  profile</a> form to register your speaker profile. Once this is
  done, you will be presented with a list of open call for papers.
</p>
{%else%}

<h2>Call for papers</h2>
{%if callforpapers%}
<p>
The following conferences currently have open call for papers:
<ul>
  {%for c in callforpapers%}
  <li><a href="/events/{{c.urlname}}/callforpapers/">{{c}}</a></li>
  {%endfor%}
</ul>
</p>
{%else%}
<p>
  There are currently no conferences with open call for papers.
</p>
{%endif%}

{%endif%}

{%endblock%}
