{%extends "base.html" %}
{%block title%}Call for Papers - {{conference}}{%endblock%}
{%block content%}
<h1>Call for Papers - {{conference}}</h1>
{%if messages%}
<ul style="background-color: yellow;" class="confreg_cfp_messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{%endif%}

{%if conference.callforpapersopen%}
<p>
{{conference.callforpapersintro|safe}}
</p>
{%endif%}

<h2>Your submissions</h2>
{%if not sessions%}
<p>
You have not made any submissions yet.
</p>
{%else%}
<p>
You have made the following submissions to this conference:
</p>
<ul>
{%for s in sessions%}
  <li>
  <a href="{{s.id}}/">{{s.title}}</a> ({{s.status_string_long}}{%if s.status == 3 %} - <a href="{{s.id}}/speakerconfirm/">confirm</a>{%endif%}{%if s.status == 1 and s.has_feedback and not conference.feedbackopen%} - <a href="{{s.id}}/">View feedback</a>{%endif%})
  {%if s.status == 1 %}{# Approved - so link to the public description #}
  (<a href="/events/schedule/{{conference.urlname}}/session/{{s.id}}/">public view</a>)
  {%endif%}
  </li>
{%endfor%}
</ul>
{%endif%}

{%if conference.callforpapersopen or is_tester%}
<h2>New submission</h2>
<p>
  Click <a href="new/">here</a> to make a new submission to {{conference}}.
</p>

<h2>Remove submission</h2>
<p>
To remove a submission, please contact <a href="mailto:{{conference.contactaddr}}">{{conference.contactaddr}}</a>.
</p>

{%endif%}

<h2>Speaker profile</h2>
<p>
Your <a href="/events/speakerprofile/{{conference.urlname}}/">shared postgresql.eu speaker profile</a>
will be used for all submissions.
</p>

{%endblock%}

