{%extends "base.html" %}
{%block title%}Checkin - {{conference}}{%endblock%}
{%block content%}
{% if messages %}
<ul style="background-color: yellow;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1>Checkin - {{conference}}</h1>
<p>
  You are registered as a check in process for {{conference.conferencename}}.
</p>
<p>
  The application to perform check ins is designed for use on a mobile
  device, to add functions like QR code scanning. To active it, you do
  not need to be logged in, you just need the secret URL.
</p>
<h2>Apps</h2>
<p>
  The checkin system can be accessed either by a native app (currently
  only available for Android) or a web based app (available for both
  Android and iOS). The native app is recommended when available as it
  is a bit faster and has better compatibility.
</p>
<p>
<a href="https://play.google.com/store/apps/details?id=eu.postgresql.android.conferencescanner&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" style="max-width: 150px"/></a>
</p>

<h2>Open by link</h2>
<p>
  You can open the application by going to this link. If you are using the
  native app, make sure you install it first, and then click the link to
  register the conference in the app.
</p>
<p>
  <a href="{{checkinlink}}">{{checkinlink}}</a>
</p>
<p>
  If you go to this address and have the Android app installed, it will
  auto-activate. If it does not, copy this URL and paste it into the
  configuration of the app.
</p>
<p>
  The same links is available via this QR code:
</p>
<p>
  <img src="data:image/png;base64,{{qrlink}}" />
</p>

<h2>Email link</h2>
<p>
  If you prefer, we can also email you the link.
</p>
<form method="post" action=".">{{ csrf_input }}
  <input type="hidden" name="op" value="sendmail">
  <input type="submit" value="Send link in email">
</form>

<h2>Test</h2>
<p>
  To test the app, start it up from the link, and then
  scan the below QR code.
</p>
<p>
  <img src="data:image/png;base64,{{qrtest}}" />
</p>

{%endblock%}
