{%extends "base.html" %}
{%block title%}Checkin - {{conference}}{%endblock%}
{%block content%}
{% if messages %}
<ul style="background-color: yellow;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1>Checkin<span class="confheader"> - {{conference}}</span></h1>
<p>
  You are registered as a check in process for {{conference.conferencename}}.
</p>
<p>
  The application to perform check ins is designed for use on a mobile
  device, to add functions like QR code scanning. To active it, you do
  not need to be logged in, you just need the secret URL.
</p>
<h2>Native app</h2>
<p>
  The fastest and easiest way to use the check-in system is to use a
  native app (currently only available for Android).
</p>
<p>
<a href="https://play.google.com/store/apps/details?id=eu.postgresql.android.conferencescanner&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" style="max-width: 150px"/></a>
</p>

<p>
  Once installed, open the link for the <i>web app</i> in the native
  app and it will automatically detect the conference and configure
  itself.
</p>

<h2>Web app</h2>
<p>
  If you do not have access to the native app, or if you are using a
  different platform, you can also use the small web app to process
  checkins.
</p>
<p>
  This web app works on most modern phones, but has some compatibiliti
  issues on some Android devices, and several compatibility quirks on
  iOS devices. Nevertheless when it does work, it's the best choice if
  the native app is not available.
</p>

<h3>Open by link</h3>
<p>
  You can open the application by going to this link. If you are using the
  native app, make sure you install it first, and then click the link to
  register the conference in the app. The same link is also available as
  a QR code.
{%if conference.scannerfields_list%}
  This conference also does post-checkin scanning for some things, and you
  have access to those as well. For each one of these, there is a separate
  URL to the app.
{%endif%}
</p>
{%for title, link, qr in links %}
{%if title%}<h4>{{title}}</h4>{%endif%}
<p>
  <a href="{{link}}">{{link|truncate(50)}}</a>
</p>
<p>
  <img class="qrlink" src="data:image/png;base64,{{qr}}" />
</p>
{%endfor%}

<h2>Native scanning on device</h2>
<p>
  Finally, it is possible to scan the badges directly using any
  scanner application on your device. As long as this application can
  open a web browser to the URL that is present in the token, a
  trimmed-down version of the web app will load and can be used.
</p>
<p>
  Note that for this method of checking in, you must be <i>logged
  in</i> to the browser being used using the account connected to your
  own registration.
</p>

<h3>Test</h3>
<p>
  To test the app, start it up from the link, and then
  scan the below QR code.
</p>
<p>
  <img class="qrlink" src="data:image/png;base64,{{qrtest}}" />
</p>

{%endblock%}
