{%extends "base.html" %}
{%block title%}Conference Session Feedback - {{conference}}{%endblock%}
{%block content%}
<h1>Conference Session Feedback - {{conference}}</h1>

<p>
This is the conference session feedback entered for {{conference}}. You can also view
the <a href="../">main feedback</a>.
</p>
<p>
Jump to <a href="#toplists">toplists</a>.
</p>

<h2>Comments per session</h2>
{%for g in commented_sessions|groupby('0')%}
<h3>{{g.grouper}}</h3>
<ul>
{%for comment in g.list %}
 <li>{{comment.1}}</li>
{%endfor%}
</ul>
{%endfor%}

<p>
<br/><br/>
</p>

<a name="toplists"></a>
<h1>Toplists</h1>

<form method="post" action="./#toplists">{{ csrf_input }}
Minimum number of votes required: <input type="text" name="minvotes" value="{{minvotes}}" style="width:50px">
 <input type="submit" value="Update">
</form>

{%for toplist in toplists%}
<h2>{{toplist.title}}</h2>
<table border="1" cellspacing="0" cellpadding="1">
 <tr>
  <th></th>
  <th>Average</th>
  <th>Votes</th>
  <th>Stddev</th>
 </tr>
{%for title,avg,votes,stddev in toplist.list%}
 <tr>
  <td>{{title}}</td>
  <td>{{avg|floatstr(1)}}</td>
  <td>{{votes}}</td>
  <td>{{stddev|floatstr(1)}}</td>
 </tr>
{%endfor%}
</table>
{%endfor%}

{%endblock%}

