{%extends conftemplbase %}
{%load markup%}
{%block title%}Conference Session Feedback - {{conference}}{%endblock%}
{%block content%}
<h1>Conference Session Feedback - {{conference}}</h1>

<p>
This is the conference session feedback entered for {{conference}}. You can also view
the <a href="../">main feedback</a>.
</p>
<p>
Jump to <a href="#toplists">toplists</a>.
</p>

<h2>Comments per session</h2>
{%for session, comment in commented_sessions%}
{%ifchanged session%}
{%if not forloop.first%}
</ul>
{%endif%}
<h3>{{session}}</h3>
<ul>
{%endifchanged%}
 <li>{{comment}}</li>
{%if forloop.last%}
</ul>
{%endif%}
{%endfor%}

<p>
<br/><br/>
</p>

<a name="toplists"></a>
<h1>Toplists</h1>

<form method="post" action="./#toplists">{% csrf_token %}
Minimum number of votes required: <input type="text" name="minvotes" value="{{minvotes}}" style="width:50px">
 <input type="submit" value="Update">
</form>

{%for toplist in toplists%}
<h2>{{toplist.title}}</h2>
<table border="1" cellspacing="0" cellpadding="1">
 <tr>
  <th></th>
  <th>Average</th>
  <th>Votes</th>
  <th>Stddev</th>
 </tr>
{%for title,avg,votes,stddev in toplist.list%}
 <tr>
  <td>{{title}}</td>
  <td>{{avg|floatformat:1}}</td>
  <td>{{votes}}</td>
  <td>{{stddev|floatformat:1}}</td>
 </tr>
{%endfor%}
</table>
{%endfor%}

{%endblock%}

