{%extends "base.html" %}
{%block title%}Conference Feedback - {{conference}}{%endblock%}
{%block content%}
<h1>Conference Feedback<span class="confheader"> - {{conference}}</span></h1>

<h2>Conference feedback</h2>
<p><a href="..">Back</a> to the feedback overview.</p>

<p>
  We trust you enjoyed the conference!
</p>
<p>
  To make the experience even better next year we would really appreciate your
  feedback.
  Note that your data will be anonymised, so if you want us to know who you
  are, you will need to include your name and contact information in the text
  field.
</p>
<p>
  For questions with a rating, use a scale from 1-5, with 5 being the highest.
</p>
<p>
  We genuinely appreciate your time in completing this survey. Thank you!
</p>

{% if form.errors %}
<p><b style="color:red;">Note! This form contains errors and has not been saved!</b></p>
{% endif %}
<form method="post" action=".">{{ csrf_input }}
{%for field in form %}
{%if field.help_text%}
{%if not loop.first %}
</fieldset>
{%endif%}
<fieldset class="feedbackfieldset">
 <legend>{{field.help_text}}</legend>
{%endif%}
 <div class="feedbackRow">
  <div class="feedbackRowHead">{{field.label_tag()}}</div>
  <div class="feedbackRowField">{{field.errors}}{{field}}</div>
 </div>
{%endfor%}
</fieldset>
<input type="submit" value="Save">
</form>

{%endblock%}
