{%extends "base.html" %}
{%block title%}Conference Feedback - {{conference}}{%endblock%}
{%block content%}
<h1>Conference Feedback - {{conference}}</h1>

<h2>Conference feedback</h2>
<p><a href="..">Back</a> to the feedback overview.</p>

<p>
Please rate and comment on the following aspects of the conference. For
questions taking rating, use a scale from 1-5, with 5 being the highest or "best".
</p>

<p>
Note that all your data
will be anonymised before begin presented, so if you want the organisers
to know who you are, you must put your name and contact information in the
text field.
</p>

{% if form.errors %}
<p><b style="color:red;">Note! This form contains errors and has not been saved!</b></p>
{% endif %}
<form method="post" action=".">{{ csrf_input }}
{%for field in form %}
{%if field.help_text%}
{%if not loop.first %}
</fieldset>
{%endif%}
<fieldset>
 <legend>{{field.help_text}}</legend>
{%endif%}
 <div class="feedbackRow">
  <div class="feedbackRowHead">{{field.label_tag()}}</div>
  <div class="feedbackRowField">{{field.errors}}{{field}}</div>
 </div>
{%endfor%}
</fieldset>
<input type="submit" value="Save">
</form>

{%endblock%}
