{%extends "base.html" %}
{%block title%}Conference Feedback - {{conference}}{%endblock%}
{%block content%}
<h1>Conference Feedback<span class="confheader"> - {{conference}}</span></h1>

<p>On this page you can leave feedback for sessions at {{conference}}.
You can return to this page at any time during the conference to
view or edit your feedback.</p>

{%if conference.conferencefeedbackopen or is_tester %}
<h2>Conference feedback</h2>
<p>
Feedback on the <a href="conference/">full conference</a> is currently open.
</p>
{%endif%}

<h2>Available sessions</h2>
<ul>
{% for s in sessions %}
 <li><a href="{{s.id}}/">{{s.title}} ({{s.speaker_list}})</a>{%if s.has_given_feedback%} <img src="/media/img/green_tick.png" alt="green tickmark" />{%endif%}</li>
{%endfor%}
</ul>

{%endblock%}
