{%extends "base.html" %}
{%block title%}Conference registration invoice - {{conference}}{%endblock%}
{%block content%}
<h1>Conference registration invoice<span class="confheader"> - {{conference}}</span></h1>
<p>
An invoice has been prepared for your conference registration. This
invoice is due for immediate payment.
</p>
<p>
If there is something wrong on this invoice, or if it was generated
in error (for example in case the registration was supposed to be part
of a multi-registration paid for by somebody else), you can
<a href="cancel/">cancel the invoice</a> and it will be possible
to make modifications to the registration again.
</p>
{%include "invoices/userinvoice_spec.html"%}
<p><a href="../../">Return</a> to your registration</p>
{%endblock%}
