{%extends "base.html" %}
{%block title%}Conference Registration - {{conference}}{%endblock%}
{%block extrahead%}
<style>
table.invoiceconfirmtbl {
   width: 700px;
}
table.invoiceconfirmtbl td.desc {
}
table.invoiceconfirmtbl tr td.cost {
   text-align: right;
   white-space: nowrap;
   width: 85px;
}
table.invoiceconfirmtbl tr.totalrow td.cost {
   border-top: 1px solid black;
}
form input[type=submit] {
   width: 200px !important;
}
div.warnfld {
   background-color: rgb(255,255,204);
   border: 1px solid red;
}
div.warnfld ul li {
   font-weight: normal !important;
}
</style>
<script type="text/javascript">
function confirmInvoice() {
  {%if totalcost == 0 %}return true;{%else%}
   return confirm('Once you proceed to payment, an invoice will be generated for your registration, and you will no longer be able to change it.\n\nThis invoice will be addressed to the person, company and address specified in the registration - please take a moment to review those fields if you need to.\n\nThe invoice will be delivered as a PDF in your browser, no paper invoice will be sent.\n\nNote that if your registration should be part of a multi-registration payment, you should NOT proceed with this step!\n\nAre you sure you want to proceed to payment?');
  {%endif%}
}
</script>

{%if regalert%}
<script type="text/javascript" defer>
   window.onload = function() {
   alert('{{regalert|escapejs}}');
   }
</script>
{%endif%}
{%endblock%}
{%block content%}
<h1>Conference Registration - {{conference}}</h1>

<h2>Confirm registration</h2>
<p>
You are almost done with your registration!
</p>

<p>
The details below will be included on your invoice. If this is in any
way incorrect, go <a href="../">back</a> to your registration and adjust
it.
</p>

<form method="post" action="." class="pgeuregformconfirm">{{ csrf_input }}
<fieldset id="fldset_recipient">
<legend>Invoice recipient</legend>
<div>
{{reg.firstname}} {{reg.lastname}}<br/>
{%if reg.company%}{{reg.company}}<br/>{%endif%}
{{"<br>".join(reg.address.splitlines())}}<br/>
{{reg.countryname}}<br/>
</div>
</fieldset>
<fieldset id="fldset_contents">
<legend>Invoice contents</legend>
<table border="0" cellspacing="0" cellpadding="1" class="invoiceconfirmtbl">
<tr valign="top">
  <td class="desc"></td>
  <td class="cost">Amount</td>
{%if totalwithvat != totalcost%}
  <td class="cost">VAT</td>
  <td class="cost">Total</td>
{%endif%}
</tr>
{%for r in invoicerows%}
<tr valign="top">
  <td class="desc">{{r.0|leadingnbsp}}</td>
  <td class="cost">{{r.2|currency_format}}</td>
{%if totalwithvat != totalcost %}
  <td class="cost">{{r.3.vatpercent}}%</td>
  <td class="cost">{{r.4|currency_format}}</td>
{%endif%}
</tr>
{%endfor%}
<tr valign="top" class="totalrow">
  <td class="desc"></td>
  <td class="cost">{{totalcost|currency_format}}</td>
{%if totalwithvat != totalcost %}
  <td class="cost"></td>
  <td class="cost">{{totalwithvat|currency_format}}</td>
{%endif%}
</tr>
</table>
</fieldset>

<p>
Once you have confirmed your registration, your registration details will
be locked and can no longer be edited.
{%if totalcost%}An invoice will be generated, and this invoice will be
<i>due for immediate payment</i>. Your registration will not be confirmed
until this invoice is paid!{%endif%}
</p>
{%if reg.regtype.require_phone%}
<p>
  For registrations of type {{reg.regtype.regtype}}, we ask that you provide your
  phone number, so we can contact you during the event if necessary.
</p>
<div {%if phone_error%} class="warnfld"{%endif%}>
  Phone number: <input type="text" name="phone" value="{{reg.phone}}">
</div>
{%endif%}
{%if warnings%}
<div class="warnfld">
  <ul>
    {%for w in warnings%}
    <li>{{w|safe}}</li>
    {%endfor%}
  </ul>
</div>
{%endif%}
<input type="submit" name="submit" value="Confirm and finish" onclick="return confirmInvoice()"><br/>
<input type="submit" name="submit" value="Back">
</form>

{%endblock%}

