{%extends "base.html" %}
{%block title%}Conference Registration - {{conference}}{%endblock%}

{%block pagescript%}
<script src="/media/js/pgeuconf.js"></script>
{%endblock%}

{%block extrahead%}
<link rel="stylesheet" type="text/css" href="/media/css/pgeuconf.css">
{{ super() }}
{%endblock%}

{%block content%}
<h1>Conference Registration<span class="confheader"> - {{conference}}</span></h1>

<h2>Confirm registration</h2>
<p>
You are almost done with your registration!
</p>

<p>
The details below will be included on your invoice. If this is in any
way incorrect, go <a href="../">back</a> to your registration and adjust
it.
</p>

<form method="post" action="." class="pgeuregformconfirm">{{ csrf_input }}
<fieldset id="fldset_recipient">
<legend>Invoice recipient</legend>
<div>
{{reg.firstname}} {{reg.lastname}}<br/>
{%if reg.company%}{{reg.company}}<br/>{%endif%}
{{"<br>".join(reg.address.splitlines())}}<br/>
{{reg.countryname}}<br/>
</div>
</fieldset>
<fieldset id="fldset_contents">
<legend>Invoice contents</legend>
<table border="0" cellspacing="0" cellpadding="1" class="invoiceconfirmtbl">
<tr valign="top">
  <td class="desc"></td>
  <td class="cost">Amount</td>
{%if totalwithvat != totalcost%}
  <td class="cost">VAT</td>
  <td class="cost">Total</td>
{%endif%}
</tr>
{%for r in invoicerows%}
<tr valign="top">
  <td class="desc">{{r.0|leadingnbsp}}</td>
  <td class="cost">{{r.2|format_currency}}</td>
{%if totalwithvat != totalcost %}
  <td class="cost">{{r.3.vatpercent}}%</td>
  <td class="cost">{{r.4|format_currency}}</td>
{%endif%}
</tr>
{%endfor%}
<tr valign="top" class="totalrow">
  <td class="desc"></td>
  <td class="cost">{{totalcost|format_currency}}</td>
{%if totalwithvat != totalcost %}
  <td class="cost"></td>
  <td class="cost">{{totalwithvat|format_currency}}</td>
{%endif%}
</tr>
</table>
</fieldset>

<p>
Once you have confirmed your registration, your registration details will
be locked and can no longer be edited.
{%if totalcost%}An invoice will be generated, and this invoice will be
<i>due for immediate payment</i>. Your registration will not be confirmed
until this invoice is paid!{%endif%}
</p>
{%if reg.regtype.require_phone%}
<p>
  For registrations of type {{reg.regtype.regtype}}, we ask that you provide your
  phone number, so we can contact you during the event if necessary.
</p>
<div {%if phone_error%} class="warnfld"{%endif%}>
  Phone number: <input type="text" name="phone" value="{{reg.phone}}">
</div>
{%endif%}
{%if warnings%}
<div class="warnfld">
  <ul>
    {%for w in warnings%}
    <li>{{w|safe}}</li>
    {%endfor%}
  </ul>
</div>
{%endif%}
<input type="submit" name="submit" value="Confirm and finish"{%if totalcost%} class="pgeu-confirm-invoice-button" data-confirmwhat="registration"{%endif%}><br/>
<input type="submit" name="submit" value="Back">
</form>

{%if regalert%}
<div class="pgeu-pagealert">{{regalert}}</div>
{%endif%}

{%endblock%}

