{%extends "base.html" %}
{%block title%}Conference Registration - {{conference}}{%endblock%}
{%block extrahead%}
<script language="javascript">
function confirmCancel() {
   return confirm('Are you sure you want to cancel and remove your registration?');
}
</script>
<style>
div.regwrap {
   width: 100%;
   overflow: hidden;
}
div.regleft {
   width: 350px;
   float: left;
}
div.regright {
   width: 200px;
   float: right;
}
div.regright ul {
   padding: 0px;
}
div.regright ul li {
   margin-top: 0px;
}
div.regwrap.errfld {
   background-color: rgb(255,255,204);
   border: 1px solid red;
}
div.regwrap.errfld ul.errorlist li {
   font-weight: normal !important;
}
form input[type=submit] {
   width: 200px !important;
}
</style>
{%endblock%}
{%block content%}
<h1>Conference Registration - {{conference}}</h1>

<p>On this page you can register for <a href="{{conference.confurl}}">{{conference}}</a>.
</p>
<p>
<b>Note!</b> if you wish to register multiple people,
you must <a href="/logout">log out</a> and back in (with a different account)
between each registration to avoid conflicts.
</p>

{%if reg.registrationwaitlistentry%}
<h2>Waitlist</h2>
<p>
Your registration is currently on the waitlist.
</p>
{%if reg.registrationwaitlistentry.offeredon%}
<p>
Good news - you have been offered a seat from the waitlist. Please
complete the form below and click "Save and finish registration" to
complete the process! The process must be completed before
{{reg.registrationwaitlistentry.offerexpires.strftime("%Y-%m-%d %H:%M")}} or
this offer will expire!
</p>
{%else%}
<p>
We will let you know as soon as a seat shows up!
</p>
{%endif%}
{%endif%}

<form action="." method="post" class="pgeuregform">{{ csrf_input }}
{% if form_is_saved %}
<p><b>Note!</b> Your registration is not confirmed until the payment
has been confirmed.</p>
{% endif %}

{% if form.errors %}
<p style="color:red; font-weight: bold">Note! This form contains errors and has not been saved!
The fields with invalid input have been highlighted below with a message describing the required
correction.</p>
{% endif %}

{%if form.non_field_errors()%}{{form.non_field_errors()}}{%endif%}

{%for fieldset in form.fieldsets%}
 <fieldset id="{{fieldset.id}}">
  <legend>{{fieldset.legend}}</legend>
  {%if fieldset.intro or fieldset.introhtml%}
  <div>{%if fieldset.intro%}{{fieldset.intro|markdown}}{%endif%}{%if fieldset.introhtml%}{{fieldset.introhtml}}{%endif%}</div>
  {%endif%}
  {%for f in fieldset.fields%}
  <div class="regwrap{%if f.errors%} errfld{%endif%}">
    <div class="regleft">
      {{f.label_tag()}} <br/>
      {{f}}
    </div>
    <div class="regright">
      {% if f.errors %}{{ f.errors}}{% endif %}
    </div>
  </div>
  {%endfor%}
 </fieldset>
{%endfor%}

 <p>
   You can edit your registration details and save as many times as you want
   in the process. Once you are finished, click <i>Save and finish registration</i>
   to proceed to the payment options.
 </p>
 <input type="submit" name="submit" value="Save and continue editing"><br/>
 <input type="submit" name="submit" value="Save and finish registration"><br/>
 <input type="submit" name="submit" onclick="return confirmCancel()" value="Cancel registration"><br/>
</form>
{%endblock%}

