{%extends "base.html" %}
{%block title%}Conference Registration - {{conference}}{%endblock%}
{%block extrahead%}
<script type="text/javascript">
function confirmCancel() {
   return confirm('Are you sure you want to cancel and remove your registration?');
}
</script>
<style>
div.regwrap {
   width: 100%;
   overflow: hidden;
}
div.regleft {
   width: 450px;
   float: left;
}
div.regright {
   width: 200px;
   float: right;
}
div.regright ul {
   padding: 0px;
}
div.regright ul li {
   margin-top: 0px;
}
div.regwrap.errfld {
   background-color: rgb(255,255,204);
   border: 1px solid red;
}
div.regwrap.errfld ul.errorlist li {
   font-weight: normal !important;
}
form input[type=submit] {
   width: 200px !important;
}
</style>
{%endblock%}
{%block content%}
<h1>Conference Registration - {{conference}}</h1>

<p>On this page you can register for <a href="{{conference.confurl}}">{{conference}}</a>.
</p>
<p>
If you wish to register multiple people, or somebody other than yourself,
please use the <a href="{{redir_root}}other/">advanced form</a>.
</p>

{%if reg.registrationwaitlistentry%}
<h2>Waitlist</h2>
<p>
Your registration is currently on the waitlist.
</p>
{%if reg.registrationwaitlistentry.offeredon%}
<p>
<strong>Good news</strong> - you have been offered a seat from the waitlist. Please
complete the form <a href="#buttons">below</a> and click "Save and finish" to
complete the process! The process must be completed before
{{reg.registrationwaitlistentry.offerexpires|datetimeformat("%Y-%m-%d %H:%M")}} or
this offer will expire!
</p>
<h4>Cancel waitlist</h4>
<p>
  If you do <em>not</em> want to attend the conference, we ask that
  you cancel your waitlist position as soon as possible, to allow for
  a faster processing of others!
</p>
<form method="post" action="waitlist_cancel/">{{ csrf_input }}
<input type="hidden" name="confirm" value="1">
<input type="submit" name="submit" value="Cancel waitlist">
</form>
<p></p>
{%else%}
<p>
We will let you know as soon as a seat shows up!
</p>
{%endif%}
{%endif%}

<form action="." method="post" class="pgeuregform">{{ csrf_input }}
{% if form_is_saved %}
<p><b>Note!</b> Your registration is not confirmed until the payment
has been confirmed.</p>
{% endif %}

{% if form.errors %}
<p style="color:red; font-weight: bold">Note! This form contains errors and has not been saved!
The fields with invalid input have been highlighted below with a message describing the required
correction.</p>
{% endif %}

{%if form.non_field_errors()%}{{form.non_field_errors()}}{%endif%}

{%for fieldset in form.fieldsets%}
 <fieldset id="{{fieldset.id}}">
  <legend>{{fieldset.legend}}</legend>
  {%if fieldset.intro or fieldset.introhtml%}
  <div>{%if fieldset.intro%}{{fieldset.intro|markdown}}{%endif%}{%if fieldset.introhtml%}{{fieldset.introhtml}}{%endif%}</div>
  {%endif%}
  {%for f in fieldset.fields%}
  <div class="regwrap{%if f.errors%} errfld{%endif%}">
    <div class="regleft">
      {{f.label_tag()}} <br/>
      {{f}}
    </div>
    <div class="regright">
      {% if f.errors %}{{ f.errors}}{% endif %}
    </div>
  </div>
  {%endfor%}
 </fieldset>
{%endfor%}

 <p>
   You can edit your registration details and save as many times as you want
   in the process. Once you are finished, click <i>Save and finish</i>
   to proceed to the payment options.
 </p>
 <a name="buttons"></a>
 <input type="submit" name="submit" value="Save and continue editing"><br/>
 <input type="submit" name="submit" value="Save and finish"><br/>
</form>
<form action="." method="post" class="pgeuregform">{{ csrf_input }}
 <input type="submit" name="submit" onclick="return confirmCancel()" value="Cancel registration"><br/>
</form>
{%endblock%}

