{%extends "base.html" %}
{%block title%}Your Registration - {{conference}}{%endblock%}
{%block extrahead%}
<style>
div#dash_pagelinks_wrap {
   text-align: center;
}
ul.dash_pagelinks li {
   display: inline;
}

div.regwrap {
   width: 100%;
   overflow: hidden;
}
div.regleft {
   width: 450px;
   float: left;
}
div.regright {
   width: 200px;
   float: right;
}
div.regright ul {
   padding: 0px;
}
div.regright ul li {
   margin-top: 0px;
}
div.regwrap.errfld {
   background-color: rgb(255,255,204);
   border: 1px solid red;
}
div.regwrap.errfld ul.errorlist li {
   font-weight: normal !important;
}
form input[type=submit] {
   width: 220px;
}
</style>
{%endblock%}
{%block content%}
{% if messages %}
<ul style="background-color: yellow;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1>Your Registration</h1>

<p>
Your registration (for {{reg.firstname}} {{reg.lastname}}) has been
completed on {{reg.payconfirmedat|datetimeformat("%Y-%m-%d %H:%M")}}. Welcome to {{conference}}!
</p>
{%if not has_other_multiregs%}
<p>
If you wish to make another registration for somebody else, please
<a href="{{redir_root}}other/">click here</a>.
</p>
{%endif%}
<p>
On this page you will find all necessary information for attendees
of the event. We also recommend that you regularly check the
main <a href="{{conference.confurl}}">event website</a> for public
news!
</p>
<div id="dash_pagelinks_wrap">
 <ul class="dash_pagelinks" >
  <li>&bull; <a href="#mails">Information emails</a> &bull;</li>
{%if wikipages%}
  <li><a href="#wiki">Wiki pages</a> &bull;</li>
{%endif%}
{%if signups%}
  <li><a href="#signups">Signups</a> &bull;</li>
{%endif%}
  <li><a href="#summary">Registration summary</a> &bull;</li>
{%if availableoptions%}
  <li><a href="#options">Additional options</a> &bull;</li>
{%endif%}
{%if conference.callforpapersopen%}
  <li><a href="/events/{{conference.urlname}}/callforpapers/">Call for papers</a> &bull;</li>
{%elif is_speaker%}
  <li><a href="/events/{{conference.urlname}}/callforpapers/">Your speaker profile</a> &bull;</li>
{%endif%}
{%if reg.is_volunteer%}
  <li><a href="/events/{{conference.urlname}}/volunteer/">Volunteer schedule</a> &bull;</li>
{%endif%}
{%if reg.is_checkinprocessor %}
  <li><a href="/events/{{conference.urlname}}/checkin/">Checkin processing</a> &bull;</li>
{%endif%}
 </ul>
</div>

{%if has_other_multiregs%}
<h2>Other registrations</h2>
<p>
  You are also managing registrations for other attendees.
  <a href="{{redir_root}}other/">click here</a> to view details about them
  or register more attendees.
</p>
{%endif%}

<a name="mails"></a>
<h2>Information emails</h2>
<p>
The following emails have been sent to attendees of this conference.
Any future messages sent will both be sent to <i>{{reg.email}}</i> and
listed here. To ensure that messages are not filtered, we suggest that you
white-list the address <i>{{conference.contactaddr}}</i> in your
spamfilters.
</p>
<ul>
{%if not mails%}
  <li>No emails have been sent yet</li>
{%else%}
  {%for m in mails%}
    <li><a href="{{redir_root}}mail/{{m.id}}/">{{m.subject}}</a> (<i>sent {{m.sentat.strftime("%Y-%m-%d %H:%M")}}</i>)</li>
  {%endfor%}
{%endif%}
</ul>

{%if wikipages%}
<a name="wiki"></a>
<h2>Wiki pages</h2>
<ul>
{%for p in wikipages%}
 <li><a href="{{redir_root}}wiki/{{p.url}}/">{{p.title}}</a> (last modified {{p.publishedat.strftime("%Y-%m-%d %H:%M")}})</li>
{%endfor%}
</ul>
{%endif%}

{%if signups%}
<a name="signups"></a>
<h2>Signups</h2>
<ul>
{%for s in signups%}
 <li><a href="{{redir_root}}signup/{{s.id}}/">{{s.title}}</a>{%if s.closed%} (closed){%elif s.deadline%} (closes {{s.deadline.strftime("%Y-%m-%d %H:%M")}}){%endif%}{%if s.savedat%} - you responded on {{s.savedat.strftime("%Y-%m-%d %H:%M")}}{%endif%}</li>
{%endfor%}
</ul>
{%endif%}

<a name="summary"></a>
<h2>Registration summary</h2>
<dl>
 <dt>Registration type</dt>
 <dd>Your registration type is <i>{{reg.regtype}}</i>.
{%if reg.regtype.days.count() %}
This registration type gives you access to the conference on {{reg.regtype.available_days}}.
{%endif%}
 </dd>
{%if conference.tickets %}
 <dt>Ticket</dt>
 <dd>You can download <a href="{{redir_root}}ticket/">your ticket</a> and bring to the conference
   for quicker processing.
 </dd>
{%endif%}
 <dt>Registration details</dt>
 <dd>
   <p>
     This registration is made for <i>{{reg.firstname}} {{reg.lastname}}</i> with email address <i>{{reg.email}}</i>.
   </p>
   <ul>
{%for k,v in displayfields%}
    <li>{{k}}: {{v}}</li>
{%endfor%}
   </ul>
 </dd>

{%if reg.additionaloptions.all()%}
 <dt>Additional options</dt>
 <dd>You are registered for the following additional options:
   <ul>
{%for a in reg.additionaloptions.all()%}
    <li>{{a.name}}</li>
{%endfor%}
   </ul>
 </dd>
{%endif%}

{%if invoices%}
 <dt>Invoice and receipts</dt>
 <dd>You can download a copy of your invoices and receipts:<ul>
{%for t,i in invoices%}
  <li><a href="/invoices/{{i.id}}/{{i.recipient_secret}}/">{{t}}</a></li>
{%endfor%}
</ul>
If you have made any additional orders, you can always find a copy of all
invoices and receipts in the <a href="/invoices/">invoice section</a>.
 </dd>
{%endif%}

</dl>

{%if changeform%}
<h2>Change your registration</h2>
<p>
A limited number of fields on your registration can be changed. If you need
to change anything other than this, please contact the conference organizers.
</p>
{%if changeform.non_field_errors()%}{{changeform.non_field_errors()}}{%endif%}
<form method="post" action="{{redir_root}}change/">{{ csrf_input }}
  {%for f in changeform %}
  <div class="regwrap{%if f.errors%} errfld{%endif%}">
    <div class="regleft">
      {{f.label_tag()}} <br/>
      {{f}}
    </div>
    <div class="regright">
      {% if f.errors %}{{ f.errors}}{% endif %}
    </div>
  </div>
  {%endfor%}
<input type="submit" value="Update registration">
</form>
{%endif%}

{%if scanned_by_sponsors%}
<h2>Scanned by sponsors</h2>
<p>
  Your badge has been scanned by the following sponsors:
</p>
<ul>
{%for s in scanned_by_sponsors %}
 <li>{{s.sponsor.displayname}} (at {{s.scannedat|datetimeformat("%Y-%m-%d %H:%M")}})</li>
{%endfor%}
</ul>
{%endif%}

{%if availableoptions%}
<a name="options"></a>
<h2>Additional options</h2>
{%if pendingadditional%}
<p>
You have a pending order for additional options, which has not yet been
paid. Please pay this invoice as soon as possible to ensure your
registration is completed!
</p>
{%set invoice=pendingadditionalinvoice%}
{%include "invoices/userinvoice_spec.html"%}
{%else%}
<p>
There are additional options that you can add to your registration. Note
that many of these have limited availability, so if you want to register
for one of them, we suggest you do so as soon as possible. Note that some
options may not be available due to being sold out or due to an existing
registration being mutually exclusive.
</p>
<form method="post" action="addopt/">{{ csrf_input }}
{%for o in availableoptions %}
<input type="checkbox" name="ao_{{o.id}}" value="1" /> {{o}}<br/>
{%endfor%}
<br/>
<input type="submit" value="Register for additional options">
</form>
{%endif%}

{%endif%}

{%endblock%}
