{%extends "base.html" %}
{%block title%}Cancel multi registration invoice - {{conference}}{%endblock%}
{%block content%}
<h1>Cancel multi registration invoice<span class="confheader"> - {{conference}}</span></h1>
<p>
Are you sure that you want to cancel the invoice for these registrations? Note that
by canceling your invoice, you may lose your seats if the event is full! Also note
that all attendees covered by the invoice may receive an email informing them of
the cancellation (if it is attached to their account).
</p>
<form method="post" action=".">{{ csrf_input }}
<table style="border: 1px solid black;">
  <tr>
    <td style="white-space: nowrap">Conference:</td>
    <td>{{bp.conference}}</td>
  </tr>
  <tr>
    <td style="white-space: nowrap">Attendees:</td>
    <td>
      <ul>
{%for r in bp.conferenceregistration_set.all() %}
        <li>{{r.fullname}}</li>
{%endfor%}
      </ul>
    </td>
  </tr>
  <tr>
    <td style="white-space: nowrap">Invoice number:</td>
    <td>{{bp.invoice}}</td>
  </tr>
</table>
<input type="submit" name="submit" value="Cancel invoice">
<input type="submit" name="submit" value="Return without canceling">
</form>
{%endblock%}
