{%extends "base.html" %}
{%block title%}Create Invoice - {{conference}}{%endblock%}
{%block extrahead%}
<link rel="stylesheet" type="text/css" href="/media/css/pgeuconf.css">
{{ super() }}
{%endblock%}

{%block content%}
<h1>Create Invoice<span class="confheader"> - {{conference}}</span></h1>
{%if errors%}
<p>
  The following errors occured which prevents creation of an invoice:
</p>
<ul>
{%for e in errors%}
 <li>{{e}}</li>
{%endfor%}
</ul>
{%else%}
<p>
  Please enter invoice recipient information below. The contents of the
  recipient and address will be copied directly to the invoice, so make
  sure you enter <i>all</i> the information you want on the invoice!
</p>
<form action="." method="post">{{ csrf_input }}
 <input type="hidden" name="totalwithvat" value="{{totalwithvat}}">
  <table>
{{form}}
  </table>
<p>Verify the contents below, and then create the invoice.</p>
<button type="submit" name="submit" value="Create">Create</button>
<button type="submit" name="submit" value="Cancel">Cancel</button>
</form>

<h2>Invoice contents</h2>
<table class="invoiceconfirmtbl">
<tr>
  <th>Description</th>
  <th class="cost">Amount</th>
{%if totalwithvat != totalcost%}
  <th class="cost">VAT</th>
  <th class="cost">Total</th>
{%endif%}
</tr>
{%for r,num,amount,vatrate,total in invoicerows%}
<tr>
  <td>{{r|leadingnbsp}}</td>
  <td class="cost">{{amount|format_currency}}</td>
{%if totalwithvat != totalcost%}
  <td class="cost">{{vatrate.vatpercent}}%</td>
  <td class="cost">{{total|format_currency}}</td>
{%endif%}
</tr>
{%endfor%}
<tr valign="top" class="totalrow">
  <td class="desc"></td>
  <td class="cost">{{totalcost|format_currency}}</td>
{%if totalwithvat != totalcost %}
  <td class="cost"></td>
  <td class="cost">{{totalwithvat|format_currency}}</td>
{%endif%}
</tr>
</table>
{%endif%}

{%endblock%}

