{%extends "base.html" %}
{%block title%}Conference Registration - {{conference}}{%endblock%}
{%block extrahead%}
<style>
div.regwrap {
   width: 100%;
   overflow: hidden;
}
div.regleft {
   width: 450px;
   float: left;
}
div.regright {
   width: 200px;
   float: right;
}
div.regright ul {
   padding: 0px;
}
div.regright ul li {
   margin-top: 0px;
}
div.regwrap.errfld {
   background-color: rgb(255,255,204);
   border: 1px solid red;
}
div.regwrap.errfld ul.errorlist li {
   font-weight: normal !important;
}
form input[type=submit] {
   width: 200px !important;
}
</style>
{%endblock%}
{%block content%}
<h1>Conference Registration<span class="confheader"> - {{conference}}</span></h1>

<form action="." method="post" class="pgeuregform">{{ csrf_input }}
<input type="hidden" name="_email" value="{{_email}}">
{% if form.errors %}
<p style="color:red; font-weight: bold">Note! This form contains errors and has not been saved!
The fields with invalid input have been highlighted below with a message describing the required
correction.</p>
{% endif %}

{%if form.non_field_errors()%}{{form.non_field_errors()}}{%endif%}

{%for fieldset in form.fieldsets%}
 <fieldset id="{{fieldset.id}}">
  <legend>{{fieldset.legend}}</legend>
  {%if fieldset.introproperty|lookup("")%}
  <div>{{fieldset.introproperty|lookup("")}}</div>
  {%elif fieldset.intro or fieldset.introhtml%}
  <div>{%if fieldset.intro%}{{fieldset.intro|markdown}}{%endif%}{%if fieldset.introhtml%}{{fieldset.introhtml}}{%endif%}</div>
  {%endif%}
  {%for f in fieldset.fields%}
  <div class="regwrap{%if f.errors%} errfld{%endif%}">
    <div class="regleft">
      {{f.label_tag()}} <br/>
      {{f}}
    </div>
    <div class="regright">
      {% if f.errors %}{{ f.errors}}{% endif %}
    </div>
  </div>
  {%endfor%}
 </fieldset>
{%endfor%}

 <input type="submit" name="submit" value="Save"><br/>
 <input type="submit" name="submit" value="Cancel"><br/>
 <input type="submit" name="submit" value="Delete">
</form>
{%endblock%}

