{%extends "base.html" %}
{%block title%}Conference registration payment{%endblock%}
{%block content%}
<h1>Conference registration payment</h1>
{%if bulkpayment.paidat%}
<p>This payment was completed {{bulkpayment.paidat}}.</p>
{%else%}
<p>
This payment is associated with the following invoice. Note that
since this invoice has been created, there is no longer any way to
modify the contents of it.
</p>
{%endif%}

{%include "invoices/userinvoice_spec.html" %}

<p>
<a href="../">Back</a>
</p>
{%endblock%}
