{%extends "base.html" %}
{%if not icon%}{%macro icon(what)%}{%endmacro%}{%endif%}
{%block title%}Schedule - {{conference}}{%endblock%}
{%block extrahead%}
<style media="print">
#pgHeaderContainer, #pgSideWrap { display:none; }
div.schedwrap {
   font-size: 69%;
}
</style>
<style>
div.schedwrap {
   border: 1px solid black;
   position: relative;
}
div.sessblock {
   border: 1px solid gray;
   overflow:hidden;
   position: absolute;
}
div.roomheader {
   font-weight: bold;
   font-size: 1.2em;
   top: 0px;
   text-align: center;
}
div.sessblock a {
   text-decoration: none;
   color: black;
}
{%for track in tracks%}
div.track{{track.id}} {
   background-color: {{track.color}};
   color: {{track.fgcolor}};
}
div.track{{track.id}} a {
   color: {{track.fgcolor}};
}
{%endfor%}
</style>
{%endblock%}
{%block content%}
<h1>Schedule<span class="confheader"> - {{conference}}</span></h1>
<p>
You can find the full conference information at the
<a href="{{conference.confurl}}">conference website</a>.
This schedule is subject to changes. This page will be updated when any
changes occur.
</p>

{%for day in days%}
<h2>{{day.day|datetimeformat("%A, %B %d")}}</h2>
<div class="schedwrap" style="height: {{day.schedule_height}}px; width: {{day.schedule_width}}px;">
{%for room in day.rooms%}
 <div class="sessblock roomheader" style="left: {{room.leftpos}}px; width: {{room.widthpos}}px; height: {{room.heightpos}}px;">
 {%if room.url%}<a href="{{room.url}}">{{room.name}}</a>{%else%}{{room.name}}{%endif%}
 </div>
{%endfor%}
{%for session in day.sessions%}
 <div class="sessblock track{{session.track.id}}" style="top: {{session.toppos}}px; left: {{session.leftpos}}px; width: {{session.widthpos}}px; height: {{session.heightpos}}px;">
{%if session.id%}
  <a href="session/{{session.id}}-{{session.title|slugify}}/">{{session.timeslot}}<br/>{{session.title}}{%if session.has_slides%} {{ icon("slides") }}{%endif%}</a>
{%else%}
  {{session.timeslot}} - {{session.title}}
{%endif%}
  {%for speaker in session.speakers %}{%if loop.first%}<br/>{%else%}, {%endif%}<i><a href="speaker/{{speaker.id}}-{{speaker.name|slugify}}/">{{speaker.name}}</a></i>{%endfor%}
 </div>
{%endfor%}
</div>

{%endfor%}

<p>This schedule is also available in <a href="ical/">iCalendar</a> format as well as
  an <a href="/events/{{conference.urlname}}/schedule.xml">XML</a> format suitable for scheduling apps.</p>

<h2>Tracks</h2>
{%for track in tracks%}
<div class="track{{track.id}}">{{track.trackname}}</div>
{%endfor%}

{%endblock%}
