{%extends "base.html" %}
{%block title%}Conference Session - {{conference}}{%endblock%}
{%block extrahead%}
<link rel="stylesheet" type="text/css" href="/media/css/pgeuconf.css">
{{ super() }}
{%endblock%}

{%block content%}
<h1>Conference Session<span class="confheader"> - {{conference}}</span></h1>
<a href="../">Back</a><br/>

<h2>{{session.title}}</h2>
<p>
<b>Status: </b>{{session.lastnotified_status_string_long}}<br/>
{%if session.track %}<b>Track: </b>{{ session.track.trackname }}<br/>{% endif %}
</p>

<p>
{{session.abstract|markdown}}
</p>

{%if session.submissionnote%}
<h3>Submission notes</h3>
<p>
{{session.submissionnote}}
</p>
{%endif%}

{%if session.lastnotifiedstatus == 1 %}{# only show slides and feedback if the session is approved #}
<h2>Slides</h2>
<p>
  You can upload slides or link to the slides to make them available
  to the attendees.
</p>
<ul>
{%for sl in slides%}
<li><a href="{%if sl.url%}{{sl.url}}{%else%}/events/{{conference.urlname}}/sessions/session/{{session.id}}/slides/{{sl.id}}/{{sl.name}}{%endif%}">{{sl.name}}</a> (<a href="delslides/{{sl.id}}/">delete</a>)</li>
{%endfor%}
</ul>
<form method="post" action=".">{{csrf_input}}
<table id="slides_url_table">
{{slidesurlform.as_table()}}
</table>
<input type="submit" name="submit" value="Add link to slides">
</form>
<br/>
<form method="post" action="." enctype="multipart/form-data">{{csrf_input}}
<table id="slides_file_table">
{{slidesfileform.as_table()}}
</table>
<input type="submit" name="submit" value="Upload slides">
</form>

{% if feedbackcount or feedbackqrcode %}
<h2>Feedback</h2>

{% if feedbackqrcode %}
<h3>Feedback link</h3>
<p>
Attendees will be able to leave <a href="/events/{{conference.urlname}}/feedback/{{session.id}}/">feedback</a> on your talk.
This link will work once your talk has started.  You can include the below QR code in your slides to increase the response rate.
</p>
<p class="feedback-qrcode"><img src="data:image/png;base64,{{ feedbackqrcode }}"></p>
{%endif%}

{%if feedbackcount%}
{%if conference.feedbackopen%}
<h3>Preliminary feedback!</h3>
<p>
This is preliminary feedback only, since the feedback system is still
open. It's only shown to people registered as testers.
</p>
{%endif%}{# conference.feedbackopen #}

<p>
The following feedback has been given on this presentation by
{{feedbackcount}} people.
</p>
{%for f in feedbackdata%}
<div id="chart_{{f.key}}" class="feedbackchart">
  <h5>{{f.title}}</h5>
{{svgcharts.svgpiechart(f.score, legendwidth=100)}}
</div>
{%endfor%}

{%if feedbacktext%}
<h3>Comments</h3>
<table border="1" cellspacing="0" cellpadding="2">
 <tr>
  <th>Comment</th>
{%for f in feedbackfields%}
  <th>{{f}}</th>
{%endfor%}
 </tr>
{%for fb in feedbacktext%}
 <tr>
  <td>{{fb.feedback}}</td>
{%for f in fb.scores%}
  <td>{{f}}</td>
  {%endfor%}
 </tr>
{%endfor%}
</table>

{%endif%}{# feedbacktext #}

{%if feedbackcomparisons%}
<h3>In comparison</h3>
<p>
  These charts show your average scores compared to the other sessions at this event.
</p>
{%for f in feedbackcomparisons%}
<div id="comp_{{f.key}}" class="feedbackchart feedbackbarchart">
  <h5>{{f.title}}</h5>
{{svgcharts.svgbarchart(f.data, wratio=2, legend=False)}}
</div>
{%endfor%}
{%endif%}{# feedbackcomparisons #}

{%endif%}{# feedbackcount #}
{%endif%}{# feedbackcount or feedbackqrcode #}
{%endif%}{# session.lastnotifiedstatus == 1 #}
{%endblock%}

