{%extends "base.html" %}
{%block title%}Conference Sessions - {{conference}}{%endblock%}
{%block content%}
<h1>Conference Sessions - {{conference}}</h1>
<p>
The following list contains all the talks that have been approved so far
for {{conference}}.
Note that they may not yet have been scheduled!
You can find the full conference information at the
<a href="{{conference.confurl}}">conference website</a>.
</p>

{%for track,sessionlist in sessions|groupby_sort('track', 'sortkey')%}
<h2>{{track|default:'General'}}</h2>
<ul>
{%for session in sessionlist %}
 <li><a href="session/{{session.id}}-{{session.title|slugify}}/">{{session.title}}</a> ({{session.speaker_list}})</li>
{%endfor%}
</ul>
{%endfor%}


{%endblock%}
