{%extends "base.html" %}
{%block title%}Conference Schedule - {{conference}}{%endblock%}
{%block content%}
<h1>Conference Schedule - {{conference}}</h1>
<div class="sessionlistlink"><a href="../../">Back</a><br/></div>

<h2>{{session.title}}</h2>
<p>
{%if session.starttime%}<b>Date:</b> {{session.starttime|datetimeformat("%Y-%m-%d")}}<br/>{%endif%}
{%if session.starttime%}<b>Time:</b> {{session.starttime|datetimeformat("%H:%M")}} - {{session.endtime|datetimeformat("%H:%M")}}<br/>{%endif%}
<b>Room:</b> {{session.room.roomname}}<br/>
{%if conference.skill_levels %}
<b>Level:</b> {{session.skill_level_string}}<br/>
{%endif%}
{%if conference.feedbackopen and session.can_feedback%}
<b>Feedback:</b> <a href="/events/{{conference.urlname}}/feedback/{{session.id}}/">Leave feedback</a><br/>
{%endif%}
</p>

<p>
{{session.abstract|markdown}}
</p>

{%if slides%}
<h2>Slides</h2>
<p>
  The following slides have been made available for this session:
</p>
<ul>
{%for sl in slides%}
<li><a href="{%if sl.url%}{{sl.url}}{%else%}/events/{{conference.urlname}}/sessions/session/{{session.id}}/slides/{{sl.id}}/{{sl.name}}{%endif%}">{{sl.name}}</a></li>
{%endfor%}
</ul>
{%endif%}

{%for speaker in session.speaker.all()%}
{%if loop.first%}
<h2>Speaker</h2>
{%endif%}
<b><a href="../../speaker/{{speaker.id}}-{{speaker.name|slugify}}/">{{speaker.name}}</a></b><br/>
{%endfor%}

{%endblock%}

