{%extends "base.html" %}
{%block title%}Conference Schedule - {{conference}}{%endblock%}
{%block content%}
<h1>Conference Schedule<span class="confheader"> - {{conference}}</span></h1>
<div class="sessionlistlink"><a href="../../">Back</a><br/></div>

{%if speaker.photo %}
<img class="speaker-photo" src="../../../../speaker/{{speaker.id}}/photo/" alt="Photo of {{ speaker.name }}" align="right" />
{%endif%}
<h2>{{speaker.name}}</h2>
{%if speaker.company%}<div>Company: {{speaker.company}}</div>{%endif%}
{%if speaker.twittername%}<div>Twitter: <a href="https://twitter.com/{{speaker.twittername}}">{{speaker.twittername}}</a></div>{%endif%}
<p>
{{speaker.abstract|markdown}}
</p>

<h2>Sessions</h2>
<ul>
{%for session in sessions%}
 <li><a href="../../session/{{session.id}}-{{session.title|slugify}}/">{{session.title}}</a></li>
{%endfor%}
</ul>


{%endblock%}

