{%extends "base.html" %}
{%block title%}Schedule - {{conference}}{%endblock%}
{%block content%}
<h1>Schedule<span class="confheader"> - {{conference}}</span></h1>
<div class="sessionlistlink"><a href="../../">Back</a><br/></div>

{%if speaker.photo %}
<img class="speaker-photo" src="../../../../speaker/{{speaker.id}}/photo/" alt="Photo of {{ speaker.name }}" align="right" />
{%endif%}
<h2>{{speaker.name}}</h2>
{%if speaker.company%}<div><b>Company:</b> {{speaker.company}}</div>{%endif%}
{%for name, handle, link in speaker.socials_with_link %}
<div><b>{{name}}:</b> <a href="{{link}}">{{handle}}</a></div>
{%endfor%}
<p>
{{speaker.abstract|markdown}}
</p>

<h2>Sessions</h2>
<ul>
{%for session in sessions%}
 <li><a href="../../session/{{session.id}}-{{session.title|slugify}}/">{{session.title}}</a></li>
{%endfor%}
</ul>


{%endblock%}

