{%extends "base.html" %}
{%block title%}Speaker Profile{%endblock%}
{%block content%}
<h1>Speaker Profile</h1>

<p>
You can edit the contents of your speaker profile here. Please note that
any changes made here will affect your pages on <i>all</i> conferences
you are a speaker.
</p>

{% if form.errors %}
<p><b style="color:red;">Note! This form contains errors and has not been saved!</b></p>
{% endif %}

<form method="post" action="." enctype="multipart/form-data">{{ csrf_input }}
<table id="speakerprofile_table">
<tr>
 <th>Full name:</th>
 <td>{{form.fullname}}{% if form.fullname.errors %}{{ form.fullname.errors}}{% endif %}</td>
</tr>
<tr>
 <th>{{form.twittername.label_tag()}}</th>
 <td>{{form.twittername}}{% if form.twittername.errors %}{{ form.twittername.errors}}{% endif %}</td>
</tr>
<tr>
 <th>{{form.company.label_tag()}}</th>
 <td>{{form.company}}{% if form.company.errors %}{{ form.company.errors}}{% endif %}</td>
</tr>
<tr>
 <th>Bio:</th>
 <td>{{form.abstract}}{% if form.abstract.errors %}{{ form.abstract.errors}}{% endif %}</td>
</tr>
<tr>
 <th>{{form.photo.label_tag()}}</th>
 <td>{{form.photo}}{% if form.photo.errors %}{{ form.photo.errors}}{% endif %}</td>
</tr>
</table>
<input type="submit" value="Save">
</form>

{%if not speaker %}
<h2>New speaker</h2>
<p>
Please fill out the form below to register your speaker profile. Once
this is done, you will be presented with a list of open call for papers.
</p>
{%endif%}

{%if callforpapers%}
<h2>Call for papers</h2>
<p>
The following conferences currently have open call for papers:
<ul>
  {%for c in callforpapers%}
  <li><a href="/events/{{c.urlname}}/callforpapers/">{{c}}</a></li>
  {%endfor%}
</ul>
</p>
{%endif%}

{%if conferences%}
<h2>Previous conferences</h2>
<p>
You have submitted talks to the following conferences:
<ul>
{%for c in conferences %}
  <li><a href="/events/{{c.urlname}}/callforpapers/">{{c}}</a></li>
{%endfor%}
</ul>
</p>
{%endif%}


{%endblock%}
