{%extends conftemplbase %}
{%block title%}Conference Registration - {{conference}}{%endblock%}
{%block extrahead%}
{%endblock%}
{%block content%}
<h1>Conference Registration - {{conference}}</h1>

<h3>Waitlist status</h3>
<p>
You are currently <b>on the waitlist</b> to attend this conference. We will
let you know as soon as a seat shows up.
</p>

<p>
Remember to whitelist <i>{{reg.conference.contactaddr}}</i> in any spam
filters, so you do not miss the notification if you are accepted from
the waitlist!
</p>

<h3>Cancel waitlist</h3>
<p>
If you ae no longer interested in attending the conference, we ask you
to cancel your waitlist position, in order to make it easier for others
to use the seats that may show up. If so, plase do it using the form
below:
</p>

<form method="post" action="../waitlist_cancel/">{% csrf_token %}
<input type="checkbox" name="confirm" value="1">Check this box to confirm you want to cancel your waitlist position.<br/>
<input type="submit" name="submit" value="Cancel waitlist">
</form>

{%endblock%}

