<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   {{ asset("css", "bootstrap4") }}
   {{ asset("css", "fontawesome6") }}

    <link rel="stylesheet" href="/media/css/pgeu.css">

    <title>{%block title%}{%endblock%}</title>
{%block extrahead%}{%endblock%}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-md-center">
         <div class="col">
           <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pgNavbar" aria-controls="pgNavbar" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="pgNavbar">
               <ul class="navbar-nav mr-auto">
                 <li class="nav-item p-2"><a href="/" title="Home">Home</a></li>
                 <li class="nav-item p-2"><a href="/events/" title="Events">Events</a></li>
                 <li class="nav-item p-2"><a href="/account/" title="Your account">Your account</a></li>
               </ul>
             </div> <!-- pgNavBar -->
	   </nav>
         </div> <!-- col -->
      </div> <!-- row -->
      <div class="row">
	<div class="col-lg-7 offset-2 contentwrap">
{%block content%}{%endblock%}
	</div>
      </div>
    </div> <!-- container-fluid -->

    <footer id="footer">
      <div class="container">
	<br/>
	Copyright © 2008-{{ now|datetimeformat("%Y") }} {{ org_name }}
      </div>
    </footer>


    {{ asset("js", "jquery3") }}
    {{ asset("js", "bootstrap4") }}
{%block pagescript%}{%endblock%}
  </body>
</html>
