<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/media/css/font-awesome.css">

    <link rel="stylesheet" href="/media/css/pgeu.css">

    <title>{%block title%}{%endblock%} - PostgreSQL Europe</title>
{%block extrahead%}{%endblock%}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-md-center">
         <div class="col">
           <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
             <a class="navbar-brand p-0" href="/">
               <img class="logo" src="/media/img/pgeu_logo_small.png" alt="PostgreSQL Elephant Logo">
             </a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pgNavbar" aria-controls="pgNavbar" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="pgNavbar">
               <ul class="navbar-nav mr-auto">
                 <li class="nav-item p-2"><a href="/" title="Home">Home</a></li>
                 <li class="nav-item p-2"><a href="/about/" title="About">About</a></li>
                 <li class="nav-item p-2"><a href="/events/" title="Events">Events</a></li>
                 <li class="nav-item p-2"><a href="/community/" title="Community">Community</a></li>
		 <li class="nav-item p-2"><a href="/financial/" title="Financial">Financial</a></li>
		 <li class="nav-item p-2"><a href="/membership/" title="Your membership">Your membership</a></li>
                 <li class="nav-item p-2"><a href="/account/" title="Your account">Your account</a></li>
               </ul>
             </div> <!-- pgNavBar -->
	   </nav>
         </div> <!-- col -->
      </div> <!-- row -->
      <div class="row">
	<div class="col-lg-7 offset-2 contentwrap">
{%block content%}{%endblock%}
	</div>
      </div>
    </div> <!-- container-fluid -->

    <footer id="footer">
      <div class="container">
	<a href="/about/privacypolicy/">Privacy policy</a> | <a href="/about/contact/">Contact Us</a> | <a href="/about/trademarks/">Trademarks</a>
	<br/>
	Copyright © 2008-{{ now|datetimeformat("%Y") }} PostgreSQL Europe
      </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{%block pagescript%}{%endblock%}
  </body>
</html>
