h1,
h2,
h3,
h4 {
    color: #000000;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 30px;
}

h1 {
    font-size: 25px;
    font-weight: 300;
}

p,
ul,
ol {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 15px;
}
p li,
ul li,
ol li {
    list-style-position: inside;
    margin-left: 5px;
}

a {
    color: #3498db;
    text-decoration: underline;
}
/* default styles */
/* GLOBAL RESETS */
body {
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 1.3;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
table {
    border-collapse: separate;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    width: 100%;
}

table td {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    vertical-align: top;
}
/* BODY & CONTAINER */

body {
    background-color: #f4f5f6;
    margin: 0;
    padding: 0;
}

.body {
    background-color: #f4f5f6;
    width: 100%;
}

.container {
    margin: 0 auto !important;
    max-width: 600px;
    padding: 0;
    padding-top: 24px;
    width: 600px;
}

.content {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
}
/* HEADER, FOOTER, MAIN */

.main {
    background: #ffffff;
    border: 1px solid #eaebed;
    border-radius: 16px;
    width: 100%;
}

.wrapper {
    box-sizing: border-box;
    padding: 24px;
}

.footer {
    clear: both;
    padding-top: 24px;
    text-align: center;
    width: 100%;
}

.footer td,
.footer p,
.footer span,
.footer a {
    color: #9a9ea6;
    font-size: 16px;
    text-align: center;
}
/* TYPOGRAPHY */
p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 16px;
}

a {
    color: #0867ec;
    text-decoration: underline;
}
/* BUTTONS */
.btn {
    box-sizing: border-box;
    min-width: 100% !important;
    width: 100%;
}

.btn > tbody > tr > td {
    padding-bottom: 16px;
}

.btn table {
    width: auto;
}

.btn table td {
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
}

.btn a {
    background-color: #ffffff;
    border: solid 2px #0867ec;
    border-radius: 4px;
    box-sizing: border-box;
    color: #0867ec;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 12px 24px;
    text-decoration: none;
}

table.btn-wrap td {
    background-color: #0867ec;
}

.btn-primary a {
    background-color: #0867ec;
    border-color: #0867ec;
    color: #ffffff;
}

.btn-primary table td:hover {
    background-color: #ec0867 !important;
}
.btn-primary a:hover {
    background-color: #ec0867 !important;
    border-color: #ec0867 !important;
}

/* OTHER STYLES THAT MIGHT BE USEFUL */
.last {
    margin-bottom: 0;
}

.first {
    margin-top: 0;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.text-link {
    color: #0867ec !important;
    text-decoration: underline !important;
}

.clear {
    clear: both;
}

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

.preheader {
    color: transparent;
    display: none;
    height: 0;
    max-height: 0;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    mso-hide: all;
    visibility: hidden;
    width: 0;
}

.powered-by a {
    text-decoration: none;
}
