{%extends "adm/admin_base.html" %}
{%block title%}Administration{%endblock%}
{%block layoutblock%}
<h1>Administration</h1>

{%if permissions.conferences%}
<h1>Conferences</h1>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/events/admin/">Conference administration</a></div>
</div>
{%endif%}

{%if permissions.news %}
<h1>News</h1>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/news/news/">News articles</a></div>
{%if user.is_superuser %}
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/news/authors/">News author profiles</a></div>
{%endif%}
</div>
{%endif%}

{%if permissions.invoices %}
<h1>Invoices</h1>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/invoiceadmin/">Invoice Administration</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-{%if pending_bank%}warning{%else%}default{%endif%} btn-block" href="/admin/invoices/banktransactions/">Pending bank transactions</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/invoices/vatrates/">VAT rates</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/invoices/vatcache/">VAT validation cache</a></div>
</div>
{%endif%}

{%if permissions.membership %}
<h1>Membership</h1>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/membership/members/">Members</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/membership/meetings/">Meetings</a></div>
</div>
{%endif%}

{%if permissions.elections %}
<h1>Elections</h1>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/elections/election/">Elections</a></div>
</div>
{%endif%}

{%if user.is_superuser%}
<h1>System administration</h1>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/invoices/paymentmethods/">Payment methods</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-{%if schedalert%}danger{%else%}default{%endif%} btn-block" href="/admin/jobs/">Scheduled jobs</a></div>
</div>
<div class="row">
{%if modules.membership%}
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/membership/config/">Membership module</a></div>
{%endif%}
</div>

<h1>Django admin</h1>
<div class="row">
  <a class="btn btn-default btn-block" href="/admin/django/">Superuser: full django admin</a>
</div>
{%endif%}
{%endblock%}
