{%extends "adm/admin_base.html" %}
{%block title%}Administration{%endblock%}
{%block layoutblock%}
<h1>Administration</h1>

{%if permissions.conferences%}
<h1>Conferences</h1>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/events/admin/">Conference administration</a></div>
</div>
{%endif%}

{%if permissions.news %}
<h1>News</h1>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/news/news/">News articles</a></div>
{%if user.is_superuser %}
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/news/authors/">News author profiles</a></div>
{%endif%}
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/news/postqueue/">Social media queue</a></div>
</div>
{%endif%}

{%if permissions.invoices %}
<h1>Invoices</h1>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/invoiceadmin/">Invoices</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-block btn-{%if pending_refunds%}warning{%else%}default{%endif%}" href="/admin/invoices/refunds/">Refunds</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-block btn-default" href="/admin/invoices/refundexposure/">Refund exposure</a></div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-{%if pending_bank%}warning{%else%}default{%endif%} btn-block" href="/admin/invoices/banktransactions/">Pending bank transactions</a></div>
{%if bank_file_uploads is not None %}
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-{%if bank_file_uploads %}warning{%else%}default{%endif%} btn-block" href="/admin/invoices/bankfiles/">Bank file uploads</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/invoices/bankfiles/transactions/">Loaded bank transactions</a></div>
{%endif%}
</div>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/invoices/vatrates/">VAT rates</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/invoices/vatcache/">VAT validation cache</a></div>
</div>
{%endif%}

{%if permissions.accounting %}
<h1>Accounting</h1>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/accounting/">Accounting</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/accounting/accountstructure/">View account structure</a></div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/accounting/accountclasses/">Account classes</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/accounting/accountgroups/">Account groups</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/accounting/accounts/">Accounts</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/accounting/objects/">Objects</a></div>
</div>
{%endif%}

{%if permissions.membership %}
<h1>Membership</h1>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/membership/members/">Members</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/membership/meetings/">Meetings</a></div>
</div>
{%endif%}

{%if permissions.elections %}
<h1>Elections</h1>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/elections/election/">Elections</a></div>
</div>
{%endif%}

{%if user.is_superuser%}
<h1>System administration</h1>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/invoices/paymentmethods/">Payment methods</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-{%if schedalert%}danger{%else%}default{%endif%} btn-block" href="/admin/jobs/">Scheduled jobs</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-{%if mailqueuealert%}warning{%else%}default{%endif%} btn-block" href="/admin/mailqueue/">Queued mail</a></div>
</div>
<div class="row">
{%if modules.membership%}
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/membership/config/">Membership configuration</a></div>
{%endif%}
</div>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/oauthapps/">OAuth Applications</a></div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow"><a class="btn btn-default btn-block" href="/admin/news/messagingproviders/">News messaging providers</a></div>
</div>

<h1>Django admin</h1>
<div class="row">
  <a class="btn btn-default btn-block" href="/admin/django/">Superuser: full django admin</a>
</div>
{%endif%}
{%endblock%}
