{%extends "nav_about.html"%}
{%block title%}2017 General Assembly - Activities report{%endblock%}
{%block content%}
<h1>2017 General Assembly - Activities report</h1>

<h2>What has been done</h2>

<h3>Financial/Administration</h3>

<p>See the <a href="/about/ga/2017/financialreport/">Financial report</a>, section "Activities".</p>

<h3>Events</h3>
<p>
2016 saw a good number of events which were either organized by, or with the
support from, PostgreSQL Europe, though no PGConf.DE this year. In total, we
had 682 registered attendees at this year's events which we are very happy
about.
</p>

<h3>FOSDEM/PGDay</h3>
<p>
The fourth annual one-track PGDay just before FOSDEM again is now a successful
and well established event with 102 attendees. During FOSDEM, we had lots of
interest at our booth and all talks in our devroom ended up completely full
with far from everyone who wanted to attend being able to get in.
</p>

<h3>Nordic PGDay</h3>
<p>
The third iteration of Nordic PGDay followed the same concept as the two
previous years, a single-day single-track conference. This year, it was held
in Helsinki, Finland, with 93 attendees and 7 talks.
</p>

<h3>pgDay Paris</h3>
<p>
The Paris usergroup organizers decided to run a PGDay in Paris supported by
PostgreSQL Europe. The conference followed the well proven one-day one-track
model and attracted 74 attendees.
</p>

<h3>PGConf.EU</h3>
<p>
For the third year in a row, PGConf.EU broke its attendance record, this year
with a wide margin. The conference, which was held in Tallin, Estonia, had 413
attendees. The event was a success with overwhelmingly positive feedback.
</p>

<h2>Other events</h2>
<p>
We were part of some other events. We sponsored the PostgreSQL booth at
HighLoad++. We also sent them some merchandise. We sent merchandise to some
PostgreSQL meetups.</p>

<p>
We sponsored the <a href="http://www.pgmag.org/">PostgreSQL magazine</a>. We
also gave some at PGConf.EU 2016, and gave some for a french meetup.
</p>

<h3>Upcoming events</h3>
<p>
FOSDEM/PGDay will as last year be held in Brussels at the beginning of
February. Registration is open and the schedule for both our devroom and PGDay
has been published.
</p>

<p>
Nordic PGDay continues to visit the major cities in the nordic region and will
this year be held in Stockholm, Sweden, on March 21. Registration will open
shortly. <a href="https://2017.nordicpgday.org/cfp/">CfP is already opened</a>.
</p>

<p>
PGDay.Paris is back again, and <a
href="http://www.pgday.paris/2017/callforpapers/">its CfP is open</a>.
</p>

<p>
PGConf.EU will of course come back again, in Warsaw (Poland). We're still
working on the details. More informations will come later.
</p>

<p>
As always, we invite our members who are interested in working on a regional
PGDay to contact us if we can be of any assistance at all, whether just in
answering questions, or through organisational or financial aid. More
information can be found at <a
href="/events/">https://www.postgresql.eu/events/</a>.
</p>

{%endblock%}
