{%extends "nav_about.html"%}
{%block title%}2017 General Assembly - Financial report{%endblock%}
{%block content%}
<h1>2017 General Assembly - Financial report</h1>

<h2 >Assets</h2>

<table>
	<tr>
		<td><strong>Accounts</strong></td>
		<td><strong>2016-01-01</strong></td>
		<td><strong>2016-12-31</strong></td>
		<td><strong>Difference</strong></td>
	</tr>
	<tr>
		<td>Crédit Mutuel checking account</td>
		<td align="right"> 38,705.77</td>
		<td align="right"> 77,418.89</td>
		<td align="right"> 38,713.12</td>
	</tr>
	<tr>
		<td>Crédit Mutuel saving account</td>
		<td align="right"> 60,740.61</td>
		<td align="right"> 61,284.35</td>
		<td align="right">    543.74</td>
	</tr>
	<tr>
		<td>Paypal account</td>
		<td align="right"> 6,399.41</td>
		<td align="right"> 7,785.42</td>
		<td align="right"> 1,386.01</td>
	</tr>
	<tr>
		<td>Adyen account</td>
		<td align="right">   500.00</td>
		<td align="right">   500.00</td>
		<td align="right">     0.00</td>
	</tr>
	<tr>
		<td>Pending creditcard payments</td>
		<td align="right">   256.45</td>
		<td align="right">   256.45</td>
		<td align="right">     0.00</td>
	</tr>
	<tr>
		<td><em>Total</em></td>
		<td align="right"><em>106,602.24</em></td>
		<td align="right"><em>147,245.11</em></td>
		<td align="right"><em> 40,642.87</em></td>
	</tr>
</table>
<p>The <a href="/media/pdf/pgeu_balance_2017.pdf">full balance report</a> is also available.</p>

<p>
While the overall goal of PostgreSQL Europe is to break even, we did in 2016
see the biggest net gain since the start of operation. This is mostly due to
a lower cost level in Estonia for PGConf.EU and a still big number of sponsors.
</p>

<h2>Major items</h2>

<h3>Activities</h3>
<p>
The savings account which acts as a buffer to cover unexpected costs has not
been used during 2016 since all events have generated satisfactory financial
results (exceeding or hitting budget) due to good sponsor incomes. The only
transaction during 2016 was an interest income of 543.74€. As the events grow
larger - PGConf.EU 2016 was our biggest event to date - and the number of
events increase, the importance of this buffer remains.
</p>

<p>
Our administrative backend software which powers both our financial reporting
as well as the events was again further improved ensuring safe operation of
our events.
</p>

<p>
According to the french tax agency, we are required to pay taxes. We are
working hard with the accountant firm to see how much we have to pay. Work
is ongoing for 2016. We dont know yet how much, so this financial report
is a partial report.
</p>

<p>
The French tax agency has also decided to require that we are VAT registered.
</p>

<p>
Merchandise sales are increasing year over year with 2016 being no exception.
In total, sales were up 9% from 2015 reaching a total of 5,065.26€.
</p>

<p>
Donations were much higher than last year, thanks to the book royalties.
</p>

<h3>Income/Expenses</h3>

<p>
  Important items are summarized here, but
  the <a href="/media/pdf/pgeu_results_2017.pdf">full results report</a>
  is also available.
</p>

<table>
	<tr>
		<td><strong>Items</strong></td>
		<td align="right"><strong>Income</strong></td>
		<td align="right"><strong>Expenses</strong></td>
		<td align="right"><strong>Final results</strong></td>
	</tr>
	<tr>
		<td>Membership</td>
		<td align="right">600.00</td>
		<td align="right">0</td>
		<td align="right">600.00</td>
	</tr>
	<tr>
		<td>Donations</td>
		<td align="right">5,631.30</td>
		<td align="right">0.00</td>
		<td align="right">5,631.30</td>
	</tr>
	<tr>
		<td>Conferences</td>
		<td align="right">173,969.00</td>
		<td align="right">-128,609.49</td>
		<td align="right">45,359.51</td>
	</tr>
	<tr>
		<td>Merchandise</td>
		<td align="right">5,065.26</td>
		<td align="right">-7,182.31</td>
		<td align="right">-2,117.05</td>
	</tr>
	<tr>
		<td>Financial</td>
		<td align="right">543,74</td>
		<td align="right">-2,811.90</td>
		<td align="right">-2,268.16</td>
	</tr>
	<tr>
		<td>Insurance</td>
		<td align="right">0.00</td>
		<td align="right">-553.68</td>
		<td align="right">-553.68</td>
	</tr>
	<tr>
		<td>Taxes</td>
		<td align="right">0.00</td>
		<td align="right"><em>pending</em></td>
		<td align="right"><em>pending</em></td>
	</tr>
	<tr>
		<td>Other</td>
		<td align="right">0.00</td>
		<td align="right">-4,987.57</td>
		<td align="right">-4,987.57</td>
	</tr>
	<tr>
		<td><em>Total</em></td>
		<td></td>
		<td></td>
		<td align="right"><em>41,664.35</em></td>
	</tr>
</table>

<p>
Once again, we gain a lot this year because of a cheaper location, and bigger events. The amount of taxes is yet to be determined.
</p>

<p>
The financial results for our events can be seen broken down per conference in the table below.
</p>

<table>
  <tr>
    <td><strong>Event</strong></td>
    <td align="right"><strong>Income</strong></td>
    <td align="right"><strong>Expenses</strong></td>
    <td align="right"><strong>Final results</strong></td>
  </tr>
  <tr>
    <td>FOSDEM/PGDay 2016</td>
    <td align="right">5,370.00</td>
    <td align="right">776.07</td>
    <td align="right">4,593.93</td>
  </tr>
  <tr>
    <td>Nordic PGDay 2016</td>
    <td align="right">7,920.00</td>
    <td align="right">9,671.05</td>
    <td align="right">-1,751.05</td>
  </tr>
  <tr>
    <td>PGDay Paris 2016</td>
    <td align="right">6,070.00</td>
    <td align="right">2,169.56</td>
    <td align="right">3,900.44</td>
  </tr>
  <tr>
    <td>PGConf.EU 2016</td>
    <td align="right">155,629.00</td>
    <td align="right">108,329.46</td>
    <td align="right">47,299.54</td>
  </tr>
</table>

<p>
FOSDEM, Nordic PGDay, and PGConf.EU 2016 are events held early in the year and
thus have transactions on both this and next year's report. Complete sums for
FOSDEM 2016 as well as Nordic PGDay 2016 are listed below broken down per year.
</p>

<table>
  <tr>
    <td colspan="2"><strong>FOSDEM PGDay 2016</strong></td>
  </tr>
  <tr>
    <td>Final Result 2015</td>
    <td align="right">-8,763.69</td>
  </tr>
  <tr>
    <td>Final Result 2016</td>
    <td align="right">4,593.93</td>
  </tr>
  <tr>
    <td><em>Total</em></td>
    <td align="right">-4,169.76</td>
  </tr>

  <tr>
    <td colspan="2"><strong>Nordic PGDay 2016</strong></td>
  </tr>
  <tr>
    <td>Final Result 2015</td>
    <td align="right">2,400.00</td>
  </tr>
  <tr>
    <td>Final Result 2016</td>
    <td align="right">-1,751.05</td>
  </tr>
  <tr>
    <td><em>Total</em></td>
    <td align="right">648.95</td>
  </tr>

  <tr>
    <td colspan="2"><strong>PGConf.EU 2016</strong></td>
  </tr>
  <tr>
    <td>Final Result 2015</td>
    <td align="right">-565.50</td>
  </tr>
  <tr>
    <td>Final Result 2016</td>
    <td align="right">47,299.54</td>
  </tr>
  <tr>
    <td><em>Total</em></td>
    <td align="right">46,734.04</td>
  </tr>
</table>

{%endblock%}
