{%extends "navbase.html"%}
{%block title%}Payment error{%endblock%}
{%block content%}
<h1>Payment error</h1>
<p>
An invalid cryptographical signature was returned from our payment processor.
</p>

<p>
This is most likely due to your webbrowser limiting or otherwise modifying
the return URL. Your payment may still have been processed asynchronously.
Please go to your <a href="/invoices/">list of invoices</a> and check it's
status in 5-10 minutes.
</p>

<p>
If your invoice has not been processed by then, please contact
treasurer@postgresql.eu citing the full details of your payment for manual
verification and processing.
</p>

{%endblock%}
