<html{%if html5manifestversion%} manifest="cache.manifest/"{%endif%}>
  <head> 
    <title>{{conf.conferencename}}</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="/media/jq/jquery.mobile-1.2.0.min.css" />
    <script src="/media/jq/jquery-1.8.2.min.js"></script>
    <script src="/media/jq/jquery.mobile-1.2.0.min.js"></script>
    <style>
span.st { font-size: 0.8em; }
span.spk { font-size: 0.7em; }
    </style>
</head> 
<body> 

<script language="javascript">

function supports_html5_storage() {
  try {
    return 'localStorage' in window && window['localStorage'] !== null;
  } catch (e) {
    return false;
  }
}

function merge_json_structures(currdata, newdata) {
   return $.map(currdata, function(e, i) {
      retval = e;
      $.each(newdata, function(i, sess) {
         if (e.i == sess.i) {
            retval = sess;
            return false;
         }
      });
      return retval;
   });
}

function remove_json_ids(currdata, idlist) {
   return $.grep(currdata, function(e, i) {
      retval = true;
      $.each(idlist, function (i, id) {
         if (e.i == id) {
            retval = false;
            return false;
         }
      });
      return retval;
   });
}

/*
 * Our stuff here 
 */
function load_news() {
      // XXX: really should not block when doing this
      $.mobile.loading('show', {'text': 'Refreshing news...', 'textVisible': true});
      loadTime = new Date();
      if (localStorage['{{conf.urlname}}_news_last']) {
         last = new Date(localStorage['{{conf.urlname}}_news_last']);
      } else {
         last = new Date('2000-01-01');
      }
      $.ajax({
         url: '/m/{{conf.urlname}}/newsj/' + '?since=' + last.getTime(),
         dataType: 'jsonp',
         jsonpCallback: 'news_jsonp',
         success: function(data) {
            /* Data is an array of new news items */
            if (localStorage['{{conf.urlname}}_news']) {
               currnews = JSON.parse(localStorage['{{conf.urlname}}_news']);
            }
            else {
               currnews = [];
            }
            if (data.length > 0) {
               currnews.unshift.apply(currnews, data);
               localStorage['{{conf.urlname}}_news'] = JSON.stringify(currnews);
               unread = 0;
               if (localStorage['{{conf.urlname}}_news_unread']) {
                  unread = parseInt(localStorage['{{conf.urlname}}_news_unread']);
               }
               unread += data.length;
               $('#newsunreadcount').text(unread);
               localStorage['{{conf.urlname}}_news_unread'] = unread;
            }
            localStorage['{{conf.urlname}}_news_last'] = loadTime.toISOString();
            update_news();
         },
         complete: function(data) {
            $.mobile.loading('hide');
         }
      });
}

function load_server_data() {
   incremental = false;
   if (localStorage['{{conf.urlname}}_last']) {
      // incremental load (add Z to the date string to turn it back to UTC)
      url = '/m/{{conf.urlname}}/cdj/' + (new Date(localStorage['{{conf.urlname}}_last'] + 'Z')).getTime();
      incremental = true;
   } else {
      url = '/m/{{conf.urlname}}/cdj/';
   }
   $.mobile.loading('show', {'text': 'Refreshing server data...', 'textVisible': true});
   loadtime = new Date(); /* Store this before we start, to avoid races */
   $.ajax({
      url: url,
      dataType: 'text', // don't want json parsing yet, because we need to store it!
      success: function(data) {
         if (incremental) {
            /* Need to merge data! */
            newdata = JSON.parse(data);
            currdata = JSON.parse(localStorage['{{conf.urlname}}_data']);
            currdata.s = merge_json_structures(currdata.s, newdata.s);
            currdata.sp = merge_json_structures(currdata.sp, newdata.sp);
            /* No need to merge, we always get the full struct */
            currdata.c = newdata.c;
            if (!newdata.c.news) {
               /* No news on this conf, so potentially remove the element */
               try {
                  $('#frontmenu_news').remove();
                  $('#frontmenu').listview('refresh');
               }
               catch(e) {}
            }

            if (newdata.d.sess) {
               currdata.s = remove_json_ids(currdata.s, newdata.d.sess);
            }
            if (newdata.d.spk) {
               currdata.sp = remove_json_ids(currdata.sp, newdata.d.spk);
            }
            // XXX: Sort the data, since we might've changed times
            // Store the new data
            localStorage['{{conf.urlname}}_data'] = JSON.stringify(currdata);
         }
         else {
            /* Full load - just overwrite what we have */
            localStorage['{{conf.urlname}}_data'] = data;
         }
         now = loadtime.toISOString().replace('T', ' ').replace('Z', '')
         localStorage['{{conf.urlname}}_last'] = now;
         status('Loaded server data at ' + now);
         if (incremental) update_schedule();
         load_news();
      },
      complete: function(data) {
         $.mobile.loading('hide');
      }
   });
}

function resync() {
   load_server_data();
}

function reset_data() {
   if (confirm('Are you sure you want to do this? All data will be removed and you will need to resync to see anything.')) {
      localStorage.removeItem('{{conf.urlname}}_data');
      localStorage.removeItem('{{conf.urlname}}_last');
      localStorage.removeItem('{{conf.urlname}}_news_last');
      localStorage.removeItem('{{conf.urlname}}_news_unread');
      localStorage.removeItem('{{conf.urlname}}_news');
      $('#schedule-lv').html('');
   }
}

function leadingZero(n, len) {
   s = n.toString();
   while (s.length < len) {
      s = '0' + s;
   }
   return s;
}

function timeonly(t) {
   var t = new Date(t);
   return leadingZero(t.getUTCHours(), 2) + ':' + leadingZero(t.getUTCMinutes(), 2);
}

function headerDateTime(t) {
   var t = new Date(t);
   return timeonly(t) + ', ' + t.toLocaleDateString();
}

function status(msg, page, popup) {
   $.each($(':jqmData(role=footer)'), function(i, e) { $(e).html(msg); });
   if (popup) {
      alert(msg);
   }
}

function lookup_by_id(collection, id) {
   o = null;
   $.each(collection, function(index, obj) {
      if (parseInt(obj.i) == parseInt(id)) {
         o = obj;
         return false;
      }
   });
   return o;
}

function update_schedule() {
   if (!localStorage['{{conf.urlname}}_data']) {
      return status('No schedule loaded.', $('#schedule'), true);
   }
   data = JSON.parse(localStorage['{{conf.urlname}}_data']);
   schedule = data.s;
   speakers = data.sp;

   var output = '';
   var lastStartTime = null;
   $.each(schedule, function(index, session) {
      var startday = new Date(session.st).setHours(0,0,0,0);
      if (session.st != lastStartTime) {
         output += '<li data-role="list-divider">' + headerDateTime(session.st) + '</li>';
         lastStartTime = session.st;
      }
      if (session.a) {
         var speakerlist = $.map(session.s, function (e,i) { return lookup_by_id(speakers,e).n; }).join(', ');
         roomInfo = session.r ? ' (' + session.r + ')' : '';
         output += '<li><a href="#session?id=' + session.i + '" data-transition="slide">' + session.t + '<br/><span class="st">' + timeonly(session.st) + ' - ' + timeonly(session.et) + roomInfo + '<br/><span class="spk">' + speakerlist + '</span></a></li>';
      }
      else {
         output += '<li>' + session.t + '</li>';
      }
   });
      
   $('#schedule-lv').html(output);
   try {
      $('#schedule-lv').listview('refresh');
   }
   catch (e) {} /* Error occurs if refreshing prior to viewing it */
}

function update_news() {
   if (!localStorage['{{conf.urlname}}_news']) {
      return status('No news loaded.', $('#news'), true);
   }
   news = JSON.parse(localStorage['{{conf.urlname}}_news']);
   var output = '';
   $.each(news, function(index, news) {
      output += '<div data-role="collapsible" data-collapsed="false">';
      output += '<h3>' + news.t + '</h3>';
      output += '<p>' + news.c + '</p>';
      output += '</div>';
   });
   $('#newscontents').html(output);
   $('#newscontents').collapsibleset();
}

/*
 * Generate a page for a specific session
 */
function showSession(urlObj, options) {
   var sessid = urlObj.hash.replace(/.*id=/, '');
   var pageSelector = urlObj.hash.replace(/\?.*$/, '');
   var data = JSON.parse(localStorage['{{conf.urlname}}_data']);
   var schedule = data.s;
   var speakers = data.sp;

   var session = $.grep(schedule, function(el, i) { return (el.i == sessid); })[0];

   var $page = $(pageSelector);
   var $header = $page.children(':jqmData(role=header)');
   var $content = $page.children(':jqmData(role=content)');

   $header.find('#sesstitle').html(session.t);
   $content.find('#sessabstract').html(session.a);
   $content.find('#sessspeakers').html($.map(session.s, function(e,i) {
      s = lookup_by_id(speakers, e);
      return '<h4>' + s.n + '</h4><div>' + s.a + '</div>';
   }).join(''));
   $page.page();
   options.dataUrl = urlObj.href;
   $.mobile.changePage($page, options);
}

function saveSetting(name, val) {
   if (localStorage['{{conf.urlname}}_settings']) {
      setobj = JSON.parse(localStorage['{{conf.urlname}}_settings']);
   } else {
      setobj = {};
   }
   setobj[name] = val;
   localStorage['{{conf.urlname}}_settings'] = JSON.stringify(setobj);
}

/*
 * Initialize events
 */
$('#index').live('pageinit', function(event) {
   if (!supports_html5_storage()) {
      alert('Sorry, this app only works if your browser supports local storage!');
      return;
   }
   try {
      localStorage['test_write'] = '1';
      localStorage.removeItem('test_write');
   }
   catch(e) {
      alert('Local storage does not appear to be working in your browser. This may be because  you are using Private Browsing or Incognito Browsing. Unfortunately, this app requires local storage to work!');
      return;
   }
   if (localStorage['{{conf.urlname}}_news_unread']) {
      $('#newsunreadcount').text(localStorage['{{conf.urlname}}_news_unread']);
   }

   if (!localStorage['{{conf.urlname}}_data']) {
      // Need to "decouple", so the page initializes before we run
      setTimeout(resync, 1);
   }
   else {
      setTimeout(function() {
         status('Server data from ' + localStorage['{{conf.urlname}}_last']);
      }, 1);
   }
});

// Settings form
$('#set_autosync').live('change', function(e) {
   saveSetting('autosync', $('#set_autosync').val());
});

$('#schedule').live('pageinit',function(event){
   update_schedule();
});

$('#news').live('pageinit', function(event) {
   if (localStorage['{{conf.urlname}}_news_unread']) {
      localStorage['{{conf.urlname}}_news_unread'] = 0;
      $('#newsunreadcount').text('0');
   }

   update_news();
});


// Listen for any attempts to call changePage().
$(document).bind( "pagebeforechange", function( e, data ) {
   // We only want to handle changePage() calls where the caller is
   // asking us to load a page by URL.
   if (typeof data.toPage === "string") {
      // We are being asked to load a page by URL, but we only
      // want to handle URLs that request the data for a specific
      // category.
      var u = $.mobile.path.parseUrl(data.toPage);

      if ( u.hash.search(/^#session?/) !== -1 ) {
         showSession(u, data.options);
         e.preventDefault();
      }
   }
});

</script>

{%spaceless%}

<div data-role="page" id="index">
  <div data-role="header" data-position="fixed">
    <h1>{{conf.conferencename}}</h1>
    <a href="javascript:resync()" data-icon="refresh" class="ui-btn-right">Resync</a>
  </div>
  
  <div data-role="content">	
    <ul data-role="listview" data-inset="true" id="frontmenu">
      <li id="frontmenu_news"><a href="#news" data-transition="slide">News</a><span id="newsunreadcount" class="ui-li-count">0</span></li>
      <li><a href="#schedule" data-transition="slide">Schedule</a></li>
      <li><a href="#settings" data-transition="slide">Settings</a></li>
      <li><a href="#about" data-transition="slide">About</a></li>
    </ul>
  </div>
  <div data-role="footer" data-id="global-footer" data-position="fixed">
  </div>
</div>

<div data-role="page" id="news">
  <div data-role="header" data-position="fixed">
    <a href="#index" data-icon="back" data-back="true" data-transition="slide">Back</a>
    <a href="javascript:resync()" data-icon="refresh">Resync</a>
    <h1>News - {{conf.conferencename}}</h1>
  </div>
  <div data-role="content">
   <div data-role="collapsibleset" id="newscontents">
   </div>
  </div>
  <div data-role="footer" data-id="global-footer" data-position="fixed">
  </div>
</div>

<div data-role="page" id="schedule">
  <div data-role="header" data-position="fixed">
    <a href="#index" data-icon="back" data-back="true" data-transition="slide">Back</a>
    <a href="javascript:resync()" data-icon="refresh">Resync</a>
    <h1>Schedule - {{conf.conferencename}}</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview" data-inset="true" id="schedule-lv">
    </ul>
  </div>
  <div data-role="footer" data-id="global-footer" data-position="fixed">
  </div>
</div>

<div data-role="page" id="about">
  <div data-role="header" data-position="fixed">
    <a href="#index" data-icon="back" data-back="true" data-transition="slide">Back</a>
    <h1>About - {{conf.conferencename}}</h1>
  </div>
  <div data-role="content">
     <h1>About</h1>
<p>
This tiny app is written by
<a href="http://www.hagander.net/" target="_blank">Magnus Hagander</a> for
PostgreSQL Europe. The code is available under the PostgreSQL License on the
<a href="http://git.postgresql.org/gitweb/?p=pgeu-website.git;a=summary" target="_blank">postgresql.org git server</a>.
</p>
  </div>
  <div data-role="footer" data-id="global-footer" data-position="fixed">
  </div>
</div>

<div data-role="page" id="settings">
  <div data-role="header" data-position="fixed">
    <a href="#index" data-icon="back" data-back="true" data-transition="slide">Back</a>
    <h1>Settings - {{conf.conferencename}}</h1>
  </div>
  <div data-role="content">
     <h1>Settings</h1>
     <div data-role="collapsible" data-collapsed="false">
        <h3>Synchronization</h3>
        <h4>Note that auto synchronization currently does not work. Sorry.</h4>
        <div data-role="fieldcontain">
           <label for="set_autosync">Automatic synchronization:</label>
           <select name="set_autosync" id="set_autosync" data-role="slider" data-mini="true">
              <option value="off">Off</option>
              <option value="on">On</option>
           </select> 
        </div>
	<a href="javascript:reset_data()" data-role="button">Reset all data</a>
      </div>
  </div>
  <div data-role="footer" data-id="global-footer" data-position="fixed">
  </div>
</div>

<div data-role="page" id="session">
  <div data-role="header" data-position="fixed">
    <a href="#schedule" data-icon="back" data-back="true" data-transition="slide">Back</a>
    <h1><span id="sesstitle"></span> - {{conf.conferencename}}</h1>
  </div>
  <div data-role="content">
    <div data-role="collapsible" data-collapsed="false">
      <h3>Abstract</h3>
      <div id="sessabstract"></div>
    </div>
    <div data-role="collapsible">
      <h3>Speaker</h3>
      <div id="sessspeakers"></div>
    </div>
  </div>
  <div data-role="footer" data-id="global-footer" data-position="fixed">
  </div>
</div>

{%endspaceless%}
</body>
</html>
