{%extends "nav_membership.html"%}
{%block title%}Membership{%endblock%}
{%block content%}
<h1>Your Membership</h1>

{%if not registration_complete%}
<p>
You are not currently registered as a member of PostgreSQL Europe. You can do
this using the form on this page. Please read through the
<a href="/about/membership/">membership rules</a> before you register, and if
you are uncertain about anything feel free to <a href="/about/contact/">contact us</a>.
</p>
<p>
Once you have registered, you will be able to generate an invoice for your
membership fee.
<i>Your membership is not active until you have paid the fee!</i>
</p>
<p>
Note that all the information on the form must be filled accurately, or your membership
will not be valid even if it is fully paid.
</p>
{%endif%}

<form method="post" action=".">{% csrf_token%}
{% if form.errors %}
<p><b>Note! This form contains errors and has not been saved!</b></p>
{% endif %}

 <fieldset id="personal_information">
   <legend>Personal information</legend>
      <div{% if form.fullname.errors %} class="errfld"{% endif %}>
       {{ form.fullname.label_tag }} <br/>
        {{ form.fullname }} {% if form.fullname.errors %}{{ form.fullname.errors}}{% endif %}
      </div>

      <div{% if form.country.errors %} class="errfld"{% endif %}>
       {{ form.country.label_tag }} <br/>
        {{ form.country }} {% if form.country.errors %}{{ form.country.errors}}{% endif %}
      </div>

      <div{% if form.listed.errors %} class="errfld"{% endif %}>
       {{form.listed}} {{ form.listed.label_tag }} <br/>
        {% if form.listed.errors %}{{ form.listed.errors}}{% endif %}
      </div>
  </fieldset>

{%if registration_complete%}
  <fieldset id="membership_status">
   <legend>Membership Status</legend>
<div id="membershipinfo">
{%if member.membersince %}
You have been a member since {{member.membersince}}.<br/>
{%endif%}
{%if member.paiduntil %}
 {%if member.expiressoon %}
Your membership is currently active but will expire in {{member.paiduntil|timeuntil}} on {{member.paiduntil}}.
 {%else%}
Your membership and payment has been registered, and will expire on {{member.paiduntil}}.
 {%endif%}
{%else%}
Your membership will become active once you have paid the fee.
{%endif%}
</div>
{%if member.expiressoon%}
<div id="paymentdiv">
{%if member.activeinvoice%}
{%include "invoices/userinvoice_spec.html"%}
{%else%}
<p>
To pay or renew your membership, please use the button below to generate an
invoice. You can then pay this invoice using several different methods.
</p>
<p>
Once you have completed your payment, it may take up to 24 hours before the payment shows
up in this system.
</p>
{%endif%}{%comment%}invoice or not{%endcomment%}
</div>
{%endif%}{%comment%}member.expiressoon{%endcomment%}
  </fieldset>
{%endif%}{%comment%}registration_complete{%endcomment%}

 <input type="submit" name="submit" value="Save" />
{%if member.expiressoon and not member.activeinvoice%}
 <input type="submit" name="submit" value="Generate invoice" />
{%endif%}

{%if logdata%}
<fieldset id="logdata">
 <legend>Membership activity</legend>
 <table border="0" cellspacing="0" cellpadding="1">
  {%for l in logdata%}
   <tr>
    <td>{{l.timestamp|date:"Y-m-d H:i"}}&nbsp;&nbsp;</td>
    <td>{{l.message}}</td>
   </tr>
  {%endfor%}
 </table>
</fieldset>
{%endif%}
</form>


{%endblock%}
