{%extends "nav_account.html"%}
{%block title%}Meeting{%endblock%}
{%block content%}
<h2>{{meeting.name}}</h2>
<table class="table table-small">
  <tr><th>Date and time:</th><td>{{meeting.dateandtime|date:"Y-m-d H:i"}}</td></tr>
{%if meeting.is_open%}
  <tr><th>Your personal authentication key:</th><td><code>{{key.key}}</code></td></tr>
  <tr><th>IRC network:</th><td> irc.libera.chat</td></tr>
  <tr><th>Bot name:</th><td> {{meeting.botname}}</td></tr>
{%endif%}
</table>
</p>

{%if not meeting.is_open%}
<h3>Meeting not open yet</h3>
<p>
 This meeting is not open for joining yet. Once it is, this page will
 list the connection information and the key reqired to connect. Until
 then, please preview the instructions below.
</p>
<p>
 <a href="ical/" class="btn btn-primary">Add to calendar</a>
</p>
{%endif%}

<h3>Joining this meeting</h3>
<p>
To join this meeting, you need an invite, which will be granted to you
based on the code above. To get the code, send a <i>!knock</i> message
to the meeting bot, and you will receive both instructions back and the
invite to the channel.
</p>
<ol>
 <li>Connect to the IRC network <i>irc.libera.chat</i>. Make sure you
   choose an appropriate nickname - once you have joined the channel
   our bot will not allow you to change it, so that we can properly track
   votes.</li>
{%if meeting.is_open%}
 <li>Send a message to the bot <i>{{meeting.botname}}</i> with your code
   in it, like this:
   <blockquote>
     <code>
/msg {{meeting.botname}} !knock {{key.key}}
     </code>
     </blockquote>
   (Exactly how to send private messages may vary depending on IRC client,
   so see the documentation of your IRC client for details).
 </li>
 <li>Await response from the bot which will tell you how to join the
   channel.
 </li>
{%else%}
 <li>Authenticate yourself to the meeting bot. Instructions will be
  posted once the channel is open.</li>
{%endif%}
</ol>

<p>
Note that you will not be allowed to join the meeting unless you
perform the knock step <i>before</i> the meeting begins!
</p>

<a href="../" class="btn btn-outline-dark">Return to list of meetings</a>

{%endblock%}
