{%extends "confreg/confadmin_base.html" %}
{%block title%}Prepaid Voucher Orders{%endblock%}

{%block layoutblock%}
<h1>Prepaid Voucher Orders</h1>

<table class="table table-bordered table-striped table-hover table-condensed">
  <tr>
    <th>Buyer</th>
    <th>Sponsor</th>
    <th>Batch</th>
    <th>Used</th>
    <th>Invoice</th>
    <th>Paid at</th>
    <th>Paid by</th>
  </tr>
{%for o in orders %}
  <tr>
    <td>{{o.user.first_name}} {{o.user.last_name}} ({{o.user.username}} &lt;{{o.user.email}}&gt;)</td>
    <td>{%if o.sponsor%}<a href="/events/sponsor/admin/{{conference.urlname}}/{{o.sponsor.id}}/">{{o.sponsor}}</a>{%endif%}</td>
    <td><a href="../prepaid/{{o.batch.id}}/">{{o.batch.id}}</a></td>
    <td>{%if o.batch%}{{o.num_used}}/{{o.num}}{%endif%}</td>
    <td>#{%if user.is_superuser%}<a href="/invoiceadmin/{{o.invoice.id}}/">{{o.invoice.id}}</a>{%else%}{{o.invoice.id}}{%endif%}{%if o.batch and not o.num_used%} <a href="{{o.id}}/refund/" class="btn btn-xs btn-default">Refund</a>{%endif%}</td>
    <td>{%if o.invoice.paidat %}{{o.invoice.paidat}}{%else%}<strong>not</strong> paid{%endif%}</td>
    <td>{%if o.invoice.paidat %}{{o.invoice.payment_method_description}}{%else%}<strong>not</strong> paid{%endif%}</td>
  </tr>
{%endfor%}
</table>

<a class="btn btn-default btn-block" href="../">Back</a>

{%endblock%}
