{%extends "confreg/confadmin_base.html" %}
{%block title%}Conferences{%endblock%}
{%block layoutblock%}

<h1>Conferences</h1>
{%if user.is_superuser%}
<h3>Cross-conference</h3>
<div>
  <a class="btn btn-default" href="/events/admin/reports/time/">Time reports</a>
  <a class="btn btn-default" href="/events/admin/crossmail/">Cross conference email</a>
</div>

{%endif%}

{%if current%}
<h3>Current conferences</h3>
<div class="row">
{%for c in current %}
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow">
    <a class="btn btn-primary btn-block" href="/events/admin/{{c.urlname}}/">{{c}}</a>
  </div>
{%endfor%}
</div>
{%endif%}

{%if upcoming%}
<h3>Upcoming conferences</h3>
<div class="row">
{%for c in upcoming %}
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow">
    <a class="btn btn-default btn-block" href="/events/admin/{{c.urlname}}/">{{c}}</a>
  </div>
{%endfor%}
</div>
{%endif%}

{%if past%}
<h3>Past conferences</h3>
<div class="row">
{%for c in past %}
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow">
    <a class="btn btn-default btn-block" href="/events/admin/{{c.urlname}}/">{{c}}</a>
  </div>
{%endfor%}
</div>
{%endif%}

{%if user.is_superuser%}
<p>
Entering metadata is still typically done through the
<a href="/admin/confreg/">main admin interface</a>.
</p>
{%endif%}

{%endblock%}
