{%extends "confreg/confadmin_base.html" %}
{%load formutil%}
{%block title%}Conference waitlist{%endblock%}
{%block extrahead%}
<style>
.history_content {
  display: none;
}
.popover {
  max-width: 80%;
}
</style>

<script type="text/javascript">
$(function() {
  $('.history_popover').popover({
    container: 'body',
    html: true,
    content: function () {
         return $(this).find('.history_content').html();
    },
    title: 'Waitlist history',
   });
});

function cancelWaitlist(id) {
   if (confirm('Are you really sure you want to cancel this waitlist entry?\nAll history will be lost, and a notification sent.')) {
      document.location.href = 'cancel/' + id + '/';
   }
}

function cancelOffer(id) {
   if (confirm('Are you really sure you want to cancel this waitlist offer?\nRegistration will return to regular waitlist, and a notification sent.')) {
      document.location.href = 'cancel/' + id + '/';
   }
}
</script>
{%endblock%}

{%block layoutblock%}
<h1>Conference waitlist</h1>

{%include "confreg/admin_waitlist_status.html"%}

<h3>Waitlist</h3>
{%if waitlist%}
<p>
The current entries on the waitlist are:
</p>
<a name="form"></a>
<form method="post" action="offer/" class="form-horizontal">{%csrf_token%}
{%with waitlist_type="waitlist_active"%}
{%include "confreg/admin_waitlist_list.inc.html"%}
{%endwith%}

{%if form.confirm%}
<div class="row bg-warning">
  <div class="col-xs-12 col-md-6">{{form.confirm}} {{form.confirm.help_text}}</div>
</div>
{%endif%}
<div class="row waitlistoffers{%if form.confirm%} bg-warning{%endif%}">
{%if form.hours%}
  <div class="form-group col-xs-12 col-md-4">
    {{form.hours|label_class:"control-label col-xs-6"}}
    <div class="controls col-xs-6">{{form.hours|field_class:"form-control"}}</div>
  </div>
  <div class="form-group col-xs-12 col-md-2">
    <input type="submit" name="submit" value="Make offer for hours" class="btn btn-default btn-block {%if form.confirm%} btn-primary{%endif%}">
  </div>
{%endif%}
{%if form.until%}
  <div class="form-group col-xs-12 col-md-4">
    {{form.until|label_class:"control-label col-xs-6"}}
    <div class="controls col-xs-6">{{form.until|field_class:"form-control"}}</div>
  </div>
  <div class="form-group col-xs-12 col-md-2">
    <input type="submit" name="submit" value="Make offer until" class="btn btn-default btn-block{%if form.confirm%} btn-primary{%endif%}">
  </div>
{%endif%}
</div>
{%if form.confirm%}
<div class="row">
  <a href="." class="btn btn-default btn-block">Cancel</a>
</div>
{%endif%}

</form>
{%else%}
<p>The waitlist is currently empty</p>
{%endif%}

{%if waitlist%}
<h3>Operations</h3>
<div class="row">
  <div class="col-xs-12 col-sm-3">
    <a class="btn btn-default btn-block" href="sendmail/">Send waitlist email</a>
  </div>
</div>
{%endif%}

<h3>Processed waitlist</h3>
{%with waitlist=waitlist_cleared%}
{%include "confreg/admin_waitlist_list.inc.html"%}
{%endwith%}

<a class="btn btn-default btn-block" href="/events/admin/{{conference.urlname}}/">Back to dashboard</a>
{%endblock%}
