{%extends "confreg/confadmin_base.html" %}
{%block title%}Conference waitlist{%endblock%}
{%block extrahead%}
<link rel="stylesheet" href="/media/jq/jquery-ui.min.css" />
<script type="text/javascript" src="/media/jq/jquery-ui.min.js"></script>

<script type="text/javascript">
$(function() {
  $('.dlg').each(function(idx, el) {
    $(el).dialog({
      autoOpen: false,
      minWidth: 600,
      minHeight: 250,
    });
  });
});

function showDialog(id) {
   $('#popup_' + id).dialog('option', {
      'title': 'Status history',
   }).dialog('open');
}
</script>
{%endblock%}

{%block layoutblock%}
<h1>Conference waitlist</h1>

<h3>Registration status</h3>
<div class="row">
  <div class="col-md-4">
    <table class="table">
    <tr>
      <td>Waitlist activates after</td>
      <td>{{conference.attendees_before_waitlist}}</td>
    </tr>
    <tr>
      <td>Confirmed registrations</td>
      <td>{{num_confirmedregs}}</td>
    </tr>
    <tr>
      <td>Attendees on the waitlist</td>
      <td>{{waitlist|length}}</td>
    </tr>
    <tr>
      <td>Pending registrations with invoice</td>
      <td>{{num_invoicedregs}}</td>
    </tr>
    <tr>
      <td>Pending registrations with bulk payment</td>
      <td>{{num_invoicedbulkpayregs}}</td>
    </tr>
    <tr>
      <td>Active offers from the waitlist</td>
      <td>{{num_waitlist_offered}}</td>
    </tr>
    <tr>
      <td>Offers accepted from the waitlist</td>
      <td>{{waitlist_cleared|length}}</td>
    </tr>
    <tr>
      <td>Total registrations including offered and invoiced</td>
      <td>{{num_total}}</td>
    </tr>
    </table>
  </div>
</div>

<h3>Waitlist</h3>
<p>
The current entries on the waitlist are:
</p>
<form method="post" action=".">{%csrf_token%}
{%with waitlist_type="waitlist_active"%}
{%include "confreg/admin_waitlist_list.inc.html"%}
{%endwith%}

<table>
{{form}}
</table>
<input type="submit" value="Make offer">
</form>

<h3>Processed waitlist</h3>
{%with waitlist=waitlist_cleared%}
{%include "confreg/admin_waitlist_list.inc.html"%}
{%endwith%}

<p>
<a href="/events/admin/{{conference.urlname}}/">Back</a> to dashboard.
</p>
{%endblock%}
