{%extends "confreg/confadmin_base.html" %}
{%block title%}Session notification queue - {{conference}}{%endblock%}
{%block layoutblock%}
<h1>Session notification queue - {{conference}}</h1>
<p>
The following sessions have pending notifications. If you need to turn
one of them off, click the session and change the field for
<em>last notified status</em> to be the same as the current status.
</p>
<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>Session</th>
    <th>Status change</th>
  </tr>
{%for s in notifysessions%}
  <tr>
    <td><a href="/events/admin/{{conference.urlname}}/sessions/{{s.id}}/">{{s}}</a></td>
    <td>{{s.lastnotified_status_string}} -&gt; {{s.status_string}}</td>
  </tr>
{%endfor%}
</table>
<h2>Send notifications</h2>
<form method="post" action=".">{% csrf_token %}
<input type="checkbox" name="confirm_sending" value="1"> Check this box to confirm you want to send notification email(s)<br/>
<input type="submit" value="Send notifications" class="btn btn-default">
</form>

<br/>

<a class="btn btn-default btn-block" href="/events/admin/{{conference.urlname}}/talkvote/">Back to talk voting</a>
<a class="btn btn-default btn-block" href="/events/admin/{{conference.urlname}}/">Back to dashboard</a>
{%endblock%}
