{%extends "confreg/confadmin_base.html" %}
{%load joinattr%}
{%block title%}Attendee Emails{%endblock%}
{%block layoutblock%}
<h1>Attendee Emails</h1>

<h2>Sent email</h2>
{%if mails%}
<p>
The following emails have been sent to all attendees of the conference:
</p>
{%if mails|length > 4 %}
<div class="partial-collapse" aria-expanded="false" id="collapsedMail">
{%endif%}
<table class="table table-condensed table-striped">
  <tr>
    <th>Date</th>
    <th>Subject</th>
    <th>Regclasses</th>
    <th>Addopts</th>
    <th>Volunteers</th>
    <th>Checkins</th>
    <th>Registrations</th>
    <th>Pending regs</th>
  </tr>
{%for m in mails%}
  <tr>
    <td>{{m.sentat|date:"Y-m-d H:i"}}{%if m.future%} (Not scheduled yet!){%elif not m.sent%} (Not sent yet){%endif%}</td>
    <td><a href="{{m.id}}/">{{m.subject}}</a></td>
    <td><ul class="nopad">{%for rc in m.regclasses.all %}<li>{{rc}}</li>{%endfor%}</ul></td>
    <td><ul class="nopad">{%for ao in m.addopts.all %}<li>{{ao.name}}</li>{%endfor%}</ul></td>
    <td class="text-center">{%if m.tovolunteers%}<img src="/media/img/green_tick.png">{%endif%}</td>
    <td class="text-center">{%if m.tocheckin%}<img src="/media/img/green_tick.png">{%endif%}</td>
    <td><ul class="nopad">{%for r in m.registrations.all%}<li><span class="nobr" title="{{r.email}}">{{r.fullname}}</span></li>{%endfor%}</ul></td>
    <td><ul class="nopad">{%for r in m.pending_regs.all%}<li><span class="nobr" title="{{r.email}}">{{r.first_name}} {{r.last_name}}</span></li>{%endfor%}</ul></td>
  </tr>
{%endfor%}
</table>
{%if mails|length > 4 %}
</div>
<a role="button" class="partial-collapse collapsed" data-toggle="collapse" href="#collapsedMail" aria-expanded="false" aria-controls="collapsedMail"></a>
{%endif%}

{%else%}
<p>
No emails have been sent to attendees yet.
</p>
{%endif%}

<h2>New email</h2>
<p>
Using this form you can send an email to attendees. It will immediately be
delivered to all current attendees with the specified registration types,
and will also be made available historically to both those and to anybody
else who signs up with the selected registration types later.
</p>

<form class="form-horizontal" method="post" action=".">{% csrf_token %}
  <div class="form-group">
    <label class="control-label col-lg-3">From</label>
    <div class="col-lg-9 controls"><div class="form-control">{{conference.conferencename}} &lt;{{conference.contactaddr}}&gt;</div></div>
  </div>
{%include "confreg/admin_backend_form_content.html" with savebutton="Send email!"%}
</form>

<br/>
<a class="btn btn-default btn-block" href="/events/admin/{{conference.urlname}}/">Back to dashboard</a>


{%endblock%}
