{%extends "confreg/confadmin_base.html" %}
{%load date_or_string%}
{%block title%}Conference registrations{%endblock%}
{%block extrahead%}
<style>
tr.tblrow {
   cursor: pointer;
}
tr.warning {
   font-style: italic;
}
</style>
{%endblock%}

{%block layoutblock%}
<h1>Conference registrations</h1>
<table class="table table-bordered table-striped table-hover table-condensed">
 <tr>
  <th><a href="?sort={%if sortkey == "last" %}-{%endif%}last">Last name</a></th>
  <th><a href="?sort={%if sortkey == "first" %}-{%endif%}first">First name</a></th>
  <th><a href="?sort={%if sortkey == "company" %}-{%endif%}company">Company</a></th>
  <th><a href="?sort={%if sortkey == "typ" %}-{%endif%}type">Registration type</a></th>
  <th><a href="?sort={%if sortkey == "date" %}-{%endif%}date">Confirmed</a></th>
 </tr>
{%for r in regs%}
 <tr onclick="document.location.href='{{r.id}}/';" class="tblrow{%if not r.payconfirmedat%} warning{%endif%}">
  <td>{{r.lastname}}</td>
  <td>{{r.firstname}}</td>
  <td>{{r.company}}</td>
  <td>{{r.regtype.regtype}}</td>
  <td>{{r.payconfirmedat|default:""}}</td>
 </tr>
{%endfor%}
</table>

{%if user.is_superuser%}
<p>
<a href="/admin/confreg/conferenceregistration/?conference__id__exact={{conference.id}}&_directlink=1">View</a> all registrations through admin view.
</p>
{%endif%}

<p>
<a href="/events/admin/{{conference.urlname}}/regdashboard/">Back</a> to dashboard.
</p>
{%endblock%}
