{%extends "confreg/confadmin_base.html" %}
{%load svgcharts%}
{%block title%}Conference Feedback - {{conference}}{%endblock%}

{%block layoutblock%}
<h1>Conference Feedback - {{conference}}</h1>

<p>
This is the current conference feedback entered for {{conference}}. You can also view
the <a href="session/">session and speaker feedback</a>.
</p>
<p>
A total of {{numresponses}} responses have been recorded.
</p>

<div id="sectionwrap">
{%for section in feedback %}
<h2>{{section.title}}</h2>
<div class="sectiondiv">
 {%for question in section.questions%}
{%if question.graphdata%}
 <div id="chart_{{question.id}}" class="chartdiv">
   <h5>{{question.question}}</h5>
{% svgpiechart question.graphdata legendwidth=300 %}
 </div>
{%else%}
 <h3>{{question.question}}</h3>
  <ul>
  {%for ta in question.textanswers%}
   <li>{{ta}}</li>
  {%endfor%}
  </ul>
  {%endif%}
 {%endfor%}
</div>
{%endfor%}
</div>

{%endblock%}

