{%extends "confreg/confadmin_base.html" %}
{%load date_or_string%}
{%block title%}Cancel registration{%endblock%}

{%block layoutblock%}
<h1>Cancel registration</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <td>{{reg.fullname}}</td>
  </tr>
  <tr>
    <th>Payment information</th>
    <td>{{reg.payment_method_description|linebreaksbr}}</td>
  </tr>
  <tr>
    <th>Total paid for attendee</th>
    <td>{{currency_symbol}}{{totalnovat}}{%if totalvat%} + VAT {{currency_symbol}}{{totalvat}} = {{currency_symbol}}{{totalwithvat}}{%endif%}</td>
  </tr>
</table>

<h3>Cancel</h3>

<div class="row">
  <form method="post" action="." class="form-horizontal">{% csrf_token %}
{%include "confreg/admin_backend_form_content.html" with savebutton="Cancel registration" cancelurl="../" cancelname="Return without canceling" %}
  </form>
</div>

{%endblock%}
