{%extends "confreg/confadmin_base.html" %}
{%load date_or_string%}
{%block title%}Conference registrations{%endblock%}
{%block extrahead%}
<style>
tr.warning {
   font-style: italic;
}
a.nocolor {
   color:black;
}
</style>
{%endblock%}

{%block layoutblock%}
<h1>Conference registrations</h1>
<p>
 Total {{regsummary.confirmed}} confirmed and {{regsummary.unconfirmed}} unconfirmed registrations.
</p>

<table class="table table-bordered table-striped table-hover table-condensed">
 <tr>
  <th><a href="?sort={%if sortkey == "last" %}-{%endif%}last">Last name</a></th>
  <th><a href="?sort={%if sortkey == "first" %}-{%endif%}first">First name</a></th>
  <th><a href="?sort={%if sortkey == "company" %}-{%endif%}company">Company</a></th>
  <th><a href="?sort={%if sortkey == "typ" %}-{%endif%}type">Registration type</a></th>
  <th><a href="?sort={%if sortkey == "date" %}-{%endif%}date">Confirmed</a></th>
  {%if waitlist_active%}<th>Waitlist status</th>{%endif%}
 </tr>
{%for r in regs%}
 <tr {%if not r.payconfirmedat%}class="warning"{%endif%}>
  <td><a class="nocolor" href="{{r.id}}/"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> {{r.lastname}}</td>
  <td>{{r.firstname}}</td>
  <td>{{r.company}}</td>
  <td>{{r.regtype.regtype}}</td>
  <td>{{r.payconfirmedat|default:""}}</td>
{%if waitlist_active %}
  <td>{%if r.registrationwaitlistentry %}
   {%if r.payconfirmedat%}Accepted{%else%}
     {%if r.registrationwaitlistentry.offeredon%}Offer until {{r.registrationwaitlistentry.offeredon}}{%else%}No offer{%endif%}<br/>Total {{r.registrationwaitlistentry.offers_made}} offers made.
   {%endif%}
   {%else%}{%if r.payconfirmedat%}Completed pre-waitlist{%endif%}{%endif%}</td>
{%endif%}
 </tr>
{%endfor%}
</table>

<a class="btn btn-default btn-block" href="/events/admin/{{conference.urlname}}/regdashboard/">Back to registration dashboard</a>

{%if user.is_superuser%}
<a class="btn btn-default btn-block" href="/admin/confreg/conferenceregistration/?conference__id__exact={{conference.id}}&_directlink=1">View all registrations through admin view</a>
{%endif%}

{%endblock%}
