{%extends "confreg/confadmin_base.html" %}
{%block title%}Multi Registrations{%endblock%}

{%block layoutblock%}
<h1>Multi Registrations</h1>

<table class="table table-bordered table-striped table-hover table-condensed">
  <tr>
    <th>Created by</th>
    <th>Created at</th>
    <th>Invoice</th>
    <th>Status</th>
    <th>Registrations</th>
  </tr>
{%for b in bulkpays %}
  <tr{%if b.id == highlight%} class="success"{%endif%}>
    <td>{{b.user.first_name}} {{b.user.last_name}} ({{b.user.username}})</td>
    <td>{{b.createdat}}</td>
    <td>#{%if user.is_superuser%}<a href="/invoiceadmin/{{b.invoice.id}}/">{{b.invoice.id}}</a>{%else%}{{b.invoice.id}}{%endif%}</td>
    <td>{{b.payment_method_description|linebreaksbr}}</td>
    <td>
      <ul class="nopad">
{%for r in b.conferenceregistration_set.all %}
       <li><a href="../regdashboard/list/{{r.id}}/">{{r.fullname}}</a></li>
{%endfor%}
      </ul>
    </td>
  </tr>
{%endfor%}
</table>

<a class="btn btn-default btn-block" href="../">Back</a>

{%endblock%}
