{%extends "confreg/confadmin_base.html"%}
{%block title%}Twitter integration{%endblock%}

{%block layoutblock%}
<h1>Twitter integration</h1>
{%if conference.twitter_token%}
<h3>Twitter integration currently configured</h3>
<form class="form-horizontal" method="POST" action="." enctype="multipart/form-data">{%csrf_token%}
{%include "confreg/admin_backend_form_content.html" %}
</form>

<h3>Test twitter integration</h3>
<p>
The twitter integration can be tested by sending a direct message to a user,
for example yourself.
</p>
<form method="post" action="." class="form-horizontal">{%csrf_token%}
<input type="hidden" name="test_twitter" value="1">
{%include "confreg/admin_backend_form_content.html" with form=testform%}
</form>

<h3>Disable twitter integration</h3>
<p>
  Disabling twitter integration will remove all OAuth keys.
</p>
<form method="post" action="." class="form-horizontal">{%csrf_token%}
<input type="hidden" name="deactivate_twitter" value="1">
<input type="submit" class="btn btn-default" value="Disable twitter integration">
</form>

{%elif twitter_token_url%}
<h3>Twitter integration in progress</h3>
<a class="btn btn-default" href="{{twitter_token_url}}" target="_blank">Get twitter PIN code</a>
<br/><br/>
<form class="form-horizontal" method="post" action=".">{%csrf_token%}
<input type="text" placeholder="Paste twitter PIN to here" name="pincode">
<br/><br/>
<input type="submit" class="btn btn-primary" value="Enable twitter integration">
</form>
{%else%}
<h3>Twitter integration disabled</h3>
<p>
Twitter integration is not currently active. To activate it, make sure you have a
twitter account set up already, and access to the login information.
</p>

<form method="post" action=".">{%csrf_token%}
<input type="hidden" name="activate_twitter" value="1">
<input type="submit" class="btn btn-primary" value="Enable twitter integration">
</form>
{%endif%}
{%endblock%}
