{%load querystring%}
<table class="table">
  <tr class="info">
    <th>Pos</th>
    <th>Name</th>
    <th>Email</th>
    <th>Type</th>
    <th>Country</th>
    <th>Added to waitlist</th>
    <th>Offer made</th>
    {%if waitlist_type == "waitlist_active" %}
      <th>Offer expires</th>
    {%else%}
      <th>Offer expired</th>
    {%endif%}
    <th>Status</th>
    {%if waitlist_type == "waitlist_active" %}
      <th>Action</th>
    {%endif%}
  </tr>
{%for w in waitlist%}
  <tr>
    <td>{{forloop.counter0|add:waitlist.start_index}}</td>
    <td>{{w.registration.firstname}} {{w.registration.lastname}}</td>
    <td>{{w.registration.email}}</td>
    <td>{{w.registration.regtype}}</td>
    <td>{{w.registration.country_id}}</td>
    <td>{{w.enteredon|default:''}}</td>
    <td>{{w.offeredon|default:''}}</td>
    <td>{{w.offerexpires|default:''}}</td>
    <td style="white-space: nowrap"><span onClick="showDialog({{w.registration.id}})" class="dlgClickable ui-icon ui-icon-circle-plus" style="display: inline-block"></span>
{%if w.registration.payconfirmedat%}Registered{%elif w.offeredon%}Offered{%if w.registration.invoice%} (with invoice){%endif%}{%else%}Pending ({{w.offers_made}} offers){%endif%}</td>
{%if waitlist_type == "waitlist_active" %}
    {%if not w.offeredon and not w.registration.payconfirmedat%}<td style="white-space: nowrap;"><input type="checkbox" name="reg_{{w.registration.id}}" value="1"{%if w.registration.id in form.reg_list%} CHECKED{%endif%}> offer<br><a href="javascript:cancelWaitlist({{w.pk}})" class="btn btn-default btn-xs">Cancel</a></td>{%else%}<td><a href="javascript:cancelOffer({{w.pk}})" class="btn btn-default btn-xs">Cancel</a></td>{%endif%}
{%endif%}
  </tr>
{%endfor%}
</table>

{%if waitlist.paginator.num_pages > 1 %}
<ul class="pagination pagination-sm">
{%if not waitlist.has_previous%}
 <li class="disabled"><span>&laquo;</span></lI>
{%else%}
 <li><a href="?{% edit_querystring request "page_"|add:waitlist.paginator.varsuffix waitlist.previous_page_number %}">&laquo;</a></li>
{%endif%}
{%for p in waitlist.paginator.page_range %}
{%if waitlist.number == p%}
 <li class="active"><span>{{p}}</span>
{%else%}
 <li><a href="?{% edit_querystring request "page_"|add:waitlist.paginator.varsuffix p%}">{{p}}</a></li>
{%endif%}
{%endfor%}
{%if not waitlist.has_next %}
 <li class="disabled"><span>&raquo;</span></lI>
{%else%}
 <li><a href="?{% edit_querystring request "page_"|add:waitlist.paginator.varsuffix waitlist.next_page_number %}">&raquo;</a></li>
{%endif%}
</ul>
{%endif%}


{%comment%}Render all status popups{%endcomment%}
{%for w in waitlist%}
<div id="popup_{{w.registration.id}}" class="dlg">
 <table border="1" cellspacing="0" cellpadding="1">
{%for h in w.registrationwaitlisthistory_set.all %}
  <tr valign="top">
    <td style="white-space: nowrap">{{h.time}}</td>
    <td>{{h.text}}</td>
  </tr>
{%endfor%}
 </table>
</div>
{%endfor%}
