{%load dictutil%}
{%load miscutil%}
{%if form.warning_text %}
<div class="alert alert-danger">{{form.warning_text}}</div>
{%endif%}
{%if form.non_field_errors%}
 <div class="alert alert-danger">{{form.non_field_errors}}</div>
{%endif%}
{%if note%}
<div class="alert alert-info">{{note|safe}}</div>
{%endif%}
{%if form.fieldsets%}
{{form.validator_field}}
{%if form.newformdata_field%}{{form.newformdata_field}}{%endif%}
{%for fieldset in form.fieldsets%}
<fieldset id="{{fieldset.id}}">
  <legend>{{fieldset.legend}}</legend>
{%for field in fieldset.fields%}
  {%include "confreg/admin_backend_form_field.html" with field=form|dictlookup:field %}
{%endfor%}
</fieldset>
{%endfor%}
{%else%}{%comment%} No fieldsets, so render the full form{%endcomment%}
{%for field in form%}
{%include "confreg/admin_backend_form_field.html"%}
{%endfor%}
{%endif%}

{%for url, handler, entries in linked %}
{%if handler.fieldset%}
<fieldset id="{{handler.fieldset.id}}">
  <legend>{{handler.fieldset.legend}}</legend>
{%endif%}
<div class="form-group">
  <label class="control-label col-lg-3">{{handler.title}}:</label>
  <div class="col-lg-9 controls">
    <table class="table table-bordered table-striped table-hover table-condensed">
{%for id,title,description in entries%}
    <tr>
      <td>{%if id%}<a href="{{url}}/{{id}}/">{{title}}</a>{%else%}{{title}}{%endif%}</td>
      <td>{%if description|isboolean%}{%if description%}&check;{%endif%}{%else%}{{description}}{%endif%}</td>
    </tr>
{%endfor%}
    </table>
{%if form.instance.id and handler.can_add%}
    <a href="{{url}}/new/" class="btn btn-default">Add {{handler.singular}}</a>
{%endif%}
{%if form.instance.id and handler.can_copy%}
    <a href="{{url}}/copy/" class="btn btn-default">Copy {{handler.singular}}</a>
{%endif%}
  </div>
</div>
{%if handler.fieldset%}
</fieldset>
{%endif%}
{%endfor%}

{%if not nobuttons%}
{%if form.warning_text %}
<div class="alert alert-danger">{{form.warning_text}}</div>
{%endif%}
{%if form.warning_text_below %}
<div class="alert alert-danger">{{form.warning_text_below}}</div>
{%endif%}
 <div class="form-group">
  <div class="col-lg-12">
   <div class="control">
{%if not disallow_save%}
     <input type="submit" name="submit" class="btn btn-default" value="{%if savebutton%}{{savebutton}}{%else%}{{form.savebutton|default:"Save"}}{%endif%}">
{%endif%}
{%if extrasubmitbutton or form.extrasubmitbutton %}
     &nbsp;&nbsp;<input type="submit" name="submit" class="btn btn-default" value="{%if extrasubmitbutton%}{{extrasubmitbutton}}{%else%}{{form.extrasubmitbutton}}{%endif%}">
{%endif%}
{%if allow_delete%}
     &nbsp;&nbsp;<input type="submit" name="submit" class="btn btn-default confirm-btn" value="Delete" data-confirm="You are about to delete this {{what}}. There is no undo!">
{%endif%}
{%if cancelurl%}
     &nbsp;&nbsp;<a class="btn btn-default" href="{{cancelurl}}">{{cancelname|default:"Cancel"}}</a>
{%endif%}
{%if form.allow_email and id %}
     &nbsp;&nbsp;<a class="btn btn-default" href="../sendmail/?idlist={{id}}">Send email</a>
{%endif%}
   </div>
  </div>
 </div>
{%endif%}

{%if form.extrabuttons %}
 <div class="form-group">
  <div class="col-lg-12">
   <div class="control">
{%for title, url in form.extrabuttons %}
    <a class="btn btn-default" href="{{url}}">{{title}}</a>&nbsp;&nbsp;
{%endfor%}
   </div>
  </div>
 </div>
{%endif%}
