{%extends "confreg/confadmin_base.html" %}
{%load currency%}
{%load dictutil%}
{%block title%}Cancel registration{%endblock%}

{%block layoutblock%}
<h1>Cancel registration</h1>

<table class="table">
{%for r in regs%}
  <tr>
    <th colspan="2">Name</th>
    <td>{{r.fullname}}</td>
  </tr>
  <tr>
    <th></th>
    <th>Payment information</th>
    <td>{{r.payment_method_description|linebreaksbr}}</td>
  </tr>
  <tr>
    <th></th>
    <th>Total paid for attendee</th>
    <td>{{regtotalnovat|dictlookup:r.id|format_currency}}{%if regtotalvat|dictlookup:r.id%} + VAT {{regtotalvat|dictlookup:r.id|format_currency}} = {{regtotalwithvat|dictlookup:r.id|format_currency}}{%endif%}</td>
  </tr>
{%endfor%}
  <tr>
    <th colspan="2">Grand total</th>
    <td>{{totalnovat|format_currency}}{%if totalvat%} + VAT {{totalvat|format_currency}} = {{totalwithvat|format_currency}}{%endif%}</td>
  </tr>
</table>

<h3>Cancel</h3>

<div class="row">
  <form method="post" action=".{%if regidlist%}?idlist={{regidlist}}{%endif%}" class="form-horizontal">{% csrf_token %}
{%include "confreg/admin_backend_form_content.html" with savebutton="Cancel registration" cancelurl="../" cancelname="Return without canceling" %}
  </form>
</div>

{%endblock%}
