{%load querystring%}
<div class="row waitlisttbl">{# the whole table #}
  <div class="row bg-info header-row">
    <div class="col-xs-1 col-md-1">Pos</div>
    <div class="col-xs-11 col-md-5">
      <div class="col-xs-6 col-md-4">Name</div>
      <div class="col-xs-6 col-md-8">Email</div>
    </div>
    <div class="col-xs-11 col-xs-offset-1 col-md-2 col-md-offset-0">
      <div class="col-xs-6">Type</div>
      <div class="col-xs-6">Country</div>
    </div>
    <div class="col-xs-11 col-xs-offset-1 col-md-2 col-md-offset-0">
      <div class="col-xs-6">Added</div>
      <div class="col-xs-6">Offer made</div>
    </div>
    <div class="col-xs-11 col-xs-offset-1 col-md-2 col-md-offset-0">
      <div class="col-xs-6">{%if waitlist_type == "waitlist_active" %}Expires{%else%}Registered{%endif%}</div>
      <div class="col-xs-6">Status</div>
    </div>
  </div>
{%for w in waitlist%}
  <div class="row">
    <div class="col-xs-1 col-md-1">{{forloop.counter0|add:waitlist.start_index}}</div>
    <div class="col-xs-11 col-md-5">
      <div class="col-xs-6 col-md-4">{{w.registration.firstname}} {{w.registration.lastname}}</div>
      <div class="col-xs-6 col-md-8 overflow-clip">{{w.registration.email}}</div>
    </div>
    <div class="col-xs-11 col-xs-offset-1 col-md-2 col-md-offset-0">
      <div class="col-xs-6">{{w.registration.regtype.regtype}}</div>
      <div class="col-xs-6">{{w.registration.country_id|default:""}}</div>
    </div>
    <div class="col-xs-11 col-xs-offset-1 col-md-2 col-md-offset-0">
      <div class="col-xs-6">{{w.enteredon|date:"M j, H:i"|default:''}}</div>
      <div class="col-xs-6">{{w.offeredon|date:"M j, H:i"|default:''}}</div>
    </div>
    <div class="col-xs-11 col-xs-offset-1 col-md-2 col-md-offset-0">
      <div class="col-xs-6">{%if waitlist_type == "waitlist_active" %}{{w.offerexpires|date:"M j, H:i"|default:''}}{%else%}{{w.registration.payconfirmedat|date:"M j, H:i"|default:''}}{%endif%}</div>
      <div class="col-xs-6 nobr history_popover" data-toggle="popover" data-container="body" data-placement="bottom">
	<span class="glyphicon glyphicon-plus-sign"></span>
      {%if w.registration.payconfirmedat%}Registered{%elif w.offeredon%}Offered{%if w.registration.invoice%} (with invoice){%endif%}{%else%}Pending ({{w.offers_made}} offers){%endif%}
	<div class="history_content">
	  <table class="table table-condensed">
{%for h in w.registrationwaitlisthistory_set.all %}
            <tr>
	      <td class="nobr">{{h.time}}</td>
	      <td>{{h.text}}</td>
	    </tr>
{%endfor%}
	  </table>
	</div>
      </div>
    </div>
    <div class="col-xs-5 col-xs-offset-1 col-md-1 col-md-offset-11 wl-no-border">
{%if waitlist_type == "waitlist_active" %}
    {%if not w.offeredon and not w.registration.payconfirmedat%}<input type="checkbox" name="reg_{{w.registration.id}}" value="1"{%if w.registration.id in form.reg_list%} CHECKED{%endif%}> offer{%endif%}
    </div>
    <div class="col-xs-6 col-md-1 col-md-offset-11 wl-no-border">
      {%if not w.offeredon and not w.registration.payconfirmedat%}<a href="javascript:cancelWaitlist({{w.pk}})" class="btn btn-default btn-xs">Cancel</a>{%else%}<a href="javascript:cancelOffer({{w.pk}})" class="btn btn-default btn-xs">Cancel</a>{%endif%}
{%endif%}
    </div>
  </div>
{%endfor%}
</div>

{%if waitlist.paginator.num_pages > 1 %}
<ul class="pagination pagination-sm">
{%if not waitlist.has_previous%}
 <li class="disabled"><span>&laquo;</span></lI>
{%else%}
 <li><a href="?{% edit_querystring request "page_"|add:waitlist.paginator.varsuffix waitlist.previous_page_number %}">&laquo;</a></li>
{%endif%}
{%for p in waitlist.paginator.page_range %}
{%if waitlist.number == p%}
 <li class="active"><span>{{p}}</span>
{%else%}
 <li><a href="?{% edit_querystring request "page_"|add:waitlist.paginator.varsuffix p%}">{{p}}</a></li>
{%endif%}
{%endfor%}
{%if not waitlist.has_next %}
 <li class="disabled"><span>&raquo;</span></lI>
{%else%}
 <li><a href="?{% edit_querystring request "page_"|add:waitlist.paginator.varsuffix waitlist.next_page_number %}">&raquo;</a></li>
{%endif%}
</ul>
{%endif%}
