{%extends "confreg/confadmin_base.html"%}
{%block title%}Edit {{what}}{%endblock%}
{%block extrahead%}
<script type="text/javascript" src="/media/js/selectize.min.js"></script>
<script type="text/javascript" src="/media/ace/ace.js"></script>
<link rel="stylesheet" href="/media/css/selectize.css" />
<link rel="stylesheet" href="/media/css/selectize.default.css" />

<script language="javascript">
$(function() {
{%for f,lookup in form.selectize_multiple_fields.items%}
   $('#id_{{f}}').selectize({
      plugins: ['remove_button'],
      valueField: 'id',
      labelField: 'value',
      searchField: 'value',
      load: function(query, callback) {
         if (!query.length) return callback();
         $.ajax({
            'url': '{{lookup.url}}',
            'type': 'GET',
            'dataType': 'json',
            'data': {
               'query': query,
            },
            'error': function() { callback();},
            'success': function(res) { callback(res.values);},
         });
      }
   });
{%endfor%}

{%for f in form.json_fields%}
$('#id_{{f}}').addClass('jsoneditor');
{%endfor%}

  $('textarea.jsoneditor').each(function() {
    var textarea = $(this);
    var editDiv = $('<div>', {
      position: 'absolute',
      width: textarea.width(),
      height: textarea.height(),
      'class': textarea.attr('class')
    }).insertBefore(textarea);
    textarea.css('display', 'none');
    var editor = ace.edit(editDiv[0]);
    editor.renderer.setShowGutter(textarea.data('gutter'));
    editor.getSession().setValue(textarea.val());
    editor.getSession().setMode("ace/mode/json");
    textarea.data('jsoneditor', editor);

    textarea.closest('form').submit(function() {
      textarea.val(editor.getSession().getValue());
    })
  });

{%if form.json_merge_data %}
  var mergedata = {{form.json_merge_data|safe}};
  $.each(mergedata, function(i,v) {
    $('#'+v['source']).change(function(e) {
       var val = e.target.value;
       var mergewith = v['map'][val];
       var editor = $('#'+v['target']).data('jsoneditor');
       try {
          current = JSON.parse(editor.getSession().getValue());
       }
       catch {
         /* If current JSON is invalid, we can't merge. So just give up */
         return;
       }
       var dest = $.extend({}, mergewith, current);
       editor.setValue(JSON.stringify(dest, null, 2), -1);
    });
  });

{%endif%}

   $('.backend-vat-field').each(function(i, e) {
      $(e).change(function(e) {
         if ($(this).hasClass('backend-vat-reg-field')) { vatrate = 1.{{conference.vat_registrations.vatpercent|default:0}};}
         else if ($(this).hasClass('backend-vat-sponsor.field')) { vatrate = 1.{{conference.vat_sponsorship.vatpercent|default:0}};}
         else return;
         if (vatrate == 1) return;

         v = $(this).val()*vatrate;
         var old = $(this).next().text();
         var newtext = old;
         if (old.indexOf('Including VAT: ') > -1) {
            newtext = old.substring(0, old.indexOf('Including VAT: ')) + ' ';
         }
         $(this).next().text(newtext + ' Including VAT: ' + v);
      });
      $(e).trigger('change');
   });
});

function confirm_delete(what) {
   return(confirm('Are you sure you want to delete this ' + what + '?\n\nThere is no undo!'));
}
</script>
{%endblock%}

{%block layoutblock%}
<h1>Edit {{what}}</h1>
<form class="form-horizontal" method="POST" action="." enctype="multipart/form-data">{%csrf_token%}
{%include "confreg/admin_backend_form_content.html" %}
</form>

{%if user.is_superuser and adminurl%}
<a class="btn btn-default btn-block" href="{{adminurl}}">Superuser: edit {{what}} through django admin interface</a>
{%endif%}
{%endblock%}
