<table class="table">
  <tr class="info">
    <th>Name</th>
    <th>Email</th>
    <th>Type</th>
    <th>Added to waitlist</th>
    <th>Offer made</th>
    <th>Offer expired</th>
    <th>Status</th>
    {%if waitlist == "waitlist_active" %}
      <th>Action</th>
    {%endif%}
  </tr>
{%for w in waitlist%}
  <tr>
    <td>{{w.registration.firstname}} {{w.registration.lastname}}</td>
    <td>{{w.registration.email}}</td>
    <td>{{w.registration.regtype}}</td>
    <td>{{w.enteredon|default:''}}</td>
    <td>{{w.offeredon|default:''}}</td>
    <td>{{w.offerexpires|default:''}}</td>
    <td style="white-space: nowrap"><span onClick="showDialog({{w.registration.id}})" class="dlgClickable ui-icon ui-icon-circle-plus" style="display: inline-block"></span>
{%if w.registration.payconfirmedat%}Registered{%elif w.offeredon%}Offered{%if w.registration.invoice%} (with invoice){%endif%}{%else%}Pending ({{w.offers_made}} offers){%endif%}</td>
{%if waitlist == "waitlist_active" %}
    {%if not w.offeredon and not w.registration.payconfirmedat%}<td style="white-space: nowrap;"><input type="checkbox" name="reg_{{w.registration.id}}" value="1"{%if w.registration.id in form.reg_list%} CHECKED{%endif%}> offer</td>{%else%}<td></td>{%endif%}
{%endif%}
  </tr>
{%endfor%}
</table>

{%comment%}Render all status popups{%endcomment%}
{%for w in waitlist%}
<div id="popup_{{w.registration.id}}" class="dlg">
 <table border="1" cellspacing="0" cellpadding="1">
{%for h in w.registrationwaitlisthistory_set.all %}
  <tr valign="top">
    <td style="white-space: nowrap">{{h.time}}</td>
    <td>{{h.text}}</td>
  </tr>
{%endfor%}
 </table>
</div>
{%endfor%}
