{%extends "base.html" %}
{%block title%}Conferences{%endblock%}
{%block layoutblock%}
<h1>Conferences</h1>
{%if conferences%}
<p>
Entering metadata is still typically done through the
<a href="/admin/confreg/">main admin interface</a>.
</p>

{%if user.is_superuser%}
<h3>Cross-conference</h3>
<ul>
  <li><a href="/events/reports/time/">Time reports</a></li>
</ul>

<h3>All conferences</h3>
{%endif%}

<table border="1" cellspacing="0" cellpadding="2">
{%if firstconf%}
 <tr bgcolor="lightgray"><td colspan="2" align="center"><b>Next conference</b></td></tr>
{%with c=firstconf%}
{%include "confreg/admin_dashboard_conference.inc.html" %}
{%endwith%}
 <tr bgcolor="lightgray"><td colspan="2" align="center"><b>All conferences</b></td></tr>
{%endif%}
 {%for c in conferences%}
{%include "confreg/admin_dashboard_conference.inc.html" %}
 {%endfor%}
</table>
{%else%}
<p>
You don't have access to any conferences.
</p>
{%endif%}

{%endblock%}
