{%extends basetemplate %}
{%load assets%}
{%block title%}{{whatverb|default:"Edit"}} {{what}}{%endblock%}
{%block extrahead%}
{%asset "js" "selectize" %}
<script type="text/javascript" src="/media/ace/ace.js"></script>
{%asset "css" "selectize" %}

<style>
div.admin_markdownpreview {
   border: 1px solid lightgrey;
   padding: 3px;
   margin-top: 5px;
   overflow:scroll;
   height: 250px;
}
</style>

<script language="javascript">
{%if form.markdown_fields%}
function backend_markdown_preview(id) {
    let obj = document.getElementById(id);

    let newdiv = document.createElement('div');
    newdiv.className = 'admin_markdownpreview';

    obj.preview_div = newdiv;
    obj.parentNode.insertBefore(newdiv, obj.nextSibling);

    obj.infospan_html_base = "Markdown Preview";

    obj.infospan = document.createElement('span');
    obj.infospan.innerHTML = obj.infospan_html_base;
    obj.parentNode.insertBefore(obj.infospan, newdiv);

    _do_update_markdown(obj);
    obj.addEventListener('keyup', function(e) {
	update_markdown(this);
    });
}

var __update_queue = {};
var __interval_setup = false;
function update_markdown(obj) {
    if (!__interval_setup) {
        __interval_setup = true;

        /* Global interval ticker running the update queue */
        setInterval(function() {
            /* This is where we actually update things */
            for (var id in __update_queue) {
                /* First remove it from the queue, so we can absorb another request while we run */
                delete __update_queue[id];
                obj = document.getElementById(id);

                _do_update_markdown(obj);
            }
        }, 2000); /* Maximum update interval is 2 seconds */
    }

    if (obj.value == obj.preview_div.value)
        return;

    /* Just flag that this needs to be done, and the ticker will pick it up */
    __update_queue[obj.id] = true;
}


function _do_update_markdown(obj) {
    if (obj.value == '') {
        /* Short-circuit the empty field case */
        obj.preview_div.innerHTML = '';
        return;
    }

    fetch('/admin/mdpreview/', {
        method: 'POST',
        body: obj.value,
        headers: {
            'x-preview': 'md',
        },
        credentials: 'same-origin', /* for older browsers */
    }).then(function(response) {
        if (response.ok) {
            return response.text().then(function(text) {
                obj.preview_div.innerHTML = text;
            });
        } else {
            console.warn('md preview failed');
        }
    });
}


{%endif%}
{%if form.dynamic_preview_fields%}
function backend_dynamic_preview(id) {
   var e = $('#id_' + id);

   var w = $('<div class="admin_dynamicpreview"><legend>Preview</legend><div class="admin_dynamicpreview_contents"></div></div>').insertAfter(e);
   var p = w.find('div.admin_dynamicpreview_contents');

   function update() {
      $.get('?fieldpreview=' + id + '&previewval=' + encodeURIComponent(e.val()), function(v) {
         p.text(v);
      }).fail(function(xhr, status, err) {
	 if (xhr.status == 500 || xhr.status == 400) {
             p.text('Error generating preview: ' + xhr.responseText);
         } else {
	     p.text('Error generating preview: ' + xhr.status);
	 }
      });
   }

   update();

   e.keyup(function() {
      /* Rate-limit the updating to once per second, since it causes a backend call */
      if (e.current_timeout) {
         clearTimeout(e.current_timeout);
      }
      e.current_timeout = setTimeout(function() {
         update();
      }, 1000);
   });
}
{%endif%}

$(function() {
{%for f,lookup in form.selectize_multiple_fields.items%}
   $('#id_{{f}}').selectize({
      plugins: ['remove_button'],
      valueField: 'id',
      labelField: 'value',
      searchField: 'value',
      load: function(query, callback) {
         if (!query.length) return callback();
         $.ajax({
            'url': '{{lookup.url}}',
            'type': 'GET',
            'dataType': 'json',
            'data': {
               'query': query,
            },
            'error': function() { callback();},
            'success': function(res) { callback(res.values);},
         });
      }
   });
{%endfor%}
{%for f, lookup in form.selectize_single_fields.items %}
   $('#id_{{f}}').selectize();
{%endfor%}
{%for f in form.selectize_taglist_fields %}
   $('#id_{{f}}').selectize({
       delimiter: ',',
       persist: false,
       create: function(i) {
	   return {
	       value: i,
	       text: i
	   }
       }
   });
{%endfor%}

{%for f in form.markdown_fields%}
   backend_markdown_preview('id_{{f}}');
{%endfor%}

{%for f in form.dynamic_preview_fields%}
   backend_dynamic_preview('{{f}}');
{%endfor%}

{%for f in form.json_fields%}
$('#id_{{f}}').addClass('jsoneditor');
{%endfor%}

  $('textarea.jsoneditor').each(function() {
    var textarea = $(this);
    var editDiv = $('<div>', {
      position: 'absolute',
      width: textarea.width(),
      height: textarea.height(),
      'class': textarea.attr('class')
    }).insertBefore(textarea);
    textarea.css('display', 'none');
    var editor = ace.edit(editDiv[0]);
    editor.renderer.setShowGutter(textarea.data('gutter'));
    editor.getSession().setValue(textarea.val());
    editor.getSession().setMode("ace/mode/json");
    textarea.data('jsoneditor', editor);

    textarea.closest('form').submit(function() {
      textarea.val(editor.getSession().getValue());
    })
  });

{%if form.json_merge_data %}
  var mergedata = {{form.json_merge_data|safe}};
  $.each(mergedata, function(i,v) {
    $('#'+v['source']).change(function(e) {
       var val = e.target.value;
       var mergewith = v['map'][val];
       var editor = $('#'+v['target']).data('jsoneditor');
       try {
          current = JSON.parse(editor.getSession().getValue());
       }
       catch {
         /* If current JSON is invalid, we can't merge. So just give up */
         return;
       }
       var dest = $.extend({}, mergewith, current);
       editor.setValue(JSON.stringify(dest, null, 2), -1);
    });
  });

{%endif%}

   $('div.input-group-password').each(function(i, e) {
      $(e).find('div.input-group-addon').click(function() {
         input = $($(e).find('input'));
         btn =$($(this).find('i'));
         if (input.attr("type") == "password") {
            input.attr("type", "text");
            btn.removeClass('glyphicon-eye-close').addClass('glyphicon-eye-open');
         }
         else {
            input.attr("type", "password");
            btn.removeClass('glyphicon-eye-open').addClass('glyphicon-eye-close');
         }
      });
   });

   $('.backend-vat-field').each(function(i, e) {
      $(e).change(function(e) {
         if ($(this).hasClass('backend-vat-reg-field')) { vatrate = 1 + {{conference.vat_registrations.vatpercent|default:0}}/100;}
         else if ($(this).hasClass('backend-vat-sponsor-field')) { vatrate = 1 + {{conference.vat_sponsorship.vatpercent|default:0}}/100;}
         else return;
         if (vatrate == 1) return;

         v = $(this).val()*vatrate;
         var old = $(this).next().text();
         var newtext = old;
         if (old.indexOf('Including VAT: ') > -1) {
            newtext = old.substring(0, old.indexOf('Including VAT: ')) + ' ';
         }
         $(this).next().text(newtext + ' Including VAT: ' + v);
      });
      $(e).trigger('change');
   });
});
</script>
{%endblock%}

{%block layoutblock%}
<h1>{{whatverb|default:"Edit"}} {{what}}</h1>
<form class="form-horizontal backend-form" method="POST" action="." enctype="multipart/form-data">{%csrf_token%}
{%include "confreg/admin_backend_form_content.html" %}
</form>

{%if user.is_superuser and adminurl%}
<a class="btn btn-default btn-block" href="{{adminurl}}">Superuser: edit {{what}} through django admin interface</a>
{%endif%}
{%endblock%}
