{%extends "confreg/confadmin_base.html" %}
{%block title%}Conference Attendee Email - {{conference}}{%endblock%}
{%block layoutblock%}
<h1>Conference Attendee Email - {{conference}}</h1>

<h2>Sent email</h2>
{%if mails%}
<p>
The following emails have been sent to attendees of the conference:
</p>
<ul>
{%for m in mails%}
 <li>{{m.sentat|date:"Y-m-d H:i"}} <a href="{{m.id}}/">{{m.subject}}</a> ({{m.regclasses.all|join:", "}})</li>
{%endfor%}
</ul>
{%else%}
<p>
No emails have been sent to attendees yet.
</p>
{%endif%}

<h2>New email</h2>
<p>
Using this form you can send an email to attendees. It will immediately be
delivered to all current attendees with the specified registration types,
and will also be made available historically to both those and to anybody
else who signs up with the selected registration types later.
</p>

<form class="form-horizontal" method="post" action=".">{% csrf_token %}
  <div class="form-group">
    <label class="control-label col-lg-3">From</label>
    <div class="col-lg-9 controls"><div class="form-control">{{conference.conferencename}} &lt;{{conference.contactaddr}}&gt;</div></div>
  </div>
{%include "confreg/admin_backend_form_content.html" with savebutton="Send email!"%}
</form>

<br/>
<a class="btn btn-default btn-block" href="/events/admin/{{conference.urlname}}/">Back to dashboard</a>


{%endblock%}
