{%extends "confreg/confadmin_base.html" %}
{%block title%}Conference emails{%endblock%}
{%block extrahead%}
<script type="text/javascript" src="/media/js/selectize.min.js"></script>
<link rel="stylesheet" href="/media/css/selectize.css" />
<link rel="stylesheet" href="/media/css/selectize.default.css" />
<style>
div.inclexclwrapper div.selectize-control {
   margin-right: 10px;
   margin-bottom: 3px;
}
.selectize-control { display: inline-block; }
</style>
<script type="text/javascript">
var maxused = {'include': 0, 'exclude': 0};
var conferences = [{%for c in conferences%}
 {id: {{c.id}}, title: '{{c}}'},{%endfor%}
];
function add_conference_picker(type, default_conf, default_filt) {
   var num = maxused[type];
   maxused[type]++;

   var sel = $('<select style="width: 200px" class="noexpand" id="' + type + '_' + num + '">');
   var sel2 = $('<select class="noexpand" style="width: 300px" id="' + type + 't_' + num +'">');
   var el = $('<div id="' + type + 'wrap_' + num + '" class="inclexclwrapper">').append(
      sel,
      sel2,
      $('<button class="btn btn-xs" style="float:right" onclick="return removeFilter(\'' + type + '\',' + num + ')"><span class="glyphicon glyphicon-remove-sign"></span></button>'),
      );
   $('#' + type + '_btn').before(el);

   var current_default_filt = default_filt;

   sel.selectize({valueField: 'id', labelField: 'title', searchField: 'title'});
   sel2.selectize({valueField: 'id', labelField: 'title', searchField: 'title'});

   var filtersel = sel2[0].selectize;
   if (!default_conf) {
      filtersel.$wrapper.hide();
   }

   sel[0].selectize.load(function(callback) {
	callback(conferences);
   });

   sel[0].selectize.on('change', function(v) {
      filtersel.disable();
      filtersel.clearOptions();
      filtersel.load(function(callback) {
         $.ajax({
            url: '/events/admin/crossmail/options/?conf=' + v,
            success: function(r) {
               callback(r);
               filtersel.$wrapper.show();
               if (current_default_filt) {
                  filtersel.setValue(current_default_filt);
                  current_default_filt = null;
               }
               filtersel.enable();
            },
            error: function() {
               callback();
            },
         });
      });
   });

   if (default_conf) {
      sel[0].selectize.setValue(default_conf);
   }

}

function addNewFilter(type) {
   add_conference_picker(type);
   return false;
}

function removeFilter(type, num) {
   var el = $('#' + type + 'wrap_' + num);
   el.remove();
}

function submit_form() {
   function collect(type) {
      var items = [];
      $('select[id^=' + type + '_]').each(function(i, e) {
         var conf = $(e).val();
         var filt = $('#' + e.id.replace('_', 't_')).val();
         if (conf != null && conf != '' && filt != null && filt != '') {
            items.push(conf + '@' + filt);
         }
      });
      $('#id_' + type).val(items.join(';'));
   }

   collect('include');
   collect('exclude');
}

$(function() {
   function prepare_picker(type) {
      var e = $('#id_' + type);
      if (e.val()) {
         pickers = e.val().split(';');
         for (var p in pickers) {
            var pieces = pickers[p].split('@');
            add_conference_picker(type, pieces[0], pieces[1]);
         }
      } else {
         // Add an empty picker
         add_conference_picker(type);
      }
   }
   prepare_picker('include');
   prepare_picker('exclude');
});
</script>
{%endblock%}
{%block layoutblock%}
<h1>Send conference email</h1>
<form class="form-horizontal" method="post" action=".">{%csrf_token%}
<div class="form-group">
  <label class="control-label col-lg-3">Include:</label>
  <div class="col-lg-9 controls" id="include_div">
    <button id="include_btn" class="btn btn-xs" style="float:left" onclick="return addNewFilter('include')"><span class="glyphicon glyphicon-plus-sign"></span></button>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-lg-3">Exclude:</label>
  <div class="col-lg-9 controls" id="exclude_div">
    <button id="exclude_btn" class="btn btn-xs" style="float:left" onclick="return addNewFilter('exclude')"><span class="glyphicon glyphicon-plus-sign"></span></button>
  </div>
</div>

{%for field in form%}
{%include "confreg/admin_backend_form_field.html"%}
{%endfor%}

<input class="btn btn-default" type="submit" value="Send mail" onClick="return submit_form()">
</form>

{%if recipients%}
<p>
Mail will be sent to the following {{recipients.all.count}} recipients:
</p>
<ul>
{%for r in recipients%} <li>{{r.fullname}} &lt;{{r.email}}&gt;</li>{%endfor%}
</ul>
{%endif%}
{%endblock%}
