{%extends "confreg/confadmin_base.html" %}
{%load date_or_string%}
{%block title%}Cancel registration{%endblock%}

{%block layoutblock%}
<h1>Cancel registration</h1>
<p>
  Registration for {{name}} has been cancelled.
</p>
<p>
{%if conference.sendwelcomemail%}
An email has been sent to the attendee confirming the cancelation.
{%else%}
Since welcome email is not enabled for this conference, no
email was sent to the attendee about the cancelation.
{%endif%}
</p>

<a class="btn btn-default btn-block" href="/events/admin/{{conference.urlname}}/regdashboard/list/">Back to registration list</a>

{%endblock%}
