{%extends "confreg/confadmin_base.html" %}
{%block title%}Conference registrations{%endblock%}
{%block extrahead%}
<style>
table tr.lastrow td {
   font-weight: bold;
}
</style>
{%endblock%}
{%block layoutblock%}
<h1>Conference registrations</h1>
{%for table in tables%}
<h2>{{table.title}}</h2>
<table class="table table-bordered table-striped table-hover table-condensed">
 <tr>
{%for c in table.columns%}
<th>{{c}}</th>
{%endfor%}
{%for row in table.rows %}
<tr {%if forloop.last%}class="lastrow"{%endif%}>
{%for c in row%}
<td>{{c|default_if_none:""}}</td>
{%endfor%}
</tr>
{%endfor%}
</table>
{%endfor%}

<p>
<a href="/admin/confreg/conferenceregistration/?conference__id__exact={{conference.id}}&_directlink=1">View</a> all registrations.
</p>

<p>
<a href="/events/admin/{{conference.urlname}}">Back</a> to dashboard.
</p>
{%endblock%}
