{%extends "confreg/confadmin_base.html" %}
{%load joinattr%}
{%block title%}Attendee Email{%endblock%}

{%block layoutblock%}
<h1>Attendee Email</h1>

<h2>{{mail.subject}}</h2>
<div class="row">
  <div class="col-md-2"><b>Sent: </b></div>
  <div class="col-md-10">{{mail.sentat|date:"Y-m-d H:i"}}</div>
</div>
<div class="row">
  <div class="col-md-2"><b>Sent to regclasses: </b></div>
  <div class="col-md-10"><ul class="nopad">{%for rc in mail.regclasses.all %}<li>{{rc}}</li>{%endfor%}</ul></div>
</div>
<div class="row">
  <div class="col-md-2"><b>Sent to attendees: </b></div>
  <div class="col-md-10">{{mail.registrations.all|join_on_attr:"fullname"}}</div>
</div>
<div class="row">
  <div class="col-md-2"><b>Sent to nonreg users:</b></div>
  <div class="col-md-10">{{mail.pending_regs.all|join_on_attr:"first_name,last_name"}}</div>
</div>
<div class="row">
  <div class="col-md-10 well">
{{mail.message|linebreaks}}
  </div>
</div>

<div class="row buttonrow">
<a class="btn btn-default btn-block" href="../">Return to list</a>.

{%endblock%}
