{%extends "confreg/confadmin_base.html" %}
{%block title%}Send cross conference email{%endblock%}
{%block extrahead%}
<script type="text/javascript" src="/media/js/selectize.min.js"></script>
<script type="text/javascript" src="/media/js/crossconfmail.js"></script>
<link rel="stylesheet" href="/media/css/selectize.css" />
<link rel="stylesheet" href="/media/css/selectize.default.css" />
{%endblock%}
{%block layoutblock%}
<h1>Send cross conference email</h1>
<form class="form-horizontal" method="post" action="." id="crossconfform">{%csrf_token%}
<div class="form-group">
  <label class="control-label col-lg-3">Include:</label>
  <div class="col-lg-9 controls" id="include_div">
    <button id="include_btn" class="btn btn-xs pull-left" onclick="return addNewFilter('include')"><span class="glyphicon glyphicon-plus-sign"></span></button>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-lg-3">Exclude:</label>
  <div class="col-lg-9 controls" id="exclude_div">
    <button id="exclude_btn" class="btn btn-xs pull-left" onclick="return addNewFilter('exclude')"><span class="glyphicon glyphicon-plus-sign"></span></button>
  </div>
</div>

{%for field in form%}
{%include "confreg/admin_backend_form_field.html"%}
{%endfor%}

<input class="btn btn-default" type="submit" value="Send mail" onClick="return submit_form()">
</form>

{%if recipients%}
<p>
Mail will be sent to the following {{recipients|length}} recipients:
</p>
<ul>
{%for r in recipients%} <li>{{r.fullname}} &lt;{{r.email}}&gt;</li>{%endfor%}
</ul>
{%endif%}
{%endblock%}
