{%extends "base.html" %}
{%block title%}Conference emails{%endblock%}
{%block extrahead%}
<script src="/media/jq/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/media/js/selectize.min.js"></script>
<link rel="stylesheet" href="/media/css/selectize.css" />
<link rel="stylesheet" href="/media/css/selectize.default.css" />
<style>
table.mailform tr {
   vertical-align: top;
}
table.mailform input[type=text],textarea,select {
   width: 500px;
}
</style>
<script language="javascript">
$(function() {
   $('#id_attendees_of, #id_attendees_not_of').selectize({'plugins': ['remove_button']});
});
</script>
{%endblock%}
{%block layoutblock%}
<h1>Conference Emails</h1>
<form method="post" action=".">{%csrf_token%}
<table class="mailform">
{{form.as_table}}
</table>
<input type="submit" value="Send mail">
</form>
{%if recipients%}
<p>
Mail will be sent to the following {{recipients.all.count}} recipients:
</p>
<ul>
{%for r in recipients%} <li>{{r.fullname}}</li>{%endfor%}
</ul>
{%endif%}
{%endblock%}
