{%extends "confreg/confadmin_base.html" %}
{%block title%}Conferences{%endblock%}
{%block layoutblock%}

<h1>Conferences</h1>
{%if cross_conference %}
<div>
  <a class="btn btn-default" href="/events/admin/reports/time/">Time reports</a>
  <a class="btn btn-default" href="/events/admin/crossmail/">Cross conference email</a>
</div>

{%endif%}

{%if current%}
<h2>Current conferences</h2>
<div class="row">
{%for c in current %}
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow">
    <a class="btn btn-primary btn-block" href="/events/admin/{{c.urlname}}/">{{c}}</a>
  </div>
{%endfor%}
</div>
{%endif%}

{%if upcoming%}
<h2>Upcoming conferences</h2>
<div class="row">
{%for c in upcoming %}
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow">
    <a class="btn btn-default btn-block" href="/events/admin/{{c.urlname}}/">{{c}}</a>
  </div>
{%endfor%}
</div>
{%endif%}

{%if past%}
<h2>All conferences{%if singleseries%} in {{singleseries.name}}{%endif%}</h2>
{%regroup past by seriesid as past_series%}
{%for series in past_series%}

{%for c in series.list %}
{%if forloop.first %}
{%if not singleseries%}
<h4>{{c.seriesname}}{%if c.seriesperm and not singleseries%} (<a href="?series={{c.seriesid}}">View all in series</a>){%endif%}</h4>
{%endif%}
<div class="row">
{%endif%}
 <div class="col-md-3 col-sm-6 col-xs-12 buttonrow">
  <a class="btn btn-default btn-block" href="/events/admin/{{c.urlname}}/">{{c.conferencename}}</a>
 </div>
{%if forloop.last%}
</div>
{%if c.seriesperm or singleseries%}
<div class="row">
 <div class="col-md-3 col-sm-6 buttonrow">
   <a class="btn btn-default btn-block" href="_series/{{c.seriesid}}/">Manage series</a>
 </div>
</div>
{%endif%}
{%endif%}
{%endfor%}
{%endfor%}
{%if singleseries %}
<div class="row">
 <div class="col-md-12 col-sm-12 col-xs-12 buttonrow">
  <a class="btn btn-default btn-block" href=".">All conference series</a>
 </div>
</div>
{%endif%}
{%endif%}

{%if user.is_superuser%}
<h2>Superuser operations</h2>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow">
    <a class="btn btn-default btn-block" href="/events/admin/newconference/">Create new conference</a>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow">
    <a class="btn btn-default btn-block" href="/events/admin/meta/series/">Edit conference series</a>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow">
    <a class="btn btn-default btn-block" href="/events/admin/meta/tshirts/">Edit T-Shirt sizes</a>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 buttonrow">
    <a class="btn btn-default btn-block" href="/events/admin/meta/speakers/">Edit global speakers</a>
  </div>
</div>
{%endif%}

{%endblock%}
