{%extends conftemplbase %}
{%load markup%}
{%block title%}Conference registration bulk payment{%endblock%}
{%block content%}
<h1>Conference registration bulk payment</h1>
{%if bulkpayment.paidat%}
<p>This bulk payment was completed {{bulkpayment.paidat}}.</p>
{%else%}
<p>
This bulk payment is associated with the following invoice. Note that
since this invoice has been created, there is no longer any way to
modify the contents of it.
</p>
{%endif%}

{%include "invoices/userinvoice_spec.html" %}

<p>
<a href="../">Back</a>
</p>
{%endblock%}
