{%extends conftemplbase %}
{%block title%}Conference registration bulk payments{%endblock%}
{%block extrahead%}
<script language="javascript">
function confirmInvoice() {
   return confirm('Once you proceed to payment, an invoice will be generated for all registrations, and you will no longer be able to change it. The individual registrations can also no longer be changed.\n\nThis invoice will be addressed to the person, company and address specified on this page - please take a moment to review those fields if you need to.\n\nThe invoice will be delivered as a PDF in your browser, no paper invoice will be sent.\n\nAre you sure you want to proceed to payment?');
}
</script>
<style>
ul.errorlist {
   display: block;
}
</style>
{%endblock%}

{%block content%}
<h1>Conference registration bulk payments</h1>
<p>
{%if bulkpayments%}
You have the following bulk payments registered:
<ul>
{%for p in bulkpayments%}
 <li><a href="{{p.id}}/">{{p}}</a></li>
{%endfor%}
</ul>
{%else%}
You currently have no bulk payments registered for {{conference}}.
{%endif%}
</p>

<h2>New bulk payment</h2>
<p>
To create a new bulk payment for {{conference}}, list the email
addresses of all the users you wish to pay for below, one on each line.
Note that each of the users must have already registered him/herself,
and entered all the details - once a registration is attached to a
bulk payment, it can no longer be modified.
</p>
<p>
Make sure you enter the invoice information for <i>you</i>. This
information will be put as the recipient on the invoice, and cannot
be edited once the invoice has been issued.
</p>
<p>
Once you have entered all emails, click the <i>Check email</i> button.
This will collect all the registrations and show you how much they cost
with the current options enabled. Once you have verified that they are all
correct, click the button to confirm the registrations and generate the
invoice.
</p>
<p>
<b>Note!</b> The invoice that's generated is due upon receipt, so please
make sure that you have all the payment details, such as creditcard number,
ready. The registrations will <i>not</i> be confirmed until the invoice
has been paid.
</p>

{% if messages %}
<ul style="background-color: yellow;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="POST" action=".">
<table border="0">
{{form}}
</table>
<br/>
<input type="submit" name="submit" value="Check emails"/>

{%if state%}
<h3>Registrations to pay for</h3>
<p>
<ul class="pgeubulkpaylist">
{%for s in state%}
<li {%if not s.pay or not s.found %}style="color:red;"{%endif%}>{{s.email}}{%if s.total%} ({{currency_symbol}}{{s.total}}){%endif%}<ul>
{%if s.pay and s.found%}
 {%for r in s.rows%}
  <li>{{r}}</li>
 {%endfor%}
{%else%}
 <li>{{s.text}}</li>
{%endif%}
</ul></li>
{%endfor%}
</ul>
</p>
{%if not errors%}
<input type="hidden" name="confirmed_total_cost" value="{{totalcost}}"/>
<input type="submit" name="submit" value="Confirm above registrations and generate invoice" onclick="return confirmInvoice()"/>
{%endif%}
{%endif%}{%comment%}state exists{%endcomment%}

</form>

{%endblock%}
