{%extends conftemplbase %}
{%block title%}Call for Papers - {{conference}}{%endblock%}
{%block content%}
<h1>Call for Papers - {{conference}}</h1>

{%if conference.callforpapersopen%}
<p>
{{conference.callforpapersintro|safe}}
</p>
{%endif%}

<h2>Your submissions</h2>
{%if not sessions%}
<p>
You have not made any submissions yet.
</p>
{%else%}
<p>
You have made the following submissions to this conference:
</p>
<ul>
{%for s in sessions%}
  <li>
  <a href="{{s.id}}/">{{s.title}}</a> ({{s.status_string_long}}{%ifequal s.status 3 %} - <a href="{{s.id}}/speakerconfirm/">confirm</a>{%endifequal%}{%if s.status == 1 and s.has_feedback and not conference.feedbackopen%} - <a href="{{s.id}}/">View feedback</a>{%endif%})
  {%ifequal s.status 1 %}{%comment%}Approved - so link to the public description{%endcomment%}
  (<a href="/events/schedule/{{conference.urlname}}/session/{{s.id}}/">public view</a>)
  {%endifequal%}
  </li>
{%endfor%}
</ul>
{%endif%}

{%if conference.callforpapersopen or is_tester%}
<h2>New submission</h2>
<p>
To create a new submission, enter the title here:
</p>
<form method="post" action="." class="pgeucfpnewform">{% csrf_token %}
 {{form.title}}{% if form.title.errors %}{{ form.title.errors}}{% endif %}<br/>
 <input type="submit" value="New submission"/>
</form>

<h2>Remove submission</h2>
<p>
To remove a submission, please contact <a href="mailto:{{conference.contactaddr}}">{{conference.contactaddr}}</a>.
</p>

{%endif%}

<h2>Speaker profile</h2>
<p>
Your <a href="/events/speakerprofile/{{conference.urlname}}/">shared postgresql.eu speaker profile</a>
will be used for all submissions.
</p>

{%endblock%}

