{%extends conftemplbase %}
{%block title%}Call for Papers - {{conference}}{%endblock%}
{%block content%}
<h1>Call for Papers - {{conference}}</h1>

<p>
{{conference.callforpapersintro|safe}}
</p>

<p><a href="..">Back</a> to your submissions.</p>

<h2>Session: {{session.title}}</h2>

<p>
Please complete the following fields. You may use markdown in the abstract.
</p>

{% if form.errors %}
<p><b style="color:red;">Note! This form contains errors and has not been saved!</b></p>
{% endif %}
<form class="pgeucfpform" method="post" action=".">{% csrf_token %}
<table id="cfp_table">
{{form.as_table}}
<tr>
  <th>Additional speakers:</th>
  <td>
    <p>
    If there will be more than one speaker of this session, please add them below by
    entering their email addresses. Note that all speakers must set up their
    own speaker profile before they can be added.
    </p>
    {{ speaker_formset.non_form_errors.as_ul }}
    {{ speaker_formset.management_form }}
    <table id="cfp_form_speakers_list">
      {%for f in speaker_formset.forms%}
      {%if forloop.first%}
      <tr>
	{%for field in f.visible_fields%}
	<th>{{field.label}}</th>
	{%endfor%}
      </tr>
      {%endif%}
      <tr>
	{%for field in f.visible_fields%}
	<td>
	  {%if forloop.first%}
	   {%for hidden in form.hidden_fields%}
	   {{hidden}}
	   {%endfor%}
	  {%endif%}
	  {{field.errors.as_ul}}
	  {{field}}
	</td>
	{%endfor%}
      </tr>
      {%endfor%}
    </table>
  </td>
</tr>
</table>
<input type="submit" value="Save">
</form>

{%endblock%}
