{%extends conftemplbase %}
{%block title%}Call for Papers - {{conference}}{%endblock%}
{%block content%}
<h1>Call for Papers - {{conference}}</h1>

<p>
{{conference.callforpapersintro|safe}}
</p>

<p><a href="..">Back</a> to your submissions.</p>

<h2>Session: {{session.title}}</h2>

<p>
Please complete the following fields. You may use markdown in the abstract.
</p>

{% if form.errors %}
<p><b style="color:red;">Note! This form contains errors and has not been saved!</b></p>
{% endif %}
<form method="post" action=".">
<table id="cfp_table">
{{form.as_table}}
</table>
<input type="submit" value="Save">
</form>

{%endblock%}
