{%extends conftemplbase %}
{%load markup%}
{%block title%}Conference Feedback - {{conference}}{%endblock%}
{%block extrahead%}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawCharts);
function prep_datatable() {
   var d = new google.visualization.DataTable();
   d.addColumn('string', 'Rating');
   d.addColumn('number', 'Count');
   return d;
}
function drawCharts() {
{%for section in feedback %}
{%for question in section.questions%}
{%if question.graphdata%}
   var data = prep_datatable();
   data.addRows([{%for k,v in question.graphdata%}['{{k|escapejs}}',{{v}}],{%endfor%}]);
   var options = {
      'title': '{{question.question}}',
      'sliceVisibilityThreshold': 0,
      'width': 550,
      'height': 400,
   };
   var chart = new google.visualization.PieChart(document.getElementById('chart_{{question.id}}'));
   chart.draw(data, options);


{%endif%}
{%endfor%}
{%endfor%}
}
</script>

<style>
div.chartdiv {
   width: 100%;
}
</style>
{%endblock%}

{%block content%}
<h1>Conference Feedback - {{conference}}</h1>

<p>
This is the current conference feedback entered for {{conference}}. You can also view
the <a href="session/">session and speaker feedback</a>.
</p>

<div id="sectionwrap">
{%for section in feedback %}
<h2>{{section.title}}</h2>
<div class="sectiondiv">
 {%for question in section.questions%}
{%if question.graphdata%}
  <div id="chart_{{question.id}}" class="chartdiv"></div>
{%else%}
 <h3>{{question.question}}</h3>
  <ul>
  {%for ta in question.textanswers%}
   <li>{{ta}}</li>
  {%endfor%}
  </ul>
  {%endif%}
 {%endfor%}
</div>
{%endfor%}
</div>

{%endblock%}

