{%extends conftemplbase %}
{%block title%}Conference Registration - {{conference}}{%endblock%}
{%block extrahead%}
{%endblock%}
{%block content%}
<h1>Conference Registration - {{conference}}</h1>

{% if messages %}
<ul style="background-color: yellow;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<p>
This conference is unfortunately <b>sold out</b> at this time.
</p>

<p>
At this time we are unable to offer you a registration. However, there
is a waitlist available which you can sign up for. The waitlist process
works like this:
</p>

<ul>
 <li>You accept being waitlisted by confirming in the form below</li>
 <li>As soon as a seat becomes available, we will send you an email
   to {{reg.email}}. This email will be sent from
   {{reg.conference.contactaddr}}, so make sure you whitelist that
   address in any spam filters.</li>
 <li>After receiving this email you will have a limited amount of time
   (depending on how close to the conference it is sent - the time will
   be specified in the email) to confirm that you want the seat</li>
 <li>If you confirm that you still want the seat, you will be able to
   generate an invoice, which will be due for <i>immediate payment</i>.</li>
 <li>If you do not meet either of these timelines, your registration will
   automaticaly be moved back to the waitlist, and will be given another
   try later.</li>
 <li>Finally, at any given time you will be able to take yourself off the
   waitlist. If you are no longer interested in attending the conference,
   we ask you to do this, in order to give other people a better chance
   on the waitlist.</li>
 <li>We make no guarantees about the ability to offer people off the waitlist
   seats at the conference, but we will do our best to accommodate as many
   as possible!</li>
</ul>

<h3>Sign up on waitlist</h3>
<p>
If you wish to sign up on the waitlist, please confirm this below.
</p>
<form method="post" action="../waitlist_signup/">{% csrf_token %}
<input type="checkbox" name="confirm" value="1">Check this box to confirm you want to sign up.<br/>
<input type="submit" name="submit" value="Sign up on waitlist">
</form>

{%endblock%}

