{%extends "confreg/confadmin_base.html" %}
{%block title%}Conference PDF schedule{%endblock%}
{%block extrahead%}
<style>
ul.errorlist {
   display: block;
}
table#formtbl {
   border-spacing: 5px;
}
table#formtbl tr {
   vertical-align: top;
}
table#formtbl tr th {
   white-space: nowrap;
}
</style>
{%endblock%}

{%block layoutblock%}
<h1>Conference PDF schedule</h1>

<form method="POST" action=".">{% csrf_token %}
<table id="formtbl">
{{form}}
</table>
<br/>
<input type="submit" name="submit" value="Generate PDF" class="btn btn-default"/>
</form>

<p>
</p>
<a class="btn btn-default btn-block" href="/events/admin/{{conference.urlname}}/">Back to dashboard</a>

{%endblock%}
