{%extends "base.html" %}
{%block title%}Conference PDF schedule{%endblock%}
{%block extrahead%}
<style>
ul.errorlist {
   display: block;
}
table#formtbl {
   border-spacing: 5px;
}
table#formtbl tr {
   vertical-align: top;
}
table#formtbl tr th {
   white-space: nowrap;
}
</style>
{%endblock%}

{%block layoutblock%}
<h1>Conference PDF schedule</h1>
{% if messages %}
<ul style="background-color: yellow;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="POST" action=".">{% csrf_token %}
<table id="formtbl">
{{form}}
</table>
<br/>
<input type="submit" name="submit" value="Generate PDF"/>
</form>

{%endblock%}
