{%extends "confreg/confadmin_base.html" %}
{%block title%}Prepaid vouchers{%endblock%}
{%block extrahead%}
<script type="text/javascript" src="/media/jq/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
function sendEmail() {
   if (confirm('Are you sure you want to send an email with these vouchers to {{batch.buyer.email|escapejs}}?')) {
      $.ajax({
         'url': 'send_email/',
         'success': function() {
            alert('Email sent!');
         },
         'error': function(xhr, status, error) {
            alert('Failed to send email: ' + error + '!\n' + xhr.responseText);
         },
      });
   }
}
</script>
{%endblock%}

{%block layoutblock%}
<h1>Prepaid vouchers</h1>
<h2>Batch</h2>
<table>
 <tr>
  <th>Batch id:</th>
  <td>{{batch.id}}</td>
 </tr>
 <tr>
  <th>Registration type:</th>
  <td>{{batch.regtype}}</td>
 </tr>
 <tr>
  <th>Buyer:</th>
  <td>{{batch.buyer}}</td>
 </tr>
</table>

<h2>Vouchers</h2>
<table>
<tr>
 <th>Voucher code</th>
 <th>User by</th>
 <th>Used at</th>
</tr>
{% for v in vouchers %}
<tr>
 <td><code>{{v.vouchervalue}}</code></td>
 <td>{{v.user.fullname|default:""}}</td>
 <td>{{v.usedate|default:""}}</td>
</tr>
{%endfor%}
</table>

<h2>Voucher codes again</h2>
<p>In a format suitable for clipboard copying...</p>

<textarea cols="60" rows="{{vouchers|length}}">
{%for v in vouchers%}{{v.vouchervalue}}
{%endfor%}</textarea>

<h2>And once more</h2>
<p>
In a format suitable to paste into an email which includes
the details for how to actually use them.
</p>
<input type="text" size="60" value="Attendee vouchers for {{batch.conference}}" />
<p>
<textarea cols="80" rows="50">
{{vouchermailtext}}
</textarea>
</p>
<p>
  <button onclick="sendEmail()" class="btn btn-default">Send with email</button><br/>
</p>

<a class="btn btn-default btn-block" href="/events/admin/{{conference.urlname}}/prepaid/list/">Back to list</a>

{%endblock%}
