{%extends conftemplbase %}
{%load markup%}
{%block title%}Pay using prepaid voucher{%endblock%}
{%block content%}
<h1>Pay using prepaid voucher</h1>
<p>
To pay using a prepaid voucher, please input the voucher code in the
field below.
</p>

{% if form.errors %}
<p><b style="color:red;">Note! This form contains errors and has not been saved!</b></p>
{% endif %}

<form method="post" action="." enctype="multipart/form-data">
<table>
<tr>
 <th>Conference</th>
 <td>{{conference}}</td>
</tr>
<tr>
 <th>Attendee</th>
 <td>{{reg.firstname}} {{reg.lastname}}</th>
</tr>
<tr>
 <th>Type</th>
 <td>{{reg.regtype}}</td>
</tr>
<tr>
 <th>{{form.voucher.label_tag}}:</th>
 <td>{{form.voucher}}{% if form.voucher.errors %}{{ form.voucher.errors}}{% endif %}</td>
</tr>
</table>
<input type="submit" value="Save">
</form>

{%endblock%}
