{%extends conftemplbase %}
{%load markup%}
{%load payment_options%}
{%block title%}Conference Registration - {{conference}}{%endblock%}
{%block extrahead%}
<script language="javascript">
function confirmInvoice() {
   return confirm('Once you proceed to payment, an invoice will be generated for your registration, and you will no longer be able to change it.\n\nThis invoice will be addressed to the person, company and address specified in the registration - please take a moment to review those fields if you need to.\n\nThe invoice will be delivered as a PDF in your browser, no paper invoice will be sent.\n\nAre you sure you want to proceed to payment?');
}
</script>
<style>
table.reginfotbl {
   width:100%;
}
table.reginfotbl td {
   vertical-align: top;
   padding-top: 3px;
   padding-bottom: 3px;
}
table.reginfotbl td.firstcol {
   width: 150px;
   white-space: nowrap;
}
</style>
{%endblock%}
{%block content%}
<h1>Conference Registration - {{conference}}</h1>

<p>On this page you can register for <a href="{{conference.confurl}}">{{conference}}</a>.
</p>
<p>
<b>NOTE!</b> if you wish to register multiple people,
you must <a href="/logout">log out</a> and back in (with a different account)
between each registration to avoid conflicts.
</p>

{%if reg.payconfirmedat or reg.invoice or reg.bulkpayment %}
 {%if reg.payconfirmedat %}
<p>
Your registration and payment have been confirmed by {{reg.payconfirmedby}} at
{{reg.payconfirmedat}}. Welcome to {{conference}}!
</p>
 {%elif reg.invoice%}
<h2>Invoice</h2>
<p>
An invoice has been created for your registration, but we have not yet
received a payment for it.
</p>
 {%else%}{%comment%}must mean reg.bulkpayment{%endcomment%}
<p>
Your registration has been made part of a bulk payment invoice owned by
{{reg.bulkpayment.user.email}}. Once this invoice has been paid by the
owner, your registration will automatically be approved.
</p>
 {%endif%}
 {%if reg.invoice%} {%comment%}we can have both invoice and payconfirmed! {%endcomment%}
{%include "invoices/userinvoice_spec.html"%}

 {%endif%}{%comment%}Show invoice{%endcomment%}

<h2>Your registration details</h2>
<p>
Since your registration has been finalized, you can no longer make modifications
to it. If you need to adjust anything, please contact the conference organizers
at {{conference.contactaddr}}.
</p>
<fieldset id="personal_information">
 <legend>Personal information</legend>
 <table class="reginfotbl">
  <tr><td class="firstcol">Username</td><td>{{user.username}}</td></tr>
  <tr><td class="firstcol">Registration type</td><td>{{reg.regtype}}</td></tr>
  <tr><td class="firstcol">First name</td><td>{{reg.firstname}}</td></tr>
  <tr><td class="firstcol">Last name</td><td>{{reg.lastname}}</td></tr>
  <tr><td class="firstcol">Company</td><td>{{reg.company}}</td></tr>
  <tr><td class="firstcol">Address</td><td>{{reg.address|linebreaks}}</td></tr>
  <tr><td class="firstcol">Country</td><td>{{reg.country}}</td></tr>
  <tr><td class="firstcol">Email</td><td>{{reg.email}}</td></tr>
  <tr><td class="firstcol">Phone</td><td>{{reg.phone}}</td></tr>
  <tr><td class="firstcol">Twitter name</td><td>{{reg.twittername}}</td></tr>
  <tr><td class="firstcol">Nickname</td><td>{{reg.nick}}</td></tr>
 </table>
</fieldset>
{%if conference.asktshirt or conference.askfood or conference.askshareemail%}
<fieldset>
 <legend>Conference information</legend>
 <table class="reginfotbl">
 {%if conference.asktshirt%}
  <tr><td class="firstcol">T-shirt size</td><td>{{reg.shirtsize|default:''}}</td></tr>
 {%endif%}
 {%if conference.askfood%}
  <tr><td class="firstcol">Dietary needs</td><td>{{reg.dietary}}</td></tr>
 {%endif%}
 {%if conference.askshareemail%}
  <tr><td class="firstcol">Share email</td><td>{{reg.shareemail|yesno:"Yes,No"}}</td></tr>
 {%endif%}
 </table>
</fieldset>
{%endif%}
{%if reg.additionaloptions.all %}
<fieldset>
 <legend>Additional options</legend>
 <ul>{%for ao in reg.additionaloptions.all%}<li>{{ao.name}}</li>{%endfor%}</ul>
</fieldset>
{%endif%}

{%else%}
   {%comment%}Not confirmed, and not invoiced, and not bulk, that must mean that the
              registration hasn't been completed yet. Thus, render the
              registration form.{%endcomment%}
<form action="." method="post" class="pgeuregform">

{% if form_is_saved and reg.needspayment%}
<p><b>Note!</b> Your registration is not confirmed until the payment
has been confirmed.</p>
{% endif %}

{% if form.errors %}
<p><b>Note! This form contains errors and has not been saved!</b></p>
{% endif %}

 <fieldset id="personal_information">
  <legend>Personal information</legend>
      <div>
	You are currently making a registration for community account:<br/>
	<i>{{user.username}} ({{user.first_name}} {{user.last_name}} &lt;{{user.email}}&gt;).</i><br/>
	<br/>
      </div>
      <div{% if form.regtype.errors %} class="errfld"{% endif %}>
       {{ form.regtype.label_tag }} <br/>
        {{ form.regtype }} {% if form.regtype.errors %}{{ form.regtype.errors}}{% endif %}
      </div>

      <div{% if form.firstname.errors %} class="errfld"{% endif %}>
       {{ form.firstname.label_tag }} <br/>
        {{ form.firstname }} {% if form.firstname.errors %}{{ form.firstname.errors}}{% endif %}
      </div>

      <div{% if form.lastname.errors %} class="errfld"{% endif %}>
       {{ form.lastname.label_tag }} <br/>
        {{ form.lastname }} {% if form.lastname.errors %}{{ form.lastname.errors}}{% endif %}
      </div>

      <div{% if form.company.errors %} class="errfld"{% endif %}>
       {{ form.company.label_tag }} <br/>
        {{ form.company }} {% if form.company.errors %}{{ form.company.errors}}{% endif %}
      </div>

      <div{% if form.address.errors %} class="errfld"{% endif %}>
       {{ form.address.label_tag }} (also used for invoices)<br/>
        {{ form.address }} {% if form.address.errors %}{{ form.address.errors}}{% endif %}
      </div>

      <div{% if form.country.errors %} class="errfld"{% endif %}>
       {{ form.country.label_tag }} <br/>
        {{ form.country }} {% if form.country.errors %}{{ form.country.errors}}{% endif %}
      </div>

      <div{% if form.email.errors %} class="errfld"{% endif %}>
       {{ form.email.label_tag }} <br/>
        {{ form.email }} {% if form.email.errors %}{{ form.email.errors}}{% endif %}
      </div>

      <div{% if form.phone.errors %} class="errfld"{% endif %}>
       {{ form.phone.label_tag }} <br/>
        {{ form.phone }} {% if form.phone.errors %}{{ form.phone.errors}}{% endif %}
      </div>

      <div{% if form.twittername.errors %} class="errfld"{% endif %}>
       {{ form.twittername.label_tag }} <br/>
        {{ form.twittername }} {% if form.twittername.errors %}{{ form.twittername.errors}}{% endif %}
      </div>

      <div{% if form.nick.errors %} class="errfld"{% endif %}>
       {{ form.nick.label_tag }} <br/>
        {{ form.nick }} {% if form.nick.errors %}{{ form.nick.errors}}{% endif %}
      </div>
 </fieldset>

 {%if conference.asktshirt or conference.askfood or conference.askshareemail %}
 <fieldset id="conference_info">
  <legend>Conference information</legend>
      {%if conference.asktshirt %}
      <div{% if form.shirtsize.errors %} class="errfld"{% endif %}>
       {{ form.shirtsize.label_tag }} <br/>
        {{ form.shirtsize }} {% if form.shirtsize.errors %}{{ form.shirtsize.errors}}{% endif %}
      </div>
      {%endif%}
      {%if conference.askfood %}
      <div{% if form.dietary.errors %} class="errfld"{% endif %}>
       {{ form.dietary.label_tag }} <br/>
        {{ form.dietary }} {% if form.dietary.errors %}{{ form.dietary.errors}}{% endif %}
      </div>
      {%endif%}
      {%if conference.askshareemail %}
      <div{% if form.shareemail.errors %} class="errfld"{% endif %}>
        {{ form.shareemail }} {{ form.shareemail.label_tag }}
	{% if form.shareemail.errors %}{{ form.shareemail.errors}}{% endif %}
      </div>
      {%endif%}
 </fieldset>
 {%endif%}{%comment%}askshirt, askfood,etc{%endcomment%}

 {% if additionaloptions %}
 <fieldset id="additional_options">
  <legend>Additional options</legend>
  {%if conference.additionalintro %}
  <div>{{conference.additionalintro|markdown}}</div>
  {%endif%}
  <div{%if form.additionaloptions.errors%} class="errfld"{%endif%}>
   {{ form.additionaloptions }} {% if form.additionaloptions.errors %}{{ form.additionaloptions.errors}}{%endif%}
  </div>
 </fieldset>
 {%endif%}{%comment%}additionaloptions{%endcomment%}

 <input type="submit" name="submit" value="Save"><br/>
{%if reg.needspayment or not form_is_saved %}
 <input type="submit" name="submit" value="Save and use a voucher"> (use this option if you have received a prepaid voucher)<br/>
 <input type="submit" name="submit" onclick="return confirmInvoice()" value="Save and proceed to payment"> (you will no longer be able to modify your registration!)<br/>
{%endif%}
{%if form_is_saved and not reg.regtype%}
<p>
You must pick a registration type at the top of the form in order to
proceed with your registration.
</p>
{%elif form_is_saved and not reg.needspayment%}
<p>
Your registration does not require payment. Please just wait until somebody
from the conference staff approves it.
</p>
{%endif%}

</form>
{%endif%}
{%endblock%}

