{%extends "confreg/confadmin_base.html" %}
{%block title%}Reports{%endblock%}
{%block extrahead%}
<link rel="stylesheet" href="/media/jq/jquery-ui.min.css" />
<script type="text/javascript" src="/media/jq/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/media/jq/jquery-ui.min.js"></script>
<style>
#fieldlist { list-style-type: none; margin: 0; padding: 0; }
#fieldlist li { cursor: move;}
input[type=checkbox] { margin-right: 1em; }
</style>
{%endblock%}
{%block layoutblock%}
{%if list%}
<h1>Reports</h1>
<form method="post" action="advanced/">{% csrf_token %}
<table class="table">
  <tr>
    <td class="col-md-3"><h3>Fields</h3>Select fields to include.<br/>Drag to change order.</td>
    <td>
      <ul id="fieldlist">
      {%for f,fn,d,fk in adv_fields %}
      <li><input type="checkbox" name="fields" value="{{f}}"{%if d%} CHECKED{%endif%}/>{{fn}}</li>
      {%endfor%}
      </ul>
    </td>
  </tr>
 <tr>
    <td class="col-md-3"><h3>Filters</h3>Select filters to apply</td>
    <td>
      {%for filter in adv_filters%}
      {{filter.html|safe}}
      {%endfor%}
    </td>
  </tr>
  <tr>
    <td class="col-md-3"><h3>Title</h3></td>
    <td><input type="text" name="title"></td>
  </tr>
  <tr>
    <td class="col-md-3"><h3>Additional columns</h3>(These columns will be added empty, for manual entry. Separate with comma.)</td>
    <td><input type="text" name="additionalcols"></td>
  </tr>
  <tr>
    <td class="col-md-3"><h3>Order by</h3></td>
    <td>
      <select name="orderby1">{%for f,fn,d,fk in adv_fields %}<option value="{{f}}">{{fn}}</option>{%endfor%}</select>
      <select name="orderby2">{%for f,fn,d,fk in adv_fields %}<option value="{{f}}">{{fn}}</option>{%endfor%}</select>
    </td>
  </tr>
  <tr>
    <td class="col-md-3"><h3>Format</h3></td>
    <td>
      <table border="0" cellspacing="1" cellpadding="0">
	<tr>
	  <td>Format:</td>
	  <td><select name="format"><option value="html">HTML</option><option value="pdf">PDF</option><option value="csv">CSV</option><option value="badge">Badge</option><option value="json">JSON</option></select></td>
	</tr>
	<tr>
	  <td>PDF orientation:</td>
	  <td><select name="orientation"><option value="portrait">Portrait</option><option value="landscape">Landscape</option></td>
	</tr>
	<tr>
	  <td>Borders</td>
	  <td><input type="checkbox" name="border" CHECKED> include table and badge borders</td>
	<tr>
	  <td>Pagebreaks</td>
	  <td><input type="checkbox" name="pagebreaks" CHECKED> force page break (between badges only)</td>
	</tr>
	</tr>
      </table>
    </td>
  </tr>
</table>
<input type="submit" value="Generate report" />
</form>

<script type="text/javascript">
$(function() {
    $( "#fieldlist" ).sortable();
    $( "#fieldlist" ).disableSelection();

    $('input.adv_filter_box, blockquote.adv_filter_wrap').each(function(i, e) {
       if ($(e).prev().is(':checked')) {
          $(e).show();
       } else {
          $(e).hide();
       }
    });
    $('input.adv_filter_check').each(function(i, e) {
       $(e).change(function() {
          if ($(e).is(':checked')) {
             $(e).next().show();
          } else {
             $(e).next().hide();
          }
       });
    });
  });
</script>

{% else %}
<table border="1" cellspacing="0" cellpadding="1">
{%if reporttitle%}<h2>{{reporttitle}}</h2>{%endif%}
 <tr>
  {%for col in header%}
   <th>{{col}}</th>
  {%endfor%}
</tr>
{%for row in data%}
 <tr>
  {%for col in row%}
   <td>{{col}}</td>
  {%endfor%}
 </tr>
{%endfor%}
</table>
{%endif%}
{%endblock%}
