{%load assets%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" dir="ltr">
 <head>
  <title>{{conference.conferencename}} - badge scan</title>
  <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{%if basehref%}<base href="{{basehref}}" />{%endif%}
  <link rel="shortcut icon" href="/favicon.ico" />
  {%asset "css" "bootstrap3" %}
  {%asset "js" "bootstrap3" %}
  <style>
body {
    padding-top: 60px;
    padding-bottom: 60px;
}
div.buttonrow {
    margin-bottom: 10px;
}
  </style>
 </head>
 <body>
   <nav class="navbar navbar-default navbar-fixed-top" id="topnavbar">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="#">{{conference.conferencename}} - badge scan</a>
       </div>
     </div>
   </nav>

   <div class="container">
{%for l, o in options %}
     <div class="row buttonrow">
       <a href="{{l}}" class="btn btn-default btn-block btn-lg">{{o.title}}</a>
     </div>
{%endfor%}
   </div>
 </body>
</html>
