<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" dir="ltr">
<head>
 <title>Create Conference Schedule - {{conference}}</title>
 <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
 <style type="text/css" media="screen" title="Normal Text">@import url("/media/css/base.css");</style>
</head>
<body>
<h1>Changes</h1>
{%if done%}
Changes published. <a href="../">Go back</a>.
{%else%}
<ul>
  {%for c in changes%}
  <li>{{c}}</li>
  {%endfor%}
</ul>

<p>
If all looks ok, confirm by clicking <a href="?doit=1">here</a>.
</p>
{%endif%}
</body>
</html>
