{%extends "confreg/confadmin_base.html" %}
{%block title%}Create schedule{%endblock%}
{%block layoutblock%}
<h1>Changes</h1>
{%if done%}
<p>
Changes published.
</p>
<a class="btn btn-default btn-block" href="../">Back</a>

{%else%}
<ul>
  {%for c in changes%}
  <li>{{c}}</li>
  {%endfor%}
</ul>

<p>
Verify the changes above before proceeding!
</p>

<p>
  <form method="post" action=".">{% csrf_token %}
    <input type="hidden" name="doit" value="1">
    <input type="submit" class="btn btn-default" value="Publish">
  </form>
</p>

<a class="btn btn-default btn-block" href="../">Back</a>


{%endif%}
{%endblock%}
