{%extends "confreg/confadmin_base.html" %}
{%load markup%}
{%block extrahead%}
<link rel="stylesheet" href="/media/jq/jquery-ui.min.css" />
<script src="/media/jq/jquery-ui.min.js"></script>

<script language="javascript">
$(function() {
  $('.dlg').each(function(idx, el) {
    $(el).dialog({
      autoOpen: false,
      minWidth: 400,
      minHeight: 250,
      height: 600,
    });
  });
});

function showDialog(id, title) {
   if ($('#popup_' + id).dialog('isOpen')) {
      $('#popup_' + id).dialog('close');
   } else {
      $('#popup_' + id).dialog('option', {
         'title': title,
      }).dialog('open');
   }
}
</script>
<style>
td.dlgClickable {
  cursor: pointer;
}
div.dlg {
  display: none;
}

/* Override bootstrap to make full screen */
.container {
width: 100%;
}
</style>
{%endblock%}
{%block layoutblock%}
<h1>Vote for sessions - {{conference}}</h1>
{% if messages %}
<ul style="background-color: yellow;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action=".">{% csrf_token %}
<table class="table table-bordered table-condensed">
 <tr>
  <th><a href="?sort=session">Session</a></th>
  <th>Status</th>
  {%for u in users%}
  <th>{{u}}</th>
  {%endfor%}
  <th><a href="?sort=avg">Average</a></th>
  <th>Your comments</th>
  <th>Other comments</th>
 </tr>
{%for s in sessionvotes%}
 <tr>
   <td onClick="showDialog({{s.id}}, '{{s.title|escape|escapejs|escape}}')" class="dlgClickable">{{s.title}} ({{s.speakers}})
    <div id="popup_{{s.id}}" class="dlg">
    <div><strong>Speakers:</strong> {{s.speakers_full}}</div>
    <div><strong>Track:</strong> {{s.track}}</div>
    <p>
{{s.abstract}}
    </p>
{%if s.submissionnote%}
    <hr/>
    <h3>Submission notes</h3>
    <p>
{{s.submissionnote}}
    </p>
{%endif%}
    <hr/>
    <h3>Speaker profile</h3>
    <p>
{{s.speakers_long|markdown}}
    </p>
    </div>
   </td>
   {%if isadmin%}
   <td{%if not s.statusid = s.laststatusid %} bgcolor="yellow"{%endif%}>
     <select name="stat_{{s.id}}">
       {%for opt in status_choices%}
       <option value="{{opt.0}}"{%if opt.0 = s.statusid %} SELECTED{%endif%}>{{opt.1}}</option>
       {%endfor%}
     </select>
   </td>
{%else%}
   <td>{{s.status}}</td>
{%endif%}
   {%for u in s.users%}
   <td{%if u|default_if_none:0 == 0%} style="background-color:red"{%endif%}>{%if forloop.first %}
     <select name="sv_{{s.id}}">
       {%for opt in "0123456789"|make_list%}
       <option value="{{opt}}"{%if opt|add:0 == u|add:0%} SELECTED{%endif%}>{{opt}}</option>
       {%endfor%}
     </select>
     {%else%}
     {{u|default_if_none:''}}
     {%endif%}
   </td>
   {%endfor%}
   <td>{{s.avg|default_if_none:''}}</td>
   <td><input type="text" name="tc_{{s.id}}" value="{{s.owncomment}}"/></td>
   <td>{{s.comments|safe}}</td>
 </tr>
{%endfor%}
</table>
<input type="submit" value="Save">
</form>
{%if isadmin and conference.pending_session_notifications%}
<h2>Notifications</h2>
<p>
  There are pending
  <a href="/events/sessionnotifyqueue/{{conference.urlname}}/">session notifications</a>
  to be sent!
</p>
{%endif%}

{%endblock%}
