{%extends "confreg/confadmin_base.html" %}
{%load assets%}
{%load pgmarkdown%}
{%block title%}Vote for sessions{%endblock%}
{%block extrahead%}
{%asset "css" "jqueryui1" %}
{%asset "js" "jqueryui1" %}
{%asset "js" "selectize" %}
{%asset "css" "selectize" %}

<script type="text/javascript">
$(function() {
  $('.talkaccd').accordion({
     'collapsible': true,
     'active': false,
     'heightStyle': 'content',
     'animate': {
        duration: 100,
     },
  });

  $('#dlgStatus').dialog({
     autoOpen: false,
     modal: true,
     resizable: false,
  });

  $('#dlgComment').dialog({
     autoOpen: false,
     modal: true,
     resizable: false,
     minWidth: 350,
  });
  $(document).on('keyup', '#dlgComment', function(e){
     if (e.keyCode == 13) {
        $(':button:contains("Save")').click();
     }
  });

  $('#selectTracks').selectize({
      plugins: ['remove_button'],
  });
  $('#selectStatuses').selectize({
      plugins: ['remove_button'],
  });

  $('#ajaxStatus').hide();

  /* Initially hidden so it can render in peace without us watching */
  $('#votetable').show();
});

function showDialog(id, title) {
   if ($('#popup_' + id).dialog('isOpen')) {
      $('#popup_' + id).dialog('close');
   } else {
      $('#popup_' + id).dialog('option', {
         'title': title,
      }).dialog('open');
   }
}

var valid_status_transitions = {{%for s, v in valid_status_transitions.items %}
   {{s}}: {
{%for k,t in v.items %}
      {{k}}: '{{t}}',{%endfor%}
   },{%endfor%}
};

function doUpdateStatus(id, statusval) {
   $.post('changestatus/',
      {
         'csrfmiddlewaretoken': '{{csrf_token}}',
         'sessionid': id,
         'newstatus': statusval,
      },
      function(data, status, xhr) {
         if (xhr.status == 200) {
            $('#ajaxStatus').text('Changed status to ' + data.newstatus).addClass('alert-success').removeClass('alert-danger').fadeIn(500).delay(1000).fadeOut(500);
            $('#statusstr' + id).css('background-color', data.statechanged?'yellow':'white').data('currstatus', statusval);
            $('#statusstr' + id + ' a').text(data.newstatus);
	    $('#pendingNotificationsButton').toggle(data.pendingnotifications);
         } else {
         }
      }
   ).fail(function(xhr, status, err) {
      if (xhr.status >= 400 && xhr.status < 500) {
         $('#ajaxStatus').text('Error: ' + xhr.responseText).removeClass('alert-success').addClass('alert-danger').fadeIn(500).delay(1000).fadeOut(500);
      } else {
         $('#ajaxStatus').text('Error: ' + xhr.err).removeClass('alert-success').addClass('alert-danger').fadeIn(500).delay(1000).fadeOut(500);
      }
   });
}

function changeStatus(id) {
   var buttons = {};
   var currentstatus = $('#statusstr' + id).data('currstatus');
   var offset = $('#statusstr' + id).offset();
   var height = $('#statusstr' + id).height();
   var scrolldiff = document.body.scrollTop + document.documentElement.scrollTop;

   $.each(valid_status_transitions[currentstatus], function(k,v) {
      buttons[v] = function(event) {
         doUpdateStatus(id, k);
         $(this).dialog("close");
      }
   });
   buttons['Cancel'] = function() {
           $( this ).dialog( "close" );
   };

   $('#dlgStatus').dialog('option', {
      'title': 'Change status [id: ' + id + ']',
      'modal': true,
   }).dialog('option', {
     buttons: buttons,
   }).dialog('option', {
     position: [
       offset.left,
       offset.top - scrolldiff + height
     ],
   }).dialog('open');
}

function castVote(sessionid) {
   var s = $('#sv_' + sessionid);
   var p = s.parent('td');
   var val = s.val();
   var avgbox = p.siblings('td.avgbox');

   p.css('background-color', 'gray');
   $.post('vote/',
      {
         'csrfmiddlewaretoken': '{{csrf_token}}',
         'sessionid': sessionid,
         'vote': val,
      },
      function(data) {
           p.css('background-color', (val==0)?'red':'white');
           avgbox.html(data);
      }
   ).fail(function() {
      alert('AJAX call failed');
   });
}

function editComment(sessionid) {
   var old = $('#owncomment_' + sessionid).text();
   $('#dlgCommentText').val(old);

   $('#dlgComment').dialog('option', {
      'title': 'Edit comment',
      'modal': true,
   }).dialog('option', {
     buttons: [{
        id: 'dlgCommentSaveButton',
        text: 'Save',
        click: function() {
           var dlg = $(this);
           var txt = $('#dlgCommentText').val();
           $('#dlgCommentSaveButton').button("disable");
           if (txt != old) {
              $.post('comment/', {
                 'csrfmiddlewaretoken': '{{csrf_token}}',
                 'sessionid': sessionid,
                 'comment': txt,
              },
              function (data) {
                 dlg.dialog("close");
                 $('#owncomment_' + sessionid).text(data);
                 $('#owncommentwrap_' + sessionid).css('display', (data=='')?'none':'block');
              }
              ).fail(function() {
                 alert('AJAX call failed');
              });
           }
           else {
              dlg.dialog("close");
           }
        },
     }],
   }).dialog('open');
}
</script>
<style>
td.dlgClickable {
  cursor: pointer;
}
div.dlg {
  display: none;
}

div.filterButtonRow {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

/* Override bootstrap to make full screen */
.container {
width: 100%;
}
</style>
{%endblock%}
{%block layoutblock%}
<h1>Vote for sessions - {{conference}}</h1>

<form method="get" style="margin-bottom: 10px">
  <div>
    <select id="selectTracks" name="tracks" multiple="multiple" style="inline-block; width=80%;">
{%for t in tracks%}
      <option value="{{t.id}}"{%if t.id in selectedtracks%} SELECTED{%endif%}>{{t.trackname}}</option>
{%endfor%}
    </select>
  </div>
  <div>
    <select id="selectStatuses" name="statuses" multiple="multiple" style="inline-block; width=80%;">
{%for sid,s in status_choices %}
      <option value="{{sid}}"{%if sid in selectedstatuses%} SELECTED{%endif%}>{{s}}</option>
{%endfor%}
    </select>
  </div>
  <div class="filterButtonRow">
  <input type="submit" class="btn btn-default" value="Update">
  <a href="." class="btn btn-default">Reset</a>
{%if isadmin%}
  <a href="../sessionnotifyqueue/" id="pendingNotificationsButton" class="btn btn-warning"{%if not conference.pending_session_notifications%} style="display:none;"{%endif%}>View and send pending notifications</a>
{%endif%}
  </div>
</form>

<div id="ajaxStatus" class="alert alert-success" style="position: fixed; width: 100%;opacity: .8; text-align: center; font-weight: bold; font-size: 1.2em;">Loading submissions</div>

{%if not hasvoters%}
<div class="alert alert-warning">There are no talkvoters configured on this conference! List of talks will be empty!</div>
{%endif%}
<table id="votetable" class="table table-bordered table-condensed" style="display:none">
 <tr>
  <th style="width: 1%">Seq</th>
  <th class="col-md-6"><a href="?{{urlfilter}}sort=session">Session</a> | <a href="?{{urlfilter}}sort=speakers">Speakers</a></th>
  <th>Status</th>

  {%for u in users%}
  {% if conference.showvotes or isadmin or forloop.first and isvoter %}
  <th>{{u}}</th>
  {% endif %}
  {%endfor%}

  {% if conference.showvotes or isadmin %}
  <th><a href="?{{urlfilter}}sort=avg">Average</a></th>
  {% endif %}

  <th>Comments</th>
 </tr>
{%for s in sessionvotes%}
 <tr>
   <td class="text-center">{{forloop.counter}}</td>
   <td>
     <div class="talkaccd">
       <h3>{{s.title}}{%if s.speakers%} ({{s.speakers}}){%endif%} [id: {{s.id}}]</h3>
       <div>
{%if isadmin%}
	 <a class="btn btn-default" style="float:right" href="/events/admin/{{conference.urlname}}/sessions/{{s.id}}/" target="_blank">Edit submission</a>
{%endif%}
	 <div><strong>Speakers:</strong> {{s.speakers_full|default:""}}</div>
	 <div><strong>Track:</strong> {{s.track|default:""}}</div>
{%if conference.callforpapersrecording%}
	 <div><strong>Recording consent:</strong> {{s.recordingconsent | yesno:"Yes,No" }}
{%endif%}	 <br/>
	 <p>
{{s.abstract|markdown}}
	 </p>
{%if s.submissionnote%}
	 <hr/>
	 <h3>Submission notes</h3>
	 <p>
{{s.submissionnote}}
	 </p>
{%endif%}
{%if s.internalnote%}
	 <hr/>
	 <h3>Internal notes</h3>
	 <p>
{{s.internalnote}}
	 </p>
{%endif%}
	 <hr/>
{%if s.speakers_long%}
	 <h3>Speaker profile</h3>
	 <p>
{{s.speakers_long|markdown}}
	 </p>
{%endif%}
       </div>
     </div>
   </td>
   {%if isadmin%}
   <td{%if s.speakers_full and not s.statusid == s.laststatusid %} bgcolor="yellow"{%endif%} onClick="changeStatus({{s.id}})" class="dlgClickable" id="statusstr{{s.id}}" data-currstatus="{{s.statusid}}"><a href="#" onclick="return false;">{{s.status}}</a></td>
{%else%}
   <td>{{s.status}}</td>
{%endif%}

  {%for u in s.users%}
    {%if forloop.first and isvoter %}
      <td{%if u|default_if_none:0 == 0%} style="background-color:red"{%endif%}>
        <select id="sv_{{s.id}}" onChange="castVote({{s.id}})">
          {%for opt in "0123456789"|make_list%}
            <option value="{{opt}}"{%if opt|add:0 == u|add:0%} SELECTED{%endif%}>{%if opt == "0"%}No vote{%else%}{{opt}}{%endif%}</option>
          {%endfor%}
        </select>
      </td>
    {%else%}
      {% if conference.showvotes or isadmin %}
        <td>{{u|default_if_none:''}}</td>
      {%endif%}
    {%endif%}
  {%endfor%}

  {% if conference.showvotes or isadmin %}
  <td class="avgbox">{{s.avg|default_if_none:''}}</td>
  {% endif %}

   <td>
{%if isvoter%}
     <div style="margin-right: 0.5em; float:left;">
       <a class="btn btn-default btn-xs" href="javascript:editComment({{s.id}})"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
     </div>
{%endif%}
     <div style="display:inline-block;">
       <span id="owncommentwrap_{{s.id}}" style="display:{%if s.owncomment%}block{%else%}none{%endif%}">{{user.username}}: <span id="owncomment_{{s.id}}">{{s.owncomment}}</span></span>{{s.comments|safe}}
     </div>
   </td>
 </tr>
{%endfor%}
</table>

<div id="dlgStatus">
</div>

<div id="dlgComment">
  <input type="text" id="dlgCommentText" style="width: 300px;">
</div>

{%endblock%}
