{%extends conftemplbase %}
{%load markup%}
{%block title%}Conference Schedule - {{conference}}{%endblock%}
{%block content%}
<h1>Conference Schedule - {{conference}}</h1>
<a href="../../">Back</a><br/>

<h2>{{session.title}}</h2>
<p>
<b>Date:</b> {{session.starttime|date}}<br/>
<b>Time:</b> {{session.starttime|time:"H:i"}} - {{session.endtime|time:"H:i"}}<br/>
<b>Room:</b> {{session.room.roomname}}<br/>
{%if conference.feedbackopen and session.can_feedback%}
<b>Feedback:</b> <a href="/events/feedback/{{conference.urlname}}/{{session.id}}/">Leave feedback</a><br/>
{%endif%}
</p>

<p>
{{session.abstract|markdown:"safe"}}
</p>

<h2>Speaker</h2>
{%for speaker in session.speaker.all%}
<b><a href="../../speaker/{{speaker.id}}-{{speaker.name|slugify}}/">{{speaker.name}}</a></b><br/>
{%endfor%}

<p>
{{session.speaker.abstract|markdown:"safe"}}
</p>

{%endblock%}

