{%extends "confreg/confadmin_base.html" %}
{%block title%}Time based Reports{%endblock%}
{%block extrahead%}
{%if graphdata%}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var dataTable = new google.visualization.DataTable();
{%for h in headers%}
    dataTable.addColumn('{%if forloop.isfirst%}string{%else%}number{%endif%}', '{{h}}');
 {%if h.hastoday%}
    dataTable.addColumn({type:'boolean', role:'certainty'});
 {%endif%}
{%endfor%}
    dataTable.addRows([
{%autoescape off%}
{%for r in graphdata%}[{{r|join:","}}],{%endfor%}
{%endautoescape%}
  ]);

    var options = {
      'title': '{{title}}',
      'hAxis': {
        'direction': -1,
        'title': 'Days before conference',
        'minValue': 0,
      },
      'vAxis': {
        'title': '{{ylabel}}',
{%if trendlines%}
        'maxValue': {{maxpred}},
{%endif%}
      },
{%if trendlines%}
      'trendlines': {
         0: {
            'type': '{{trendlines}}',
            'visibleInLegend': true,
            'opacity': 0.2,
         },
      }
{%endif%}
    };
    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(dataTable, options);
  }
</script>
    {%endif%}
<script type="text/javascript">
$(function() {
  /* Set up the filtering box for conferences */
  $('#id_conferences').after('<div style="display: inline; vertical-align: top; margin-left: 20px;">Filter: <input type="text" id="conffilter"></div>');
  $('#conffilter').keyup(function() {
     var val = $('#conffilter').val().toLowerCase();
     $('#id_conferences option').each(function() {
        if ($(this).text().toLowerCase().indexOf(val) > -1) {
           $(this).show();
        } else {
           $(this).hide();
        }
     });
  });
});
</script>

    <style>
ul.errorlist {
  color:red;
  float: right;
}
ul.messages {
  background-color: yellow;
  list-style-type: none;
}
ul.messages li.error {
  background-color: yellow;
}
select {
   width: 350px;
   margin-bottom: 10px;
}
select#id_conferences {
   height: 120px;
}
    </style>
{%endblock%}

{%block layoutblock%}
    <p>
      This is a very trivial interface to some time based reports for
      the conferences. For some reports, multiple conferences can be
      selected, to get a comparison over time.
      Right now, reporting is only available to superusers.
    </p>
    <form method="POST" action=".">{% csrf_token %}
      <table>
      {{form.as_table}}
      </table>
{%if not trendlines_supported%}<p>Trendlines are not supported for this graph type.</p>{%endif%}
      <input type="submit" value="Generate report">
    </form>
    <div id="chart_div" style="width: 100%; height: 500px;"></div>

{%endblock%}
