{%extends "confreg/confadmin_base.html" %}
{%load assets%}
{%load svgcharts%}
{%block title%}Time based Reports{%endblock%}
{%block extrahead%}
    <style>
ul.errorlist {
  color:red;
  float: right;
}
select {
   width: 350px;
   margin-bottom: 10px;
}
select#id_conferences {
   height: 120px;
   resize: vertical;
}
    </style>
{%endblock%}

{%block layoutblock%}
    <h1>Time reports</h1>
    <div class="row">
      <form class="form-horizontal" method="POST" action=".">{% csrf_token %}
{%include "confreg/admin_backend_form_content.html" with savebutton="Generate report"%}
      </form>
    </div>
{%if series%}
{% svglinechart dayvals series ylabel=ylabel xlabel=xlabel alwayszeroline=True trendlines=trendlines %}
{%endif%}
{%endblock%}
