{%extends basetemplate %}
{%block title%}Volunteer Schedule - {{conference}}{%endblock%}
{%block extrahead%}
<script type="text/javascript" src="/media/js/volsched.js"></script>
<style>
.assignment-status {
   display: inline-block;
   min-width: 100px;
   margin-left: 0.5em;
   margin-bottom: 0.5em;
}
</style>
{%endblock%}

{%block layoutblock%}
<h1>Volunteer Schedule</h1>

<div class="buttonrow">
{%if reg.regtoken and not admin %}
<a class="btn btn-sm btn-default" href="ical/{{reg.regtoken}}/">Access ical version</a>
{%endif%}

{%if admin%}
<a class="btn btn-sm btn-primary" href="/events/{{conference.urlname}}/volunteer/">Volunteer mode</a>
{%elif can_admin%}
<a class="btn btn-sm btn-primary" href="/events/admin/{{conference.urlname}}/volunteer/">Administrator mode</a>
{%endif%}
</div>

<table class="table" id="tblSchedule" data-csrf="{{csrf_token}}">
  <tr>
    <th class="col-md-2">Time</th>
    <th class="col-md-2">Title</th>
    <th class="col-md-1">Count</th>
    <th>Volunteers</th>
  </tr>
{% regroup slots by weekday as slots_by_weekday%}
{%for day in slots_by_weekday %}
  <tr class="info">
    <th colspan="4">{{day.grouper}}</th>
  </tr>
{%for s in day.list%}
  <tr class="slot-row" data-slotid="{{s.id}}">
    <td>{{s.timerange.lower|time:"H:i"}} - {{s.timerange.upper|time:"H:i"}}</td>
    <td>{{s.title}}</td>
    <td class="slot-count"{%if s.countvols < s.min_staff%} class="danger"{%endif%}><span class="slot-count-val">{{s.countvols}}</span> / {{s.max_staff}}{%if s.max_staff != s.min_staff%} (min {{s.min_staff}}){%endif%}</td>
    <td><div class="container-fluid slot-volunteer-list">
    </div></td>
  </tr>
{%endfor%}
{%endfor%}
</table>

<h2>Statistics</h2>
<p>
 The following volunteers are currently assigned slots:
</p>
<table class="table table-condensed" id="statsTable">
 <thead>
  <tr class="info">
    <th>Volunteer</th>
    <th>Assignments</th>
    <th>Total time</th>
  </tr>
 </thead>
 <tbody>
{%for s in stats%}
  <tr>
    <td>{{s.fullname}}</td>
    <td>{{s.num_assignments}}</td>
    <td>{{s.total_time}}</td>
  </tr>
 </tbody>
{%endfor%}
</table>


{%endblock%}
