{%extends "base.html" %}
{%block title%}{{signup.title}} - {{conference}}{%endblock%}
{%block extrahead%}
<style>
tr.error {
   background-color: #ffb6b6;
}
table.signupform tr {
   vertical-align: top;
}
table.signupform input[type=text],textarea,select {
   width: 500px;
}
</style>
{%endblock%}

{%block content%}
<h2>{{signup.title}}</h2>
<p>
{{signup.intro|markdown}}
</p>

{%if closed%}
<p><b>This signup is closed.</b></p>

{%if attendee_signup%}
<p>Your response was recorded as: {{attendee_signup.choice}}</p>
{%endif%}
{%else%}{# is it closed? #}
<form method="post" action=".">{{ csrf_input }}
<table>
{{form}}
</table>
<p></p>
<input type="submit" name="submit" value="Save">
</form>

{%if current %}
<h3>Current attendees</h3>
<ul>
{%for s in current%}
 <li>{{s}}</li>
{%endfor%}
</ul>
{%endif%}

{%endif%}{# is it closed? #}

<p>
<a href="../../">Back</a>
</p>

{%endblock%}
