{%extends conftemplbase %}
{%load markup%}
{%block title%}{{page.title}} - {{conference}}{%endblock%}
{%block content%}

{% if messages %}
<ul style="background-color: yellow;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>{{page.title}}</h2>
{{page.contents|markdown}}

{%if page.history%}
<p style="font-size: small">
<i>This page was last edited by {{page.author.fullname}} at {{page.publishedat|date:"Y-m-d H:i"}}. View <a href="history/">history</a>.</i>
</p>
{%endif%}

<p>
<button onclick="location.href='sub/'">{%if is_subscribed%}Unsubscribe from{%else%}Subscribe to{%endif%} page</button>
{%if editable%}
<button onclick="location.href='edit/'">Edit page</button>
{%endif%}
</p>

<p>
<a href="../../">Return</a> to your registration.
</p>

{%endblock%}
