{%extends "base.html" %}
{%block title%}{{page.title}} - {{conference}}{%endblock%}
{%block extrahead%}
<style>
table.versiontable tr td,th {
   padding: 5px;
   text-align: center;
}
</style>
{%endblock%}
{%block content%}
<h2>{{page.title}}</h2>

{% if messages %}
<ul style="background-color: yellow;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action=".">{{ csrf_input }}
<table border="1" class="versiontable">
<tr>
 <th>Diff<br/>from</th>
 <th>Diff<br/>to</th>
 <th>Time</th>
 <th>Author</th>
</tr>
<tr>
 <td></td>
 <td><input type="radio" name="to" value="-1"{%if not toid%} CHECKED{%endif%}></td>
 <td>{{page.publishedat|datetimeformat("%Y-%m-%d %H:%M")}}</td>
 <td>{{page.author.fullname}}</td>
</tr>
{%for h in page.wikipagehistory_set.all()%}
<tr>
 <td><input type="radio" name="from" value="{{h.id}}"{%if fromid == h.id or loop.first and not fromid%} CHECKED{%endif%}></td>
 <td><input type="radio" name="to" value="{{h.id}}"{%if toid == h.id%} CHECKED{%endif%}></td>
 <td>{{h.publishedat|datetimeformat("%Y-%m-%d %H:%M")}}</td>
 <td>{{h.author.fullname}}</td>
</tr>
{%endfor%}
</table>
<input type="submit" value="View diff">
</form>

{%if diff%}
<h3>Diff</h3>
<pre>{{diff}}</pre>
{%endif%}
<p>
<a href="../">Back</a>
</p>
{%endblock%}
