{%extends "base.html" %}
{%block title%}{{page.title}} - {{conference}}{%endblock%}
{%block extrahead%}
<link rel="stylesheet" type="text/css" href="/media/css/pgeuconf.css">
{{ super() }}
{%endblock%}

{%block content%}
<a href="../"><h2>{{page.title}}</h2></a>

<form method="post" action=".">{{ csrf_input }}
{{form._validator}}
<table class="pageform">
<tr{%if form.non_field_errors()%} class="error"{%endif%}>
  <td>
{%if form.non_field_errors()%}{{form.non_field_errors()}}{%endif%}
    {{form.contents}}
  </td>
</tr>
{%if baseform%}
<tr><td style="font-size: small">
    <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>
    syntax can be used for formatting and links.
</td></tr>
{%endif%}

{%if not baseform%}
<tr>
 <td><fieldset><legend>Preview</legend>
<div class="wikicontents">
{{preview|markdown}}
</div>
</fieldset></td>
</tr>
<tr>
 <td><fieldset><legend>Diff</legend>
<pre>{{diff}}</pre>
</fieldset></td>
</tr>
{%endif%}
</table>
<p></p>
<p>
{%if baseform%}
<input type="submit" name="submit" value="Save">
{%else%}
<input type="submit" name="submit" value="Commit changes">
<input type="submit" name="submit" value="Back to editing">
{%endif%}
</p>
</form>

<p>
<a href="../">Cancel</a> and return to page.
</p>

{%endblock%}
