{%extends "adm/admin_base.html" %}
{%block containerextend%}-fluid{%endblock%}

{%block extrahead%}
 <link rel="stylesheet" href="/media/jq/jquery-ui.min.css" />
 <link rel="stylesheet" href="/media/css/selectize.css" />
 <link rel="stylesheet" href="/media/css/selectize.default.css" />
 <link rel="stylesheet" href="/media/css/pgeu_accounting.css" />
 <script type="text/javascript" src="/media/jq/jquery-ui.min.js"></script>
 <script type="text/javascript" src="/media/js/selectize.min.js"></script>
 <script type="text/javascript" src="/media/js/pgeu_accounting.js"></script>
{%endblock%}

{%block topadmin%}
<li><a href="/accounting/{{year.year}}/">Accounting</a></li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
  <ul class="dropdown-menu">
{%if reporttype != 'results' %}<li><a href="/accounting/{{year.year}}/report/results/" target="_blank">Results</a></li>{%endif%}
{%if reporttype != 'balance' %}<li><a href="/accounting/{{year.year}}/report/balance/" target="_blank">Balance</a></li>{%endif%}
{%if reporttype != 'ledger' %}<li><a href="/accounting/{{year.year}}/report/ledger/" target="_blank">General ledger</a></li>{%endif%}
  </ul>
</li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Year: {{year}} <span class="caret"></span></a>
  <ul class="dropdown-menu">
{%for y in years %}
    <li><a href="/accounting/{{y.year}}/{{yearsuffix}}">{{y}}</a></li>
{%endfor%}
  </ul>
</li>

<li>
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" id="searchentry" class="form-control" placeholder="Search" name="search" value="{{searchterm}}">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>
</li>
{%endblock%}
