{%extends "accounting/accounting_base.html"%}
{%load humanize%}
{%block title%}Accounting - close year{%endblock%}
{%block layoutblock%}
<h1>Accounting - Close year</h1>

{%if hasopen%}
<h2>Open entries</h2>
<p>
This year still has open journal entries. It cannot be closed until those
are all closed.
</p>
{%elif hasnext%}
<h2>Incoming balance already exists</h2>
<p>
The next year has already been assigned an incoming balance. This should
normally never happen, so you will have to go investigate it!
</p>
{%else%}
<p>
You are now ready to close this year.
</p>
<h2>Outgoing balance</h2>
<p>
The following outgoing balances will be transferred to the next year:
</p>
<table class="table table-striped table-bordered table-condensed nonfluid">
 <tr>
  <td><b>Account</b></td>
  <td align="right"><b>Balance</b></td>
 </tr>
{%for a in outgoingbalance %}
 <tr>
  <td>{{a.anum}}: {{a.name}}</td>
  <td align="right">{{a.outgoingamount}}</td>
 </tr>
{%endfor%}
</table>

<h2>Outgoing results</h2>
<p>
The results for this year is <i><b>{{yearresult}}</b></i>. This needs to be
posted to a balance account. Choose which account to post to:
</p>
<div class="row">
 <div class="col-md-6">
   <form method="post" action="." class="form">{% csrf_token %}
{%include "confreg/admin_backend_form_content.html" with savebutton="Close year" cancelurl="../" %}
   </form>
 </div>
</div>

{%endif%}
{%endblock%}
