{%extends "base.html"%}
{%load humanize%}
{%block title%}Accounting - General Ledger{%endblock%}
{%block extrahead%}
<style>
ul.messages {
  list-style-type: none;
  padding: 2px;
  padding-left: 20px;
}
ul.messages li {
   background-color: yellow;
   padding: 3px;
}
ul.messages li.warning {
   background-color: red;
}
ul.messages li.info {
   background-color: lightgray;
}
input.datepicker {
   width: 100px;
}

table.ledgertable {
   width: 750px;
   border-spacing: 0;
   border-collapse: collapse;
}
table.ledgertable tr.accountname td {
   background-color: lightgray;
   font-weight: bold;
   text-align: center;
}
table.ledgertable tr.accountsummary td {
   background-color: lightgray;
}
table.ledgertable tr.accountsummary td.amount {
   border-top: 1px solid black;
}
table.ledgertable tr.header td {
   font-weight: bold;
}
table.ledgertable tr td {
   overflow: hidden;
}
table.ledgertable tr td.amount {
   text-align: right;
   width: 75px;
}
table.ledgertable tr td.entryfield {
   width: 150px;
}
table.ledgertable tr td.objectfield {
   width: 150px;
}
</style>
<link rel="stylesheet" href="/media/jq/jquery-ui.min.css" />

<script src="/media/jq/jquery-1.8.2.min.js"></script>
<script src="/media/jq/jquery-ui.min.js"></script>
<script language="javascript">
function refreshlocation() {
      o = $('#objsel').val();
      y = $('#yearsel').val();
      ed = $('#enddate').val();
      document.location.href = '/accounting/' + y + '/report/{{reporttype}}/?obj=' + o + '&ed=' + ed;;
}
$(function() {
   $('input.datepicker').datepicker({
      'dateFormat': 'yy-mm-dd',
   });
   $('input.datepicker').change(function() {
      refreshlocation();
   });
   $('#objsel, #yearsel').change(function() {
      refreshlocation();
   });
});
$('#objsel')
</script>
{%endblock%}
{%block layoutblock%}
<h1>{{title}}</h1>
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
<h2>Year: <select id="yearsel">{%for y in years%}<option value="{{y.year}}"{%if y == year%} SELECTED{%endif%}>{{y}}</option>{%endfor%}</select>
Object: <select id="objsel"><option value="">All</option>{%for o in objects%}<option value="{{o.id}}"{%if o == currentobj%} SELECTED{%endif%}>{{o}}</option>{%endfor%}</select> Enddate: <input type="text" class="datepicker" id="enddate" value="{{enddate|date:"Y-m-d"}}"></h2>

{%for account in items%}
<table class="ledgertable">
 <tr class="accountname">
   <td colspan="5">{{account.accountnum}} - {{account.accountname}}</td>
 </tr>
 <tr class="header">
   <td>Entry</td>
   <td>Object</td>
   <td>Description</td>
   <td class="amount">Debit</td>
   <td class="amount">Credit</td>
 </tr>
{%for i in account.entries%}
 <tr>
  <td class="entryfield">{{year.year}}-{{i.entryseq|stringformat:"03d"}} ({{i.date|date:"Y-m-d"}})</td>
  <td class="objectfield">{{i.object|default:""}}</td>
  <td class="descriptionfield">{{i.description}}</td>
  <td class="amount">{{i.debit|default:""}}</td>
  <td class="amount">{{i.credit|default:""}}</td>
 </tr>
{%endfor%}
 <tr class="accountsummary">
   <td colspan="2"></td>
   <td class="descriptionfield">Total</td>
   <td class="amount">{{account.totaldebit|default:""}}</td>
   <td class="amount">{{account.totalcredit|default:""}}</td>
 </tr>
</table><br/><br/>
{%endfor%}
{%endblock%}
