{%extends "accounting/accounting_base.html"%}
{%load humanize%}
{%block title%}Accounting - General Ledger{%endblock%}
{%block extrahead%}
<style>
input.datepicker {
   width: 100px;
}

table.ledgertable {
   width: 100%;
   border-spacing: 0;
   border-collapse: collapse;
}
table.ledgertable tr.accountname td {
   background-color: lightgray;
   font-weight: bold;
   text-align: center;
}
table.ledgertable tr.accountsummary td {
   background-color: lightgray;
}
table.ledgertable tr.accountsummary td.amount {
   border-top: 1px solid black;
}
table.ledgertable tr.header td {
   font-weight: bold;
}
table.ledgertable tr td {
   overflow: hidden;
}
table.ledgertable tr td.amount {
   text-align: right;
   width: 75px;
}
table.ledgertable tr td.entryfield {
   width: 150px;
}
table.ledgertable tr td.objectfield {
   width: 150px;
}
</style>
<script type="text/javascript">
function pickReport() {
   v = $('#reportpick').val();
   if (!v) return;
   document.location.href = '/accounting/{{year.year}}/report/' + v + '/';
}

function refreshlocation() {
      o = $('#objsel').val();
      y = $('#yearsel').val();
      a = $('#accsel').val();
      ed = $('#enddate').val();
      io = $('#includeopen').prop('checked') ? 1 : 0;

      document.location.href = '/accounting/' + y + '/report/{{reporttype}}/?obj=' + o + '&acc=' + a + '&ed=' + ed + '&io=' + io;
}
$(function() {
   $('input.datepicker').datepicker({
      'dateFormat': 'yy-mm-dd',
   });
   $('input.datepicker').change(function() {
      refreshlocation();
   });
   $('#objsel, #yearsel, #accsel, #includeopen').change(function() {
      refreshlocation();
   });
});
</script>
{%endblock%}

{%block navbarextra%}
<form class="navbar-form navbar-right">
  <div class="form-group">
    <select id="reportpick" onchange="pickReport()"><option value="">Select report</option><option value="results">Results</optioN><option value="balance">Balance</option><option value="ledger">General ledger</option></select>
  </div>
</form>
{%endblock%}

{%block layoutblock%}
<div class="container">
<h1>{{title}}</h1>

Year: <select id="yearsel">{%for y in years%}<option value="{{y.year}}"{%if y == year%} SELECTED{%endif%}>{{y}}</option>{%endfor%}</select>
Object: <select id="objsel"><option value="">All</option>{%for o in objects%}<option value="{{o.id}}"{%if o == currentobj%} SELECTED{%endif%}>{{o}}</option>{%endfor%}</select>
Account: <select id="accsel"><option value="">All</option>{%for a in accounts%}<option value="{{a.num}}"{%if a == currentaccount%} SELECTED{%endif%}>{{a|truncatechars:20}}</option>{%endfor%}</select>
Enddate: <input type="text" class="datepicker" id="enddate" value="{{enddate|date:"Y-m-d"}}">
<input type="checkbox" id="includeopen" value="1" {%if includeopen %}CHECKED{%endif%}>Include open entries

<br/><br/>

{%for account in items%}
<table class="ledgertable">
 <tr class="accountname">
   <td colspan="5">{{account.accountnum}} - {{account.accountname}}</td>
 </tr>
 <tr class="header">
   <td>Entry</td>
   <td>Object</td>
   <td>Description</td>
   <td class="amount">Debit</td>
   <td class="amount">Credit</td>
 </tr>
{%for i in account.entries%}
 <tr>
  <td class="entryfield">{{year.year}}-{{i.entryseq|stringformat:"04d"}} ({{i.date|date:"Y-m-d"}})</td>
  <td class="objectfield">{{i.object|default:""}}</td>
  <td class="descriptionfield">{{i.description}}</td>
  <td class="amount">{{i.debit|default:""}}{%if i.debit and not i.closed%} *{%endif%}</td>
  <td class="amount">{{i.credit|default:""}}{%if i.credit and not i.closed%} *{%endif%}</td>
 </tr>
{%endfor%}
 <tr class="accountsummary">
   <td colspan="2"></td>
   <td class="descriptionfield">Total</td>
   <td class="amount">{{account.totaldebit|default:""}}</td>
   <td class="amount">{{account.totalcredit|default:""}}</td>
 </tr>
</table>
<br/><br/>
{%endfor%}
</div>
{%endblock%}
