{%extends "accounting/accounting_base.html"%}
{%load humanize%}
{%block title%}Accounting - General Ledger{%endblock%}
{%block extrahead%}
{{block.super}}
<script type="text/javascript">
function refreshlocation() {
      o = $('#objsel').val();
      a = $('#accsel').val();
      ed = $('#enddate').val();
      io = $('#includeopen').prop('checked') ? 1 : 0;

      document.location.href = '/accounting/' + {{year.year}} + '/report/{{reporttype}}/?obj=' + o + '&acc=' + a + '&ed=' + ed + '&io=' + io;
}
$(function() {
   $('input.datepicker').datepicker({
      'dateFormat': 'yy-mm-dd',
   });
   $('input.datepicker').change(function() {
      refreshlocation();
   });
   $('#objsel, #accsel, #includeopen').change(function() {
      refreshlocation();
   });
});
</script>
{%endblock%}

{%block layoutblock%}
<div class="container">

<form class="form-inline noprint">
  <div class="form-group">
    <label for="objsel">Object:</label>
    <select id="objsel" class="form-control"><option value="">All</option>{%for o in objects%}<option value="{{o.id}}"{%if o == currentobj%} SELECTED{%endif%}>{{o}}</option>{%endfor%}</select>
  </div>
  <div class="form-group">
    <label for="accsel">Account:</label>
    <select id="accsel" class="form-control"><option value="">All</option>{%for a in accounts%}<option value="{{a.num}}"{%if a == currentaccount%} SELECTED{%endif%}>{{a|truncatechars:20}}</option>{%endfor%}</select>
  </div>
{%if year != -1%}
  <div class="form-group">
    <label for="enddate">End date:</label>
    <input type="text" class="datepicker" id="enddate" value="{{enddate|date:"Y-m-d"}}">
  </div>
{%endif%}
  <div class="form-group">
    <label for="includeopen">Include open entries</label>
    <input type="checkbox" class="form-control" id="includeopen" value="1" {%if includeopen %}CHECKED{%endif%}>
  </div>
</form>


<h1>{{title}}</h1>

<br/><br/>

{%for account in items%}
<table class="ledgertable">
 <tr class="accountname">
   <td colspan="5">{{account.accountnum}} - {{account.accountname}}</td>
 </tr>
 <tr class="header">
   <td>Entry</td>
   <td>Object</td>
   <td>Description</td>
   <td class="amount">Debit</td>
   <td class="amount">Credit</td>
 </tr>
{%for i in account.entries%}
 <tr>
  <td class="entryfield">{{year.year}}-{{i.entryseq|stringformat:"04d"}} ({{i.date|date:"Y-m-d"}})</td>
  <td class="objectfield">{{i.object|default:""}}</td>
  <td class="descriptionfield">{{i.description}}</td>
  <td class="amount">{{i.debit|default:""}}{%if i.debit and not i.closed%} *{%endif%}</td>
  <td class="amount">{{i.credit|default:""}}{%if i.credit and not i.closed%} *{%endif%}</td>
 </tr>
{%endfor%}
 <tr class="accountsummary">
   <td colspan="2"></td>
   <td class="descriptionfield">Total</td>
   <td class="amount">{{account.totaldebit|default:""}}</td>
   <td class="amount">{{account.totalcredit|default:""}}</td>
 </tr>
</table>
<br/><br/>
{%endfor%}
</div>
{%endblock%}
