{%extends "base.html"%}
{%load humanize%}
{%block title%}Accounting{%endblock%}
{%block extrahead%}
<script src="/media/jq/jquery-1.8.2.min.js"></script>
<script src="/media/jq/jquery-ui.min.js"></script>
<script src="/media/jq/chosen.jquery.min.js"></script>
<link rel="stylesheet" href="/media/jq/jquery-ui.min.css" />
<link rel="stylesheet" href="/media/jq/chosen.min.css" />
<style>
div#pgContainer {
   width: 1200px;
}
div#accountingmenu {
   border-bottom: 1px solid black;
   padding-bottom: 5px;
}
div#accountingwrap {
   width: 1200px;
}
div#accountingleft {
   width: 200px;
   float: left;
   padding-right: 5px;
   border-right: 1px solid black;
}
div#accountingright {
   float: left;
   margin-left: 10px;
   width: 940px;
}
button#newentrybutton {
   float: right;
}
input#searchentry {
   width: 75px;
   font-size: small;
}

input.datepicker {
   width: 100px;
}

table#entryheader {
   margin-bottom: 10px;
}

/* Account form */
.itembox {
   font-size: small;
}
input.debitbox, input.creditbox {
   width: 60px;
   text-align: right;
}
.accountbox {
   width: 250px;
}
.accountbox li {
   font-size: smaller;
}
.objectbox {
   width: 200px;
}
.objectbox li {
   font-size: smaller;
}
input.descriptionbox {
   width: 300px;
}
div.urldiv input[type=text] {
   width: 500px;
}

/* Viewing a journal entry */
table.journalentry {
   width: 900px;
   border: 1px solid gray;
   border-spacing: 0;
}
table.journalentry tr.header {
   background-color: lightgray;
}
table.journalentry tr.header td {
   border-bottom: 1px solid gray;
   font-weight: bold;
}
table.journalentry tr.footer {
   background-color: lightgray;
}
table.journalentry tr.footer td {
   border-top: 1px solid gray;
   font-style: italic;
}
table.journalentry tr td.amount {
   width: 75px;
   text-align: right;
}
table.journalentry tr td.accountname {
   width: 230px;
}
table.journalentry tr td.objectname {
   width: 100px;
}
button {
   font-size: small;
}
</style>
<script language="javascript">
function confirmClose() {
   return confirm('Are you sure you want to close this entry?\n\nOnce closed, an entry cannot be reopened!');
}
function confirmDelete() {
   return confirm('Are you sure you want to delete this entry?\n\nUnless this is the very last item in the year, the sequence number will *not* be reused!');
}
function confirmNew() {
   return confirm('Are you sure you want to create a new entry?\n\nA new, empty, entry will be created immediately, and you have to fill it out with information. Until you do so, the database contents will be incomplete.');
}

function changeYear() {
{%if entry and not entry.closed %}
   if (!confirm('Are you sure you want to change year? Any currently unsaved changes will be lost!')) {
      /* Change the value back */
      $('#yearpick').val({{year.year}});
      return false;
   }
{%endif%}

   newyear = $('#yearpick').val();
   document.location.href = '/accounting/' + newyear + '/';
}

function pickReport() {
   v = $('#reportpick').val();
   if (!v) return;
   window.open('/accounting/{{year.year}}/report/' + v + '/');
   $('#reportpick').val('');
}

function recalculate_sums() {
      var debit=0, credit=0;
      $('.debitbox').each(function(){ debit += Number($(this).val()); });
      $('.creditbox').each(function(){ credit += Number($(this).val()); });
      $('#debittotal').text(debit.toFixed(2));
      $('#credittotal').text(credit.toFixed(2));
      $('#difftotal').text((debit-credit).toFixed(2));
}

function search() {
   searchstr = $('#searchentry').val();
   document.location.href=document.location.href + '?search=' + searchstr;
}

$(function() {
   $('#searchentry').keypress(function(e) {
      if (e.which == 13) {
         search();
      }
   });
   $('input.datepicker').datepicker({
      'dateFormat': 'yy-mm-dd',
   });
   $('.chosenbox').chosen({
      'search_contains': true,
      'inherit_select_classes': true,
   });
   $('.debitbox, .creditbox').change(function() {
      if ($(this).val() != '') {
         $(this).val(Number($(this).val()).toFixed(2));
      }
      recalculate_sums();
   });
   $('.debitbox, .creditbox').keypress(function(e) {
      if (e.which == 37) { // %-sign
         if ($(this).hasClass('debitbox')) {
            debitbox = $(this);
            creditbox = $(this).parent().next().find('.creditbox');
         } else {
            creditbox = $(this);
            debitbox = $(this).parent().prev().find('.debitbox');
         }

         /* Let's see if we can figure out how to balance this */
         var debit=0, credit=0;
         $(this).val('0');
         $('.debitbox').each(function(){ debit += Number($(this).val()); });
         $('.creditbox').each(function(){ credit += Number($(this).val()); });
         sum = debit-credit;
         if (sum > 0) {
            debitbox.val('');
            creditbox.val(sum);
            creditbox.focus();
         } else {
            debitbox.val(-sum);
            creditbox.val('');
            debitbox.focus();
         }
         recalculate_sums();
         return(false);
      }
   });
   recalculate_sums();
   $('.descriptionbox').focus(function() {
      if ($(this).val() == '') {
         prev = $(this).closest('tr').prev().find('.descriptionbox').val();
         if (prev) {
            $(this).val(prev);
         }
      }
   });
});
</script>
{%endblock%}
{%block layoutblock%}
<h1>Accounting</h1>

{% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

<div id="accountingmenu">
Year: <select id="yearpick" onchange="changeYear()">
{%for y in years%}
'{{y.year}}' vs '{{year}}'
<option value="{{y.year}}"{%if y.year == year.year %} SELECTED{%endif%}>{{y}}</option>
{%endfor%}
</select>

<span style="float:right">Reports:  <select id="reportpick" onchange="pickReport()"><option value="">Select report</option><option value="results">Results</optioN><option value="balance">Balance</option><option value="ledger">General ledger</option></select></span>
</div>

<div id="accountingwrap">
 <div id="accountingleft">
  <h2>Journal entries</h2>
<span>
<input type="text" id="searchentry" value="{{searchterm}}"><button id="searchbutton" onclick="search()">Search</button>
{%if year.isopen%}
<button id="newentrybutton" onclick="if (confirmNew()) document.location.href='/accounting/{{year.year}}/new/'">New</button><br/>
{%endif%}
</span>
{%if searchterm%}<p>Search results for <i>{{searchterm}}</i></p>{%endif%}
{%for e in entries %}
 {%ifchanged e.closed%}
  {%if not forloop.first%}</ul>{%endif%}
  <b>{{e.closed|yesno:"Closed,Open"}}</b>
  <ul>
 {%endifchanged%}
 <li><a href="/accounting/e/{{e.id}}/">{{e}}</a>{%if not e.closed%} *{%endif%}</li>
 {%if forloop.last%}</ul>{%endif%}
{%endfor%}
{%if year.isopen and not hasopen %}
<button onclick="document.location.href='/accounting/{{year.year}}/close/'">Close year</button>
{%endif%}
 </div>
 <div id="accountingright">
{%if entry %}
 {%if entry.closed%}
  <h2>Entry {{entry}}</h2>
  <table class="journalentry">
    <tr class="header">
      <td class="accountname">Account</td>
      <td class="objectname">Object</td>
      <td>Description</td>
      <td class="amount">Debit</td>
      <td class="amount">Credit</td>
    </tr>
    {%for i in items%}
    <tr>
      <td class="accountname">{{i.account}}</td>
      <td class="objectname">{{i.object|default:""}}</td>
      <td>{{i.description}}</td>
      <td class="amount">{{i.debit}}</td>
      <td class="amount">{{i.credit}}</td>
    </tr>
    {%endfor%}
    <tr class="footer">
      <td>Total</td>
      <td></td>
      <td></td>
{%for t in totals%}<td class="amount">{{t}}</td>{%endfor%}
    </tr>
  </table>
  {%if urls %}
  <h3>Associated URLs</h3>
  <ul>
    {%for u in urls%}<li>{{u|urlize}}</li>{%endfor%}
  </ul>
  {%endif%}
 {%else%}
  <h2>Edit entry {{entry.year.year}}-{{entry.seq}}</h2>
  <form method="post" action=".">
  {%if form.errors%}
   <p><b>Please correct the errors below, and re-submit the form.</b></p>
  {%endif%}
  <table border="0" cellspacing="1" cellpadding="0" id="entryheader">
   <tr>
     <td>Date: {{form.date}}</td>
   </tr>
  </table>
{%if form.non_field_errors%}{{form.non_field_errors}}{%endif%}
  <table>
  {{formset.management_form }}
  {%if formset.non_form_errors%}{{formset.non_form_errors}}{%endif%}
  {%for form in formset.forms%}
   {%if forloop.first%}
   <tr>
    {%for field in form.visible_fields%}
    <th>{{field.label|capfirst}}</th>
    {%endfor%}
   </tr>
   {%endif%}
   {%if form.non_field_errors%}
   <tr><td colspan="4">{{form.non_field_errors}}</td></tr>
   {%endif%}
   <tr>
    {%for field in form.visible_fields%}
    <td>{%if forloop.first%}{{form.id}}{%endif%}
      {{field.errors}}
      {{field}}
    </td>
    {%endfor%}
   </tr>
  {%endfor%}
  <tr>
    <td colspan="3" align="right">Total</td>
    <td align="right" id="debittotal">{{totals.0}}</td>
    <td align="right" id="credittotal">{{totals.1}}</td>
    <td align="right" id="difftotal"></td>
  </tr>
  <tr>
    <td colspan="6" align="right">Press <i>%</i> in an amount input box to automaticalliy balance!</td>
  </tr>
  </table>

  <h3>Linked URLs</h3>
  {{urlformset.management_form }}
  {%if urlformset.non_form_errors%}{{urlformset.non_form_errors}}{%endif%}
  {%for form in urlformset.forms%}
  {{form.id}}
  <div class="urldiv">
    {%for field in form.visible_fields%}
    {{field.errors}}{{field}}
    {%endfor%}
    <i>Delete</i>
    <br/>
    {%if form.visible_fields.0.value%}<span style="font-size: smaller;">Preview: {{form.visible_fields.0.value|urlize}}</span><br/><br/>{%endif%}
  </div>
  {%endfor%}
  <br/><br/>

  <input type="submit" name="submit" value="Save">
  <input type="submit" name="submit" value="Close" onclick="return confirmClose()">
  <input type="submit" name="submit" value="Delete" onclick="return confirmDelete()">
  </form>
 {%endif%}
{%else%}
  <h2>Entry</h2>
  <p>Pick a journal entry from the list on the left!</p>
{%endif%}
 </div>
</div>
{%endblock%}
