{%extends "accounting/accounting_base.html"%}
{%load humanize%}
{%block title%}Accounting{%endblock%}

{%block layoutblock%}
<div class="row">
  <div class="col-md-3 col-lg-2 accounting-left">
{%if year.isopen%}
<button id="newentrybutton" onclick="if (confirmNew()) document.location.href='/accounting/{{year.year}}/new/'" class="btn btn-default">New</button><br/>
{%endif%}
{%if searchterm%}<p>Search results for <i>{{searchterm}}</i>. <a href="javascript:resetSearch()">Reset</a>.</p>{%endif%}
{%for e in entries %}
 {%ifchanged e.closed%}
  {%if not forloop.first%}</ul>{%endif%}
  <b>{{e.closed|yesno:"Closed,Open"}}</b>
  <ul class="journal-entry-list">
 {%endifchanged%}
 <li><a href="/accounting/e/{{e.id}}/{%if numpages > 1%}?p={{page}}{%endif%}">{{e}}</a>{%if not e.closed%} *{%endif%}</li>
 {%if forloop.last%}</ul>{%endif%}
 {%endfor%}
  {%if numpages > 1 %}
  <div style="text-align: center">{{numpages}} pages</div>
  <div style="text-align: center">
    {%for p in pages%}<a href="?p={{p}}">{{p}}</a> {%endfor%}
  </div>
{%endif%}
{%if year.isopen and not hasopen %}
<a class="btn btn-default" href="/accounting/{{year.year}}/close/">Close year</a>
{%endif%}
 </div> <!-- left -->
 <div class="col-md-9 col-lg-10 accounting-right">
{%if entry %}
 {%if entry.closed%}
  <h2>Entry {{entry}}</h2>
  <table class="journalentry">
    <tr class="header">
      <td class="accountname">Account</td>
      <td class="objectname">Object</td>
      <td>Description</td>
      <td class="amount">Debit</td>
      <td class="amount">Credit</td>
    </tr>
    {%for i in items%}
    <tr>
      <td class="accountname">{{i.account}}</td>
      <td class="objectname">{{i.object|default:""}}</td>
      <td>{{i.description}}</td>
      <td class="amount">{{i.debit}}</td>
      <td class="amount">{{i.credit}}</td>
    </tr>
    {%endfor%}
    <tr class="footer">
      <td>Total</td>
      <td></td>
      <td></td>
{%for t in totals%}<td class="amount">{{t}}</td>{%endfor%}
    </tr>
  </table>
  {%if urls %}
  <h3>Associated URLs</h3>
  <ul>
    {%for u in urls%}<li>{{u|urlize}}</li>{%endfor%}
  </ul>
  {%endif%}
 {%else%}
  <h2>Edit entry {{entry}}</h2>
{%if has_pending_banktrans %}
  <h3>This entry has a pending bank transaction!</h3>
  <p>
    There is a <a href="/admin/invoices/banktransactions/">pending bank transaction</a> registered
    for this accounting entry. That means it will be <i>automatically</i> closed once the matching
    transaction appears on the bank account! The entry should normally be left unchanged until
    this matching closes it automatically.
  </p>
{%endif%}
  <form method="post" action="." class="form">{% csrf_token %}
  {%if form.errors%}
   <p><b>Please correct the errors below, and re-submit the form.</b></p>
  {%endif%}
  <table border="0" cellspacing="1" cellpadding="0" id="entryheader">
   <tr>
     <td>Date: {{form.date}}</td>
   </tr>
  </table>

{%if form.non_field_errors%}{{form.non_field_errors}}{%endif%}
  <table class="table">
  {{formset.management_form }}
  {%if formset.non_form_errors%}{{formset.non_form_errors}}{%endif%}
  {%for form in formset.forms%}
   {%if forloop.first%}
   <tr>
    {%for field in form.visible_fields%}
    <th>{{field.label|capfirst}}</th>
    {%endfor%}
   </tr>
   {%endif%}
   {%if form.non_field_errors%}
   <tr><td colspan="4">{{form.non_field_errors}}</td></tr>
   {%endif%}
   <tr>
     <td class="col-md-3">{{form.id}}{{form.account.errors}} {{form.account}}</td>
     <td class="col-md-2">{{form.object.errors}} {{form.object}}</td>
     <td class="col-md-5">{{form.description.errors}} {{form.description}}</td>
     <td class="col-md-1">{{form.debit.errors}} {{form.debit}}</td>
     <td class="col-md-1">{{form.credit.errors}} {{form.credit}}</td>
     <td class="col-md-1">{{form.DELETE.errors}} {{form.DELETE}}</td>
   </tr>
  {%endfor%}
  <tr>
    <td colspan="3" align="right">Total</td>
    <td align="right" id="debittotal">{{totals.0}}</td>
    <td align="right" id="credittotal">{{totals.1}}</td>
    <td align="right" id="difftotal"></td>
  </tr>
  <tr>
    <td colspan="6" align="right">Press <i>%</i> in an amount input box to automatically balance!</td>
  </tr>
  </table>

  <h3>Linked URLs</h3>
  {{urlformset.management_form }}
  {%if urlformset.non_form_errors%}{{urlformset.non_form_errors}}{%endif%}
  {%for form in urlformset.forms%}
  {{form.id}}
  <div class="form-inline form-group">
    {%for field in form.visible_fields%}
    {{field.errors}}{{field}}
    {%endfor%}
    <i>Delete</i>
    <br/>
    {%if form.visible_fields.0.value%}<span style="font-size: smaller;">Preview: {{form.visible_fields.0.value|urlize}}</span><br/><br/>{%endif%}
  </div>
  {%endfor%}
  <br/><br/>

{%if has_pending_banktrans %}
  <p>
    There is a <a href="/admin/invoices/banktransactions/">pending bank transaction</a> registered
    for this accounting entry. That means it will be <i>automatically</i> closed once the matching
    transaction appears on the bank account! The entry should normally be left unchanged until
    this matching closes it automatically.
  </p>
{%endif%}

  <input type="submit" name="submit" value="Save" class="btn btn-default">
  <input type="submit" name="submit" value="Close" onclick="return confirmClose()" class="btn btn-default">
  <input type="submit" name="submit" value="Delete" onclick="return confirmDelete()" class="btn btn-default">
  </form>
 {%endif%}
{%else%}
  <h2>Entry</h2>
  <p>Pick a journal entry from the list on the left!</p>
{%endif%}
 </div> <!-- right -->
</div> <!-- row -->
{%endblock%}
