{%extends "accounting/accounting_base.html"%}
{%load humanize%}
{%block title%}Accounting - {{title}}{%endblock%}
{%block extrahead%}
{{block.super}}
<script type="text/javascript">
function refreshlocation() {
      io = $('#includeopen').prop('checked') ? 1 : 0;
{%if reporttype == 'object' %}
      document.location.href = '/accounting/{{year.year}}/report/{{reporttype}}/?obj={{currentobj.id}}&io=' + io;
{%else%}
      o = $('#objsel').val();
      ed = $('#enddate').val();
      document.location.href = '/accounting/{{year.year}}/report/{{reporttype}}/?obj=' + o + '&ed=' + ed + '&io=' + io;
{%endif%}
}

$(function() {
   $('input.datepicker').change(function() {
      refreshlocation();
   });
   $('#objsel, #includeopen').change(function() {
      refreshlocation();
   });
});
</script>
{%endblock%}

{%block layoutblock%}
<div class="container">

{%if hasopenentries and not includeopen %}
<div class="alert alert-warning noprint">Open entries are present but not included in the report!</div>
{%endif%}

<form class="form-inline noprint">
{%if reporttype != 'object' %}
  <div class="form-group">
    <label for="objsel">Object:</label>
    <select id="objsel" class="form-control"><option value="">All</option>{%for o in reportable_objects%}<option value="{{o.id}}"{%if o == currentobj%} SELECTED{%endif%}>{{o}}</option>{%endfor%}</select>
  </div>
  <div class="form-group">
    <label for="enddate">End date:</label>
    <input type="text" class="datepicker" id="enddate" value="{{enddate|date:"Y-m-d"}}">
  </div>
{%endif%}
{%if hasopenentries%}
  <div class="form-group">
    <label for="includeopen">Include open entries</label>
    <input type="checkbox" class="form-control" id="includeopen" value="1" {%if includeopen %}CHECKED{%endif%}>
  </div>
{%endif%}
</form>

{%if reporttype == 'results' and currentobj %}
<p>
  View cross-year <a href="/accounting/{{year.year}}/report/object/?obj={{currentobj.id}}">object report</a> for <i>{{currentobj}}</i>.
</p>
{%endif%}

<h1>{{title}}</h1>

{%if reporttype != 'object' %}
<div class="dateinfo">{{year.year}}-01-01 - {{enddate|date:"Y-m-d"}}</div>
{%else%}
Includes entries from {{mindate|date:"Y-m-d"}} to {{maxdate|date:"Y-m-d"}}.
{%endif%}


<table cellspacing="0" cellpadding="1" class="reporttable">
<tr><td colspan="3"></td>{%for h in valheaders%}<td class="header amount">{{h}}</td>{%endfor%}</tr>
{%for acname, accontents, acvals in results%}
 <tr><td class="classname" colspan="4">{{acname}}</th></tr>
 {%for agname, agcontents, agfold, agvals in accontents%}
  {%if not agfold%}<tr class="groupsum"><td class="spacer"></td><td colspan="3">{{agname}}</td></tr>{%endif%}
  {%for anum, aname, vals in agcontents %}
   <tr><td class="spacer"></td><td class="spacer"></td><td class="accountname" width="400">{{anum}} - {{aname}}</td>
     {%for v in vals%}<td class="amount{%if not agfold%} unfolded{%endif%}">{{v}}</td>{%endfor%}
   </tr>
  {%endfor%}
 {%if not agfold %}<tr class="groupsum"><td class="spacer"></td><td colspan="2">Total - {{agname}}</td>
   {%for v in agvals%}<td class="amount">{{v}}</td>{%endfor%}
 </tr>{%endif%}
 {%endfor%}
 <tr class="classsum"><td class="classname" colspan="3">Total - {{acname}}</td>
   {%for v in acvals%}<td class="amount" align="right">{{v}}</td>{%endfor%}
 </tr>
{%endfor%}
 <tr><th colspan="4"><br/></th></tr>
 <tr class="finalrow"><td colspan="3">{{totalname}}</td>{%for v in totalresult%}<td class="amount">{{v}}</td>{%endfor%}</tr>
</table>

</div>
{%endblock%}
