{%extends "base.html"%}
{%load humanize%}
{%block title%}Accounting - {{title}}{%endblock%}
{%block extrahead%}
<style>
ul.messages {
  list-style-type: none;
  padding: 2px;
  padding-left: 20px;
}
ul.messages li {
   background-color: yellow;
   padding: 3px;
}
ul.messages li.warning {
   background-color: red;
}
ul.messages li.info {
   background-color: lightgray;
}
input.datepicker {
   width: 100px;
}
table.reporttable {
   width: 750px;
}
table.reporttable tr td.header {
   font-weight: bold;
   text-decoration: underline;
}
table.reporttable tr td.amount {
   text-align: right;
   width: 120px;
}
table.reporttable tr td.spacer {
   width: 15px;
}
table.reporttable tr td.classname {
   font-weight: bold;
}
table.reporttable tr.groupsum td {
   font-style: italic;
}
table.reporttable tr.classsum td.amount {
   border-top: 1px solid black;
   font-weight: bold;
}
table.reporttable tr.classsum td {
   padding-bottom: 15px;
}
table.reporttable tr.finalrow td {
   font-weight: bold;
}
table.reporttable tr.finalrow td.amount {
   border-top: 3px double black;
}
</style>
<link rel="stylesheet" href="/media/jq/jquery-ui.min.css" />

<script src="/media/jq/jquery-1.8.2.min.js"></script>
<script src="/media/jq/jquery-ui.min.js"></script>
<script language="javascript">
function refreshlocation() {
      o = $('#objsel').val();
      y = $('#yearsel').val();
      ed = $('#enddate').val();
      document.location.href = '/accounting/' + y + '/report/{{reporttype}}/?obj=' + o + '&ed=' + ed;;
}

$(function() {
   $('input.datepicker').datepicker({
      'dateFormat': 'yy-mm-dd',
   });
   $('input.datepicker').change(function() {
      refreshlocation();
   });
   $('#objsel, #yearsel').change(function() {
      refreshlocation();
   });
});
</script>
{%endblock%}
{%block layoutblock%}
<h1>{{title}}</h1>
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
<h2>Year: <select id="yearsel">{%for y in years%}<option value="{{y.year}}"{%if y == year%} SELECTED{%endif%}>{{y}}</option>{%endfor%}</select>
Object: <select id="objsel"><option value="">All</option>{%for o in objects%}<option value="{{o.id}}"{%if o == currentobj%} SELECTED{%endif%}>{{o}}</option>{%endfor%}</select> Enddate: <input type="text" class="datepicker" id="enddate" value="{{enddate|date:"Y-m-d"}}"></h2>

<table cellspacing="0" cellpadding="1" class="reporttable">
<tr><td colspan="3"></td>{%for h in valheaders%}<td class="header amount">{{h}}</td>{%endfor%}</tr>
{%for acname, accontents, acvals in results%}
 <tr><td class="classname" colspan="4">{{acname}}</th></tr>
 {%for agname, agcontents, agfold, agvals in accontents%}
  {%if not agfold%}<tr class="groupsum"><td class="spacer"></td><td colspan="3">{{agname}}</td></tr>{%endif%}
  {%for anum, aname, vals in agcontents %}
   <tr><td class="spacer"></td><td class="spacer"></td><td class="accountname" width="400">{{anum}} - {{aname}}</td>
     {%for v in vals%}<td class="amount">{{v}}</td>{%endfor%}
   </tr>
  {%endfor%}
 {%if not agfold %}<tr class="groupsum"><td class="spacer"></td><td colspan="2">Total - {{agname}}</td>
   {%for v in agvals%}<td class="amount">{{v}}</td>{%endfor%}
 </tr>{%endif%}
 {%endfor%}
 <tr class="classsum"><td class="classname" colspan="3">Total - {{acname}}</td>
   {%for v in acvals%}<td class="amount" align="right">{{v}}</td>{%endfor%}
 </tr>
{%endfor%}
 <tr><th colspan="4"><br/></th></tr>
 <tr class="finalrow"><td colspan="3">{{totalname}}</td>{%for v in totalresult%}<td class="amount">{{v}}</td>{%endfor%}</tr>
</table>
{%endblock%}
