{%extends "nav_about.html"%}
{%block title%}Contact{%endblock%}
{%block content%}
<h1>Contact</h1>

<p>
To contact the board of directors, please send an email to
<b>board(at)postgresql.eu</b>. You can also contact
<a href="/about/board">one of the directors</a> directly.
</p>

<p>
Also, if you want your communication to be public, we encourage
the use of the <a href="/community/lists">open mailinglist</a> when
possible.
</p>
<p>
PostgreSQL Europe is <a href="/vat_faq/">VAT registered</a> in France. For all invoices
please quote our VAT number: FR36823839535
</p>

{%endblock%}
