{%extends "nav_about.html"%}
{%block title%}General Assemblies{%endblock%}
{%block content%}
<h1>General Assemblies</h1>

<h2>2016 General Assembly</h2>
<p>
The 2016 General Assembly has been held on IRC.
</p>

<p>
You can read the various related documents:
<ul>
  <li><a href="/about/ga/2016/activitiesreport">Activities report</a>,</li>
  <li><a href="/about/ga/2016/financialreport">Financial report</a>,</li>
  <li><a href="/about/ga/2016/minutes">Minutes</a>,</li>
  <li><a href="/media/pdf/ga_minutes_2016_en.pdf">Minutes (PDF format, countersigned)</a>.</li>
</ul>
</p>

<h2>2015 General Assembly</h2>
<p>
The 2015 General Assembly has been held on IRC.
</p>

<p>
You can read the various related documents:
<ul>
  <li><a href="/about/ga/2015/activitiesreport">Activities report</a>,</li>
  <li><a href="/about/ga/2015/financialreport">Financial report</a>,</li>
  <li><a href="/about/ga/2015/minutes">Minutes</a>,</li>
  <li><a href="/media/pdf/ga_minutes_2015_en.pdf">Minutes (PDF format, countersigned)</a>.</li>
</ul>
</p>

<h2>2014 General Assembly</h2>
<p>
The 2014 General Assembly has been held on IRC.
</p>

<p>
You can read the various related documents:
<ul>
  <li><a href="/about/ga/2014/activitiesreport">Activities report</a>,</li>
  <li><a href="/about/ga/2014/financialreport">Financial report</a>,</li>
  <li><a href="/about/ga/2014/minutes">Minutes</a>,</li>
  <li><a href="/media/pdf/ga_minutes_2014_en.pdf">Minutes (PDF format, countersigned)</a>.</li>
</ul>
</p>

{%endblock%}
