{%extends "nav_about.html"%}
{%block title%}Membership{%endblock%}
{%block content%}
<h1>Membership</h1>

<p>
All persons living in Europe
(the <a href="http://en.wikipedia.org/wiki/Europe">geographical</a> region,
not restricted to the European Union). Specifiaclly including <i>all</i> of
Turkey and Russia, not just the parts limited to geographical Europe.
<p>

<p>
The <a href="/about/board">board</a> will normally
<a href="/about/statutes">approve</a> all membership requests from within
this region, but reserves the right to reject a request if deemed necessary.
The board also reserves the right to grant special exceptions to the rule and
approve a membership request from outside Europe.
</p>

<p>
A member will be required to pay a bi-annual membership fee to become and remain
a member. This fee is currently <i>€10 for each 2-year period</i>. This fee
can be changed at any time by a decision of the board, in which case all existing
memberships will continue to be valid based on their current payment up until
the next renewal, at which point the new fee will take effect.
</p>

<p>
Membership is registered on the
<a href="/membership/">PostgreSQL Europe website</a>,
and must be paid through one of the methods provided on this website.
</p>

{%endblock%}
