{%extends "nav_about.html"%}
{%block title%}Privacy policy{%endblock%}
{%block content%}
<h1>Privacy policy</h1>

<p>
We store information such as your email address, name and locality only if you decide
to send us such information by using one of our systems. In particular, we collect
and store the following data, based on which parts of our site you use:
</p>

<h2>Membership</h2>
<p>
  When signing up as a member, we will store your email address, full name and country.
  If you choose to have your membership listed publicly, this information is listed
  on our website. If not, the data is never shared with anybody, except if required
  by law. We store this information permanently so that we can communicate with members
  regarding association events such as elections, and send reminders about membership
  expiry etc.
</p>
<p>
  If you have voted in our elections, we store your vote so that you can review it
  in the future, and for auditing purposes.
</p>

<h2>Event registrations</h2>
<p>
  If you have registered for an event (including conferences) managed
  by PostgreSQL Europe, we will collect and store the personal data
  required to perform this. This includes your name, email, address,
  country, company association and may include things like selected
  tshirt size and dietary requirements.
</p>
<p>
  Unless you explicitly requested to, this data is not shared with any other organizations
  except as required to perform the event (for example, we must give the catering
  venue information about dietary requirements) or as required by law.
</p>
<p>
  Once an event has completed, sensitive personal data such as dietary requirements,
  phone numbers and addresses are purged. We retain your email address and name so that
  we are able to communicate with you about future events. At any time you can opt out
  of such communications using our <a href="/events/optout/">opt-out</a> interface.
</p>

<h2>Invoices and payments</h2>
<p>
  If you have performed a payment of one of our invoices, we will keep a copy of this
  invoice as well as the related accounting records for accounting and compliance reasons.
  Your name and address as entered on the invoice will be part of this, as well as your
  email address. We will also permanently store a record of the payment transaction in
  the form of a payment reference, but we never store (short or long term) a
  creditcard number, bank account number, or other payment related personal data.
</p>
<p>
  This data is shared with our accountants as required for them to review our finances,
  and to process our taxes.
</p>

<h2>Logs</h2>
<p>
  Our systems will store logs for each web request that happens, in order to facilitate
  tracking down issues. These logs are automatically deleted after a maximum of 12 weeks.
  Personal data other than IP addresses is never stored in these logs.
</p>

{%endblock%}
