{%extends "nav_about.html"%}
{%block title%}Statutes{%endblock%}
{%block content%}
<h1>Statutes</h1>

<h2>Article 1 - Constitution</h2>

<p>
An association, governed by the French law of July 1, 1901 and the
French decree of August 16, 1901, is instituted between the
undersigned and any individuals or legal entities adhering to the
present statutes.
</p>

<p>
The association shall be called : "PostgreSQL Europe".
</p>

<h2>Article 2 - Objectives</h2>
<p>
The association has as its objectives the promotion, the support for
deployment and the development of the open-source software PostgreSQL and
its derivatives (and related projects) in Europe.
</p>

<h2>Article 3 - Registered Office</h2>
<p>
The registered office of the association is at Carpeaux Diem, 13 rue du square carpeaux, 75018 Paris, France.
</p>
<p>
This registered office can be transferred by simple decision of the
Board of Directors.
</p>

<h2>Article 4 - Duration</h2>
<p>
The duration of the association is unlimited.
</p>

<h2>Article 5 - Members of the association</h2>
<p>
The association is composed of:
</p>
<ul>
<li>Active members;</li>
<li>Honorary members;</li>
</ul>
<p>
Any individual resident in Europe can be an active member of the association,
provided he/she pays the recurring membership fee. The Board of Directors may restrict
an individual from being a member, or allow a non-European resident
to become one at their discretion.
</p>
<p>
Honorary members are those who have rendered services to the
association.  They are appointed by decision of the Board of
Directors, to be validated by the following General Assembly.
</p>


<h2>Article 6 - Loss of membership</h2>
<p>
Membership is lost by
</p>
<ul>
<li>sending a letter of resignation to the Board of Directors;</li>
<li>death;</li>
<li>being excluded by decision of the Board of Directors for some serious reason, after having been given an opportunity to offer explanations to the Board;</li>
<li>failing to pay the membership or renewal fee.</li>
</ul>


<h2>Article 7 - General Assembly</h2>
<p>
The supreme body of the association is the General Assembly of the
active members, which meets in ordinary session once a year.
Furthermore the General Assembly meets as often as necessary in extraordinary session when convened by the President of the association, at the request of the majority of the Board of Directors, or at the request of at least 25% of active members.
</p>
<p>
The General Assembly can be arranged, as chosen by the Board of
Directors, either in the form of a gathering of people or in the form
of a remote meeting. Meetings by teleconference, mailing list or Internet Relay Chat
(IRC) are valid.
</p>
<p>
The General Assembly will vote on issues using a Web based system over the
internet. Each active member has one vote, and there is no tiering or
exclusion.
</p>
<p>
The activities report and the financial report, as well as any
information relating to the agenda will be sent to members by email or otherwise at least
7 days before the meeting.
</p>
<p>
Any member of the association may place an item on the agenda; any item for the agenda must be received by the Secretary no later than 8 days before the meeting. The General Assembly deliberates on all the items on the agenda as amended.
</p>
<p>
The decisions of the General Assembly shall be taken by a majority of active members participating.
In the event of a tie, the sitting President shall have a deciding vote.
</p>
<p>
For the General Assembly to be validly constituted a quorum of 30% of the total number of members must be present or represented. If the General Assembly is expected to deliberate on the continued existence of the association, the quorum must be 50%. In the absence of a quorum, a new General Assembly will be held after at least 7 days and within 30 days, and it will then deliberate without quorum.
</p>
<p>
The General Assembly elects the Board of Directors.
</p>


<h2>Article 8 - Board of Directors</h2>
<p>
The Board of Directors ensures that the decisions taken by the General Assembly are executed.
</p>
<p>
The association is managed by its Board of Directors, composed of a
least 3 members and at most 16 members, elected by the General
Assembly from among the active members.
</p>
<p>
Members of the Board of Directors are elected for 2 years. Retiring directors are eligible for re-election.
</p>
<p>
In the event of a vacancy, the Board of Directors provides for
temporary replacement of its members by cooption. Cooptions
have to be ratified by the next General Assembly to become
permanent. A coopted member's mandate comes to an end at the end of the mandate of the
member he replaces.
</p>
<p>
The decisions of the Board of Directors shall be taken by a simple majority of present or represented members. In the event of a tie for any action, the President shall have
a deciding vote.
</p>
<p>
The Board of Directors must approve any contract signed between the association and individuals or legal entities.
</p>
<p>
Any member of the Board of Directors can be removed at any time by the General Assembly, meeting in ordinary or extraordinary session.
A member of the Board of Directors can be removed by the Board after three unexplained absences from meetings of the Board of Directors.
</p>
<p>
Any members of the association, or any non-members, may attend meetings of the Board of Directors at the Board's request, if the Board of  Directors considers their presence is required. These persons have only an advisory capacity, and therefore do not participate in the voting.
</p>
<p>
The first Board of Directors is composed of :
<ul>
<li>Jean-Paul ARGUDO, born January 08th, 1974 in Avignon (France), of French nationality, DBA</li>
<li>Gabriele BARTOLINI, born April 27th, 1975 in Prato (Italy), of Italian nationality, employee</li>
<li>Magnus Hagander, born February 19th, 1976 in Sollentuna (Sweden), of Swedish nationality, employee</li>
<li>Andreas Scherbaum, born April 6th, 1976  in Schönebeck (Germany), of German nationality, independant worker</li>
</ul>
</p>


<h2>Article 9 - Executive Committee</h2>
<p>
The Executive Committee is responsible for the management and administration of the association.
</p>
<p>
The Board of Directors elects from among its members an Executive Committee composed of :
</p>
<ul>
<li>A President;</li>
<li>A Treasurer;</li>
<li>A Secretary.</li>
</ul>
<p>
The members of the Executive Committee are elected for a term of one year, renewable.
</p>
<p>
The outgoing Executive Committee continues to carry out its duties until the election
of a new Executive Committee.
</p>
<p>
At any time the Board of Directors can be called by any of its members
to hold an election of a new Executive Committee.
</p>
<p>
The decisions of the Executive Committee are made by a simple majority. In the event of a tie for any action, the President shall have a deciding vote.
</p>
<p>
In the event of a vacancy on the Executive Committee, for whatever reason, the outgoing member shall be replaced at the next meeting of the Board of Directors. The end of the replacement's mandate shall be the same as that of the outgoing member.
</p>
<p>
The President shall manage the association, and call and preside over the General Assemblies.
The President directs and also calls meetings of the Board of Directors and Executive Committee.
</p>
<p>
Only the President has the power to sign any document committing the association. He may grant partial delegations of authority to any member of the Executive Committee or any other person, to empower them to sign documents and manage the accounts of the association.
</p>
<p>
The president represents the association in all acts of civil life, and is vested with the necessary powers. He concludes any agreement with individuals or legal persons, provided that he has the authorization of the Board of Directors. In this capacity, he signs contracts on behalf
of the association. The president is entitled to conduct any dealings with any public body, particularly in tax matters, and to open any bank or post office account. He acts in legal matters on behalf of the
association, with the permission of the Executive Committee, whether to make claims on behalf of the association or to defend it.
</p>
<p>
In case of absence or illness, he is replaced by the Treasurer, or failing him, one of the other members of the Executive Committee.
</p>
<p>
The Treasurer is responsible for keeping  the association's accounts under his own control. He collects revenues and makes payments, subject to authorization by the President. He presents an annual statement of accounts to the General Assembly. In his absence, the treasurer is replaced by another member of the Board of Directors appointed by the President.
</p>
<p>
The Secretary is responsible in particular for keeping the minutes of the Board of Directors meetings and to keep the register required by law. In his absence, he is replaced by a member of the Board of Directors appointed by the President.
</p>
<p>
The first Executive Committee is composed of:
</p>
<ul>
<li>Magnus HAGANDER, President;</li>
<li>Jean-Paul ARGUDO, Treasurer;</li>
<li>Andreas SCHERBAUM, Secretary</li>
</ul>

<h2>Article 10-Free mandate</h2>
<p>
Members of the association shall not receive any compensation for performing their duties. However they can obtain the payment of expenses incurred on behalf of the association, provided these expenses are justified and approved by the Executive Committee
</p>

<h2>Article 11 - Resources and subscriptions</h2>
<p>
The resources of the association come from membership contributions, donations, grants, participation of associate members, as well as potential products of its activity.
</p>

<h2>Article 12 - Use of the logo of the Association</h2>
<p>
Members of the association may refer to their membership in the association, provided that they respect the association's aims and ethics.
</p>


<h2>Article 13 - Representation and benefits</h2>
<p>
Any act or service to be performed for the benefit of third parties on behalf of the association by one of its members must be authorized by the President. If an act or service on behalf of the association is paid, any monies received must be paid to the Treasurer, who is the sole person authorised to receive money for the association.
</p>
<p>
The remuneration of services performed on behalf of the association must be authorised by the president, or any person authorized by him.
</p>

<h2>Article 14 - Statutes</h2>
<p>
No modification of or addition to these statutes shall be made except by a majority of not less than 2/3 of members voting at a meeting of the General Assembly of the association
</p>





<h2>Article 15 - Dissolution</h2>
<p>
The dissolution of the association may be pronounced only by an extraordinary General Assembly, called specifically for this purpose.
</p>
<p>
To do this, a majority of 2/3 of the voters must be obtained. One or more liquidators will be appointed by the General Assembly, who will give the assets of the Association to one or more non-profit organizations pursuing similar goals.
</p>
<p>
Brussels, Belgium, February 24th, 2008
</p>
{%endblock%}
