{%extends "nav_about.html"%}
{%block title%}Trademarks{%endblock%}
{%block content%}
<h1>Trademarks</h1>

<p>
The following phrases are registered trademarks owned by PostgreSQL Europe:
</p>
<ul>
    <li>PGConf</li>
    <li>PGDay</li>
    <li>Postgres Conference</li>
    <li>PostgreSQL Conference</li>
</ul>

<p>
PostgreSQL Europe allows these trademarks to be used at zero cost under the
    following conditions:
</p>

<ol>
    <li>The mark or marks must be used in relation to a conference or event
        intended to promote, educate on and generally further the
        <a href="https://www.postgresql.org/">PostgreSQL Database project</a>,
        and the community supporting it.</li>
    <li>Events must comply with the
        <a href="https://www.postgresql.org/community/recognition/#conferences">
            Community Conference Recognition</a> guidelines, as published on
        the PostgreSQL website.</li>
    <li>Event websites and any printed programmes, proceedings or prospectuses
        should include an acknowledgement of the marks used. For example;
        <i>"PGConf" and "PostgreSQL Conference" are registered trademarks of
            PostgreSQL Europe.</i></li>
</ol>

<p>A notification of the use of any of the marks and the purpose would be
    appreciated to <b>board(at)postgresql.org</b>. This will help us understand
    the usage of the marks and give an opportunity for further publicity and
    engagement around your event.
</p>
{%endblock%}
