{%extends "nav_about.html"%}
{%block title%}About the website{%endblock%}
{%block content%}
<h1>About the website</h1>

<p>
The design of this website is mainly copied from
<a href="https://www.postgresql.org">www.postgresql.org</a>.
The code is a simple wrapper around the
<a href="http://www.djangoproject.com">django</a> templating framework.
Dynamic parts will be done using this framework if/when they appear.
</p>

<p>
The full source code for this website is available in
<a href="https://git.postgresql.org/gitweb?p=pgeu-website.git;a=summary">our
GIT repository</a> under the BSD licence.
</p>

<p>
The hardware running the website is maintained as part of the
<a href="https://www.postgresql.org/about/servers">postgresql.org
infrastructure</a>.
</p>
{%endblock%}
