{%extends "nav_events.html"%}
{%block title%}Events{%endblock%}
{%block fullcontent%}
<div class="col-md-7 contentwrap">
<h1>Events</h1>
    <h2>Upcoming events</h2>
    <p>
      The following events are currently planned to be held in the
      near future.
    </p>
{%if regopen%}
    <h3>open for registration</h3>
{%include "events/wideeventlist.inc" with events=regopen what="reg"%}
{%endif%}

{%if cfpopen%}
    <h3>open call for papers</h3>
{%include "events/wideeventlist.inc" with events=cfpopen what="cfp"%}
{%endif%}

{%if cfsopen%}
    <h3>open call for sponsors</h3>
{%include "events/wideeventlist.inc" with events=cfsopen what="cfs"%}
{%endif%}

  <h2>Past events</h2>
{%include "events/compacteventlist.inc" with events=past%}
  <a class="btn btn-outline-dark" href="past/">More past events</a>
</div>

<div class="col-md-3" id="rightbar">
    <h3>Upcoming events</h3>
{%include "events/compacteventlist.inc"%}
    <h3>Our Event series</h3>
    <ul>
{%for s in series%}
<li><a href="/events/series/{{s.name|slugify}}-{{s.id}}/">{{s.name}}</a></li>
{%endfor%}
    </ul>
</div>
{%endblock%}
