{%extends "navbase.html" %}
{%block title%}Invoice payment{%endblock%}
{%block extrahead%}
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
var stripe = Stripe('{{stripekey}}');
stripe.redirectToCheckout({
   'sessionId': '{{sessionid}}'
}).then(function (result) {
   alert('Redirection to Stripe for payment failed.');
});
</script>
{%endblock%}
{%block content%}
<h1>Invoice payment</h1>
<p>You are being redirected to Stripe to complete the payment.</p>

{%endblock%}
